{% for key in bsv %}
    <tr>
        <td>{{ key.displayAt|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</td>
        <td>{{ key.bsv.text }}</td>
        <td>{{ key.customers.identity }}</td>
        <td>
            {% if key.bsv.firstFile %}
                <a href="{{ asset('uploads/bsv/' ~ key.bsv.firstFile) }}" class="btn btn-success" target="_blank">PDF</a>
            {% endif %}
            {% if key.bsv.secondFile %}
                <a href="{{ asset('uploads/bsv/' ~ key.bsv.secondFile) }}" class="btn btn-success" target="_blank">Image 1</a>
            {% endif %}
            {% if key.bsv.thirdFile %}
                <a href="{{ asset('uploads/bsv/' ~ key.bsv.thirdFile) }}" class="btn btn-success" target="_blank">Image 2</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}