{% extends printRequest == false
    ? 'base.html.twig'
    : 'print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/toast/toast.css') }}" rel="stylesheet">
    <style>
        .table thead th {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        }
        .btn-1I {
            background-color: #F54337 !important;
        }
        .btn-2F {
            background-color: #2196F3 !important;
        }
        .btn-3H {
            background-color: #FF9801 !important;
        }
        .btn-4N {
            background-color: #EA1E63 !important;
        }
        .btn-5C {
            background-color: #00BCD5 !important;
        }
        .btn-6Bioc {
            background-color: #009788 !important;
        }
        .btn-7E {
            background-color: #9D27B3 !important;
        }
        .btn-8R {
            background-color: #3E52B5 !important;
        }
        .btn-9HEL {
            background-color: #FE5722 !important;
        }
        .btn-10INC {
            background-color: #FFEA3C !important;
        }
        .btn-11S {
            background-color: #FEC009 !important;
        }
        .btn-12A {
            background-color: #795547 !important;
        }
        .btn-13T {
            background-color: #CDDC39 !important;
        }
        .exist {
            border: 4px solid #5DB761;
        }
    </style>
    {% if printRequest == true %}
        <style>
            * {
                margin: 0 !important;
                padding: 0 !important;
            }
            img {
                display: none !important;
            }
            td {
                padding: 0.5rem 0 0.5rem 0 !important;
                margin: 0.5rem 0 0 0 !important;
            }
            button {
                font-size: 0.7rem !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Canevas {{ culture.name }} <span class="badge badge-warning">Taille total {{ totalSize }} ha</span></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendations.select') }}">Recommandation</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active">{{ culture.name }}</li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
    {% endif  %}
    <div class="table-responsive">
        <table class="table table-bordered no-wrap">
            <thead>
            <tr>
                <th></th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/orge-hivers/1.png') }}" /><br />
                    <p class="text-center">Semis</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/orge-hivers/2.png') }}" /><br />
                    <p class="text-center">Levée</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/orge-hivers/3.png') }}" /><br />
                    <p class="text-center">1 à 3 Feuilles</p>
                </th>
                <th>
                    <p class="text-center">Début Tallage</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/orge-hivers/5.png') }}" /><br />
                    <p class="text-center">Mi Tallage</p>
                </th>
                <th>
                    <p class="text-center">Fin Tallage</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Fumure</td>
                <td></td>
                <td colspan="3">
                    <button class="btn-7E btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-15-22-0-20-so3-modulaire') ? 'exist' : 'd-none' }}" product_slug="s-15-22-0-20-so3-modulaire" dose="200" unit="Kg">15/22 + S03 <small>200 à 250 Kg</small></button>
                    <button class="btn-7E btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-10-16-12-zn') ? 'exist' : 'd-none' }}" product_slug="s-10-16-12-zn" dose="300" unit="Kg">10-16-12 Zn <small>300 à 400 Kg</small></button>
                    <button class="btn-7E btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-diamic-mo-07-15-03') ? 'exist' : 'd-none' }}" product_slug="s-diamic-mo-07-15-03" dose="300" unit="Kg">DIAMIC OM 7.15.3 <small>300 Kg</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Pucerons <br>Cicadelles</td>
                <td></td><td></td>
                <td colspan="2">
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-5-l') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-5-l" dose="0.075" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-gorki-5-l') ? 'exist' : 'd-none' }}" product_slug="s-gorki-5-l" dose="0.25" unit="L">GORKI <small>0.25 L</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-country-gold-1-l') ? 'exist' : 'd-none' }}" product_slug="s-country-gold-1-l" dose="0.125" unit="L">COUNTRY GOLD <small>0.125 L</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Dicots <br>+ <br>Graminées</td>
                <td colspan="1">
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'aubaine') ? 'exist' : 'd-none' }}" product_slug="aubaine" dose="3.6" unit="L">AUBAINE <small>3.6 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-clortosint-500-10-l') ? 'exist' : 'd-none' }}" product_slug="s-clortosint-500-10-l" dose="3.6" unit="L">CLORTOSINT 500 <small>3.6 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'defi') ? 'exist' : 'd-none' }}" product_slug="defi" dose="2.5" unit="L">DEFI <small>2.5 à 3 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-el-nino-1-l') ? 'exist' : 'd-none' }}" product_slug="s-el-nino-1-l" dose="0.25" unit="L">EL NINO <small>0.25 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-navigate-5-l') ? 'exist' : 'd-none' }}" product_slug="s-navigate-5-l" dose="0.6" unit="L">NAVIGATE <small>0.6 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-hordeo-600-sc-5-l') ? 'exist' : 'd-none' }}" product_slug="s-hordeo-600-sc-5-l" dose="0.4" unit="L">HORDEO <small>0.4 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-el-nino-1-l') ? 'exist' : 'd-none' }}" product_slug="s-el-nino-1-l" dose="0.075" unit="L">EL NINO <small>0.075 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mateno') ? 'exist' : 'd-none' }}" product_slug="mateno" dose="2" unit="L">MATENO / H158 BCS <small>2 L</small></button>

                </td>
                <td></td>
                <td colspan="4">
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'aubaine') ? 'exist' : 'd-none' }}" product_slug="aubaine" dose="3.6" unit="L">AUBAINE <small>3.6 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-clortosint-500-10-l') ? 'exist' : 'd-none' }}" product_slug="s-clortosint-500-10-l" dose="3.6" unit="L">CLORTOSINT 500 <small>3.6 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'defi') ? 'exist' : 'd-none' }}" product_slug="defi" dose="2.5" unit="L">DEFI <small>2.5 à 3 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-el-nino-1-l') ? 'exist' : 'd-none' }}" product_slug="s-el-nino-1-l" dose="0.25" unit="L">EL NINO <small>0.25 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-navigate-5-l') ? 'exist' : 'd-none' }}" product_slug="s-navigate-5-l" dose="0.6" unit="L">NAVIGATE <small>0.6 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-antilope-5-l') ? 'exist' : 'd-none' }}" product_slug="s-antilope-5-l" dose="0.6" unit="L">ANTILOPE <small>0.6 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-hordeo-600-sc-5-l') ? 'exist' : 'd-none' }}" product_slug="s-hordeo-600-sc-5-l" dose="0.075" unit="L">HORDEO <small>0.4 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-el-nino-1-l') ? 'exist' : 'd-none' }}" product_slug="s-el-nino-1-l" dose="0.075" unit="L">EL NINO <small>0.25 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mateno') ? 'exist' : 'd-none' }}" product_slug="mateno" dose="2" unit="L">MATENO / H158 BCS <small>2 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kacik-1-kg') ? 'exist' : 'd-none' }}" product_slug="s-kacik-1-kg" dose="0.2" unit="L">KACIK <small>0.2 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'othello') ? 'exist' : 'd-none' }}" product_slug="othello" dose="0.2" unit="L">ORTHELLO <small>1.5 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'silwet-l-77') ? 'exist' : 'd-none' }}" product_slug="silwet-l-77" dose="0.1" unit="L">PULVI-X <small>0.1 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Dicots</td>
                <td colspan="1">
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-el-nino-1-l') ? 'exist' : 'd-none' }}" product_slug="s-el-nino-1-l" dose="0.25" unit="L">EL NINO <small>0.25 L</small></button>
                </td>
                <td></td>
                <td colspan="4">
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-el-nino-1-l') ? 'exist' : 'd-none' }}" product_slug="s-el-nino-1-l" dose="0.25" unit="L">EL NINO <small>0.25 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-crossfire-450-grs') ? 'exist' : 'd-none' }}" product_slug="s-crossfire-450-grs" dose="0.075" unit="L">CROSSFIRE <small>50 gr</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'starane-gold') ? 'exist' : 'd-none' }}" product_slug="starane-gold" dose="1.8" unit="L">STARANE GOLD <small>1.8 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Graminées</td>
                <td colspan="1">
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-5-l') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-5-l" dose="0.075" unit="L">HORDEO <small>0.4 L</small></button>
                </td>
                <td></td>
                <td colspan="4">
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-hordeo-600-sc-5-l') ? 'exist' : 'd-none' }}" product_slug="s-hordeo-600-sc-5-l" dose="0.4" unit="L">HORDEO <small>0.4 L</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fenova-super') ? 'exist' : 'd-none' }}" product_slug="fenova-super" dose="0.6" unit="L">FENOVA SUPER <small>0.6 à 0.8 L/Ha</small></button>
                    <button class="btn-3H btn btn-light-warning btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'silwet-l-77') ? 'exist' : 'd-none' }}" product_slug="silwet-l-77" dose="0.1" unit="L">PULVI-X <small>0.1 L</small></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div class="alert alert-success">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </div>
    {% endif %}
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendations.synthese.products', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {% if printRequest == false %}
    <script src="{{ asset('plugins/toast/toast.js') }}"></script>
    <script>
        $("#open-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).addClass( "shw-rside" )
        });
        $("#close-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).removeClass( "shw-rside" )
        });
        $(".isProduct").click(function (e) {
            let name = $(this).text()
            $(this).addClass('exist')
            $.ajax({
                url: '/recommendations/add-product',
                type: 'POST',
                data: {
                    'product_slug': $(this).attr('product_slug'),
                    'recommendation_id': {{ recommendations.id }},
                    'dose': $(this).attr('dose'),
                    'unit': $(this).attr('unit')
                },
                dataType: 'JSON',
                complete : function (response) {
                    $.toast({
                        heading: 'Produit ajouté avec succès',
                        text: 'Ajout de ' + name,
                        position: 'bottom-left',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 6
                    });
                    let nameProduct = response.responseJSON['name_product']
                    let dose = response.responseJSON['dose']
                    let unit = response.responseJSON['unit']
                    let input = '<li><b>'+ nameProduct +'</b> <small>'+ dose + unit +'</small></li>'
                    $('#products_list').append( input )
                },
                error : function (code_html, status) {
                    $.toast({
                        heading: 'Une erreur est survenue',
                        text: 'Veuillez ressayer',
                        position: 'bottom-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 6
                    });
                }
            })
        })
        {% endif %}
    </script>
{% endblock %}