{% extends printRequest == false
    ? 'base.html.twig'
    : 'print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/toast/toast.css') }}" rel="stylesheet">
    <style>
        .table thead th {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        }
        .btn-1I {
            background-color: #F54337 !important;
        }
        .btn-2F {
            background-color: #2196F3 !important;
        }
        .btn-3H {
            background-color: #FF9801 !important;
        }
        .btn-4N {
            background-color: #EA1E63 !important;
        }
        .btn-5C {
            background-color: #00BCD5 !important;
        }
        .btn-6Bioc {
            background-color: #009788 !important;
        }
        .btn-7E {
            background-color: #9D27B3 !important;
        }
        .btn-8R {
            background-color: #3E52B5 !important;
        }
        .btn-9HEL {
            background-color: #FE5722 !important;
        }
        .btn-10INC {
            background-color: #FFEA3C !important;
        }
        .btn-11S {
            background-color: #FEC009 !important;
        }
        .btn-12A {
            background-color: #795547 !important;
        }
        .btn-13T {
            background-color: #CDDC39 !important;
        }
        .exist {
            border: 4px solid #5DB761;
        }
    </style>
{% endblock %}

{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Canevas {{ culture.name }} <span class="badge badge-warning">Taille total {{ totalSize }} ha</span></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendations.select') }}">Recommandation</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active">{{ culture.name }}</li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
    {% endif  %}
                        <div class="table-responsive">
                            <table class="table table-bordered no-wrap">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/1.png') }}" /><br />
                                        <p class="text-center">Bourgeon dormant</p>
                                    </th>
                                    <th>
                                        <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/2.png') }}" /><br />
                                        <p class="text-center">Gonflement du bourgeon</p>
                                    </th>
                                    <th>
                                        <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/3.png') }}" /><br />
                                        <p class="text-center">Eclatement du bourgeon</p>
                                    </th>
                                    <th>
                                        <p class="text-center">
                                            <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/4.png') }}" /><br />
                                            Ecailles vertes plus longues <br> que les brunes
                                        </p>
                                    </th>
                                    <th>
                                        <p class="text-center">
                                            <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/5.png') }}" /><br />
                                            Apparition des nervures <br> des feuilles
                                        </p>
                                    </th>
                                    <th>
                                        <p class="text-center">
                                            <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/6.png') }}" /><br />
                                            Allongement de la pousse apparition <br> des chatons mâles
                                        </p>
                                    </th>
                                    <th>
                                        <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/7-haut.png') }}" /><br />
                                        <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/7-bas.png') }}" /><br />
                                        <p class="text-center">Apparition des étamines</p>
                                    </th>
                                    <th>
                                        <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/8-haut.png') }}" /><br />
                                        <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/8-bas.png') }}" /><br />
                                        <p class="text-center">Pleine floraison</p>
                                    </th>
                                    <th>
                                        <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/9-haut.png') }}" /><br />
                                        <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/9-bas.png') }}" /><br />
                                        <p class="text-center">Brunissement et chute</p>
                                    </th>
                                    <th>
                                        <p class="text-center">
                                            Grossissement <br> JUILLET
                                        </p>
                                    </th>
                                    <th>
                                        <p class="text-center">
                                            Grossissement <br> AOÛT
                                        </p>
                                    </th>
                                    <th>
                                        <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/12.png') }}" /><br />
                                        <p class="text-center">Déhiscence de la bogue</p>
                                    </th>
                                    <th>
                                        <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/13.png') }}" /><br />
                                        <p class="text-center">Bogue vidée de ses chataignes</p>
                                    </th>
                                    <th>
                                        <img class="" style="width: 64px" src="{{ asset('images/canevas/chataigner/14.png') }}" /><br />
                                        <p class="text-center">Chute des chataignes</p>
                                    </th>
                                    <th>
                                        <p class="text-center">POST RECOLTE</p>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Scolytes <br>
                                        Xylebores
                                    </td>
                                    <td></td><td></td>
                                    <td colspan="6">
                                        <button class="btn-1I btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small> 0.5L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Septorioses <br>
                                        Chancres <br>
                                        Pourriture du fruit
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="7">
                                        <button class="btn-2F btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small> 750gr</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Tordeuses <br>
                                        de la chataigne
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="2">
                                        <button class="btn-1I btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-5-l') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-5-l" dose="0.075" unit="L">KARATE XFLOW <small> 0.075L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Carpocapses des <br>
                                        chataignes
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="4">
                                        <button class="btn-1I btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delfin') ? 'exist' : 'd-none' }}" product_slug="delfin" dose="0.75" unit="Kg">DELFIN <small> 0.75Kg</small></button>
                                        <button class="btn-1I btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-5-l') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-5-l" dose="0.075" unit="L">KARATE XFLOW <small> 0.075L</small></button>
                                        <button class="btn-1I btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small> 0.5L</small></button>
                                        <button class="btn-1I btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ginko-ring') ? 'exist' : 'd-none' }}" product_slug="ginko-ring" dose="100" unit="Dif/Ha">GINKO RING <small> 100Dif/Ha</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Balanin des <br>
                                        chataignes
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="3">
                                        <button class="btn-1I btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-5-l') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-5-l" dose="0.110" unit="L">KARATE XFLOW <small> 0.110L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Coupe <br>
                                        bourgeons <br>
                                        peritele gris
                                    </td>
                                    <td></td><td></td>
                                    <td colspan="6">
                                        <button class="btn-1I btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-5-l') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-5-l" dose="0.075" unit="L">KARATE XFLOW <small> 0.075L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Zeuzere</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="5">
                                        <button class="btn-1I btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small> 0.5L</small></button>
                                        <button class="btn-1I btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delfin') ? 'exist' : 'd-none' }}" product_slug="delfin" dose="1" unit="Kg">DELFIN <small> 1Kg</small></button>
                                        <button class="btn-1I btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-5-l') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-5-l" dose="0.075" unit="L">KARATE XFLOW <small> 0.075L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Cynips</td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="4">
                                        <button class="btn-1I btn btn-info btn-block">LÂCHER DE TORYMUS</button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Chloroses <br>
                                        Manganique
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="5">
                                        <button class="btn-4N btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-mn-120-bio-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-mn-120-bio-10-l" dose="2" unit="L">INO MN 120 <small> 2L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>
                                        Nutrition <br>
                                        foliaire
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="4">
                                        <button class="btn-4N btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-bore-ultra-bio-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-bore-ultra-bio-10-l" dose="2" unit="L">INO BORE ULTRA <small> 2L</small></button>
                                        <button class="btn-4N btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-folwin-bio-5-l') ? 'exist' : 'd-none' }}" product_slug="s-folwin-bio-5-l" dose="2" unit="L">FOLWIN <small> 2L</small></button>

                                    </td>
                                    <td colspan="2">
                                        <button class="btn-4N btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-mix-fruits-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-mix-fruits-10-l" dose="5" unit="L">INO MIX FRUIT <small> 5L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Desherbage</td>
                                    <td colspan="3">
                                        <button class="btn-3H btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kerb-flo') ? 'exist' : 'd-none' }}" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO <small> 1.875L</small></button>
                                        <button class="btn-3H btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-selectrum-3-l') ? 'exist' : 'd-none' }}" product_slug="s-selectrum-3-l" dose="5" unit="L">SELECTRUM <small> 5L</small></button>
                                    </td>
                                    <td></td>
                                    <td colspan="10">
                                        <button class="btn-3H btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'roundup-6-h') ? 'exist' : 'd-none' }}" product_slug="roundup-6-h" dose="" unit="">ROUNDUP</button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Fumure</td>
                                    <td colspan="8">
                                        <button class="btn-7E btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-orchestra-sol-presto') ? 'exist' : 'd-none' }}" product_slug="s-orchestra-sol-presto" dose="500" unit="Kg">ORCHESTRA <small> 500 à 1000Kg</small></button>
                                        <button class="btn-7E btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-equinoxe-10-4-3-2mgo') ? 'exist' : 'd-none' }}" product_slug="s-equinoxe-10-4-3-2mgo" dose="1" unit="T">EQUINOX 10-4-3 <small> 1T</small></button>
                                    </td>
                                    <td></td>
                                    <td colspan="1">
                                        <button class="btn-7E btn btn-info btn-block isProduct" product_slug="" dose="" unit="">SULFATE K2O</button>
                                        <button class="btn-7E btn btn-info btn-block isProduct" product_slug="" dose="" unit="">PATENKALI</button>
                                        <button class="btn-7E btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-diamic-k25-uab-bio') ? 'exist' : 'd-none' }}" product_slug="s-diamic-k25-uab-bio" dose="" unit="">DIAMIC K25</button>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                    <td colspan="1">
                                        <button class="btn-7E btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-orchestra-sol-presto') ? 'exist' : 'd-none' }}" product_slug="s-orchestra-sol-presto" dose="500" unit="Kg">ORCHESTRA <small> 500Kg</small></button>
                                        <button class="btn-7E btn btn-info btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ss-guanumus-evolution-c-bio') ? 'exist' : 'd-none' }}" product_slug="ss-guanumus-evolution-c-bio" dose="1.5" unit="T">GUANUMUS <small> 1.5T</small></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </div>
            </div>
        </div>
    </div>
    <div id="right-sidebar" class="right-sidebar">
        <div class="slimscrollright">
            <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
            </div>
            <div class="r-panel-body">
                <a href="{{ path('recommendations.synthese.products', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                <ul class="mt-2" id="products_list">
                </ul>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('plugins/toast/toast.js') }}"></script>
    <script>
        $("#open-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).addClass( "shw-rside" )
        });
        $("#close-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).removeClass( "shw-rside" )
        });
        $(".isProduct").click(function (e) {
            let name = $(this).text()
            $(this).addClass('btn-light-danger')
            $.ajax({
                url: '/recommendations/add-product',
                type: 'POST',
                data: {
                    'product_slug': $(this).attr('product_slug'),
                    'recommendation_id': {{ recommendations.id }},
                    'dose': $(this).attr('dose'),
                    'unit': $(this).attr('unit')
                },
                dataType: 'JSON',
                complete : function (response) {
                    $.toast({
                        heading: 'Produit ajouté avec succès',
                        text: 'Ajout de ' + name,
                        position: 'bottom-left',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 6
                    });
                    let nameProduct = response.responseJSON['name_product']
                    let dose = response.responseJSON['dose']
                    let unit = response.responseJSON['unit']
                    let input = '<li><b>'+ nameProduct +'</b> <small>'+ dose + unit +'</small></li>'
                    $('#products_list').append( input )
                },
                error : function (code_html, status) {
                    $.toast({
                        heading: 'Une erreur est survenue',
                        text: 'Veuillez ressayer',
                        position: 'bottom-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 6
                    });
                }
            })
        })
    </script>
{% endblock %}