{% extends printRequest == false
    ? 'base.html.twig'
    : 'print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/toast/toast.css') }}" rel="stylesheet">
    <style>
        .table thead th {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        }
        .btn-R {
            background-color: #FFADAD !important;
        }
        .btn-O {
            background-color: #FFD6A5 !important;
        }
        .btn-J {
            background-color: #FDFFB6 !important;
        }
        .btn-V {
            background-color: #CAFFBF !important;
        }
        .btn-C {
            background-color: #9BF6FF !important;
        }
        .btn-B {
            background-color: #A0C4FF !important;
        }
        .btn-M {
            background-color: #FFC6FF !important;
        }
        .btn-A {
            background-color: #D8E2DC !important;
        }
        .exist {
            border: 4px solid #5DB761;
        }
    </style>
    {% if printRequest == true %}
        <style>
            * {
                margin: 0 !important;
                padding: 0 !important;
            }
            img {
                display: none !important;
            }
            td {
                padding: 0.5rem 0 0.5rem 0 !important;
                margin: 0.5rem 0 0 0 !important;
            }
            button {
                font-size: 0.7rem !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Canevas {{ culture.name }} <span class="badge badge-warning">Taille total {{ totalSize }} ha</span></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendations.select') }}">Recommandation</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active">{{ culture.name }}</li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
    {% endif  %}
    <div class="table-responsive">
        <table class="table table-bordered no-wrap">
            <thead>
            <tr>
                <th></th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/1.png') }}" /><br />
                    <p class="text-center">Au repos <br>Hivernal</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/2 a.png') }}" /><br />
                    <p class="text-center">Gonflement</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/2 b.png') }}" /><br />
                    <p class="text-center">Débourrement</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/3 a.png') }}" /><br />
                    <p class="text-center">Individualisation <br>Des feuilles</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/3 b.png') }}" /><br />
                    <p class="text-center">Individualisation <br>Des folioles</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/4.png') }}" /><br />
                    <p class="text-center">Déploiement <br>des feuilles</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/5.png') }}" /><br />
                    <p class="text-center">Apparition inflorescence</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/6.png') }}" /><br />
                    <p class="text-center">Emergeance des <br>Stigmates</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/7.png') }}" /><br />
                    <p class="text-center">Divergeance des <br>Stigmates</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/8.png') }}" /><br />
                    <p class="text-center">Stigmates <br>complétement <br>recurvés</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/9.png') }}" /><br />
                    <p class="text-center">Début de <br>blanchissement des <br>Stigmates</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/10.png') }}" /><br />
                    <p class="text-center">Stigmates <br>dessèchés</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/11.png') }}" /><br />
                    <p class="text-center">Mai</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/12.png') }}" /><br />
                    <p class="text-center">Juin</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/13 a.png') }}" /><br />
                    <p class="text-center">Début Juillet</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/13 b.png') }}" /><br />
                    <p class="text-center">15 Juillet</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/14.png') }}" /><br />
                    <p class="text-center">1er Août</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/14.png') }}" /><br />
                    <p class="text-center">15 Août</p>
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/noyer-conventionnel/15.png') }}" /><br />
                </th>
                <th>
                    <p class="text-center">Post-récolte</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Anthracnose</td>
                <td></td>
                <td colspan="4">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-plus') ? 'exist' : 'd-none' }}" product_slug="mancowan-plus" dose="2" unit="Kg">MANCOWAN PLUS <small>2 Kg</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-systhane-power') ? 'exist' : 'd-none' }}" product_slug="s-systhane-power" dose="0.375" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-systhane-power') ? 'exist' : 'd-none' }}" product_slug="s-systhane-power" dose="0.375" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO<small>750 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-systhane-power') ? 'exist' : 'd-none' }}" product_slug="s-systhane-power" dose="0.375" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="750" unit="gr">DELAN WG<small>750 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' : 'd-none' }}" product_slug="mancowan-plus" dose="2" unit="Kg">MANCOWAN PLUS <small>2 Kg</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-plus') ? 'exist' : 'd-none' }}" product_slug="mancowan-plus" dose="2" unit="Kg">MANCOWAN PLUS <small>2 Kg</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-nutrigeo-20-l') ? 'exist' : 'd-none' }}" product_slug="s-nutrigeo-20-l" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Bactériose</td>
                <td></td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-bouillie-bordelaise-rsr-dg-15-kg') ? 'exist' : 'd-none' }}" product_slug="s-bouillie-bordelaise-rsr-dg-15-kg" dose="12.5" unit="Kg">BB DG <small>12.5 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-nordox-75-wg-10-kg') ? 'exist' : 'd-none' }}" product_slug="s-nordox-75-wg-10-kg" dose="3.3" unit="Kg">NORDOX 75 WG <small>3.3 Kg</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct" product_slug="" dose="3.3" unit="Kg">NORDOX <small>3.3 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' : 'd-none' }}" product_slug="s-kocide-2000-10-kg" dose="3" unit="Kg">KOCIDE 2000 <small>3 Kg</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sticop-5-l') ? 'exist' : 'd-none' }}" product_slug="s-sticop-5-l" dose="2" unit="Kg">STICOP <small>2 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' : 'd-none' }}" product_slug="s-kocide-2000-10-kg" dose="1.5" unit="Kg">KOCIDE 2000 <small>1.5 Kg</small></button>
                </td>
                <td colspan="6">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sticop-5-l') ? 'exist' : 'd-none' }}" product_slug="s-sticop-5-l" dose="3" unit="L">STICOP <small>3 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sticop-5-l') ? 'exist' : 'd-none' }}" product_slug="s-sticop-5-l" dose="2" unit="L">STICOP <small>2 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' : 'd-none' }}" product_slug="s-kocide-2000-10-kg" dose="1.5" unit="Kg">KOCIDE 2000 <small>1.5 Kg</small></button>
                </td>
                <td colspan="4">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-cuivre-120-bio-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-cuivre-120-bio-10-l" dose="2" unit="L">INO CUIVRE 120 <small>2 L</small></button>
                    <button class="btn btn-B btn-block isProduct" product_slug="" dose="5" unit="L">INOFLOW CA 500 <small>5 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-nordox-75-wg-10-kg') ? 'exist' : 'd-none' }}" product_slug="s-nordox-75-wg-10-kg" dose="3.3" unit="L">NORDOX <small>3.3 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' : 'd-none' }}" product_slug="s-kocide-2000-10-kg" dose="1" unit="Kg">KOCIDE 2000 <small>1 Kg</small></button
                </td>
            </tr>
            <tr>
                <td>Cochenilles <br>Lécanine du <br>cornouiller</td>
                <td colspan="3">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-acakill-20-l') ? 'exist' : 'd-none' }}" product_slug="s-acakill-20-l" dose="25" unit="L">ACAKILL <small>25 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'polithiol') ? 'exist' : 'd-none' }}" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Acariens</td>
                <td></td><td></td><td></td><td></td>
                <td colspan="6">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'envidor') ? 'exist' : 'd-none' }}" product_slug="envidor" dose="0.4" unit="L">ENVIDOR <small>0.4 L</small></button>
                    <button class="btn btn-R btn-block isProduct" product_slug="" dose="0.75" unit="L">BACTIMEC <small>0.75 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Carpocapses</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="4">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'imidan-50-wg') ? 'exist' : 'd-none' }}" product_slug="imidan-50-wg" dose="1" unit="Kg">IMIDAN WG <small>1 Kg</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'insegar') ? 'exist' : 'd-none' }}" product_slug="insegar" dose="300" unit="gr">INSEGAR <small>300 gr</small></button>
                    <button class="btn btn-R btn-block isProduct" product_slug="" dose="0.5" unit="L">DECIS <small>0.5 L</small></button>
                    <button class="btn btn-R btn-block isProduct" product_slug="" dose="0.75" unit="L">KARATE ZEON XFLOW <small>0.75 L</small></button>
                </td>
                <td></td>
                <td colspan="2">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'imidan') ? 'exist' : 'd-none' }}" product_slug="imidan" dose="1s" unit="Kg">IMIDAN <small>1 Kg</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'confirm') ? 'exist' : 'd-none' }}" product_slug="confirm" dose="0.6" unit="L">CONFIRM <small>0.6 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'coragen') ? 'exist' : 'd-none' }}" product_slug="coragen" dose="1.175" unit="L">CORAGEN <small>1.175 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'insegar') ? 'exist' : 'd-none' }}" product_slug="insegar" dose="0.3" unit="Kg">INSEGAR <small>0.3 Kg</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Chenilles <br>phytophages</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="7">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delfin') ? 'exist' : 'd-none' }}" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1" unit="Kg">DIPEL <small>1 Kg</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Mouches du brou <br>Teignes</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="3">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-1-l') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-1-l" dose="0.075" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td colspan="5">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-trap-mb') ? 'exist' : 'd-none' }}" product_slug="decis-trap-mb" dose="100" unit="">DECIS TRAP MB <small>100</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'coragen') ? 'exist' : 'd-none' }}" product_slug="coragen" dose="0.175" unit="L">CORAGEN <small>0.175 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'imidan') ? 'exist' : 'd-none' }}" product_slug="imidan" dose="1.5" unit="Kg">IMIDAN <small>1.5 Kg</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Nutrition <br>Foliaire</td>
                <td colspan="2">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sferosol-bio') ? 'exist' : 'd-none' }}" product_slug="s-sferosol-bio" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                </td>
                <td></td><td></td>
                <td colspan="2">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-bore-ultra-bio-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-bore-ultra-bio-10-l" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                    <button class="btn btn-B btn-block isProduct" product_slug="" dose="1" unit="L">INO FLOW ZN <small>1 L</small></button>
                </td>
                <td></td><td></td>
                <td colspan="2">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-folwin-bio-5-l') ? 'exist' : 'd-none' }}" product_slug="s-folwin-bio-5-l" dose="2" unit="L">FOLWIN <small>2 L</small></button>
                </td>
                <td></td>
                <td colspan="8">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-mn-120-bio-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-mn-120-bio-10-l" dose="3" unit="L">INO MN 120 <small>3 L</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-megagreen-5-kg-bio') ? 'exist' : 'd-none' }}" product_slug="s-megagreen-5-kg-bio" dose="2" unit="Kg">MEGAGREEN <small>2 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-k-leaf-52-sulf-pot-46-70-so3') ? 'exist' : 'd-none' }}" product_slug="s-k-leaf-52-sulf-pot-46-70-so3" dose="10" unit="Kg">K-LEAF <small>10 Kg</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-B btn-block isProduct" product_slug="" dose="3.5" unit="Kg">INO FLOW 600 <small>0.5 L</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-bore-ultra-bio-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-bore-ultra-bio-10-l" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="5">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-equinoxe-10-4-3-2mgo') ? 'exist' : 'd-none' }}" product_slug="s-equinoxe-10-4-3-2mgo" dose="700" unit="Kg">EQUINOX 10-4-3 <small>700 à 1200 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct" product_slug="" dose="700" unit="Kg">9-3-12 <small>700 à 1200 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="3">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-optiblend-wake-5-bio') ? 'exist' : 'd-none' }}" product_slug="s-optiblend-wake-5-bio" dose="100" unit="Kg">OPTIBLEND <small>100 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-limus-46') ? 'exist' : 'd-none' }}" product_slug="s-limus-46" dose="" unit="">LIMUS / LINTEC</button>
                    <button class="btn btn-B btn-block isProduct" product_slug="" dose="" unit="">PERLUREE</button>
                    <button class="btn btn-B btn-block isProduct" product_slug="" dose="" unit="">TROPICOTE</button>
                </td>
                <td colspan="2">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-diamic-k25-uab-bio') ? 'exist' : 'd-none' }}" product_slug="s-diamic-k25-uab-bio" dose="300" unit="Kg">DIAMIC K25 <small>300 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct" product_slug="" dose="" unit="">SULFATE DE POTASSE <small>200 à 400 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct" product_slug="" dose="300" unit="Kg">PATENKALI <small>300 à 400 Kg</small></button>
                </td>
                <td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-B btn-block isProduct" product_slug="" dose="1500" unit="Kg">GUANUMUS EVOLUTION <small>1500 à 2000 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td>Fumure</td>
                <td colspan="5">
                    <button class="btn btn-B btn-block isProduct" product_slug="" dose="500" unit="Kg">ORCHESTRA <small>500 à 1000 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-B btn-block isProduct" product_slug="s-kocide-2000-10-kg" dose="400" unit="Kg">ORCHESTRA <small>400 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td><td></td>
                <td colspan="3">
                    <button class="btn btn-B btn-block isProduct" product_slug="" dose="100" unit="Kg">AMMONITRE <small>100 à 200 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-diamic-k25-uab-bio') ? 'exist' : 'd-none' }}" product_slug="s-diamic-k25-uab-bio" dose="100" unit="Kg">SULFONITRATE <small>100 à 200 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-15-22-0-20-so3-modulaire') ? 'exist' : 'd-none' }}" product_slug="s-15-22-0-20-so3-modulaire" dose="300" unit="Kg">15/22/0 + S <small>300 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-12-10-20-sk-mgo2') ? 'exist' : 'd-none' }}" product_slug="s-12-10-20-sk-mgo2" dose="400" unit="Kg">12/10/20 SK <small>400 à 600 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-15-22-0-20-so3-modulaire') ? 'exist' : 'd-none' }}" product_slug="s-15-22-0-20-so3-modulaire" dose="00" unit="Kg">15/22/0 + S <small>200 à 300 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td>Stimulation <br>Racinaire</td>
                <td></td><td></td><td></td><td></td>
                <td colspan="6">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-rise-p-vam-200-grs') ? 'exist' : 'd-none' }}" product_slug="s-rise-p-vam-200-grs" dose="0.2" unit="Kg">RISE P VAM <small>0.2 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Désherbage</td>
                <td colspan="4">
                    <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kerb-flo') ? 'exist' : 'd-none' }}" product_slug="kerb-flo" dose="1.875" unit="Kg">KERB FLO <small>1.875 Kg</small></button>
                    <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-selectrum-5-l') ? 'exist' : 'd-none' }}" product_slug="s-selectrum-5-l" dose="5" unit="L">SELECTRUM <small>5 L</small></button>
                </td>
                <td></td>
                <td colspan="13">
                    <button class="btn btn-J btn-block isProduct" product_slug="" dose="0.3" unit="%">SPOTLIGHT <small>0.3 %</small></button>
                    <button class="btn btn-A btn-block isProduct" product_slug="" dose="0.5" unit="%">LI 700 <small>0.5 %</small></button>
                    <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-roundup-gold-20-l') ? 'exist' : 'd-none' }}" product_slug="s-roundup-gold-20-l" dose="" unit="">ROUNDUP GOLD</button>
                    <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fusilade-max') ? 'exist' : 'd-none' }}" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                </td>
                <td></td><td></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div class="alert alert-success">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </div>
    {% endif %}
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendations.synthese.products', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {% if printRequest == false %}
    <script src="{{ asset('plugins/toast/toast.js') }}"></script>
    <script>
        $("#open-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).addClass( "shw-rside" )
        });
        $("#close-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).removeClass( "shw-rside" )
        });
        $(".isProduct").click(function (e) {
            let name = $(this).text()
            $(this).addClass('exist')
            $.ajax({
                url: '/recommendations/add-product',
                type: 'POST',
                data: {
                    'product_slug': $(this).attr('product_slug'),
                    'recommendation_id': {{ recommendations.id }},
                    'dose': $(this).attr('dose'),
                    'unit': $(this).attr('unit')
                },
                dataType: 'JSON',
                complete : function (response) {
                    $.toast({
                        heading: 'Produit ajouté avec succès',
                        text: 'Ajout de ' + name,
                        position: 'bottom-left',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 6
                    });
                    let nameProduct = response.responseJSON['name_product']
                    let dose = response.responseJSON['dose']
                    let unit = response.responseJSON['unit']
                    let input = '<li><b>'+ nameProduct +'</b> <small>'+ dose + unit +'</small></li>'
                    $('#products_list').append( input )
                },
                error : function (code_html, status) {
                    $.toast({
                        heading: 'Une erreur est survenue',
                        text: 'Veuillez ressayer',
                        position: 'bottom-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 6
                    });
                }
            })
        })
        {% endif %}
    </script>
{% endblock %}