{% extends printRequest == false
    ? 'base.html.twig'
    : 'print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/toast/toast.css') }}" rel="stylesheet">
    <style>
        .table thead th {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        }
        .btn-R {
            background-color: #FFADAD !important;
        }
        .btn-O {
            background-color: #FFD6A5 !important;
        }
        .btn-J {
            background-color: #FDFFB6 !important;
        }
        .btn-V {
            background-color: #CAFFBF !important;
        }
        .btn-C {
            background-color: #9BF6FF !important;
        }
        .btn-B {
            background-color: #A0C4FF !important;
        }
        .btn-M {
            background-color: #FFC6FF !important;
        }
        .btn-A {
            background-color: #D8E2DC !important;
        }
        .exist {
            border: 3px solid grey;
        }
    </style>
{% endblock %}

{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} <span class="badge badge-warning">Taille total {{ totalSize }} ha</span></h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendations.select') }}">Recommandation</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                        <table class="table table-bordered no-wrap">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Bourgeon <br>D'hiver
                                </th>
                                <th>
                                    Bourgeons <br>gonflés
                                </th>
                                <th>
                                    Sortie <br>calice
                                </th>
                                <th>
                                    Sortie <br>corolle
                                </th>
                                <th>
                                    Sortie <br>etamines
                                </th>
                                <th>
                                    Fleur <br>ouverte
                                </th>
                                <th>
                                    Chute <br>des pétales
                                </th>
                                <th>
                                    Jeune <br>fruit
                                </th>
                                <th>
                                    Mi-Avril <br>début Mai
                                </th>
                                <th>
                                    Mi-Mai
                                </th>
                                <th>
                                    Fin Mai - <br>Début juin
                                </th>
                                <th>
                                    Fin Juin <br>début Juillet
                                </th>
                                <th>
                                    Post-Récolte
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>BACTERIOSE</td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '12') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="12" unit="Kg">BB RSR <small>12 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '3.3') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="3.3" unit="Kg">NORDOX 75 WG <small>3.3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kocide-2000', '3.5') ? 'exist' : 'd-none' }}" product_slug="kocide-2000" dose="3.5" unit="Kg">KOCIDE <small>3.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '12.001') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="12.001" unit="Kg">BB RSR <small>12 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '3.301') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="3.301" unit="Kg">NORDOX 75 WG <small>3.3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kocide-2000', '3.501') ? 'exist' : 'd-none' }}" product_slug="kocide-2000" dose="3.501" unit="Kg">KOCIDE <small>3.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '12.002') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="12.002" unit="Kg">BB RSR <small>12 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '3.302') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="3.302" unit="Kg">NORDOX 75 WG <small>3.3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kocide-2000', '3.502') ? 'exist' : 'd-none' }}" product_slug="kocide-2000" dose="3.502" unit="Kg">KOCIDE <small>3.5 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '12.003') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="12.003" unit="Kg">BB RSR <small>12 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '3.303') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="3.303" unit="Kg">NORDOX 75 WG <small>3.3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kocide-2000', '3.503') ? 'exist' : 'd-none' }}" product_slug="kocide-2000" dose="3.503" unit="Kg">KOCIDE <small>3.5 Kg</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>COCHENILLES <br>ACARIENS</td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-acakill-20-l', '20') ? 'exist' : 'd-none' }}" product_slug="s-acakill-20-l" dose="20" unit="L">ACAKILL <small>20 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-acakill-20-l', '20.001') ? 'exist' : 'd-none' }}" product_slug="s-acakill-20-l" dose="20.001" unit="L">ACAKILL <small>20 L</small></button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '0.3') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="0.3" unit="L">ADMIRAL PRO <small>0.3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '0.301') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="0.301" unit="L">ADMIRAL PRO <small>0.3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '0.302') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="0.302" unit="L">ADMIRAL PRO <small>0.3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '0.303') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="0.303" unit="L">ADMIRAL PRO <small>0.3 L</small></button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '0.304') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="0.304" unit="L">ADMIRAL PRO <small>0.3 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'movento', '1.9') ? 'exist' : 'd-none' }}" product_slug="movento" dose="1.9" unit="L">MOVENTO <small>1.9 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '0.305') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="0.305" unit="L">ADMIRAL PRO <small>0.3 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'movento', '1.901') ? 'exist' : 'd-none' }}" product_slug="movento" dose="1.901" unit="L">MOVENTO <small>1.9 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '0.306') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="0.306" unit="L">ADMIRAL PRO <small>0.3 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'movento', '1.902') ? 'exist' : 'd-none' }}" product_slug="movento" dose="1.902" unit="L">MOVENTO <small>1.9 L</small></button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '0.307') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="0.307" unit="L">ADMIRAL PRO <small>0.3 L</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cloque</td>
                                    <td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '2.5') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="2.5" unit="Kg">CARBAZINC <small>2.5 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '1.65') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="1.65" unit="L">SYLIT MAX <small>1.65 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '5') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="5" unit="L">MERPAN SC <small>5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '2.501') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="2.501" unit="Kg">CARBAZINC <small>2.5 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '1.6501') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="1.6501" unit="L">SYLIT MAX <small>1.65 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '5.001') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="5.001" unit="L">MERPAN SC <small>5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '2.502') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="2.502" unit="Kg">CARBAZINC <small>2.5 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '1.6502') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="1.6502" unit="L">SYLIT MAX <small>1.65 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '5.002') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="5.002" unit="L">MERPAN SC <small>5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '2.503') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="2.503" unit="Kg">CARBAZINC <small>2.5 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '1.6503') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="1.6503" unit="L">SYLIT MAX <small>1.65 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '5.003') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="5.003" unit="L">MERPAN SC <small>5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '2.504') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="2.504" unit="Kg">CARBAZINC <small>2.5 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '1.6504') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="1.6504" unit="L">SYLIT MAX <small>1.65 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '5.004') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="5.004" unit="L">MERPAN SC <small>5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '2.505') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="2.505" unit="Kg">CARBAZINC <small>2.5 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '1.6505') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="1.6505" unit="L">SYLIT MAX <small>1.65 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro', '5.005') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="5.005" unit="L">MERPAN SC <small>5 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>PUCERONS</td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-teppeki-500-grs', '140') ? 'exist' : 'd-none' }}" product_slug="s-teppeki-500-grs" dose="140" unit="g">TEPEKI <small>140 g</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-teppeki-500-grs', '140.001') ? 'exist' : 'd-none' }}" product_slug="s-teppeki-500-grs" dose="140.001" unit="g">TEPEKI <small>140 g</small></button>
                                    </td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-teppeki-500-grs', '140.002') ? 'exist' : 'd-none' }}" product_slug="s-teppeki-500-grs" dose="140.002" unit="g">TEPEKI <small>140 g</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'movento', '1.5') ? 'exist' : 'd-none' }}" product_slug="movento" dose="1.5" unit="L">MOVENTO <small>1.5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-teppeki-500-grs', '140.003') ? 'exist' : 'd-none' }}" product_slug="s-teppeki-500-grs" dose="140.003" unit="g">TEPEKI <small>140 g</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'movento', '1.501') ? 'exist' : 'd-none' }}" product_slug="movento" dose="1.501" unit="L">MOVENTO <small>1.5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-teppeki-500-grs', '140.004') ? 'exist' : 'd-none' }}" product_slug="s-teppeki-500-grs" dose="140.004" unit="g">TEPEKI <small>140 g</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'movento', '1.502') ? 'exist' : 'd-none' }}" product_slug="movento" dose="1.502" unit="L">MOVENTO <small>1.5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-teppeki-500-grs', '140.005') ? 'exist' : 'd-none' }}" product_slug="s-teppeki-500-grs" dose="140.005" unit="g">TEPEKI <small>140 g</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'movento', '1.503') ? 'exist' : 'd-none' }}" product_slug="movento" dose="1.503" unit="L">MOVENTO <small>1.5 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>FUSICOCCUM</td>
                                    <td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.7') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.7" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg', '0.7') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="0.7" unit="Kg">DELAN WG <small>0.7 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.701') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.701" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg', '0.701') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="0.701" unit="Kg">DELAN WG <small>0.7 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.702') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.702" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg', '0.702') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="0.702" unit="Kg">DELAN WG <small>0.7 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.703') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.703" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg', '0.703') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="0.703" unit="Kg">DELAN WG <small>0.7 Kg</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MONILIA/OIDIUM</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '7.5') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="7.5" unit="Kg">CITROTHIL DG <small>7.5 Kg</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'score', '0.3') ? 'exist' : 'd-none' }}" product_slug="score" dose="0.3" unit="L">SCORE <small>0.3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '7.501') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="7.501" unit="Kg">CITROTHIL DG <small>7.5 Kg</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'score', '0.301') ? 'exist' : 'd-none' }}" product_slug="score" dose="0.301" unit="L">SCORE <small>0.3 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>TRIPS</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-klartan-5-l', '0.6') ? 'exist' : 'd-none' }}" product_slug="s-klartan-5-l" dose="0.6" unit="L">KLARTAN SMART <small>0.6 L</small></button>
                                    </td>
                                     <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-klartan-5-l', '0.601') ? 'exist' : 'd-none' }}" product_slug="s-klartan-5-l" dose="0.601" unit="L">KLARTAN SMART <small>0.6 L</small></button>
                                    </td>
                                     <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-klartan-5-l', '0.602') ? 'exist' : 'd-none' }}" product_slug="s-klartan-5-l" dose="0.602" unit="L">KLARTAN SMART <small>0.6 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-success-500-ml', '0.2') ? 'exist' : 'd-none' }}" product_slug="s-success-500-ml" dose="0.2" unit="L">SUCCESS <small>0.2 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delegate', '0.3') ? 'exist' : 'd-none' }}" product_slug="delegate" dose="0.3" unit="Kg">DELEGATE <small>0.3 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-success-500-ml', '0.201') ? 'exist' : 'd-none' }}" product_slug="s-success-500-ml" dose="0.201" unit="L">SUCCESS <small>0.2 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delegate', '0.301') ? 'exist' : 'd-none' }}" product_slug="delegate" dose="0.301" unit="Kg">DELEGATE <small>0.3 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-success-500-ml', '0.202') ? 'exist' : 'd-none' }}" product_slug="s-success-500-ml" dose="0.202" unit="L">SUCCESS <small>0.2 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delegate', '0.302') ? 'exist' : 'd-none' }}" product_slug="delegate" dose="0.302" unit="Kg">DELEGATE <small>0.3 Kg</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>TOP <br>CONFUSIONS <br>SEXUELLES</td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rak-5', '500') ? 'exist' : 'd-none' }}" product_slug="rak-5" dose="500" unit="diffuseurs">RAK 5 <small>500 diffuseurs</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'isomate-ofm-tt', '200') ? 'exist' : 'd-none' }}" product_slug="isomate-ofm-tt" dose="200" unit="diffuseurs">ISOMATE OFMTT <small>200 diffuseurs</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rak-5', '500.001') ? 'exist' : 'd-none' }}" product_slug="rak-5" dose="500.001" unit="diffuseurs">RAK 5 <small>500 diffuseurs</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'isomate-ofm-tt', '200.001') ? 'exist' : 'd-none' }}" product_slug="isomate-ofm-tt" dose="200.001" unit="diffuseurs">ISOMATE OFMTT <small>200 diffuseurs</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rak-5', '500.002') ? 'exist' : 'd-none' }}" product_slug="rak-5" dose="500.002" unit="diffuseurs">RAK 5 <small>500 diffuseurs</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'isomate-ofm-tt', '200.002') ? 'exist' : 'd-none' }}" product_slug="isomate-ofm-tt" dose="200.002" unit="diffuseurs">ISOMATE OFMTT <small>200 diffuseurs</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rak-5', '500.003') ? 'exist' : 'd-none' }}" product_slug="rak-5" dose="500.003" unit="diffuseurs">RAK 5 <small>500 diffuseurs</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'isomate-ofm-tt', '200.003') ? 'exist' : 'd-none' }}" product_slug="isomate-ofm-tt" dose="200.003" unit="diffuseurs">ISOMATE OFMTT <small>200 diffuseurs</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rak-5', '500.004') ? 'exist' : 'd-none' }}" product_slug="rak-5" dose="500.004" unit="diffuseurs">RAK 5 <small>500 diffuseurs</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'isomate-ofm-tt', '200.004') ? 'exist' : 'd-none' }}" product_slug="isomate-ofm-tt" dose="200.004" unit="diffuseurs">ISOMATE OFMTT <small>200 diffuseurs</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rak-5', '500.005') ? 'exist' : 'd-none' }}" product_slug="rak-5" dose="500.005" unit="diffuseurs">RAK 5 <small>500 diffuseurs</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'isomate-ofm-tt', '200.005') ? 'exist' : 'd-none' }}" product_slug="isomate-ofm-tt" dose="200.005" unit="diffuseurs">ISOMATE OFMTT <small>200 diffuseurs</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rak-5', '500.006') ? 'exist' : 'd-none' }}" product_slug="rak-5" dose="500.006" unit="diffuseurs">RAK 5 <small>500 diffuseurs</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'isomate-ofm-tt', '200.006') ? 'exist' : 'd-none' }}" product_slug="isomate-ofm-tt" dose="200.006" unit="diffuseurs">ISOMATE OFMTT <small>200 diffuseurs</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>TOP</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'affirm-opti', '2') ? 'exist' : 'd-none' }}" product_slug="affirm-opti" dose="2" unit="Kg">AFFIRM <small>2 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin', '0.1') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-2000', '1') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-2000" dose="1" unit="L">CARPOVIRUSINE 2000 <small>1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-evo-2', '1') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-evo-2" dose="1" unit="L">CARPOVIRUSINE EVO <small>1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df', '1') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1" unit="Kg">DIPEL <small>1 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delegate', '0.3') ? 'exist' : 'd-none' }}" product_slug="delegate" dose="0.3" unit="Kg">DELEGATE <small>0.3 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'affirm-opti', '2.001') ? 'exist' : 'd-none' }}" product_slug="affirm-opti" dose="2.001" unit="Kg">AFFIRM <small>2 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin', '0.101') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.101" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-2000', '1.001') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-2000" dose="1.001" unit="L">CARPOVIRUSINE 2000 <small>1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-evo-2', '1.001') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-evo-2" dose="1.001" unit="L">CARPOVIRUSINE EVO <small>1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df', '1.001') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1.001" unit="Kg">DIPEL <small>1 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delegate', '0.301') ? 'exist' : 'd-none' }}" product_slug="delegate" dose="0.301" unit="Kg">DELEGATE <small>0.3 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'affirm-opti', '2.002') ? 'exist' : 'd-none' }}" product_slug="affirm-opti" dose="2.002" unit="Kg">AFFIRM <small>2 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin', '0.102') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.1.002" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-2000', '1.002') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-2000" dose="1.002" unit="L">CARPOVIRUSINE 2000 <small>1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-evo-2', '1.002') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-evo-2" dose="1.002" unit="L">CARPOVIRUSINE EVO <small>1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df', '1.002') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1.002" unit="Kg">DIPEL <small>1 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delegate', '0.302') ? 'exist' : 'd-none' }}" product_slug="delegate" dose="0.302" unit="Kg">DELEGATE <small>0.3 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'affirm-opti', '2.003') ? 'exist' : 'd-none' }}" product_slug="affirm-opti" dose="2.003" unit="Kg">AFFIRM <small>2 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin', '0.103') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.103" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-2000', '1.003') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-2000" dose="1.003" unit="L">CARPOVIRUSINE 2000 <small>1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-evo-2', '1.003') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-evo-2" dose="1.003" unit="L">CARPOVIRUSINE EVO <small>1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df', '1.003') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1.003" unit="Kg">DIPEL <small>1 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delegate', '0.303') ? 'exist' : 'd-none' }}" product_slug="delegate" dose="0.303" unit="Kg">DELEGATE <small>0.3 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'affirm-opti', '2.004') ? 'exist' : 'd-none' }}" product_slug="affirm-opti" dose="2.004" unit="Kg">AFFIRM <small>2 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin', '0.104') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.104" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-2000', '1.004') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-2000" dose="1.004" unit="L">CARPOVIRUSINE 2000 <small>1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-evo-2', '1.004') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-evo-2" dose="1.004" unit="L">CARPOVIRUSINE EVO <small>1 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df', '1.004') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1.004" unit="Kg">DIPEL <small>1 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delegate', '0.304') ? 'exist' : 'd-none' }}" product_slug="delegate" dose="0.304" unit="Kg">DELEGATE <small>0.3 Kg</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>NUTRITION <br>FOLIAIRE</td>
                                    <td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-bore-ultra-bio-10-l', '2') ? 'exist' : 'd-none' }}" product_slug="s-ino-bore-ultra-bio-10-l" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-flow-zn680f-folli-bio-5-l', '1') ? 'exist' : 'd-none' }}" product_slug="s-ino-flow-zn680f-folli-bio-5-l" dose="1" unit="L">INO FLOW ZN <small>1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-bore-ultra-bio-10-l', '2.001') ? 'exist' : 'd-none' }}" product_slug="s-ino-bore-ultra-bio-10-l" dose="2.001" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-flow-zn680f-folli-bio-5-l', '1.001') ? 'exist' : 'd-none' }}" product_slug="s-ino-flow-zn680f-folli-bio-5-l" dose="1.001" unit="L">INO FLOW ZN <small>1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-folwin-bio-5-l', '2') ? 'exist' : 'd-none' }}" product_slug="s-folwin-bio-5-l" dose="2" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-folwin-bio-5-l', '2.001') ? 'exist' : 'd-none' }}" product_slug="s-folwin-bio-5-l" dose="2.001" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-mix-fruits-10-l', '10') ? 'exist' : 'd-none' }}" product_slug="s-ino-mix-fruits-10-l" dose="10" unit="L">INO MIX FRUIT <small>10 L</small></button>
                                    </td>
                                     <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-mix-fruits-10-l', '10.001') ? 'exist' : 'd-none' }}" product_slug="s-ino-mix-fruits-10-l" dose="10.001" unit="L">INO MIX FRUIT <small>10 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-mix-fruits-10-l', '10.002') ? 'exist' : 'd-none' }}" product_slug="s-ino-mix-fruits-10-l" dose="10.002" unit="L">INO MIX FRUIT <small>10 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>MALADIES DE <br>CONSERVATION</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-serenva-1-kg', '0.6') ? 'exist' : 'd-none' }}" product_slug="s-serenva-1-kg" dose="0.6" unit="Kg">SERENVA <small>0.6 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '0.5') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="0.5" unit="Kg">HORIZON <small>0.5 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '0.75') ? 'exist' : 'd-none' }}" product_slug="signum" dose="0.75" unit="Kg">SIGNUM <small>0.75 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'luna-experience', '0.5') ? 'exist' : 'd-none' }}" product_slug="luna-experience" dose="0.5" unit="L">LUNA EXPERIENCE <small>0.5 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kruga', '2') ? 'exist' : 'd-none' }}" product_slug="kruga" dose="2" unit="L">KRUGA <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-serenva-1-kg', '0.601') ? 'exist' : 'd-none' }}" product_slug="s-serenva-1-kg" dose="0.601" unit="Kg">SERENVA <small>0.6 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '0.5°1') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="0.501" unit="Kg">HORIZON <small>0.5 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '0.7501') ? 'exist' : 'd-none' }}" product_slug="signum" dose="0.7501" unit="Kg">SIGNUM <small>0.75 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'luna-experience', '0.501') ? 'exist' : 'd-none' }}" product_slug="luna-experience" dose="0.501" unit="L">LUNA EXPERIENCE <small>0.5 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kruga', '2.001') ? 'exist' : 'd-none' }}" product_slug="kruga" dose="2.001" unit="L">KRUGA <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-serenva-1-kg', '0.602') ? 'exist' : 'd-none' }}" product_slug="s-serenva-1-kg" dose="0.602" unit="Kg">SERENVA <small>0.6 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '0.502') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="0.502" unit="Kg">HORIZON <small>0.5 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '0.7502') ? 'exist' : 'd-none' }}" product_slug="signum" dose="0.7502" unit="Kg">SIGNUM <small>0.75 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'luna-experience', '0.502') ? 'exist' : 'd-none' }}" product_slug="luna-experience" dose="0.502" unit="L">LUNA EXPERIENCE <small>0.5 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kruga', '2.002') ? 'exist' : 'd-none' }}" product_slug="kruga" dose="2.002" unit="L">KRUGA <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-serenva-1-kg', '0.603') ? 'exist' : 'd-none' }}" product_slug="s-serenva-1-kg" dose="0.603" unit="Kg">SERENVA <small>0.6 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '0.503') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="0.503" unit="Kg">HORIZON <small>0.5 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '0.7503') ? 'exist' : 'd-none' }}" product_slug="signum" dose="0.7503" unit="Kg">SIGNUM <small>0.75 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'luna-experience', '0.503') ? 'exist' : 'd-none' }}" product_slug="luna-experience" dose="0.503" unit="L">LUNA EXPERIENCE <small>0.5 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kruga', '2.003') ? 'exist' : 'd-none' }}" product_slug="kruga" dose="2.003" unit="L">KRUGA <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-serenva-1-kg', '0.604') ? 'exist' : 'd-none' }}" product_slug="s-serenva-1-kg" dose="0.604" unit="Kg">SERENVA <small>0.6 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '0.504') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="0.504" unit="Kg">HORIZON <small>0.5 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '0.7504') ? 'exist' : 'd-none' }}" product_slug="signum" dose="0.7504" unit="Kg">SIGNUM <small>0.75 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'luna-experience', '0.504') ? 'exist' : 'd-none' }}" product_slug="luna-experience" dose="0.504" unit="L">LUNA EXPERIENCE <small>0.5 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kruga', '2.004') ? 'exist' : 'd-none' }}" product_slug="kruga" dose="2.004" unit="L">KRUGA <small>2 L</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>FERMETE <br>QUALITE</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-intracell-bio-2-kg', '4') ? 'exist' : 'd-none' }}" product_slug="s-intracell-bio-2-kg" dose="4" unit="Kg">INTRACELL <small>4 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-intracell-bio-2-kg', '4.001') ? 'exist' : 'd-none' }}" product_slug="s-intracell-bio-2-kg" dose="4.001" unit="Kg">INTRACELL <small>4 Kg</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>ACARIENS</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'masai', '0.5') ? 'exist' : 'd-none' }}" product_slug="masai" dose="0.5" unit="Kg">MASAI <small>0.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'masai', '0.501') ? 'exist' : 'd-none' }}" product_slug="masai" dose="0.501" unit="Kg">MASAI <small>0.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'masai', '0.502') ? 'exist' : 'd-none' }}" product_slug="masai" dose="0.502" unit="Kg">MASAI <small>0.5 Kg</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>ANTI CHLROSE</td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sferosol-bio', '300') ? 'exist' : 'd-none' }}" product_slug="s-sferosol-bio" dose="300" unit="Kg/Ha">SFEROSOL <small>300 Kg/Ha</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ferrilene-4-8-5-kg-bio', '120') ? 'exist' : 'd-none' }}" product_slug="s-ferrilene-4-8-5-kg-bio" dose="120" unit="g/Pied">FERRILENE <small>120 g/Pied</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sferosol-bio', '300.001') ? 'exist' : 'd-none' }}" product_slug="s-sferosol-bio" dose="300.001" unit="Kg/Ha">SFEROSOL <small>300 Kg/Ha</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ferrilene-4-8-5-kg-bio', '120.001') ? 'exist' : 'd-none' }}" product_slug="s-ferrilene-4-8-5-kg-bio" dose="120.001" unit="g/Pied">FERRILENE <small>120 g/Pied</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sferosol-bio', '1') ? 'exist' : 'd-none' }}" product_slug="s-sferosol-bio" dose="1" unit="L">INO-CHEL FER 93 <small>1 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ferrilene-4-8-5-kg-bio', '3') ? 'exist' : 'd-none' }}" product_slug="s-ferrilene-4-8-5-kg-bio" dose="3" unit="L">INO-CHEL FER ULTRA <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sferosol-bio', '1.001') ? 'exist' : 'd-none' }}" product_slug="s-sferosol-bio" dose="1.001" unit="L">INO-CHEL FER 93 <small>1 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ferrilene-4-8-5-kg-bio', '3.001') ? 'exist' : 'd-none' }}" product_slug="s-ferrilene-4-8-5-kg-bio" dose="3.001" unit="L">INO-CHEL FER ULTRA <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sferosol-bio', '1.002') ? 'exist' : 'd-none' }}" product_slug="s-sferosol-bio" dose="1.002" unit="L">INO-CHEL FER 93 <small>1 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ferrilene-4-8-5-kg-bio', '3.002') ? 'exist' : 'd-none' }}" product_slug="s-ferrilene-4-8-5-kg-bio" dose="3.002" unit="L">INO-CHEL FER ULTRA <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sferosol-bio', '1.003') ? 'exist' : 'd-none' }}" product_slug="s-sferosol-bio" dose="1.003" unit="L">INO-CHEL FER 93 <small>1 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ferrilene-4-8-5-kg-bio', '3.003') ? 'exist' : 'd-none' }}" product_slug="s-ferrilene-4-8-5-kg-bio" dose="3.003" unit="L">INO-CHEL FER ULTRA <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sferosol-bio', '1.004') ? 'exist' : 'd-none' }}" product_slug="s-sferosol-bio" dose="1.004" unit="L">INO-CHEL FER 93 <small>1 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ferrilene-4-8-5-kg-bio', '3.004') ? 'exist' : 'd-none' }}" product_slug="s-ferrilene-4-8-5-kg-bio" dose="3.004" unit="L">INO-CHEL FER ULTRA <small>3 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>DECALAGE <br>FLORAISON</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-O btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-prm-12-5-l', '0.5') ? 'exist' : 'd-none' }}" product_slug="s-prm-12-5-l" dose="0.5" unit="L">PRM 12 <small>0.5 L</small></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if printRequest == false %}
               <div class="alert alert-success">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </div>
            {% endif %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendations.synthese.products', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('plugins/toast/toast.js') }}"></script>
    <script>
        $("#open-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).addClass( "shw-rside" )
        });
        $("#close-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).removeClass( "shw-rside" )
        });
        $(".isProduct").click(function (e) {
            let name = $(this).text()
            $(this).addClass('btn-light-danger')
            $(this).addClass('exist')
            $.ajax({
                url: '/recommendations/add-product',
                type: 'POST',
                data: {
                    'product_slug': $(this).attr('product_slug'),
                    'recommendation_id': {{ recommendations.id }},
                    'dose': $(this).attr('dose'),
                    'unit': $(this).attr('unit')
                },
                dataType: 'JSON',
                complete : function (response) {
                    $.toast({
                        heading: 'Produit ajouté avec succès',
                        text: 'Ajout de ' + name,
                        position: 'bottom-left',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 6
                    });
                    let nameProduct = response.responseJSON['name_product']
                    let dose = response.responseJSON['dose']
                    let unit = response.responseJSON['unit']
                    let input = '<li><b>'+ nameProduct +'</b> <small>'+ dose + unit +'</small></li>'
                    $('#products_list').append( input )
                },
                error : function (code_html, status) {
                    $.toast({
                        heading: 'Une erreur est survenue',
                        text: 'Veuillez ressayer',
                        position: 'bottom-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 6
                    });
                }
            })
        })
    </script>
{% endblock %}