{% extends printRequest == false
    ? 'base.html.twig'
    : 'print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/toast/toast.css') }}" rel="stylesheet">
    <style>
        .table thead th {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        }
        .btn-1I {
            background-color: #F54337 !important;
        }
        .btn-2F {
            background-color: #2196F3 !important;
        }
        .btn-3H {
            background-color: #FF9801 !important;
        }
        .btn-4N {
            background-color: #EA1E63 !important;
        }
        .btn-5C {
            background-color: #00BCD5 !important;
        }
        .btn-6Bioc {
            background-color: #009788 !important;
        }
        .btn-7E {
            background-color: #9D27B3 !important;
        }
        .btn-8R {
            background-color: #3E52B5 !important;
        }
        .btn-9HEL {
            background-color: #FE5722 !important;
        }
        .btn-10INC {
            background-color: #FFEA3C !important;
        }
        .btn-11S {
            background-color: #FEC009 !important;
        }
        .btn-12A {
            background-color: #795547 !important;
        }
        .btn-13T {
            background-color: #CDDC39 !important;
        }
        .exist {
            border: 4px solid #5DB761;
        }
    </style>
    {% if printRequest == true %}
        <style>
            * {
                margin: 0 !important;
                padding: 0 !important;
            }
            img {
                display: none !important;
            }
            td {
                padding: 0.5rem 0 0.5rem 0 !important;
                margin: 0.5rem 0 0 0 !important;
            }
            button {
                font-size: 0.7rem !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Canevas {{ culture.name }} <span class="badge badge-warning">Taille total {{ totalSize }} ha</span></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendations.select') }}">Recommandation</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active">{{ culture.name }}</li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
    {% endif  %}
    <div class="table-responsive">
        <table class="table table-bordered no-wrap">
            <thead>

            <tr>
                <th></th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/1.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/2.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/2.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/4.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/4-1.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/5.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/6.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/6-1.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/7.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/8.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/9.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/9-1.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/10.png') }}" /><br />
                </th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th></th>
                <th><small class="text-center">Bourgeons <br/> d'hiver</small></th>
                <th><small class="text-center">Début de <br/> gonflement</small></th>
                <th><small class="text-center">Gonflement <br/> apparent</small></th>
                <th colspan="2"><small class="text-center">Apparition des <br/> boutons floraux</small></th>
                <th colspan="3"><small class="text-center">Les sépales laissent <br/> voir les pétales</small></th>
                <th><small class="text-center">Première <br/> fleur</small></th>
                <th><small class="text-center">Pleine <br/> floraison</small></th>
                <th colspan="2"><small class="text-center">Chute des <br/> pétales</small></th>
                <th><small class="text-center">Nouaison</small></th>
                <th><small class="text-center">Grossissement <br/> des fruits</small></th>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <th><small class="text-center">Post-récolte</small></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ravageurs <br>Stades <br>Hivernant</td>
                <td></td>
                <td colspan="2">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-acakill-20-l') ? 'exist' : 'd-none' }}" product_slug="s-acakill-20-l" dose="20" unit="L">ACAKILL <small>20 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'polithiol') ? 'exist' : 'd-none' }}" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Pucerons</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="2">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'neemazal-t-s') ? 'exist' : 'd-none' }}" product_slug="neemazal-t-s" dose="2" unit="L">NEEM AZAL <small>2 L</small></button>
                </td>
                <td></td>
                <td colspan="6">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'neemazal-t-s') ? 'exist' : 'd-none' }}" product_slug="neemazal-t-s" dose="2" unit="L">NEEM AZAL <small>2 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-surround-wp-12-5-kg') ? 'exist' : 'd-none' }}" product_slug="s-surround-wp-12-5-kg" dose="30" unit="Kg">SURROUND <small>30-50 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-surround-wp-12-5-kg') ? 'exist' : 'd-none' }}" product_slug="s-surround-wp-12-5-kg" dose="50" unit="Kg">SURROUND <small>50 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td>Tordeuses</td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="13">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1" unit="Kg">DIPEL <small>1 Kg</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-surround-wp-12-5-kg') ? 'exist' : 'd-none' }}" product_slug="s-surround-wp-12-5-kg" dose="30" unit="Kg">SURROUND <small>30 Kg</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-evo-2') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-evo-2" dose="1" unit="L">CARPOVIRUSINE EVO <small>1 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-2000') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-2000" dose="1" unit="L">2000 <small>1 L</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Confusion <br>Sexuelle</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="10">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'checkmate-puffer-cm-o') ? 'exist' : 'd-none' }}" product_slug="checkmate-puffer-cm-o" dose="" unit="">PUFFER <small>CHECKMATE CM</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ginko-duo') ? 'exist' : 'd-none' }}" product_slug="ginko-duo" dose="" unit="">GINKO <small>DUO OU RING</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-rak-5-252-diffuseurs') ? 'exist' : 'd-none' }}" product_slug="s-rak-5-252-diffuseurs" dose="" unit="">RAK <small>5 ou 3 ou 3+4</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'isomate-ofm-tt') ? 'exist' : 'd-none' }}" product_slug="isomate-ofm-tt" dose="" unit="">ISOMATE <small>OFM - OFMTT</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Carpocapse</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="8">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-evo-2') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-evo-2" dose="" unit="">CARPOVIRUSINE EVO</button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-2000') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-2000" dose="" unit="">2000 <small>1 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.2" unit="L">SUCCES <small>0.2 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Bacteriose <br>Chancre</td>
                <td colspan="2">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' : 'd-none' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">KOCIDE 2000 <small>3.5 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-bouillie-bordelaise-rsr-dg-15-kg') ? 'exist' : 'd-none' }}" product_slug="s-bouillie-bordelaise-rsr-dg-15-kg" dose="12" unit="Kg">BB RSR <small>12 Kg</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' : 'd-none' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">KOCIDE 2000 <small>3.5 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Feu <br>Bacterien <br>Phytophtora</td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="3">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'amylo-x-wg') ? 'exist' : 'd-none' }}" product_slug="amylo-x-wg" dose="2.5" unit="Kg">AMYLO X WG <small>2.5 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Tavelure</td>
                <td colspan="2">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' : 'd-none' }}" product_slug="s-kocide-2000-10-kg" dose="12.5" unit="Kg">BB RSR <small>12.5 Kg</small></button>
                </td>
                <td></td>
                <td colspan="6">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-bouillie-bordelaise-rsr-dg-15-kg') ? 'exist' : 'd-none' }}" product_slug="s-bouillie-bordelaise-rsr-dg-15-kg" dose="24" unit="L">CURATIO <small>24 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="5" unit="Kg">ARMICARB <small>5 Kg</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'flosul') ? 'exist' : 'd-none' }}" product_slug="flosul" dose="7.5" unit="L">FLOSUL <small>7.5 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-curatio-20-l') ? 'exist' : 'd-none' }}" product_slug="s-curatio-20-l" dose="18" unit="L">CURATIO <small>18 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sticop-5-l') ? 'exist' : 'd-none' }}" product_slug="s-sticop-5-l" dose="3" unit="L">STICOP <small>3 L</small></button>
                </td>
                <td colspan="3">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sticop-5-l') ? 'exist' : 'd-none' }}" product_slug="s-sticop-5-l" dose="1" unit="L">STICOP <small>1 L</small></button>
                </td>
                <td colspan="6">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-curatio-20-l') ? 'exist' : 'd-none' }}" product_slug="s-curatio-20-l" dose="12" unit="L">CURATIO <small>12 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="5" unit="Kg">ARMICAB <small>5 Kg</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'flosul') ? 'exist' : 'd-none' }}" product_slug="flosul" dose="7.5" unit="Kg">FLOSUL <small>7.5 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sticop-5-l') ? 'exist' : 'd-none' }}" product_slug="s-sticop-5-l" dose="3" unit="L">STICOP <small>3 L</small></button>
                </td>
                <td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-nutrigeo-20-l') ? 'exist' : 'd-none' }}" product_slug="s-nutrigeo-20-l" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Odium</td>
                <td></td><td></td><td></td>
                <td colspan="4">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="7.5" unit="Kg">CITROTHIOL DISPERS <small>7.5 Kg</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'flosul') ? 'exist' : 'd-none' }}" product_slug="flosul" dose="7.5" unit="L">FLOSUL <small>7.5 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'flosul') ? 'exist' : 'd-none' }}" product_slug="flosul" dose="7.5" unit="L">FLOSUL <small>7.5 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="7.5" unit="Kg">CITROTHIOL DISPERS <small>7.5 Kg</small></button>
                </td>
                <td colspan="5">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'flosul') ? 'exist' : 'd-none' }}" product_slug="flosul" dose="7.5" unit="L">FLOSUL <small>7.5 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Conservation</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="6">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="5" unit="Kg">ARMICAB <small>5 Kg</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-intracell-bio-2-kg') ? 'exist' : 'd-none' }}" product_slug="s-intracell-bio-2-kg" dose="4" unit="Kg">INTRACELL <small>4 Kg</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Soutien <br>Foliaire</td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="5">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-bore-ultra-bio-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-bore-ultra-bio-10-l" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-folwin-bio-5-l') ? 'exist' : 'd-none' }}" product_slug="s-folwin-bio-5-l" dose="2" unit="L">FOLWIN <small>2 L</small></button>
                </td>
                <td colspan="9">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ladae-5-l') ? 'exist' : 'd-none' }}" product_slug="s-ladae-5-l" dose="0.8" unit="L">LADAE <small>0.8 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-geogreen-plus-4-5-2-5-5-bio-10-l') ? 'exist' : 'd-none' }}" product_slug="s-geogreen-plus-4-5-2-5-5-bio-10-l" dose="8" unit="L">GEOGREEN PLUS <small>8 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-cal-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-cal-10-l" dose="8" unit="L">INO-CAL <small>8 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-bore-ultra-bio-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-bore-ultra-bio-10-l" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-flow-zn680f-folli-bio-5-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-flow-zn680f-folli-bio-5-l" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div class="alert alert-success">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </div>
    {% endif %}
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendations.synthese.products', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {% if printRequest == false %}
    <script src="{{ asset('plugins/toast/toast.js') }}"></script>
    <script>
        $("#open-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).addClass( "shw-rside" )
        });
        $("#close-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).removeClass( "shw-rside" )
        });
        $(".isProduct").click(function (e) {
            let name = $(this).text()
            $(this).addClass('exist')
            $.ajax({
                url: '/recommendations/add-product',
                type: 'POST',
                data: {
                    'product_slug': $(this).attr('product_slug'),
                    'recommendation_id': {{ recommendations.id }},
                    'dose': $(this).attr('dose'),
                    'unit': $(this).attr('unit')
                },
                dataType: 'JSON',
                complete : function (response) {
                    $.toast({
                        heading: 'Produit ajouté avec succès',
                        text: 'Ajout de ' + name,
                        position: 'bottom-left',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 6
                    });
                    let nameProduct = response.responseJSON['name_product']
                    let dose = response.responseJSON['dose']
                    let unit = response.responseJSON['unit']
                    let input = '<li><b>'+ nameProduct +'</b> <small>'+ dose + unit +'</small></li>'
                    $('#products_list').append( input )
                },
                error : function (code_html, status) {
                    $.toast({
                        heading: 'Une erreur est survenue',
                        text: 'Veuillez ressayer',
                        position: 'bottom-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 6
                    });
                }
            })
        })
        {% endif %}
    </script>
{% endblock %}