{% extends printRequest == false
    ? 'base.html.twig'
    : 'print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/toast/toast.css') }}" rel="stylesheet">
    <style>
        .table thead th {
            padding: 0 !important;
            text-align: center;
        }
        .btn-R {
            background-color: #FFADAD !important;
        }
        .btn-O {
            background-color: #FFD6A5 !important;
        }
        .btn-J {
            background-color: #FDFFB6 !important;
        }
        .btn-V {
            background-color: #CAFFBF !important;
        }
        .btn-C {
            background-color: #9BF6FF !important;
        }
        .btn-B {
            background-color: #A0C4FF !important;
        }
        .btn-M {
            background-color: #FFC6FF !important;
        }
        .btn-A {
            background-color: #D8E2DC !important;
        }
        .exist {
            border: 4px solid #5DB761;
        }
    </style>
    {% if printRequest == true %}
        <style>
            * {
                margin: 0 !important;
                padding: 0 !important;
            }
            img {
                display: none !important;
            }
            td {
                padding: 0.5rem 0 0.5rem 0 !important;
                margin: 0.5rem 0 0 0 !important;
            }
            button {
                font-size: 0.7rem !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Canevas {{ culture.name }} <span class="badge badge-warning">Taille total {{ totalSize }} ha</span></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendations.select') }}">Recommandation</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active">{{ culture.name }}</li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
    {% endif  %}
    <div class="table-responsive">
        <table class="table table-bordered no-wrap">
            <thead>
            <tr>
                <th></th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/1.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/2.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/2.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/4.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/4-1.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/5.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/6.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/6-1.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/7.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/8.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/9.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/9-1.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/10.png') }}" /><br />
                </th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th></th>
                <th><small class="text-center">Bourgeons <br/> d'hiver</small></th>
                <th><small class="text-center">Début de <br/> gonflement</small></th>
                <th><small class="text-center">Gonflement <br/> apparent</small></th>
                <th colspan="2"><small class="text-center">Apparition des <br/> boutons floraux</small></th>
                <th colspan="3"><small class="text-center">Les sépales laissent <br/> voir les pétales</small></th>
                <th><small class="text-center">Première <br/> fleur</small></th>
                <th><small class="text-center">Pleine <br/> floraison</small></th>
                <th colspan="2"><small class="text-center">Chute des <br/> pétales</small></th>
                <th><small class="text-center">Nouaison</small></th>
                <th><small class="text-center">Grossissement <br/> des fruits</small></th>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <th><small class="text-center">Post-récolte</small></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ravageurs <br>Stades <br>Hivernant <br>Cochenille</td>
                    <td></td>
                    <td colspan="2">
                        <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-acakill-20-l') ? 'exist' : 'd-none' }}" product_slug="s-acakill-20-l" dose="20" unit="L">ACAKILL <small>20 L</small></button>
                        <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-1-l') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-1-l" dose="0.075" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                        <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-acakill-20-l') ? 'exist' : 'd-none' }}" product_slug="s-acakill-20-l" dose="25" unit="L">ACAKILL <small>25 L</small></button>
                    </td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>Cochenilles</td>
                    <td></td><td></td>
                    <td colspan="2">
                        <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'admiral-pro') ? 'exist' : 'd-none' }}" product_slug="admiral-pro" dose="0.3" unit="L">ADMIRAL PRO <small>0.3 L</small></button>
                    </td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    <td colspan="3">
                        <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'movento') ? 'exist' : 'd-none' }}" product_slug="movento" dose="1.9" unit="L">MOVENTO <small>1.9 L</small></button>
                    </td>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            <tr>
                <td>Pucerons</td>
                <td></td><td></td>
                <td colspan="6">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mavrik-flo') ? 'exist' : 'd-none' }}" product_slug="mavrik-flo" dose="0.6" unit="L">MAVRICK FLO <small>0.6 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' : 'd-none' }}" product_slug="teppeki" dose="140" unit="gr">TEPPEKI <small>140 gr</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'neemazal-t-s') ? 'exist' : 'd-none' }}" product_slug="neemazal-t-s" dose="2" unit="L">NEEM AZAL <small>2 L</small></button>
                </td>
                <td></td><td></td><td></td>
                <td colspan="6">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'neemazal-t-s') ? 'exist' : 'd-none' }}" product_slug="neemazal-t-s" dose="2" unit="L">NEEM AZAL <small>2 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'movento') ? 'exist' : 'd-none' }}" product_slug="movento" dose="1.2" unit="L">MOVENTO <small>1.2 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'teppeki') ? 'exist' : 'd-none' }}" product_slug="teppeki" dose="140" unit="gr">TEPPEKI <small>140 gr</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-talita-jet-10-l') ? 'exist' : 'd-none' }}" product_slug="s-talita-jet-10-l" dose="2" unit="L">TALITA JET <small>2 L</small></button>
                </td>
                <td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'surround-wp-crop-protectant') ? 'exist' : 'd-none' }}" product_slug="surround-wp-crop-protectant" dose="50" unit="Kg">SUNROUND <small>50 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td>Tordeuses</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="5">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1" unit="Kg">DIPEL <small>1 Kg</small></button>
                </td>
                <td colspan="7">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mavrik-flo') ? 'exist' : 'd-none' }}" product_slug="mavrik-flo" dose="0.6" unit="L">MAVRICK FLO <small>0.6 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'insegar') ? 'exist' : 'd-none' }}" product_slug="insegar" dose="0.6" unit="L">INSEGAR <small>0.6 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-1-l') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-1-l" dose="0.11" unit="L">KARATE XFLOW <small>0.11 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1" unit="Kg">DIPEL <small>1 Kg</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Confusion <br>Sexuelle</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="10">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'checkmate-puffer-lb') ? 'exist' : 'd-none' }}" product_slug="checkmate-puffer-lb" dose="" unit="">PUFFER</button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ginko') ? 'exist' : 'd-none' }}" product_slug="ginko" dose="" unit="">GINKO</button>
                    <button class="btn btn-C btn-block isProduct" product_slug="" dose="" unit="">RACK</button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'isomate-c') ? 'exist' : 'd-none' }}" product_slug="isomate-c" dose="" unit="">ISOMATE</button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Carpocapse</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="8">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-evo-2') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-evo-2" dose="1" unit="L">CARPOVIRUSINE EVO <small>1 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'carpovirusine-2000-j') ? 'exist' : 'd-none' }}" product_slug="carpovirusine-2000-j" dose="1" unit="L">CARPOVIRUSINE 2000 <small>1 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'insegar') ? 'exist' : 'd-none' }}" product_slug="insegar" dose="0.3" unit="L">INSEGAR <small>0.3 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'coragen') ? 'exist' : 'd-none' }}" product_slug="coragen" dose="0.175" unit="L">CORAGEN <small>0.175 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delegate') ? 'exist' : 'd-none' }}" product_slug="delegate" dose="0.3" unit="Kg">DELEGATE <small>0.3 Kg</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-proclaim-10-kg') ? 'exist' : 'd-none' }}" product_slug="s-proclaim-10-kg" dose="2" unit="Kg">PROCLAIN <small>2 Kg</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Feu <br>Bacterien <br>Phytophtora</td>
                <td></td><td></td><td></td><td></td><td></td>
                <td colspan="4">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'aliette-flash') ? 'exist' : 'd-none' }}" product_slug="aliette-flash" dose="3.75" unit="L">ALLIETTE FLASH <small>3.75 L</small></button>
                    <button class="btn btn-O btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'regalis-plus') ? 'exist' : 'd-none' }}" product_slug="regalis-plus" dose="0.25" unit="L">REGALIS <small>0.25 L</small></button>
                </td>
                <td></td><td></td><td></td>
                <td colspan="6">
                    <button class="btn btn-V btn-block isProduct" product_slug="" dose="" unit="">ALLIETTE X <small>250 gr</small></button>
                </td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Bacteriose <br>Chancre</td>
                <td></td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' : 'd-none' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">KOCIDE 2000 <small>3.5 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-V btn-block isProduct" product_slug="" dose="" unit="">BB <small>1.2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' : 'd-none' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">KOCIDE 2000 <small>3.5 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td>Travelure</td>
                <td colspan="12">
                    <button class="btn btn-V btn-block isProduct" product_slug="" dose="" unit="">BB <small>12.5 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-plus') ? 'exist' : 'd-none' }}" product_slug="mancowan-plus" dose="2" unit="Kg">MANCOWAN PLUS <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="2" unit="Kg">DELAN WG <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-pro') ? 'exist' : 'd-none' }}" product_slug="delan-pro" dose="2.5" unit="L">DELAN PRO <small>2.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'erune') ? 'exist' : 'd-none' }}" product_slug="erune" dose="0.5" unit="L">ERUNE <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-syllit-max-5-l') ? 'exist' : 'd-none' }}" product_slug="s-syllit-max-5-l" dose="1.25" unit="L">SYLLIT MAX <small>1.25 L</small></button>
                    <button class="btn btn-V btn-block isProduct" product_slug="" dose="" unit="">GRINGO <small>1.2 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'chorus') ? 'exist' : 'd-none' }}" product_slug="chorus" dose="0.5" unit="Kg">CHORUS <small>0.5 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sercadis') ? 'exist' : 'd-none' }}" product_slug="sercadis" dose="0.3" unit="L">SERCADIS <small>0.3 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'luna-experience') ? 'exist' : 'd-none' }}" product_slug="luna-experience" dose="0.75" unit="L">LUNA EXPERIENCE 0.75L <small>1 Kg</small></button>
                </td>
                <td colspan="7">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-pro') ? 'exist' : 'd-none' }}" product_slug="delan-pro" dose="2.5" unit="L">DELAN PRO <small>2.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'merpan-sc') ? 'exist' : 'd-none' }}" product_slug="merpan-sc" dose="0.175" unit="L">MERPAN SC <small>0.175 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'merpan-80-wdg') ? 'exist' : 'd-none' }}" product_slug="merpan-80-wdg" dose="1.9" unit="L">MERPAN WG <small>1.9 L</small></button>
                </td>
                <td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-nutrigeo-20-l') ? 'exist' : 'd-none' }}" product_slug="s-nutrigeo-20-l" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Oidium</td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="9">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'flosul') ? 'exist' : 'd-none' }}" product_slug="flosul" dose="7.5" unit="L">FLOSUL <small>7.5 L</small></button>
                    <button class="btn btn-C btn-block isProduct" product_slug="" dose="" unit="">CITROTHIOL DISPERRSS <small>7.5 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bellis') ? 'exist' : 'd-none' }}" product_slug="bellis" dose="80" unit="gr">BELLIS <small>80 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-natchez-250-grs') ? 'exist' : 'd-none' }}" product_slug="s-natchez-250-grs" dose="150" unit="gr">NATCHEZ <small>150 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'score') ? 'exist' : 'd-none' }}" product_slug="score" dose="0.15" unit="L">SCORE <small>0.15 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Conservation</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="6">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'geoxe-wg') ? 'exist' : 'd-none' }}" product_slug="geoxe-wg" dose="0.4" unit="Kg">GEOXE <small>0.4 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bellis') ? 'exist' : 'd-none' }}" product_slug="bellis" dose="800" unit="gr">BELLIS <small>800 gr</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-intracell-bio-2-kg') ? 'exist' : 'd-none' }}" product_slug="s-intracell-bio-2-kg" dose="4" unit="Kg">INTRACELL <small>4 Kg</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Soutien <br>Foliaire</td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="14">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-bore-ultra-bio-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-bore-ultra-bio-10-l" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-folwin-bio-5-l') ? 'exist' : 'd-none' }}" product_slug="s-folwin-bio-5-l" dose="2" unit="L">FOLWIN <small>2 L</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-mix-fruits-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-mix-fruits-10-l" dose="8" unit="L">INO MIX FRUIT <small>8 L</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-cal-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-cal-10-l" dose="8" unit="L">INO CAL <small>8 L</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-bore-ultra-bio-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-bore-ultra-bio-10-l" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-flow-zn680f-folli-bio-5-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-flow-zn680f-folli-bio-5-l" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Rugosite</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="9">
                    <button class="btn btn-O btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'regulex-10sg') ? 'exist' : 'd-none' }}" product_slug="regulex-10sg" dose="" unit="">REGULEX</button>
                    <button class="btn btn-O btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'novagib') ? 'exist' : 'd-none' }}" product_slug="novagib" dose="" unit="">NOVAGIB</button>
                    <button class="btn btn-O btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'gibb-plus') ? 'exist' : 'd-none' }}" product_slug="gibb-plus" dose="0.25" unit="Kg">GIBB PLUS <small>0.25 Kg</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">Fumure</td>
                <td></td>
                <td colspan="7">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-12-10-20-sk-mgo2') ? 'exist' : 'd-none' }}" product_slug="s-12-10-20-sk-mgo2" dose="500" unit="Kg/Ha">12.10.20 SK <small>500 Kg/Ha</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="4">
                    <button class="btn btn-V btn-block isProduct" product_slug="" dose="300" unit="Kg">SULFATE DE K2O <small>300 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-diamic-k25-uab-bio') ? 'exist' : 'd-none' }}" product_slug="s-diamic-k25-uab-bio" dose="300" unit="Kg">DIAMIC K25 <small>300 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-patentkali-bio') ? 'exist' : 'd-none' }}" product_slug="s-patentkali-bio" dose="300" unit="Kg">PATENKALI <small>300 Kg</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-guanumus-evolution-c-bio') ? 'exist' : 'd-none' }}" product_slug="s-guanumus-evolution-c-bio" dose="1500" unit="Kg/Ha">GUANUMUS EVOLUTION <small>1500 Kg/Ha</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-orchestra-sol-presto') ? 'exist' : 'd-none' }}" product_slug="s-orchestra-sol-presto" dose="500" unit="Kg">ORCHESTRA PRESTO <small>500 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="4">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-orchestra-sol-presto') ? 'exist' : 'd-none' }}" product_slug="s-orchestra-sol-presto" dose="500" unit="Kg/Ha">ORCHESTRA PRESTO <small>500 Kg/Ha</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div class="alert alert-success">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </div>
    {% endif %}
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendations.synthese.products', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {% if printRequest == false %}
    <script src="{{ asset('plugins/toast/toast.js') }}"></script>
    <script>
        $("#open-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).addClass( "shw-rside" )
        });
        $("#close-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).removeClass( "shw-rside" )
        });
        $(".isProduct").click(function (e) {
            let name = $(this).text()
            $(this).addClass('exist')
            $.ajax({
                url: '/recommendations/add-product',
                type: 'POST',
                data: {
                    'product_slug': $(this).attr('product_slug'),
                    'recommendation_id': {{ recommendations.id }},
                    'dose': $(this).attr('dose'),
                    'unit': $(this).attr('unit')
                },
                dataType: 'JSON',
                complete : function (response) {
                    $.toast({
                        heading: 'Produit ajouté avec succès',
                        text: 'Ajout de ' + name,
                        position: 'bottom-left',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 6
                    });
                    let nameProduct = response.responseJSON['name_product']
                    let dose = response.responseJSON['dose']
                    let unit = response.responseJSON['unit']
                    let input = '<li><b>'+ nameProduct +'</b> <small>'+ dose + unit +'</small></li>'
                    $('#products_list').append( input )
                },
                error : function (code_html, status) {
                    $.toast({
                        heading: 'Une erreur est survenue',
                        text: 'Veuillez ressayer',
                        position: 'bottom-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 6
                    });
                }
            })
        })
        {% endif %}
    </script>
{% endblock %}