{% extends printRequest == false
    ? 'base.html.twig'
    : 'print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/toast/toast.css') }}" rel="stylesheet">
    <style>
        .table thead th {
            padding: 0 !important;
            text-align: center;
        }
        .btn-1I {
            background-color: #FF0000 !important;
        }
        .btn-2F {
            background-color: #0099CC !important;
        }
        .btn-3H {
            background-color: #E46D0A !important;
        }
        .btn-4N {
            background-color: #FFCC99 !important;
        }
        .btn-5C {
            background-color: #00FFFF !important;
        }
        .btn-6Bioc {
            background-color: #00FF00 !important;
        }
        .btn-7E {
            background-color: #FF99FF !important;
        }
        .btn-8R {
            background-color: #00CAFF !important;
        }
        .btn-9HEL {
            background-color: #FF0000 !important;
        }
        .btn-10INC {
            background-color: #FFFF00 !important;
        }
        .btn-11S {
            background-color: #FFCC00 !important;
        }
        .btn-12A {
            background-color: #FFFF99 !important;
        }
        .btn-13T {
            background-color: #CCFF66 !important;
        }
        .exist {
            border: 2px solid #B28F8C;
            background-color: #FBBEC2 !important;
        }
    </style>
    {% if printRequest == true %}
        <style>
            * {
                margin: 0 !important;
                padding: 0 !important;
            }
            img {
                display: none !important;
            }
            td {
                padding: 0.5rem 0 0.5rem 0 !important;
                margin: 0.5rem 0 0 0 !important;
            }
            button {
                font-size: 0.7rem !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Accueil</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendations.select') }}">Recommandation</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">{{ culture.name }}</a></li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <h4 class="card-title">Canevas {{ culture.name }} <span class="badge badge-warning">Taille total {{ totalSize }} ha</span></h4>
        <div class="card">
        <div class="card-body">
    {% endif  %}
    <div class="table-responsive">
        <table class="table table-bordered no-wrap">
            <thead>
            <tr>
                <th></th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/1.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/2.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/2.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/4.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/4-1.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/5.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/6.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/6-1.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/7.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/8.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/9.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/9-1.png') }}" /><br />
                </th>
                <th>
                    <img class="" style="width: 64px" src="{{ asset('images/canevas/pommier/10.png') }}" /><br />
                </th>
            </tr>
            </thead>
            <thead>
            <tr>
                <th></th>
                <th><small class="text-center">Bourgeons <br/> d'hiver</small></th>
                <th><small class="text-center">Début de <br/> gonflement</small></th>
                <th><small class="text-center">Gonflement <br/> apparent</small></th>
                <th colspan="2"><small class="text-center">Apparition des <br/> boutons floraux</small></th>
                <th colspan="3"><small class="text-center">Les sépales laissent <br/> voir les pétales</small></th>
                <th><small class="text-center">Première <br/> fleur</small></th>
                <th><small class="text-center">Pleine <br/> floraison</small></th>
                <th colspan="2"><small class="text-center">Chute des <br/> pétales</small></th>
                <th><small class="text-center">Nouaison</small></th>
                <th><small class="text-center">Grossissement <br/> des fruits</small></th>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <th><small class="text-center">Post-récolte</small></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ravageurs <br>Stades <br>Hivernant <br>Cochenille</td>
                    <td></td>
                    <td colspan="2">
                        <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">ACAKILL <small>20 L</small></button>
                        <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">KARATE XFLOW <small>0.075 L</small></button>
                        <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">ACAKILL <small>25 L</small></button>
                    </td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                    <td>Cochenilles</td>
                    <td></td><td></td>
                    <td colspan="2">
                        <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">ADMIRAL PRO <small>0.3 L</small></button>
                    </td>
                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    <td colspan="3">
                        <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">MOVENTO <small>1.9 L</small></button>
                    </td>
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            <tr>
                <td>Pucerons</td>
                <td></td><td></td>
                <td colspan="6">
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">MAVRICK PRO <small>0.6 L</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">TEPPEKI <small>140 gr</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">NEEM AZAL <small>2 L</small></button>
                </td>
                <td></td><td></td><td></td>
                <td colspan="6">
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">NEEM AZAL <small>2 L</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">MOVENTO <small>1.2 L</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">TEPPEKI <small>140 gr</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">TALITA JET <small>2 L</small></button>
                </td>
                <td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">SUNROUND <small>50 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td>Tordeuses</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="5">
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">DIPEL <small>1 Kg</small></button>
                </td>
                <td colspan="7">
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">MAVRICK FLO <small>0.6 L</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">INSEGAR <small>0.6 L</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">MADEX TWIN <small>0.1 L</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">KARATE XFLOW <small>0.11 L</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">DIPEL <small>1 Kg</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Confusion <br>Sexuelle</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="10">
                    <button class="btn-6Bioc btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">PUFFER</button>
                    <button class="btn-6Bioc btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">GINKO</button>
                    <button class="btn-6Bioc btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">RACK</button>
                    <button class="btn-6Bioc btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">ISOMATE</button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Carpocapse</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="8">
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">CARPOVIRUSINE EVO</button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">2000 <small>1 L</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">INSEGAR <small>0.3 L</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">CORAGEN <small>0.175 L</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">DELEGATE <small>0.3 Kg</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">PROCLAIN <small>2 Kg</small></button>
                    <button class="btn-1I btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">MADEX TWIN <small>0.1 L</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Feu <br>Bacterien <br>Phytophtora</td>
                <td></td><td></td><td></td><td></td><td></td>
                <td colspan="4">
                    <button class="btn-6Bioc btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">ALLIETTE FLASH <small>3.75 L</small></button>
                    <button class="btn-6Bioc btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">REGALIS <small>0.25 L</small></button>
                </td>
                <td></td><td></td><td></td>
                <td colspan="6">
                    <button class="btn-6Bioc btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">ALLIETTE X <small>250 gr</small></button>
                </td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Bacteriose <br>Chancre</td>
                <td></td>
                <td colspan="2">
                    <button class="btn-6Bioc btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">KOCIDE 2000 <small>3.5 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn-6Bioc btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">BB <small>1.2 Kg</small></button>
                    <button class="btn-6Bioc btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">KOCIDE 2000 <small>3.5 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td>Travelure</td>
                <td colspan="12">
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">BB <small>12.5 Kg</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">MANCOWAN PLUS <small>2 Kg</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">DELAN WG <small>2 Kg</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">DELAN PRO <small>2.5 L</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">ERUNE <small>0.5 L</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">SYLLIT MAX <small>1.25 L</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">GRINGO <small>1.2 L</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">CHORUS <small>0.5 Kg</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">SERCADIS <small>0.3 L</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">LUNA EXPERIENCE 0.75L <small>1 Kg</small></button>
                </td>
                <td colspan="7">
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">DELAN PRO <small>2.5 L</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">MERPAN SC <small>0.175 L</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">MERPAN WG <small>1.9 L</small></button>
                </td>
                <td></td>
                <td>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">NUTRIGEO <small>25 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Oidium</td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="9">
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">FLOSUL <small>7.5 L</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">CITROTHIOL DISPERRSS <small>7.5 Kg</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">BELLIS <small>80 gr</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">NATCHEZ <small>150 gr</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">SCORE <small>0.15 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Conservation</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="6">
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">GEOXE <small>0.4 Kg</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">BELLIS <small>800 gr</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">INTRACELL <small>4 Kg</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Soutien <br>Foliaire</td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="14">
                    <button class="btn-4N btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">INO BORE ULTRA <small>2 L</small></button>
                    <button class="btn-4N btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">FOLWIN <small>2 L</small></button>
                    <button class="btn-4N btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">INO MIX FRUIT <small>8 L</small></button>
                    <button class="btn-4N btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">INO CAL <small>8 L</small></button>
                </td>
                <td>
                    <button class="btn-4N btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">INO BORE ULTRA <small>2 L</small></button>
                    <button class="btn-4N btn btn-light-warning btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Rugosite</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="9">
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">REGULEX</button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">NOVASIR</button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">GNIB PLUS <small>0.25 Kg</small></button>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div class="alert alert-success">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </div>
    {% endif %}
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <ul class="mt-2" id="products_list">
                    </ul>
                    <a href="{{ path('recommendations.synthese.products', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {% if printRequest == false %}
    <script src="{{ asset('plugins/toast/toast.js') }}"></script>
    <script>
        $("#open-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).addClass( "shw-rside" )
        });
        $("#close-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).removeClass( "shw-rside" )
        });
        $(".isProduct").click(function (e) {
            let name = $(this).text()
            $(this).addClass('exist')
            $.ajax({
                url: '/recommendations/add-product',
                type: 'POST',
                data: {
                    'product_slug': $(this).attr('product_slug'),
                    'recommendation_id': {{ recommendations.id }},
                    'dose': $(this).attr('dose'),
                    'unit': $(this).attr('unit')
                },
                dataType: 'JSON',
                complete : function (response) {
                    $.toast({
                        heading: 'Produit ajouté avec succès',
                        text: 'Ajout de ' + name,
                        position: 'bottom-left',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 6
                    });
                    let nameProduct = response.responseJSON['name_product']
                    let dose = response.responseJSON['dose']
                    let unit = response.responseJSON['unit']
                    let input = '<li><b>'+ nameProduct +'</b> <small>'+ dose + unit +'</small></li>'
                    $('#products_list').append( input )
                },
                error : function (code_html, status) {
                    $.toast({
                        heading: 'Une erreur est survenue',
                        text: 'Veuillez ressayer',
                        position: 'bottom-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 6
                    });
                }
            })
        })
        {% endif %}
    </script>
{% endblock %}