{% extends printRequest == false
    ? 'base.html.twig'
    : 'print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/toast/toast.css') }}" rel="stylesheet">
    <style>
        .table thead th {
            padding: 0 !important;
            text-align: center;
        }
        .btn-1I {
            background-color: #F54337 !important;
        }
        .btn-2F {
            background-color: #2196F3 !important;
        }
        .btn-3H {
            background-color: #FF9801 !important;
        }
        .btn-4N {
            background-color: #EA1E63 !important;
        }
        .btn-5C {
            background-color: #00BCD5 !important;
        }
        .btn-6Bioc {
            background-color: #009788 !important;
        }
        .btn-7E {
            background-color: #9D27B3 !important;
        }
        .btn-8R {
            background-color: #3E52B5 !important;
        }
        .btn-9HEL {
            background-color: #FE5722 !important;
        }
        .btn-10INC {
            background-color: #FFEA3C !important;
        }
        .btn-11S {
            background-color: #FEC009 !important;
        }
        .btn-12A {
            background-color: #795547 !important;
        }
        .btn-13T {
            background-color: #CDDC39 !important;
        }
        .exist {
            border: 4px solid #5DB761;
        }
    </style>
    {% if printRequest == true %}
        <style>
            * {
                margin: 0 !important;
                padding: 0 !important;
            }
            img {
                display: none !important;
            }
            td {
                padding: 0.5rem 0 0.5rem 0 !important;
                margin: 0.5rem 0 0 0 !important;
            }
            button {
                font-size: 0.7rem !important;
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Canevas {{ culture.name }} <span class="badge badge-warning">Taille total {{ totalSize }} ha</span></h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendations.select') }}">Recommandation</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active">{{ culture.name }}</li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
    {% endif  %}
    <div class="table-responsive">
        <table class="table table-bordered no-wrap">
            <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">Semis</p>
                </th>
                <th>
                    <p class="text-center">Levée</p>
                </th>
                <th>
                    <p class="text-center">1 à 2 Feuilles</p>
                </th>
                <th>
                    <p class="text-center">3 à 4 Feuilles</p>
                </th>
                <th>
                    <p class="text-center">7 à 10 Feuilles</p>
                </th>
                <th>
                    <p class="text-center">Apparition des <br>Panicules</p>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Bactériose</td>
                <td colspan="2">
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">10-16-12 400 <small>500 Kg</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">26-10-12 <small>400 Kg</small></button>
                </td>
                <td></td>
                <td colspan="2">
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">UREE 46 <small>200 à 300 Kg</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">LINTEC 46 <small>200 à 300 Kg</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Insecticide</td>
                <td colspan="1">
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">BELEM <small>12 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Désherbage</td>
                <td colspan="1">
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">LUMESTRA 480 <small>0.2 L</small></button>
                </td>
                <td></td><td></td>
                <td colspan="2">
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">SPECTRUM <small>1.2 L</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">ELINA <small>1.5 L</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">EMBLEM <small>2 Kg</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">BIATHLON <small>50/70 gr</small></button>
                    <button class="btn-2F btn btn-primary btn-block isProduct {{ rpr.productExist( recommendations, 's-kocide-2000-10-kg') ? 'exist' }}" product_slug="s-kocide-2000-10-kg" dose="3.5" unit="Kg">BASAGRAN <small>1.6 Kg</small></button>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div class="alert alert-success">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </div>
    {% endif %}
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendations.synthese.products', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {% if printRequest == false %}
    <script src="{{ asset('plugins/toast/toast.js') }}"></script>
    <script>
        $("#open-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).addClass( "shw-rside" )
        });
        $("#close-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).removeClass( "shw-rside" )
        });
        $(".isProduct").click(function (e) {
            let name = $(this).text()
            $(this).addClass('exist')
            $.ajax({
                url: '/recommendations/add-product',
                type: 'POST',
                data: {
                    'product_slug': $(this).attr('product_slug'),
                    'recommendation_id': {{ recommendations.id }},
                    'dose': $(this).attr('dose'),
                    'unit': $(this).attr('unit')
                },
                dataType: 'JSON',
                complete : function (response) {
                    $.toast({
                        heading: 'Produit ajouté avec succès',
                        text: 'Ajout de ' + name,
                        position: 'bottom-left',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 6
                    });
                    let nameProduct = response.responseJSON['name_product']
                    let dose = response.responseJSON['dose']
                    let unit = response.responseJSON['unit']
                    let input = '<li><b>'+ nameProduct +'</b> <small>'+ dose + unit +'</small></li>'
                    $('#products_list').append( input )
                },
                error : function (code_html, status) {
                    $.toast({
                        heading: 'Une erreur est survenue',
                        text: 'Veuillez ressayer',
                        position: 'bottom-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 6
                    });
                }
            })
        })
        {% endif %}
    </script>
{% endblock %}