{% extends printRequest == false
    ? 'base.html.twig'
    : 'print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/toast/toast.css') }}" rel="stylesheet">
    <style>
        .table thead th {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        }
        .btn-R {
            background-color: #FFADAD !important;
        }
        .btn-O {
            background-color: #FFD6A5 !important;
        }
        .btn-J {
            background-color: #FDFFB6 !important;
        }
        .btn-V {
            background-color: #CAFFBF !important;
        }
        .btn-C {
            background-color: #9BF6FF !important;
        }
        .btn-B {
            background-color: #A0C4FF !important;
        }
        .btn-M {
            background-color: #FFC6FF !important;
        }
        .btn-A {
            background-color: #D8E2DC !important;
        }
        .exist {
            border: 4px solid #5DB761;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} <span class="badge badge-warning">Taille total {{ totalSize }} ha</span></h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendations.select') }}">Recommandation</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                        <div class="table-responsive">
                            <table class="table table-bordered no-wrap">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <p class="text-center">Semi</p>
                                    </th>
                                    <th>
                                        <p class="text-center">Germination</p>
                                    </th>
                                    <th>
                                        <p class="text-center">Leve dicotyledones</p>
                                    </th>
                                    <th>
                                        <p class="text-center">Phase végétative</p>
                                    </th>
                                    <th>
                                        <p class="text-center">Passage limite tracteur</p>
                                    </th>
                                    <th>
                                        <p class="text-center">Bouton floral</p>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Fertilisation</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Insecticides du sol</td>
                                    <td colspan="1">
                                        <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-belem-12-kg') ? 'exist' : 'd-none' }}" product_slug="s-belem-12-kg" dose="12" unit="Kg">BELEM <small> 12Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Anti limaces</td>
                                    <td colspan="1">
                                        <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ironmax-mg-15-kg') ? 'exist' : 'd-none' }}" product_slug="s-ironmax-mg-15-kg" dose="4" unit="Kg">IRON MAX MG <small> 4 à 7Kg</small></button>
                                    </td>
                                    <td></td>
                                    <td colspan="1">
                                        <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-helexiom-duo-18-kg') ? 'exist' : 'd-none' }}" product_slug="s-helexiom-duo-18-kg" dose="4" unit="Kg">HELEXIOM DUO <small> 4Kg</small></button>
                                        <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ironmax-pro') ? 'exist' : 'd-none' }}" product_slug="ironmax-pro" dose="5" unit="Kg">IRONMAX PRO <small> 5 à 7Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Desherbage de pré leve</td>
                                    <td colspan="1">
                                        <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-elina-10-l') ? 'exist' : 'd-none' }}" product_slug="s-elina-10-l" dose="1.04" unit="L">ELINA <small> 1.04L</small></button>
                                        <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'proman') ? 'exist' : 'd-none' }}" product_slug="proman" dose="3.5" unit="L">PROMAN <small> 3.5L</small></button>
                                        <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'atic-aqua') ? 'exist' : 'd-none' }}" product_slug="atic-aqua" dose="2.2" unit="L">ATIC AQUA <small> 2.2L</small></button>
                                        <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-racer-me-5-l') ? 'exist' : 'd-none' }}" product_slug="s-racer-me-5-l" dose="2" unit="L">RACER <small> 2L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Rattrapage anti-graminées</td>
                                    <td></td><td></td><td></td>
                                    <td colspan="2">
                                        <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stratos-ultra') ? 'exist' : 'd-none' }}" product_slug="stratos-ultra" dose="" unit="">STRATOS</button>
                                        <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dash-hc') ? 'exist' : 'd-none' }}" product_slug="dash-hc" dose="" unit="">DASH</button>
                                        <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pilot') ? 'exist' : 'd-none' }}" product_slug="pilot" dose="1.2" unit="L">PILOT <small> 1.2L</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Desherbage clearfield</td>
                                    <td colspan="1">
                                        <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'atic-aqua') ? 'exist' : 'd-none' }}" product_slug="atic-aqua" dose="2.2" unit="L">ACTI AQUA <small> 2.2L</small></button>
                                        <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-elina-10-l') ? 'exist' : 'd-none' }}" product_slug="s-elina-10-l" dose="1.5" unit="L">ELINA <small> 1.5L</small></button>
                                    </td>
                                    <td></td><td></td>
                                    <td colspan="1">
                                        <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-pulsar-clearfield-5-l') ? 'exist' : 'd-none' }}" product_slug="s-pulsar-clearfield-5-l" dose="1.25" unit="L">PULSAR <small> 1.25L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Desherbage express</td>
                                    <td></td><td></td><td></td>
                                    <td colspan="1">
                                        <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-pack-express-sx-trend-0-09-0-5') ? 'exist' : 'd-none' }}" product_slug="s-pack-express-sx-trend-0-09-0-5" dose="45" unit="g">EXPRESS <small> 45g</small> + TREND</button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Oligo éléments</td>
                                    <td colspan="1">
                                        <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-chel-b90-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-chel-b90-10-l" dose="2" unit="L">INO-CHEL B <small> 2L</small></button>
                                    </td>
                                    <td></td><td></td>
                                    <td colspan="3">
                                        <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-bore-ultra-bio-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-bore-ultra-bio-10-l" dose="3" unit="L">INO BOR ULTRA <small> 3L</small></button>
                                        <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-mix-bmo-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-mix-bmo-10-l" dose="3" unit="L">INO MIX BMO <small> 3L</small></button>
                                        <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-boost-bmo-10-l') ? 'exist' : 'd-none' }}" product_slug="s-ino-boost-bmo-10-l" dose="3" unit="L">INO BOOST BMO <small> 3L</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Phoma phomopsis</td>
                                    <td></td><td></td><td></td><td></td>
                                    <td colspan="1">
                                        <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-jetset-5-l') ? 'exist' : 'd-none' }}" product_slug="s-jetset-5-l" dose="0.4" unit="L/Ha">JET SET <small> 0.4 L/Ha</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Scletrotina</td>
                                    <td colspan="1">
                                        <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-contans-wg-4-kg') ? 'exist' : 'd-none' }}" product_slug="s-contans-wg-4-kg" dose="4" unit="Kg">CONTANS <small> 4Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </div>
            </div>
        </div>
    </div>
    <div id="right-sidebar" class="right-sidebar">
        <div class="slimscrollright">
            <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
            </div>
            <div class="r-panel-body">
                <a href="{{ path('recommendations.synthese.products', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                <ul class="mt-2" id="products_list">
                </ul>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('plugins/toast/toast.js') }}"></script>
    <script>
        $("#open-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).addClass( "shw-rside" )
        });
        $("#close-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).removeClass( "shw-rside" )
        });
        $(".isProduct").click(function (e) {
            let name = $(this).text()
            $(this).addClass('btn-light-danger')
            $.ajax({
                url: '/recommendations/add-product',
                type: 'POST',
                data: {
                    'product_slug': $(this).attr('product_slug'),
                    'recommendation_id': {{ recommendations.id }},
                    'dose': $(this).attr('dose'),
                    'unit': $(this).attr('unit')
                },
                dataType: 'JSON',
                complete : function (response) {
                    $.toast({
                        heading: 'Produit ajouté avec succès',
                        text: 'Ajout de ' + name,
                        position: 'bottom-left',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 6
                    });
                    let nameProduct = response.responseJSON['name_product']
                    let dose = response.responseJSON['dose']
                    let unit = response.responseJSON['unit']
                    let input = '<li><b>'+ nameProduct +'</b> <small>'+ dose + unit +'</small></li>'
                    $('#products_list').append( input )
                },
                error : function (code_html, status) {
                    $.toast({
                        heading: 'Une erreur est survenue',
                        text: 'Veuillez ressayer',
                        position: 'bottom-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 6
                    });
                }
            })
        })
    </script>
{% endblock %}