{% extends printRequest == false
    ? 'base.html.twig'
    : 'print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/toast/toast.css') }}" rel="stylesheet">
    <style>
        .table thead th {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        }
        .btn-R {
            background-color: #FFADAD !important;
        }
        .btn-O {
            background-color: #FFD6A5 !important;
        }
        .btn-J {
            background-color: #FDFFB6 !important;
        }
        .btn-V {
            background-color: #CAFFBF !important;
        }
        .btn-C {
            background-color: #9BF6FF !important;
        }
        .btn-B {
            background-color: #A0C4FF !important;
        }
        .btn-M {
            background-color: #FFC6FF !important;
        }
        .btn-A {
            background-color: #D8E2DC !important;
        }
        .exist {
            border: 3px solid grey;
        }
    </style>
{% endblock %}

{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} <span class="badge badge-warning">Taille total {{ totalSize }} ha</span></h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendations.select') }}">Recommandation</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                        <table class="table table-bordered no-wrap">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Bourgeon <br>dans le coton
                                </th>
                                 <th>
                                    Pointe <br>verte
                                </th>
                                 <th>
                                    Sortie <br>des feuilles
                                </th>
                                 <th>
                                    Feuilles <br>étalées
                                </th>
                                 <th>
                                    Grappes <br>visibles
                                </th>
                                 <th>
                                    Bourgeon <br>séparées
                                </th>
                                 <th>
                                    Boutons <br>floraux <br>séparés
                                </th>
                                 <th>
                                    Floraison
                                </th>
                                 <th>
                                    Nouaison
                                </th>
                                 <th>
                                    Fermeture <br>de la grappe
                                </th>
                                 <th>
                                    Début <br>véraison
                                </th>
                                 <th>
                                    Fin <br>véraison
                                </th>
                                 <th>
                                    Maturité
                                </th>
                                 <th>
                                    Post-Récolte
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>EXCORIOSE</td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.5') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.5" unit="Kg">CITROTHIOL DG <small>12.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.501') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.501" unit="Kg">CITROTHIOL DG <small>12.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.502') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.502" unit="Kg">CITROTHIOL DG <small>12.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.503') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.503" unit="Kg">CITROTHIOL DG <small>12.5 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>MILDIOU</td>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-bastid-10-l', '2') ? 'exist' : 'd-none' }}" product_slug="s-bastid-10-l" dose="2.0" unit="L">BASTID <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.250') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.250" unit="L">ROMEO <small>0.250 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-cuproxat-5-l', '4') ? 'exist' : 'd-none' }}" product_slug="s-cuproxat-5-l" dose="4" unit="L">CUPROXAT <small>4 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.5') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.5" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '3.750') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="3.750" unit="Kg">BB EQUAL <small>3.750 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-hydro-super-10-kg', '3') ? 'exist' : 'd-none' }}" product_slug="s-hydro-super-10-kg" dose="3" unit="Kg">HYDROSUPER <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '1') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="1 Kg" unit="Kg">NORDOX <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '0.8') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="0.8" unit="%">LIMOCIDE <small>0.8 %</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-bastid-10-l', '2.001') ? 'exist' : 'd-none' }}" product_slug="s-bastid-10-l" dose="2.001" unit="L">BASTID <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.25001') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.25001" unit="L">ROMEO <small>0.250 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-cuproxat-5-l', '4.001') ? 'exist' : 'd-none' }}" product_slug="s-cuproxat-5-l" dose="4.001" unit="L">CUPROXAT <small>4 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.01') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.501" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '3.75001') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="3.75001" unit="Kg">BB EQUAL <small>3.750 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-hydro-super-10-kg', '3.001') ? 'exist' : 'd-none' }}" product_slug="s-hydro-super-10-kg" dose="3.001" unit="Kg">HYDROSUPER <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '1.001') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="1.001" unit="Kg">NORDOX <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '0.801') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="0.801" unit="%">LIMOCIDE <small>0.8 %</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-bastid-10-l', '2.002') ? 'exist' : 'd-none' }}" product_slug="s-bastid-10-l" dose="2.002" unit="L">BASTID <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.25002') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.25002" unit="L">ROMEO <small>0.250 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-cuproxat-5-l', '4.002') ? 'exist' : 'd-none' }}" product_slug="s-cuproxat-5-l" dose="4.002" unit="L">CUPROXAT <small>4 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.502') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.502" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '3.75002') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="3.75002" unit="Kg">BB EQUAL <small>3.750 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-hydro-super-10-kg', '3.002') ? 'exist' : 'd-none' }}" product_slug="s-hydro-super-10-kg" dose="3.002" unit="Kg">HYDROSUPER <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '1.002') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="1.002" unit="Kg">NORDOX <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '0.802') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="0.802" unit="%">LIMOCIDE <small>0.8 %</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-bastid-10-l', '2.003') ? 'exist' : 'd-none' }}" product_slug="s-bastid-10-l" dose="2.003" unit="L">BASTID <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.25003') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.25003" unit="L">ROMEO <small>0.250 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-cuproxat-5-l', '4.003') ? 'exist' : 'd-none' }}" product_slug="s-cuproxat-5-l" dose="4.003" unit="L">CUPROXAT <small>4 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.503') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.503" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '3.75003') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="3.75003" unit="Kg">BB EQUAL <small>3.750 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-hydro-super-10-kg', '3.003') ? 'exist' : 'd-none' }}" product_slug="s-hydro-super-10-kg" dose="3.003" unit="Kg">HYDROSUPER <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '1.003') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="1.003" unit="Kg">NORDOX <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '0.803') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="0.803" unit="%">LIMOCIDE <small>0.8 %</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-bastid-10-l', '2.004') ? 'exist' : 'd-none' }}" product_slug="s-bastid-10-l" dose="2.004" unit="L">BASTID <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.25004') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.25004" unit="L">ROMEO <small>0.250 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-cuproxat-5-l', '4.004') ? 'exist' : 'd-none' }}" product_slug="s-cuproxat-5-l" dose="4.004" unit="L">CUPROXAT <small>4 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.504') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.504" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '3.75004') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="3.75004" unit="Kg">BB EQUAL <small>3.750 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-hydro-super-10-kg', '3.004') ? 'exist' : 'd-none' }}" product_slug="s-hydro-super-10-kg" dose="3.004" unit="Kg">HYDROSUPER <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '1.004') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="1.004" unit="Kg">NORDOX <small>1 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-bastid-10-l', '2.005') ? 'exist' : 'd-none' }}" product_slug="s-bastid-10-l" dose="2.005" unit="L">BASTID <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.25005') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.25005" unit="L">ROMEO <small>0.250 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-cuproxat-5-l', '4.005') ? 'exist' : 'd-none' }}" product_slug="s-cuproxat-5-l" dose="4.005" unit="L">CUPROXAT <small>4 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.505') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.505" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '3.75005') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="3.75005" unit="Kg">BB EQUAL <small>3.750 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-hydro-super-10-kg', '3.005') ? 'exist' : 'd-none' }}" product_slug="s-hydro-super-10-kg" dose="3.005" unit="Kg">HYDROSUPER <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '1.005') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="1.005" unit="Kg">NORDOX <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '0.805') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="0.805" unit="%">LIMOCIDE <small>0.8 %</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-bastid-10-l', '2.006') ? 'exist' : 'd-none' }}" product_slug="s-bastid-10-l" dose="2.006" unit="L">BASTID <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.25006') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.25006" unit="L">ROMEO <small>0.250 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-cuproxat-5-l', '4.006') ? 'exist' : 'd-none' }}" product_slug="s-cuproxat-5-l" dose="4.006" unit="L">CUPROXAT <small>4 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.506') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.506" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '3.75006') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="3.75006" unit="Kg">BB EQUAL <small>3.750 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-hydro-super-10-kg', '3.006') ? 'exist' : 'd-none' }}" product_slug="s-hydro-super-10-kg" dose="3.006" unit="Kg">HYDROSUPER <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '1.006') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="1.006" unit="Kg">NORDOX <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '0.806') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="0.806" unit="%">LIMOCIDE <small>0.8 %</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-bastid-10-l', '2.007') ? 'exist' : 'd-none' }}" product_slug="s-bastid-10-l" dose="2.007" unit="L">BASTID <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.25007') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.25007" unit="L">ROMEO <small>0.250 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-cuproxat-5-l', '4.007') ? 'exist' : 'd-none' }}" product_slug="s-cuproxat-5-l" dose="4.007" unit="L">CUPROXAT <small>4 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.507') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.507" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '3.75007') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="3.75007" unit="Kg">BB EQUAL <small>3.750 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-hydro-super-10-kg', '3.007') ? 'exist' : 'd-none' }}" product_slug="s-hydro-super-10-kg" dose="3.007" unit="Kg">HYDROSUPER <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '1.007') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="1.007" unit="Kg">NORDOX <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '0.807') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="0.807" unit="%">LIMOCIDE <small>0.8 %</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-bastid-10-l', '2.008') ? 'exist' : 'd-none' }}" product_slug="s-bastid-10-l" dose="2.008" unit="L">BASTID <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.25008') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.25008" unit="L">ROMEO <small>0.250 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-cuproxat-5-l', '4.008') ? 'exist' : 'd-none' }}" product_slug="s-cuproxat-5-l" dose="4.008" unit="L">CUPROXAT <small>4 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.508') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.508" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr-disperss', '3.75008') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr-disperss" dose="3.75008" unit="Kg">BB EQUAL <small>3.750 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-hydro-super-10-kg', '3.008') ? 'exist' : 'd-none' }}" product_slug="s-hydro-super-10-kg" dose="3.008" unit="Kg">HYDROSUPER <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg-jardin', '1.008') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg-jardin" dose="1.008" unit="Kg">NORDOX <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '0.808') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="0.808" unit="%">LIMOCIDE <small>0.8 %</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Black Root</td>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.509') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.509" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.50901') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.50901" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.50902') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.50902" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.50903') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.50903" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.50904') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.50904" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.50905') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.50905" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.50906') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.50906" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.50907') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.50907" unit="Kg">CUPROCOL DUO <small>2.5 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Botytis</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'amylo-x-jardin', '1.5') ? 'exist' : 'd-none' }}" product_slug="amylo-x-jardin" dose="1.5" unit="Kg">AMYLOX <small>1.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-rhapsody-5-l', '2.5') ? 'exist' : 'd-none' }}" product_slug="s-rhapsody-5-l" dose="2.5" unit="%">RHAPSODY <small>2.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3.001') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3.001" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'amylo-x-jardin', '1.501') ? 'exist' : 'd-none' }}" product_slug="amylo-x-jardin" dose="1.501" unit="Kg">AMYLOX <small>1.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-rhapsody-5-l', '2.501') ? 'exist' : 'd-none' }}" product_slug="s-rhapsody-5-l" dose="2.501" unit=Kg>RHAPSODY <small>2.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3.002') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3.002" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3.003') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3.003" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td rowspan="3">Oidium</td>
                                    <td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.504') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.504" unit="Kg">CITROTHIOL <small>12.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sulgran-df-20-kg', '12.5') ? 'exist' : 'd-none' }}" product_slug="s-sulgran-df-20-kg" dose="12.5" unit="Kg">SULGRAN <small>12.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.50401') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.50401" unit="Kg">CITROTHIOL <small>12.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sulgran-df-20-kg', '12.501') ? 'exist' : 'd-none' }}" product_slug="s-sulgran-df-20-kg" dose="12.501" unit="Kg">SULGRAN <small>12.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.50402') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.50402" unit="Kg">CITROTHIOL <small>12.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sulgran-df-20-kg', '12.502') ? 'exist' : 'd-none' }}" product_slug="s-sulgran-df-20-kg" dose="12.502" unit="Kg">SULGRAN <small>12.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.50403') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.50403" unit="Kg">CITROTHIOL <small>12.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sulgran-df-20-kg', '12.503') ? 'exist' : 'd-none' }}" product_slug="s-sulgran-df-20-kg" dose="12.503" unit="Kg">SULGRAN <small>12.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.50404') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.50404" unit="Kg">CITROTHIOL <small>12.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sulgran-df-20-kg', '12.504') ? 'exist' : 'd-none' }}" product_slug="s-sulgran-df-20-kg" dose="12.504" unit="Kg">SULGRAN <small>12.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.50405') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.50405" unit="Kg">CITROTHIOL <small>12.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sulgran-df-20-kg', '12.505') ? 'exist' : 'd-none' }}" product_slug="s-sulgran-df-20-kg" dose="12.505" unit="Kg">SULGRAN <small>12.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.50406') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.50406" unit="Kg">CITROTHIOL <small>12.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sulgran-df-20-kg', '12.506') ? 'exist' : 'd-none' }}" product_slug="s-sulgran-df-20-kg" dose="12.506" unit="Kg">SULGRAN <small>12.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.50407') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.50407" unit="Kg">CITROTHIOL <small>12.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sulgran-df-20-kg', '12.507') ? 'exist' : 'd-none' }}" product_slug="s-sulgran-df-20-kg" dose="12.507" unit="Kg">SULGRAN <small>12.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-citrothiol-dg-bio-20-kg', '12.50408') ? 'exist' : 'd-none' }}" product_slug="s-citrothiol-dg-bio-20-kg" dose="12.50408" unit="Kg">CITROTHIOL <small>12.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sulgran-df-20-kg', '12.508') ? 'exist' : 'd-none' }}" product_slug="s-sulgran-df-20-kg" dose="12.508" unit="Kg">SULGRAN <small>12.5 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3.004') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3.004" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bastion', '2') ? 'exist' : 'd-none' }}" product_slug="bastion" dose="2" unit="L">BASTION <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.5') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.5" unit="L">ROMEO <small>0.5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3.00401') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3.00401" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bastion', '2.001') ? 'exist' : 'd-none' }}" product_slug="bastion" dose="2.001" unit="L">BASTION <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.501') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.501" unit="L">ROMEO <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fluidosoufre', '25.001') ? 'exist' : 'd-none' }}" product_slug="fluidosoufre" dose="25.001" unit="Kg">FLUIDOSOUFRE <small>25 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3.00402') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3.00402" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bastion', '2.002') ? 'exist' : 'd-none' }}" product_slug="bastion" dose="2.002" unit="L">BASTION <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.502') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.502" unit="L">ROMEO <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fluidosoufre', '25.002') ? 'exist' : 'd-none' }}" product_slug="fluidosoufre" dose="25.002" unit="Kg">FLUIDOSOUFRE <small>25 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3.00403') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3.00403" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bastion', '2.003') ? 'exist' : 'd-none' }}" product_slug="bastion" dose="2.003" unit="L">BASTION <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.503') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.503" unit="L">ROMEO <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fluidosoufre', '25.003') ? 'exist' : 'd-none' }}" product_slug="fluidosoufre" dose="25.003" unit="Kg">FLUIDOSOUFRE <small>25 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3.00404') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3.00404" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bastion', '2.004') ? 'exist' : 'd-none' }}" product_slug="bastion" dose="2.004" unit="L">BASTION <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.504') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.504" unit="L">ROMEO <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fluidosoufre', '25.004') ? 'exist' : 'd-none' }}" product_slug="fluidosoufre" dose="25.004" unit="Kg">FLUIDOSOUFRE <small>25 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3.00405') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3.00405" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bastion', '2.005') ? 'exist' : 'd-none' }}" product_slug="bastion" dose="2.005" unit="L">BASTION <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.505') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.505" unit="L">ROMEO <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fluidosoufre', '25.005') ? 'exist' : 'd-none' }}" product_slug="fluidosoufre" dose="25.005" unit="Kg">FLUIDOSOUFRE <small>25 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3.00406') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3.00406" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bastion', '2.006') ? 'exist' : 'd-none' }}" product_slug="bastion" dose="2.006" unit="L">BASTION <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.506') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.506" unit="L">ROMEO <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fluidosoufre', '25.006') ? 'exist' : 'd-none' }}" product_slug="fluidosoufre" dose="25.006" unit="Kg">FLUIDOSOUFRE <small>25 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3.00407') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3.00407" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bastion', '2.007') ? 'exist' : 'd-none' }}" product_slug="bastion" dose="2.007" unit="L">BASTION <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.507') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.507" unit="L">ROMEO <small>0.5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'armicarb', '3.00407') ? 'exist' : 'd-none' }}" product_slug="armicarb" dose="3.00407" unit="Kg">ARMICARB <small>3 Kg</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kashmir-10-l', '6') ? 'exist' : 'd-none' }}" product_slug="s-kashmir-10-l" dose="6" unit="L">KASHMIR <small>6 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kashmir-10-l', '6.001') ? 'exist' : 'd-none' }}" product_slug="s-kashmir-10-l" dose="6.001" unit="L">KASHMIR <small>6 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kashmir-10-l', '6.002') ? 'exist' : 'd-none' }}" product_slug="s-kashmir-10-l" dose="6.002" unit="L">KASHMIR <small>6 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kashmir-10-l', '6.003') ? 'exist' : 'd-none' }}" product_slug="s-kashmir-10-l" dose="6.003" unit="L">KASHMIR <small>6 L</small></button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kashmir-10-l', '6.004') ? 'exist' : 'd-none' }}" product_slug="s-kashmir-10-l" dose="6.004" unit="L">KASHMIR <small>6 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kashmir-10-l', '6.005') ? 'exist' : 'd-none' }}" product_slug="s-kashmir-10-l" dose="6.005" unit="L">KASHMIR <small>6 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-kashmir-10-l', '6.006') ? 'exist' : 'd-none' }}" product_slug="s-kashmir-10-l" dose="6.006" unit="L">KASHMIR <small>6 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Vers de <br>la grappe</td>
                                    <td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-rak-2-new-252-diffuseurs', '500') ? 'exist' : 'd-none' }}" product_slug="s-rak-2-new-252-diffuseurs" dose="500" unit="/Ha">RAK 2 NEW <small>500 /Ha</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'checkmate-puffer-cm-o', '3') ? 'exist' : 'd-none' }}" product_slug="checkmate-puffer-cm-o" dose="3" unit="/Ha">PUFFER <small>3 /HA</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df', '1') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df', '1.001') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1.001" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df', '1.002') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1.002" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.100') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.100" unit="L">SUCCESS 4 <small>0.100 L</small></button>
                                    </td>
                                     <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df', '1.003') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1.003" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.10003') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.10003" unit="L">SUCCESS 4 <small>0.100 L</small></button>
                                    </td>
                                     <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df', '1.004') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1.004" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.10004') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.10004" unit="L">SUCCESS 4 <small>0.100 L</small></button>
                                    </td>
                                     <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df', '1.005') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1.005" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.10005') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.10005" unit="L">SUCCESS 4 <small>0.100 L</small></button>
                                    </td>
                                     <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df', '1.006') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1.006" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.10006') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.10006" unit="L">SUCCESS 4 <small>0.100 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Cicadelles</td>
                                    <td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-baikal-wp-25-kg', '20') ? 'exist' : 'd-none' }}" product_slug="s-baikal-wp-25-kg" dose="20" unit="L">BAIKAL <small>20 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-baikal-wp-25-kg', '20.001') ? 'exist' : 'd-none' }}" product_slug="s-baikal-wp-25-kg" dose="20.001" unit="L">BAIKAL <small>20 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-baikal-wp-25-kg', '20.002') ? 'exist' : 'd-none' }}" product_slug="s-baikal-wp-25-kg" dose="20.002" unit="L">BAIKAL <small>20 Kg</small></button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-baikal-wp-25-kg', '20.003') ? 'exist' : 'd-none' }}" product_slug="s-baikal-wp-25-kg" dose="20.003" unit="L">BAIKAL <small>20 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-baikal-wp-25-kg', '20.004') ? 'exist' : 'd-none' }}" product_slug="s-baikal-wp-25-kg" dose="20.004" unit="L">BAIKAL <small>20 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-baikal-wp-25-kg', '20.005') ? 'exist' : 'd-none' }}" product_slug="s-baikal-wp-25-kg" dose="20.005" unit="L">BAIKAL <small>20 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-baikal-wp-25-kg', '20.006') ? 'exist' : 'd-none' }}" product_slug="s-baikal-wp-25-kg" dose="20.006" unit="L">BAIKAL <small>20 Kg</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pyrevert', '1.5') ? 'exist' : 'd-none' }}" product_slug="pyrevert" dose="1.5" unit="L">PYREVERT <small>1.5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pyrevert', '1.501') ? 'exist' : 'd-none' }}" product_slug="pyrevert" dose="1.501" unit="L">PYREVERT <small>1.5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pyrevert', '1.502') ? 'exist' : 'd-none' }}" product_slug="pyrevert" dose="1.502" unit="L">PYREVERT <small>1.5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pyrevert', '1.503') ? 'exist' : 'd-none' }}" product_slug="pyrevert" dose="1.503" unit="L">PYREVERT <small>1.5 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if printRequest == false %}
               <div class="alert alert-success">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </div>
            {% endif %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendations.synthese.products', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('plugins/toast/toast.js') }}"></script>
    <script>
        $("#open-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).addClass( "shw-rside" )
        });
        $("#close-right-sidebar").click(function(e){
            let sidebar = $('#right-sidebar');
            $(sidebar).removeClass( "shw-rside" )
        });
        $(".isProduct").click(function (e) {
            let name = $(this).text()
            $(this).addClass('btn-light-danger')
            $(this).addClass('exist')
            $.ajax({
                url: '/recommendations/add-product',
                type: 'POST',
                data: {
                    'product_slug': $(this).attr('product_slug'),
                    'recommendation_id': {{ recommendations.id }},
                    'dose': $(this).attr('dose'),
                    'unit': $(this).attr('unit')
                },
                dataType: 'JSON',
                complete : function (response) {
                    $.toast({
                        heading: 'Produit ajouté avec succès',
                        text: 'Ajout de ' + name,
                        position: 'bottom-left',
                        loaderBg: '#ff6849',
                        icon: 'success',
                        hideAfter: 3000,
                        stack: 6
                    });
                    let nameProduct = response.responseJSON['name_product']
                    let dose = response.responseJSON['dose']
                    let unit = response.responseJSON['unit']
                    let input = '<li><b>'+ nameProduct +'</b> <small>'+ dose + unit +'</small></li>'
                    $('#products_list').append( input )
                },
                error : function (code_html, status) {
                    $.toast({
                        heading: 'Une erreur est survenue',
                        text: 'Veuillez ressayer',
                        position: 'bottom-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 3000,
                        stack: 6
                    });
                }
            })
        })
    </script>
{% endblock %}