{% extends 'base.html.twig' %}

{% block title %}Listes des clients{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/css-chart/css-chart.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Accueil</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Sodepac</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Technicien</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{ customer.identity }}</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Exploitation</a></li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card card-body">
                    <div class="row">
                        <div class="col pr-0 align-self-center">
                            <h2 class="font-weight-light mb-0">324</h2>
                            <h6 class="text-muted">New Clients</h6>
                        </div>
                        <div class="col text-right align-self-center">
                            <div data-label="20%" class="css-bar mb-0 css-bar-info css-bar-20"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card card-body">
                    <div class="row">
                        <div class="col pr-0 align-self-center">
                            <h2 class="font-weight-light mb-0">2376</h2>
                            <h6 class="text-muted">Total Visits</h6>
                        </div>
                        <div class="col text-right align-self-center">
                            <div data-label="30%" class="css-bar mb-0 css-bar-success css-bar-20"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card card-body">
                    <div class="row">
                        <div class="col pr-0 align-self-center">
                            <h2 class="font-weight-light mb-0">1795</h2>
                            <h6 class="text-muted">New Leads</h6>
                        </div>
                        <div class="col text-right ">
                            <div data-label="40%" class="css-bar mb-0 css-bar-primary css-bar-40"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card card-body">
                    <div class="row">
                        <div class="col pr-0 align-self-center">
                            <h2 class="font-weight-light mb-0">36870</h2>
                            <h6 class="text-muted">Page Views</h6>
                        </div>
                        <div class="col text-right align-self-center">
                            <div data-label="60%" class="css-bar mb-0 css-bar-danger css-bar-60"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex no-block">
                        <h4 class="card-title">Bilan Phyto</h4>
                        <div class="ml-auto">
                            <select class="custom-select">
                                <option selected="">2020</option>
                                <option value="1">2019</option>
                                <option value="2">2018</option>
                                <option value="3">2017</option>
                            </select>
                        </div>
                    </div>
                    <div class="month-table">
                        <div class="table-responsive mt-3">
                            <table class="table stylish-table mb-0">
                                <thead>
                                <tr>
                                    <th colspan="2">Assigned</th>
                                    <th>Name</th>
                                    <th>Priority</th>
                                    <th>Budget</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="width:50px;"><span
                                                class="round text-white d-inline-block text-center rounded-circle bg-info">S</span>
                                    </td>
                                    <td>
                                        <h6>Sunil Joshi</h6><small class="text-muted">Web
                                            Designer</small>
                                    </td>
                                    <td>Elite Admin</td>
                                    <td><span class="badge badge-success px-2 py-1">Low</span></td>
                                    <td>$3.9K</td>
                                </tr>
                                <tr class="active">
                                    <td><span
                                                class="round text-white d-inline-block text-center rounded-circle bg-info"><img
                                                    src="../assets/images/users/2.jpg" alt="user"
                                                    width="50"></span></td>
                                    <td>
                                        <h6>Andrew</h6><small class="text-muted">Project Manager</small>
                                    </td>
                                    <td>Real Homes</td>
                                    <td><span class="badge badge-info px-2 py-1">Medium</span></td>
                                    <td>$23.9K</td>
                                </tr>
                                <tr>
                                    <td><span
                                                class="round text-white d-inline-block text-center rounded-circle bg-success">B</span>
                                    </td>
                                    <td>
                                        <h6>Bhavesh patel</h6><small
                                                class="text-muted">Developer</small>
                                    </td>
                                    <td>MedicalPro Theme</td>
                                    <td><span class="badge badge-primary px-2 py-1">High</span></td>
                                    <td>$12.9K</td>
                                </tr>
                                <tr>
                                    <td><span
                                                class="round text-white d-inline-block text-center rounded-circle bg-primary">N</span>
                                    </td>
                                    <td>
                                        <h6>Nirav Joshi</h6><small class="text-muted">Frontend
                                            Eng</small>
                                    </td>
                                    <td>Elite Admin</td>
                                    <td><span class="badge badge-danger px-2 py-1">Low</span></td>
                                    <td>$10.9K</td>
                                </tr>
                                <tr>
                                    <td><span
                                                class="round text-white d-inline-block text-center rounded-circle bg-warning">M</span>
                                    </td>
                                    <td>
                                        <h6>Micheal Doe</h6><small class="text-muted">Content
                                            Writer</small>
                                    </td>
                                    <td>Helping Hands</td>
                                    <td><span class="badge badge-warning px-2 py-1">High</span></td>
                                    <td>$12.9K</td>
                                </tr>
                                <tr>
                                    <td><span
                                                class="round text-white d-inline-block text-center rounded-circle bg-danger">N</span>
                                    </td>
                                    <td>
                                        <h6>Johnathan</h6><small class="text-muted">Graphic</small>
                                    </td>
                                    <td>Digital Agency</td>
                                    <td><span class="badge badge-info px-2 py-1">High</span></td>
                                    <td>$2.6K</td>
                                </tr>
                                <tr>
                                    <td style="width:50px;"><span
                                                class="round text-white d-inline-block text-center rounded-circle bg-info">S</span>
                                    </td>
                                    <td>
                                        <h6>Sunil Joshi</h6><small class="text-muted">Web
                                            Designer</small>
                                    </td>
                                    <td>Elite Admin</td>
                                    <td><span class="badge badge-success px-2 py-1">Low</span></td>
                                    <td>$3.9K</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Column -->
            <div class="card"> <img src="{{ asset('images/background/field.jpg') }}" alt="Card image cap" class="w-100 rounded-top">
                <div class="card-body little-profile text-center">
                    <div class="pro-img"><img src="{{ asset('images/user.png') }}" alt="user" class="rounded-circle shadow-sm"></div>
                    <h3 class="mb-0">{{ customer.identity }}</h3>
                    <p><span class="badge badge-success px-2 py-1">{{ customer.status }}</span></p>
                    <p>Exploitation de <span class="badge badge-warning px-2 py-1">{{ customer.exploitation.size }} ha</span></p>
                    <div class="row text-center mt-3 pt-1">
                        <div class="col-lg-4 col-md-4 mt-4">
                            <h3 class="mb-0 font-weight-light">{{ customer.phone }}</h3><small>Téléphone</small>
                        </div>
                        <div class="col-lg-4 col-md-4 mt-4">
                            <h3 class="mb-0 font-weight-light">{{ customer.city }}</h3><small>Ville</small>
                        </div>
                        <div class="col-lg-4 col-md-4 mt-4">
                            <h3 class="mb-0 font-weight-light">{{ customer.certificationPhyto }}</h3><small>Certification</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>

{% endblock %}