{% extends 'base.html.twig' %}

{% block title %} Vos Cultures {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-12 align-self-center">
                <h3 class="text-themecolor">Interventions multiples</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Cultures</li>
                </ol>
            </div>
        </div>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header pull-right">
                            <form method="POST" href="{{ path('intervention_multiple_index') }}" name="form_select_culture">
                                <select name="culture" class="form-control custom-select" id="culture" onchange="this.form.submit()">
                                    <option>Sélectionner une culture</option>
                                    {% for culture in active_cultures %}
                                        <option value="{{ culture.id }}">{{ culture.name }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <h4 class="card-title">Cultures en cours</h4>
                        <div class="table-responsive">
                            <form method="POST" name="selected_culture" action="{{ path('intervention_multiple_index') }}">
                                <table id="datatable" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="customControlValidation1"/>
                                                <label class="form-check-label" for="customControlValidation1"></label>
                                            </div>
                                        </th>
                                        <th>Action</th>
                                        <th>Nom</th>
                                        <th>Taille</th>
                                        <th>Ajout</th>
                                        <th>Informations</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for culture in found_cultures %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" name="cultures_selected[]" value="{{ culture.id }}" class="form-check-input" id="select-{{ culture.id }}"/>
                                                    <label class="form-check-label" for="select-{{ culture.id }}"></label>
                                                </div>
                                            </td>
                                            <td>
                                                {{ culture.name.name }}
                                                {% if culture.comments %}
                                                    <i data-toggle="tooltip" data-placement="right" title="{{ culture.comments }}" class="fas fa-info-circle"></i>
                                                {% endif %}
                                                {% if culture.precedent %}
                                                    <br><small>Précédent: {{ culture.precedent.name }}</small>
                                                {% endif %}
                                                {% if culture.effluent %}
                                                    <br><small >Effluent: {{ culture.effluent.name }}</small>
                                                {% endif %}
                                            </td>
                                            <td>{{ culture.size ~ 'ha' }}</td>
                                            <td>{{ culture.addedAt | date('d/m/Y') }}</td>
                                            <td>
                                                {% if culture.status  %}
                                                    <span class="label label-success">Active</span>
                                                {% else %}
                                                    <span class="label label-inverse">Archivée</span>
                                                {% endif %}
                                                {% if culture.bio  %}
                                                    <span class="label label-info">Bio</span>
                                                {% endif %}
                                                {% if culture.permanent  %}
                                                    <span class="label label-info">Permanent</span>
                                                {% endif %}
                                                {% if culture.production  %}
                                                    <span class="label label-info">Production</span>
                                                {% endif %}
                                                {% if culture.residue  %}
                                                    <span class="label label-info">Résidue</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="customControlValidation1"/>
                                                <label class="form-check-label" for="customControlValidation1"></label>
                                            </div>
                                        </th>
                                        <th>Action</th>
                                        <th>Nom</th>
                                        <th>Taille</th>
                                        <th>Ajout</th>
                                        <th>Informations</th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <button type="submit" class="btn btn-success">Ajouter une intervention</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
