<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Skyreka">
    <title>{% block title %}Activation de compte{% endblock %}</title>
    <link href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/colors/green-dark.css') }}" rel="stylesheet">
</head>
<body>
<section id="wrapper">
    <div class="login-register">
        <div class="login-box card">
            <div class="card-body">
                <h3 class="box-title m-b-20">Bienvenue, {{ user.firstname }} {{ user.lastname }}</h3>
                <p class="text-center">Merci de saisir votre mot de passe de compte {{ APP_NAME }}</p>
                {{ form_start(form) }}
                    {{ form_rest(form) }}
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Activer mon compte</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
</body>
</html>
