<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ APP_NAME }}</title>
    <meta name="description" content="Offrir plus d’efficacité et une meilleure productivité au quotidien pour toutes les filières agricoles !"/>
    <link href="https://fonts.googleapis.com/css?family=Dosis:600|Roboto:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('landing/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('landing/css/paper-kit.css?v=2.1.0') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('landing/styles/main.css') }}" rel="stylesheet">
</head>
<body id="top">
<header>
    <div class="aa-header" style="background-image: url({{ asset('images/bg.jpg') }})">
        <nav class="navbar navbar-expand-md navbar-transparent" style="">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <img class="img-fluid pr-3" src="{{ asset('images/logo.png') }}" alt="logo">
                    </div>
                </div>
            </div>
        </nav>
        <div class="container aa-header-content text-left text-white">
            <div class="row">
                <div class="login-box card">
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% for message in app.flashes('danger') %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}
                        <form class="form-horizontal form-material" id="loginform" method="POST" action="{{ path('login') }}">
                            <h3 class="rounded-title mb-3">Bienvenue sur {{ APP_NAME }}</h3>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <label form="email">Adresse Email:</label>
                                    <input class="form-control" id="email" type="text" name="_email" value="{{ last_username }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label form="password">Mot de passe:</label>
                                    <input class="form-control" id="password" type="password" name="_password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-flex no-block align-items-center">
                                    <div class="checkbox checkbox-primary pt-0">
                                        <input id="remember_me" type="checkbox" name="_remember_me" checked>
                                        <label for="remember_me"> Se souvenir de moi </label>
                                    </div>
                                    <div class="ml-auto">
                                        <a href="{{ path('app_forgot_password_request') }}" id="to-recover" class="text-muted"><i class="fa fa-lock mr-1"></i> Code oublié?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center mt-3">
                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Se connecter</button>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="col-sm-12 text-center">
                                    Vous n'avez pas de compte? Contacter votre technicien(e) {{ APP_NAME }}
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal" id="recoverform" action="index.html">
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <h3>Vous avez oublié votre mot de passe ?</h3>
                                    <p class="text-muted">Entrez votre email:  </p>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" required="" placeholder="Email"> </div>
                            </div>
                            <div class="form-group text-center mt-3">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="https://play.google.com/store/apps/details?id=com.sodepac.app">
                                <img alt="Badge Google Play" class="img-fluid text-center" src="{{ asset('images/google-play-badge.png') }}" />
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="https://apps.apple.com/us/app/{{ APP_NAME }}/id1538163182">
                                <img alt="Badge Apple" class="img-fluid text-center" src="{{ asset('images/apple-play-badge.png') }}" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="page-content">
    <div>
        <div class="aa-price-package section" id="pricing">
            <div class="container">
                <div class="text-center">
                    <h2 class="title">Découvrez notre application {{ APP_NAME }} </h2>
                    <p class="pb-5">Enregistrez, collectez et analysez vos données renseignées sur le terrain.</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="h5 mt-0">Cahier de culture</div>
                                <div class="aa-price-section">Saisissez vos travaux agricoles.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card  text-center">
                            <div class="card-body">
                                <div class="h5 mt-0">Calcul de plan prévisionnel fumure (PPF)</div>
                                <div class="aa-price-section">A chaque fin de saison.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="h5 mt-0">Gestion des stocks</div>
                                <div class="aa-price-section">Saisissez votre stock au fil de vos achats et exportez votre stock au format PDF.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="h5 mt-0">Module irrigation</div>
                                <div class="aa-price-section">Gérer votre irrigation, pluviométrie ou artificielle.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr/>
        </div>
        <div class="aa-testimonials-section section">
            <div class="container">
                <p>
                    {{ APP_NAME }} a souhaité offrir à ses clients une application simple, intuitive et ergonomique leur permettant d’alléger les tâches administratives tout en se mettant en conformité avec les exigences réglementaires actuelles.
                    L’application {{ APP_NAME }} vous propose un condensé des exigences de l’agriculture moderne :
                <ul>
                    <li>Rigueur avec la tenue d’un cahier de culture à jour.</li>
                    <li>Traçabilité avec le suivi intégral de vos cultures du semis à la récolte.</li>
                    <li>Mise en conformité avec la tenue en temps réel de votre stock de produits phytosanitaires.</li>
                    <li>Accès à la certification HVE avec le niveau d’enregistrement requis.</li>
                </ul>
                Cette application permettra de vous accompagner au quotidien à la transition numérique, indispensable au maintien des exploitations agricoles de demain.
                </p>
            </div>
        </div>
    </div>
</div>
<footer class="footer-black aa-footer">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-md-12">
                <p class="mt-3">Copyright &copy; <a class="credit" href="https://lmsdesign.fr" target="_blank">LMS DESIGN</a> - {{ APP_NAME }}</p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ asset('landing/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('landing/js/jquery-ui-1.12.1.custom.min.js') }}"></script>
<script src="{{ asset('landing/js/popper.js') }}js/popper.js"></script>
<script src="{{ asset('landing/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('landing/paper-kit.js?v=2.1.0') }}"></script>
<script src="{{ asset('landing/scripts/main.js') }}"></script>
</body>
</html>
