
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>{% block title %}Connexion - Sodepac{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <!-- DarkMode Auto -->
    {% if "now" | date('H') < 18 and  "now" | date('H') > 7 %}
        <link href="{{ asset('css/colors/green.css') }}" id="theme" rel="stylesheet">
    {% else %}
        <link href="{{ asset('css/colors/green-dark.css') }}" id="theme" rel="stylesheet">
    {% endif %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<section id="wrapper">
    <div class="login-register" style="background: linear-gradient(to right, #99f2c8, #1f4037);">
        <div class="login-box card">
            <div class="card-body">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.message }}
                    </div>
                {% endif %}
                <form class="form-horizontal form-material" id="loginform" method="POST" action="{{ path('login') }}">
                    <h3 class="p-2 rounded-title mb-3">Connexion</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <label form="email">Adresse Email:</label>
                            <input class="form-control" id="email" type="text" name="_email" value="{{ last_username }}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <label form="password">Mot de passe:</label>
                            <input class="form-control" id="password" type="password" name="_password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex no-block align-items-center">
                            <div class="checkbox checkbox-primary pt-0">
                                <input id="checkbox-signup" type="checkbox" name="_remember_me" checked>
                                <label for="checkbox-signup"> Se souvenir de moi </label>
                            </div>
                            <div class="ml-auto">
                                <a href="javascript:void(0)" id="to-recover" class="text-muted"><i class="fa fa-lock mr-1"></i> Oublié?</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center mt-3">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Se connecter</button>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <div class="col-sm-12 text-center">
                            Vous n'avez pas de compte? <a href="#" class="text-info ml-1"><b>Contact</b></a>
                        </div>
                    </div>
                </form>
                <form class="form-horizontal" id="recoverform" action="index.html">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <h3>Vous avez oublié votre mot de passe ?</h3>
                            <p class="text-muted">Entrez votre email:  </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Email"> </div>
                    </div>
                    <div class="form-group text-center mt-3">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Bootstrap Js -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!--  Slimscroll -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
<!-- Waves -->
<script src="{{ asset('js/waves.js') }}"></script>
<!-- Sidebar -->
<script src="{{ asset('js/sidebarmenu.js') }}"></script>
<!-- App -->
<script src="{{ asset('js/sodepac.js') }}"></script>
</body>

</html>