{% extends 'base.html.twig' %}

{% block title %}Créer un BSV{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Accueil</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Sodepac</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">BSV</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Envoie</a></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="card-title">Envoyer le BSV</h4>
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-12">
                                {{ form_rest(form) }}
                            </div>
                        </div>
                        <button class="btn btn-info">Envoyer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).on('change', '#bsv_send_cultures', function () {
            let $field = $(this)
            let $form = $field.closest('form')
            let data = {}
            data[$field.attr('name')] = $field.val()
            $.post($form.attr('action'), data).then(function (data) {
                let $input = $(data).find('#bsv_send_user')
                //let $date = $(data).find('#bsv_send_display_at')
                $('#bsv_send_user').replaceWith( $input )
                //$($form).append( $date )
            })
        })
    </script>
    <script src="{{ asset('plugins/moment/moment.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                weekStart:0,
                time: 1,
                format:"yyyy-mm-dd",
                lang:"fr"
            });
        });
    </script>
{% endblock %}
