{% extends 'base.html.twig' %}

{% block title %}Liste des Panoramas{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css"/
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Liste des Panoramas</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Panoramas</li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <div class="ml-auto">
                                <a title="Créer un panorama" href="{{ path('panorama_new') }}" class="btn btn-success">Créer</a>
                                <a href="{{ path('panorama_history_index') }}" class="btn btn-info">Historique</a>
                            </div>
                        </div>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table" id="datatable">
                                <thead>
                                <tr>
                                    <th>Date de création</th>
                                    {% if app.user.status == 'ROLE_ADMIN' %}
                                        <th>Créateur</th>
                                    {% endif %}
                                    <th>Texte</th>
                                    <th>Statuts</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for panorama in panoramas %}
                                        <tr>
                                            <td>{{ panorama.creationDate|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</td>
                                            {% if app.user.status == 'ROLE_ADMIN' %}
                                                <td>{{ panorama.owner.identity|default('Aucun') }}</td>
                                            {% endif %}
                                            <td>{{ panorama.text }}</td>
                                            <td>
                                                {% if panorama.validate == 1 %}
                                                    <span class="badge badge-success">Validé</span>
                                                {% elseif panorama.validate == 0 %}
                                                    <span class="badge badge-warning">En attente de validation</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <form method="POST" action="{{ path('panorama_delete', {id: panorama.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer le panorama ?')">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panorama.id) }}">
                                                        <button title="Supprimer" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                                    </form>
                                                    <a href="{{ path('panorama_edit', {id: panorama.id}) }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                                    {% if panorama.validate == 0 %}
                                                        <form method="POST" action="{{ path('panorama_valid', {id: panorama.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir valider le panorama ?')">
                                                            <input type="hidden" name="_method" value="VALID">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('valid' ~ panorama.id) }}">
                                                            <button title="Valider" class="btn btn-success"><i class="fa fa-check"></i></button>
                                                        </form>
                                                    {% endif %}
                                                    {% if panorama.validate == 1 %}
                                                        <a title="Envoyer ce panorama" href="{{ path('panorama_send', {id: panorama.id}) }}" class="btn btn-info"><i class="fab fa-telegram-plane"></i></a>
                                                    {% endif %}
                                                {% elseif app.user.status == 'ROLE_TECHNICIAN' %}
                                                    {% if panorama.validate == 1 %}
                                                        <a title="Envoyer ce panorama" href="{{ path('panorama_send', {id: panorama.id}) }}" class="btn btn-info"><i class="fab fa-telegram-plane"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                                {% if panorama.firstFile %}
                                                    <a title="PDF" href="{{ asset('uploads/panorama/' ~ panorama.firstFile) }}" download="Panorama_LMSSODEPAC_{{ 'NOW'|date('d-m-Y') }}.pdf" class="btn btn-success ml-3" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                                                {% endif %}
                                                {% if panorama.secondFile %}
                                                    <a title="Image" href="{{ asset('uploads/panorama/' ~ panorama.secondFile) }}" download="Panorama_LMSSODEPAC_{{ 'NOW'|date('d-m-Y') }}.pdf" class="btn btn-success ml-3" target="_blank"><i class="fa fa-file-image-o"></i></a>
                                                {% endif %}
                                                {% if panorama.thirdFile %}
                                                    <a title="Image" href="{{ asset('uploads/panorama/' ~ panorama.thirdFile) }}" download="Panorama_LMSSODEPAC_{{ 'NOW'|date('d-m-Y') }}.pdf" class="btn btn-success ml-3" target="_blank"><i class="fa fa-picture-o"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>
    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <script>
        $('#datatable').DataTable({
            ordering: false,
            dom: 'Bfrtip',
            responsive: true,
            "language": {
                "sProcessing":     "Traitement en cours...",
                "sSearch":         "Rechercher&nbsp;:",
                "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                "sInfoPostFix":    "",
                "sLoadingRecords": "Chargement en cours...",
                "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                "oPaginate": {
                    "sFirst":      "Premier",
                    "sPrevious":   "Pr&eacute;c&eacute;dent",
                    "sNext":       "Suivant",
                    "sLast":       "Dernier"
                },
                "oAria": {
                    "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                },
                "select": {
                    "rows": {
                        _: "%d lignes séléctionnées",
                        0: "Aucune ligne séléctionnée",
                        1: "1 ligne séléctionnée"
                    }
                }
            },
            buttons: [
                {
                    extend: 'pdf',
                    text: 'Exporter les panoramas',
                    title: 'Liste des panoramas',
                    message: 'Exporté le {{ "now"|date('d-m-Y H:i') }} avec l\'application LMS-Sodepac',
                    exportOptions: {
                        columns: [0,1,2],
                        modifier: {
                            page: 'current'
                        }
                    }
                }
            ]
        });
    </script>
{% endblock %}
