{% for key in bsv %}
    <tr>
        <td>{{ key.displayAt|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</td>
        <td>{{ key.bsv.text }}</td>
        <td>
            {% if key.bsv.firstFile %}
                <a href="{{ asset('bsv/panorama/' ~ key.bsv.firstFile) }}" class="btn btn-success" target="_blank">PDF</a>
            {% endif %}
            {% if key.bsv.secondFile %}
                <a href="{{ asset('bsv/panorama/' ~ key.bsv.secondFile) }}" class="btn btn-success" target="_blank">Image 1</a>
            {% endif %}
            {% if key.bsv.thirdFile %}
                <a href="{{ asset('bsv/panorama/' ~ key.bsv.thirdFile) }}" class="btn btn-success" target="_blank">Image 2</a>
            {% endif %}
        </td>
        <td>
            {% if key.checked == 0 %}
                <form method="POST" action="{{ path('user.bsv.check', {id: key.id}) }}" style="display: inline-block">
                    <input type="hidden" name="_method" value="CHECK">
                    <input type="hidden" name="_token" value="{{ csrf_token('check' ~ key.id) }}">
                    <button class="btn btn-success btn-xs"><i class="ti-check"></i> Lire</button>
                </form>
            {% endif %}
        </td>
    </tr>
{% endfor %}