<div class="card">
    <div class="card-body">
        <div class="d-flex no-block">
            <h4 class="card-title">Listes des BSV envoyé en {{ year }}</h4>
        </div>
        <div class="table-responsive m-t-20">
            <table class="table stylish-table">
                <thead>
                <tr>
                    <th>Date d'envoi</th>
                    <th>Texte</th>
                    <th>Fichiers</th>
                </tr>
                </thead>
                <tbody>
                {% for key in bsv %}
                    <tr>
                        <td>{{ key.displayAt|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</td>
                        <td>{{ key.bsv.text }}</td>
                        <td>
                            {% if key.bsv.firstFile %}
                                <a href="{{ asset('bsv/panorama/' ~ key.bsv.firstFile) }}" class="btn btn-success" target="_blank">PDF</a>
                            {% endif %}
                            {% if key.bsv.secondFile %}
                                <a href="{{ asset('bsv/panorama/' ~ key.bsv.secondFile) }}" class="btn btn-success" target="_blank">Image 1</a>
                            {% endif %}
                            {% if key.bsv.thirdFile %}
                                <a href="{{ asset('bsv/panorama/' ~ key.bsv.thirdFile) }}" class="btn btn-success" target="_blank">Image 2</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>