{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css"/>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-12 align-self-center">
                <h3 class="text-themecolor">Accueil</h3>
            </div>
        </div>
        <div class="col-12">
            <!--begin::Alert-->
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        {% if app.user.exploitation is null %}
            <div class="alert alert-warning">Vous n'avez actuellement pas d'exploitation disponible. <br> Merci de vous rapprocher de votre technicien référent pour la création de votre exploitation.</div>
        {% endif %}
        {% if ad %}
          <div class="row">
            <div class="col-12">
              <div class="card blog-widget">
                <div class="card-body">
                  <div class="blog-image">
                    <img
                      src="{{ image_url( ad, null, null, 'imageFile') }}"
                      style="max-height: 150px !important;"
                      alt="img"
                      class="img-fluid blog-img-height w-100"
                    />
                  </div>
                  <h3>{{ ad.title | slice(0, 30) }}</h3>
                  <p>{{ ad.description | slice(0, 120) }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="row">
            <div class="col-3 mb-3 d-block d-sm-none">
                <a href="{{ path('user_order_index') }}">
                    <i class="fa fa-truck fa-2x text-dark" aria-hidden="true"><span class="font-weight-bold ml-1" style="font-family: Poppins">Co</span></i>
                </a>
            </div>
            <div class="col-3 mb-3 d-block d-sm-none">
                <a href="{{ path('panorama_user_history_index') }}">
                    <i class="fa fa-newspaper fa-2x text-dark" aria-hidden="true"><span class="font-weight-bold ml-1" style="font-family: Poppins">P</span></i>
                </a>
            </div>
            <div class="col-3 mb-3 d-block d-sm-none">
                <a href="{{ path('exploitation_recommendation_index') }}">
                    <i class="fa fa-book fa-2x text-dark" aria-hidden="true"><span class="font-weight-bold ml-1" style="font-family: Poppins">C</span></i>
                </a>
            </div>
            <div class="col-3 mb-3 d-block d-sm-none">
                <a href="{{ path('sales_index') }}">
                    <i class="fa fa-chart-line fa-2x text-dark" aria-hidden="true"><span class="font-weight-bold ml-1" style="font-family: Poppins">V</span></i>
                </a>
            </div>
            <div class="col-md-6">
                {% if app.user.pack != 'PACK_LIGHT' %}
                    <a href="{{ path('ilots_index') }}" class="btn btn-warning btn-lg btn-block mb-4">Interventions Ilots</a>
                    <a href="{{ path('intervention_multiple_index') }}" class="btn btn-success btn-lg btn-block mb-4">Interventions Cultures</a>
                    <a href="{{ path('exploitation_stock_index') }}" class="btn btn-danger btn-lg btn-block mb-4">Gestion des stocks</a>
                {% endif %}
            </div>
            <div class="col-md-6 d-none d-md-block">
                <div class="card">
                    <div class="card-body pb-0">
                        <h4 class="card-title">Flashs</h4>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <tbody>
                                {% for flash in flashs %}
                                    {% if date(flash.displayAt) <= date() and flash.checked == 0 %}
                                        <tr>
                                            <td style="width:50px;">
                                                <span class="round">F</span>
                                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                                            </td>
                                            <td>
                                                <h6>{{ flash.bsv.text }} </h6><small class="text-muted">{{ flash.displayAt|date('d/m/y à h:m') }}</small>
                                            </td>
                                            <td>
                                            {{ include('flash/user/_check.html.twig') }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body pb-0">
                        <h4 class="card-title">Panorama</h4>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <tbody>
                                {% for panorama in panoramas %}
                                    {% if date(panorama.displayAt) <= date() and panorama.checked == 0 %}
                                        <tr>
                                            <td style="width:50px;">
                                                <span class="round">P</span>
                                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                                            </td>
                                            <td>
                                                <h6>{{ panorama.panorama.text }} </h6><small class="text-muted">{{ panorama.displayAt|date('d/m/y à h:m') }}</small>
                                            </td>
                                            <td>
                                                <form method="POST" action="{{ path('panorama_user_check', {id: panorama.id}) }}" style="display: inline-block">
                                                    <input type="hidden" name="_method" value="CHECK">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('check' ~ panorama.id) }}">
                                                    <button class="btn btn-success btn-xs">Lire</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body pb-0">
                        <h4 class="card-title">Tickets</h4>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <tbody>
                                {% for ticket in tickets %}
                                    <tr>
                                        <td style="width:20px;">
                                            <span class="round">T</span>
                                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                                        </td>
                                        <td>
                                            <h6>{{ ticket.title }}</h6>
                                        </td>
                                        <td>
                                            <a href="{{ path('tickets_conversation_show', {id: ticket.id}) }}" class="btn btn-success btn-xs text-white">Lire</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
