{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css"/
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Accueil</h3>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% if app.user.reset == 1 %}
            <div class="alert alert-danger">Votre technicien a modifié votre mot de passe <br> Merci de bien vouloir le modifier pour plus de sécurité.
                <br><a href="{{ path('account.password') }}">Modifier mot de passe</a></div>
        {% endif %}
        {% if app.user.exploitation is null %}
            <div class="alert alert-info">Vous n'avez actuellement pas d'exploitation <br> Merci de vous rapprocher de votre technicien référent pour la création de votre exploitation</div>
        {% endif %}
        <div class="row">
            <div class="col-3 mb-3 d-block d-sm-none">
                <a href="{{ path('user.bsv.history.index') }}">
                    <i class="fa fa-bolt fa-2x text-dark" aria-hidden="true"><span class="font-weight-bold ml-1">F</span></i>
                </a>
            </div>
            <div class="col-3 mb-3 d-block d-sm-none">
                <a href="{{ path('user.panoramas.history.index') }}">
                    <i class="fa fa-newspaper-o fa-2x text-dark" aria-hidden="true"><span class="font-weight-bold ml-1">P</span></i>
                </a>
            </div>
            <div class="col-3 mb-3 d-block d-sm-none">
                <a href="{{ path('exploitation.recommendations.index') }}">
                    <i class="fa fa-thumbs-up fa-2x text-dark" aria-hidden="true"><span class="font-weight-bold ml-1">R</span></i>
                </a>
            </div>
            <div class="col-3 mb-3 d-block d-sm-none">
                <a href="{{ path('tickets.home') }}">
                    <i class="fa fa-comments-o fa-2x text-dark" aria-hidden="true"><span class="font-weight-bold ml-1">T</span></i>
                </a>
            </div>
            <div class="col-md-6">
                <a href="{{ path('ilots.index') }}" class="btn btn-warning btn-lg btn-block mb-4">Ilots</a>
                <a href="{{ path('multiple.intervention.index') }}" class="btn btn-success btn-lg btn-block mb-4">Cultures</a>
                <a href="{{ path('exploitation.stock.index') }}" class="btn btn-danger btn-lg btn-block mb-4">Gestion des stocks</a>
                <a href="{{ path('exploitation.irrigation.index') }}" class="btn btn-info btn-lg btn-block">Irrigation</a>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <div class="card">
                    <div class="card-body pb-0">
                        <h4 class="card-title">Flashs</h4>
                    </div>
                    <div class="comment-widgets position-relative mb-2 common-widget">
                        <div class="d-flex flex-row comment-row p-3">
                            {% for bsv in bsvs %}
                                {% if date(bsv.displayAt) <= date() and bsv.checked == 0 %}
                                    <div class="comment-text w-100 p-3">
                                        <p class="mb-1 overflow-hidden">{{ bsv.bsv.text }}</p>
                                        <div class="comment-footer">
                                            <span class="text-muted pull-right">{{ bsv.displayAt|date('d M y à h:m') }}</span>
                                            <span class="badge badge-info">Non lu</span>
                                            <span class="action-icons">
                                                <form method="POST" action="{{ path('user.bsv.check', {id: bsv.id}) }}" style="display: inline-block">
                                                    <input type="hidden" name="_method" value="CHECK">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('check' ~ bsv.id) }}">
                                                    <button class="btn btn-success btn-xs"><i class="ti-check"></i> Lire</button>
                                                </form>
                                            </span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body pb-0">
                        <h4 class="card-title">Panorama</h4>
                    </div>
                    <div class="comment-widgets position-relative mb-2 common-widget">
                        <div class="d-flex flex-row comment-row p-3">
                            {% for panorama in panoramas %}
                                {% if date(panorama.displayAt) <= date() and panorama.checked == 0 %}
                                    <div class="comment-text w-100 p-3">
                                        <p class="mb-1 overflow-hidden">{{ panorama.panorama.text }}</p>
                                        <div class="comment-footer">
                                            <span class="text-muted pull-right">{{ panorama.displayAt|date('d M y à h:m') }}</span>
                                            <span class="badge badge-info">Non lu</span>
                                            <span class="action-icons">
                                                <form method="POST" action="{{ path('user.panorama.check', {id: panorama.id}) }}" style="display: inline-block">
                                                    <input type="hidden" name="_method" value="CHECK">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('check' ~ panorama.id) }}">
                                                    <button class="btn btn-success btn-xs">Lire</button>
                                                </form>
                                            </span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body pb-0">
                        <h4 class="card-title">Tickets</h4>
                    </div>
                    <div class="comment-widgets position-relative mb-2 common-widget">
                        <div class="d-flex flex-row comment-row p-3">
                            {% for ticket in tickets %}
                                <div class="comment-text w-100 p-3">
                                    <p class="mb-1 overflow-hidden">{{ ticket.title }}</p>
                                    <div class="comment-footer">
                                        <span class="action-icons">
                                            <a href="{{ path('tickets.home') }}" class="btn btn-success btn-xs text-white">Lire</a>
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}