<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LMS SODEPAC</title>
    <meta name="description" content="Awesome App Template built with Bootstrap Framework and Paperkit for creating App Landing Pages by TemplateFlip.com"/>
    <link href="https://fonts.googleapis.com/css?family=Dosis:600|Roboto:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('landing/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('landing/css/paper-kit.css?v=2.1.0') }}" rel="stylesheet">
    <link href="{{ asset('landing/styles/main.css') }}" rel="stylesheet">
</head>
<body id="top">
<header>
    <div class="aa-header">
        <nav class="navbar navbar-expand-md navbar-transparent">
            <div class="container"><img class="img-fluid pr-3 aa-logo-img" src="images/logo.png" alt="logo">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                        <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
                        <li class="nav-item"><a class="btn btn-outline-neutral btn-round" href="#download">Download Now</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container aa-header-content text-left text-white">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h1 class="text-white mb-4">La planification avec LMS Sodepac</h1>
                    <p>Offrir plus d’efficacité et une meilleure productivité au quotidien pour toutes les filières agricoles !</p>
                    <ul class="py-1 list-unstyled">
                        <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Disponible sur toutes les plateformes</li>
                        <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Pensez par vous, pour vous</li>
                        <li class="py-2"><i class="fa fa-check-circle pr-4" aria-hidden="true"></i> Une prise en main rapide est facile</li>
                    </ul><a class="mt-4 btn btn-outline-neutral btn-round" href="{{ path('login') }}">Commencer</a>
                </div>
                <div class="col-md-6 col-sm-12 text-right"><img class="img-fluid" src="landing/images/1.jpg" alt="Image"></div>
            </div>
        </div>
    </div>
</header>
<div class="page-content">
    <div>
        <div class="aa-price-package section" id="pricing">
            <div class="container">
                <div class="text-center">
                    <h2 class="title">Découvrez notre application LMS Sodepac </h2>
                    <p class="pb-5">Enregistrez, collectez et analysez vos données renseignées sur le terrain.</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="h5 mt-0">Cahier de culture</div>
                                <div class="aa-price-section">Saisissez vos travaux agricoles.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card  text-center">
                            <div class="card-body">
                                <div class="h5 mt-0">Calcul de plan prévisionnel fumure (PPF)</div>
                                <div class="aa-price-section">A chaque fin de saison.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="h5 mt-0">Gestion des stocks</div>
                                <div class="aa-price-section">Saisissez votre stock au fil de vos achats et exportez votre stock au format PDF.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card text-center">
                            <div class="card-body">
                                <div class="h5 mt-0">Module irrigation</div>
                                <div class="aa-price-section">Gérer votre irrigation, pluviométrie ou artificielle.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr/>
        </div>
        <div class="aa-testimonials-section section">
            <div class="container">
                <div class="text-center">
                    <h2 class="title mt-0">Sodepac est une société de négoce agricole qui apporte auprès de ses clients une solution de conseils en amont et en aval de la collecte de ses cultures (arboriculture, céréale, culture semencière)</h2>
                    <p>Nous collaborons avec nos clients en leurs fournissant des solutions adaptées à leurs besoins quotidiens (collecte, commercialisation, distribution d'agrofourniture).</p>
                </div>
                <div class="aa-testimonials">
                    <div class="row">
                        <div class="col-md-12 mb-9">
                            <div class="aa-testimonials-body">
                                <p>J'ai souhaité proposer à mes clients une application leur proposant une véritable avancée technologique. Cette application leur allègera des tâches administratives répétitives et énergivores.
                                    <br> LMS Sodepac est un condensé de ce dont l'agriculture moderne nous impose désormais:
                                    <ul>
                                        <li>Rigueur, de par la tenue d'un cahier de la culture à jour.</li>
                                        <li>Traçabilité, de par le suivi de vottre culture, de la semance, à la récolte</li>
                                        <li>Mise en conformité avec la tenue en temps réel de votre stock de produits phytosanitaire.</li>
                                        <li>Ergonomie, avec une application simple, intuitive, et accessible à tous.</li>
                                        <li>Certification grâce aux données collectées par l'application du respect de votre exploitation de la certification au label HVE.</li>
                                    </ul>
                                C'est pour cette raison que nous avons conçu pour nos clients, l'application LMS SODEPAC, qui vous allégera considérablement de vos saisies au PC, puisque désormais notre application vous permettra de piloter votre exploitation depuis votre smartphone...
                                </p>
                                <div class="row pt-3">
                                    <div class="col-lg-5 col-md-12"></div>
                                    <div class="col-lg-7 col-md-12 pt-3">
                                        <div class="h5">Denis Hure</div>
                                        <p class="text-muted">Sodepac</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-black aa-footer">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-md-12">
                <p class="mt-3">Copyright &copy; <a class="credit" href="https://lmsdesign.fr" target="_blank">LMS DESIGN</a> - SODEPAC</p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ asset('landing/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('landing/js/jquery-ui-1.12.1.custom.min.js') }}"></script>
<script src="{{ asset('landing/js/popper.js') }}js/popper.js"></script>
<script src="{{ asset('landing/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('landing/paper-kit.js?v=2.1.0') }}"></script>
<script src="{{ asset('landing/scripts/main.js') }}"></script>
</body>
</html>