<div class="card-body">
    <div class="d-flex no-block">
        <h4 class="card-title">Listes des Flashs envoyés en {{ year }}</h4>
    </div>
    <div class="table-responsive m-t-20">
        <table class="table stylish-table">
            <thead>
            <tr>
                <th>Date de création</th>
                <th>Date d'envoi</th>
                <th>Texte</th>
                <th>Destinataire</th>
            </tr>
            </thead>
            <tbody>
            {% for flash in flashs %}
                <tr>
                    <td>{{ flash.bsv.creationDate|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</td>
                    <td>{{ flash.displayAt|localizeddate('none', 'none', null, null, 'd MMMM Y à HH:mm') }}</td>
                    <td>{{ flash.bsv.text }}</td>
                    <td>{{ flash.customers.identity }}</td>
                    <td>
                        {% if flash.bsv.firstFile %}
                            <a href="{{ asset('uploads/flash/' ~ flash.bsv.firstFile) }}" class="btn btn-success" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
                        {% endif %}
                        {% if flash.bsv.secondFile %}
                            <a href="{{ asset('uploads/flash/' ~ flash.bsv.secondFile) }}" class="btn btn-success" target="_blank"><i class="fa fa-file-image-o"></i></a>
                        {% endif %}
                        {% if flash.bsv.thirdFile %}
                            <a href="{{ asset('uploads/flash/' ~ flash.bsv.thirdFile) }}" class="btn btn-success" target="_blank"><i class="fa fa-picture-o"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
