{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block body %}
    {% if printRequest == false %}
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                <li class="breadcrumb-item active">{{ culture.name }}</li>
            </ol>
        </div>
        <div class="">
            <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    {% endif  %}
                    <div class="table-responsive">
                        <table class="table table-bordered no-wrap">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Semi Prelevé
                                </th>
                                <th>
                                    Crochet
                                </th>
                                <th>
                                    Fouet
                                </th>
                                <th>
                                    1 Feuille
                                </th>
                                <th>
                                    2 Feuilles
                                </th>
                                <th>
                                    3 Feuilles
                                </th>
                                <th>
                                    4 Feuilles
                                </th>
                                <th>
                                    5 Feuilles
                                </th>
                                <th>
                                    Bulbes 50
                                </th>
                                <th>
                                    Division
                                </th>
                                <th>
                                    Récoltre
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>FERTILISATION</td>
                                <td>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE8539MM67JWF8GBJY7PKPY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE8539MM67JWF8GBJY7PKPY" product_slug="guanumus" dose="1000" unit="Kg">GUANUMUS <small>1000 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE8539P43EYERF0WZ91KKD8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE8539P43EYERF0WZ91KKD8" product_slug="bochevo-c-bio-s" dose="1000" unit="Kg">BOCHEVO <small>1000 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE8539S79VKV2M16XGX8Q02' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE8539S79VKV2M16XGX8Q02" product_slug="bior" dose="700" unit="Kg">BIOR 70 <small>700 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE8539VWPTNFAHB8SNZG6EF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE8539VWPTNFAHB8SNZG6EF" product_slug="orgabille-10-5-20" dose="500" unit="Kg">ORGABILLE 10-5-20 <small>500 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE8539XHT9W44SZT2R0GC74' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE8539XHT9W44SZT2R0GC74" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC 5-4-11 <small>500 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE8539Z01QYSP9J2HDWMYPX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE8539Z01QYSP9J2HDWMYPX" product_slug="rise-p" dose="200" unit="g">RISE P <small>200 gr</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853A1ABNGX6NTGXNZSDN2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853A1ABNGX6NTGXNZSDN2" product_slug="ino-loc" dose="20" unit="Kg">INO LOC <small>20 Kg</small></button>
                                </td>
                                <td>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853A32W21A669HJ94ZHR2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853A32W21A669HJ94ZHR2" product_slug="guanumus" dose="1000.000001" unit="Kg">GUANUMUS <small>1000 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853A67W828H5GWH886TDG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853A67W828H5GWH886TDG" product_slug="bochevo-c-bio-s" dose="1000.000001" unit="Kg">BOCHEVO <small>1000 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853A8SRWMV4CP1MWJT0Y5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853A8SRWMV4CP1MWJT0Y5" product_slug="bior" dose="700.000001" unit="Kg">BIOR 70 <small>700 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853AAX1EVN0EZ89EJMZ26' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853AAX1EVN0EZ89EJMZ26" product_slug="orgabille-10-5-20" dose="500.000001" unit="Kg">ORGABILLE 10-5-20 <small>500 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853ACXSS03MW541J66H7H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853ACXSS03MW541J66H7H" product_slug="diamic-5-4-11" dose="500.000001" unit="Kg">DIAMIC 5-4-11 <small>500 Kg</small></button>
                                </td>
                                <td></td><td></td>
                                <td>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853AEQBXRQTVS87N2XJPS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853AEQBXRQTVS87N2XJPS" product_slug="15-22-so3" dose="200" unit="Kg">15-22 <small>200 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853AH0F45DGJ1FFF77P7K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853AH0F45DGJ1FFF77P7K" product_slug="18-46-22" dose="200" unit="Kg">18-46 <small>200 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853AKWE08KDPEDWJ36AQ1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853AKWE08KDPEDWJ36AQ1" product_slug="labinor-6-12-0-bio-s" dose="400" unit="Kg">6-12-0 <small>400 Kg</small></button>
                                </td>
                                <td>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853APE9NF63CFF801Y168' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853APE9NF63CFF801Y168" product_slug="15-22-so3" dose="200.000001" unit="Kg">15-22 <small>200 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853ASMTFDA7XKYXK19DRA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853ASMTFDA7XKYXK19DRA" product_slug="18-46-22" dose="200.000001" unit="Kg">18-46 <small>200 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853AX4BJQ61BPKTMTHBB1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853AX4BJQ61BPKTMTHBB1" product_slug="labinor-6-12-0-bio-s" dose="400.000001" unit="Kg">6-12-0 <small>400 Kg</small></button>
                                </td>
                                <td></td><td></td>
                                <td>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853B0SMXBYJ49HFAD4G9X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853B0SMXBYJ49HFAD4G9X" product_slug="diamic-k25" dose="300" unit="Kg">DIAMIC K25 <small>300 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853B3F4HTJQE1HTXMB4AT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853B3F4HTJQE1HTXMB4AT" product_slug="sulfate-de-potasse" dose="200" unit="Kg">SULFATE K20 <small>200 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853B7TPXG7QC872SNF4BD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853B7TPXG7QC872SNF4BD" product_slug="patenkali" dose="300" unit="Kg">PATENKALI <small>300 Kg</small></button>
                                </td>
                                <td>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853B9P9G3WTX6R0ZYY2WR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853B9P9G3WTX6R0ZYY2WR" product_slug="diamic-k25" dose="300.000001" unit="Kg">DIAMIC K25 <small>300 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853BBPSDWF18MRCQ4J386' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BBPSDWF18MRCQ4J386" product_slug="sulfate-de-potasse" dose="200.000001" unit="Kg">SULFATE K20 <small>200 Kg</small></button>
                                    <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853BDPGE9J8CC430HZB35' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BDPGE9J8CC430HZB35" product_slug="patenkali" dose="300.000001" unit="Kg">PATENKALI <small>300 Kg</small></button>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>HERBICIDES <br>ANTI-DICOTS</td>
                                <td>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BFEMD3C6PAS150F17Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BFEMD3C6PAS150F17Q" product_slug="cent-7" dose="2" unit="L">CENT 7 <small>2 L</small></button>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BHSS3BP87QCJ2WKA3M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BHSS3BP87QCJ2WKA3M" product_slug="prowl" dose="3" unit="L">PROWL <small>3 L</small></button>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BMBB7DQW4GX4GK8H32' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BMBB7DQW4GX4GK8H32" product_slug="challenge-600" dose="4" unit="L">CHALLENGE 600 <small>4 L</small></button>
                                </td>
                                <td></td>
                                <td>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BPDRNW3W289KEE6NCW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BPDRNW3W289KEE6NCW" product_slug="lentagran" dose="2" unit="L">LANTAGRAN <small>2 L</small></button>
                                </td>
                                <td>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BR0YDQNVE457DDVGXV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BR0YDQNVE457DDVGXV" product_slug="lentagran" dose="2.000001" unit="L">LANTAGRAN <small>2 L</small></button>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BTMEF6EHG2ZFMHX5MA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BTMEF6EHG2ZFMHX5MA" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BW49AQ2VPV5MKDPDQZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BW49AQ2VPV5MKDPDQZ" product_slug="stratos-ultra" dose="2" unit="L">STRATOS ULTRA <small>2 L</small></button>
                                </td>
                                <td>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BYQMPWSCQHVSDCVXTW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BYQMPWSCQHVSDCVXTW" product_slug="lentagran" dose="2.0000012" unit="L">LANTAGRAN <small>2 L</small></button>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853C183VKNPWGMY5Y8RV6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853C183VKNPWGMY5Y8RV6" product_slug="fusilade-max" dose="2.000001" unit="L">FUSILADE MAX <small>2 L</small></button>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853C37TTPFYHNZVBW2CCT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853C37TTPFYHNZVBW2CCT" product_slug="stratos-ultra" dose="2.000001" unit="L">STRATOS ULTRA <small>2 L</small></button>
                                </td>
                                <td>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853C5E6R80T24MZQ3VYBD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853C5E6R80T24MZQ3VYBD" product_slug="lentagran" dose="2.0000013" unit="L">LANTAGRAN <small>2 L</small></button>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853C8HR8NMV07F61K9A12' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853C8HR8NMV07F61K9A12" product_slug="fusilade-max" dose="2.000002" unit="L">FUSILADE MAX <small>2 L</small></button>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853CB9V5G7WFQBJWTHBR5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CB9V5G7WFQBJWTHBR5" product_slug="stratos-ultra" dose="2.000003" unit="L">STRATOS ULTRA <small>2 L</small></button>
                                </td>
                                <td>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853CFBQ6BH0Y1WZVMFZ0T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CFBQ6BH0Y1WZVMFZ0T" product_slug="lentagran" dose="2.0000014" unit="L">LANTAGRAN <small>2 L</small></button>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853CJPR7V1EESM6TCZ3SJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CJPR7V1EESM6TCZ3SJ" product_slug="fusilade-max" dose="2.000004" unit="L">FUSILADE MAX <small>2 L</small></button>
                                    <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853CPEG0K9RV62PWB1FMH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CPEG0K9RV62PWB1FMH" product_slug="stratos-ultra" dose="2.000004" unit="L">STRATOS ULTRA <small>2 L</small></button>
                                </td>
                                <td></td><td></td><td></td><td></td>
                            </tr>
                            <tr>
                                <td>FONGICIDES <br>ROUILLES <br>MILDIOU</td>
                                <td></td><td></td><td></td>
                                <td>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853CSE18R192NCKC577ZX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CSE18R192NCKC577ZX" product_slug="mancowan-plus" dose="2" unit="Kg">MANCOWAN PLUS <small>2 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853CVYRA7F36J7XBJHCPQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CVYRA7F36J7XBJHCPQ" product_slug="ortiva-top" dose="1" unit="L">ORTIVA TOP <small>1 L</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853CXDHYQ2AJFXT8ER4SJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CXDHYQ2AJFXT8ER4SJ" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853CZHSXBV26D01B11832' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CZHSXBV26D01B11832" product_slug="ortiva" dose="1" unit="L">ORTIVA <small>1 L</small></button>
                                    <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853D1DRFZSM2N9MW9EZQF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853D1DRFZSM2N9MW9EZQF" product_slug="sticop" dose="3" unit="L">STICOP <small>3 L</small></button>
                                    <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853D3ZK9VE6RB9KKZNB61' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853D3ZK9VE6RB9KKZNB61" product_slug="bouillie-bordelaise-rsr" dose="4" unit="Kg">BB RSR <small>4 Kg</small></button>
                                </td>
                                <td>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853D5KFHA3CDDZNV80MEC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853D5KFHA3CDDZNV80MEC" product_slug="mancowan-plus" dose="2" unit="Kg">MANCOWAN PLUS <small>2 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853D6DQF897NMWFBDQGKT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853D6DQF897NMWFBDQGKT" product_slug="ortiva-top" dose="1" unit="L">ORTIVA TOP <small>1 L</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853D956ZNGR6Q5FMNT5DV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853D956ZNGR6Q5FMNT5DV" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853DB2CT54NF56318S9AZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DB2CT54NF56318S9AZ" product_slug="ortiva" dose="1" unit="L">ORTIVA <small>1 L</small></button>
                                    <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853DDS9WY26X39N0DR61F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DDS9WY26X39N0DR61F" product_slug="sticop" dose="3" unit="L">STICOP <small>3 L</small></button>
                                    <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853DE83CJBBCA562EWD19' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DE83CJBBCA562EWD19" product_slug="bouillie-bordelaise-rsr" dose="4" unit="Kg">BB RSR <small>4 Kg</small></button>
                                </td>
                                <td>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853DHE54M15VMDT04RWJX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DHE54M15VMDT04RWJX" product_slug="mancowan-plus" dose="2" unit="Kg">MANCOWAN PLUS <small>2 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853DJMJN3P2N563F2ZWV1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DJMJN3P2N563F2ZWV1" product_slug="ortiva-top" dose="1" unit="L">ORTIVA TOP <small>1 L</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853DM8C4H1BV50XZFH631' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DM8C4H1BV50XZFH631" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853DQ69C1QV47EWJ6P243' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DQ69C1QV47EWJ6P243" product_slug="ortiva" dose="1" unit="L">ORTIVA <small>1 L</small></button>
                                    <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853DS83V3SYBZMRH9X4XT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DS83V3SYBZMRH9X4XT" product_slug="sticop" dose="3" unit="L">STICOP <small>3 L</small></button>
                                    <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853DX5XPFK79V8K6XP40C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DX5XPFK79V8K6XP40C" product_slug="bouillie-bordelaise-rsr" dose="4" unit="Kg">BB RSR <small>4 Kg</small></button>
                                </td>
                                <td>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853E0J3RBPMGHX7T4CSK4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853E0J3RBPMGHX7T4CSK4" product_slug="mancowan-plus" dose="2" unit="Kg">MANCOWAN PLUS <small>2 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853E3VNN2V3NVH64Q48F0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853E3VNN2V3NVH64Q48F0" product_slug="ortiva-top" dose="1" unit="L">ORTIVA TOP <small>1 L</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853E7KW8QAWEGZE016AEZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853E7KW8QAWEGZE016AEZ" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853EB7K0HW65EYJWBXXTA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EB7K0HW65EYJWBXXTA" product_slug="ortiva" dose="1" unit="L">ORTIVA <small>1 L</small></button>
                                    <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853ED855KMTQ8VF48FDBY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853ED855KMTQ8VF48FDBY" product_slug="sticop" dose="3" unit="L">STICOP <small>3 L</small></button>
                                    <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853EF6BB43933YTKS7XMS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EF6BB43933YTKS7XMS" product_slug="bouillie-bordelaise-rsr" dose="4" unit="Kg">BB RSR <small>4 Kg</small></button>
                                </td>
                                <td>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853EJ3GDNC32282J2MK2E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EJ3GDNC32282J2MK2E" product_slug="mancowan-plus" dose="2" unit="Kg">MANCOWAN PLUS <small>2 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853EMWVCZB86VDEJHTJV5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EMWVCZB86VDEJHTJV5" product_slug="ortiva-top" dose="1" unit="L">ORTIVA TOP <small>1 L</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853EPM1SNA4AN898FGTHJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EPM1SNA4AN898FGTHJ" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853ES636ZS077KZN6EWAP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853ES636ZS077KZN6EWAP" product_slug="ortiva" dose="1" unit="L">ORTIVA <small>1 L</small></button>
                                    <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853EVA982R8F5W9X9R9W2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EVA982R8F5W9X9R9W2" product_slug="sticop" dose="3" unit="L">STICOP <small>3 L</small></button>
                                    <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853EXWM3HXZNK5HCHQ4JF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EXWM3HXZNK5HCHQ4JF" product_slug="bouillie-bordelaise-rsr" dose="4" unit="Kg">BB RSR <small>4 Kg</small></button>
                                </td>
                                <td></td><td></td>
                            </tr>
                            <tr>
                                <td>POURRITURE</td>
                                <td>
                                    <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853F0YSJ7FT1EF8SCKCV9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853F0YSJ7FT1EF8SCKCV9" product_slug="prestop" dose="3" unit="Kg">PRESTOP <small>3 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853F28Y0W5AW7G657QG92' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853F28Y0W5AW7G657QG92" product_slug="signum" dose="0.3" unit="Kg/QL">SIGNUM <small>0.3 Kg/QL</small></button>
                                </td>
                                <td>
                                    <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853F42Z4KP8RCQWMCM8S6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853F42Z4KP8RCQWMCM8S6" product_slug="prestop" dose="3.000001" unit="Kg">PRESTOP <small>3 Kg</small></button>
                                </td>
                                <td></td>
                                <td>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853F6G07WJH3BE4BNCH70' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853F6G07WJH3BE4BNCH70" product_slug="serenva" dose="1" unit="Kg">SERENVA <small>1 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853F8T7E52NFBHY6Y6T8R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853F8T7E52NFBHY6Y6T8R" product_slug="signum" dose="1.000006" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                </td>
                                <td>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853FA3THWDNK8CX829TFK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FA3THWDNK8CX829TFK" product_slug="serenva" dose="1.000001" unit="Kg">SERENVA <small>1 Kg</small></button>
                                    <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853FDNVRBHK4PNAET0WA0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FDNVRBHK4PNAET0WA0" product_slug="signum" dose="1.0000061" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                </td>
                                <td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr>
                                <td>INSECTICIDES <br>MOUCHES <br>PUCERONS</td>
                                <td></td>
                                <td>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853FHS8GB314W41YA0MHW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FHS8GB314W41YA0MHW" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853FMCYEDM9KJANQ39PTE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FMCYEDM9KJANQ39PTE" product_slug="karate-xflow" dose="0.250" unit="L">KARATE XFLOW <small>0.250</small></button>
                                </td>
                                <td>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853FRHE2AJRAS1YJQ5RES' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FRHE2AJRAS1YJQ5RES" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853FV25B8HDTSEW64RE2J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FV25B8HDTSEW64RE2J" product_slug="karate-xflow" dose="0.250" unit="L">KARATE XFLOW <small>0.250</small></button>
                                </td>
                                <td>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853FXBDSBGEXQXAK78GE0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FXBDSBGEXQXAK78GE0" product_slug="decis-protech" dose="0.5000001" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853G0ZQMR7ZPC93SYFE1Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853G0ZQMR7ZPC93SYFE1Q" product_slug="karate-xflow" dose="0.250000001" unit="L">KARATE XFLOW <small>0.250</small></button>
                                </td>
                                <td>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853G23EESRT7YQAQKX6YC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853G23EESRT7YQAQKX6YC" product_slug="decis-protech" dose="0.5000001" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853G4MR0QP0VDW1X9RFM5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853G4MR0QP0VDW1X9RFM5" product_slug="karate-xflow" dose="0.250000001" unit="L">KARATE XFLOW <small>0.250</small></button>
                                </td>
                                <td>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853G68M9FVNKAG6H97740' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853G68M9FVNKAG6H97740" product_slug="decis-protech" dose="0.5000002" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853G8E8AWWR2KJDM9JR4W' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853G8E8AWWR2KJDM9JR4W" product_slug="karate-xflow" dose="0.250000002" unit="L">KARATE XFLOW <small>0.250</small></button>
                                </td>
                                <td>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853GAX3W4CXCS6R8D8107' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GAX3W4CXCS6R8D8107" product_slug="decis-protech" dose="0.5000001" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853GCXMERTDNBHHKJ0SRK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GCXMERTDNBHHKJ0SRK" product_slug="karate-xflow" dose="0.250000001" unit="L">KARATE XFLOW <small>0.250</small></button>
                                </td>
                                <td></td><td></td><td></td><td></td>
                            </tr>
                            <tr>
                                <td rowspan="2">NUTRITIONS <br>FOLIAIRES</td>
                                <td>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GEYKA9HAY7HWA015ZG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GEYKA9HAY7HWA015ZG" product_slug="ino-activ" dose="5" unit="L">INO ACTIV <small>5 L</small></button>
                                </td>
                                <td>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GGJP7WVX37SXA36HH6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GGJP7WVX37SXA36HH6" product_slug="ino-activ" dose="5.000001" unit="L">INO ACTIV <small>5 L</small></button>
                                </td>
                                <td>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GJ8JYD1A0MP2BB54EB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GJ8JYD1A0MP2BB54EB" product_slug="ino-activ" dose="5.000002" unit="L">INO ACTIV <small>5 L</small></button>
                                </td>
                                <td></td>
                                <td>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GMZ3GYX4ZAPM7QF8FE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GMZ3GYX4ZAPM7QF8FE" product_slug="ino-boost-npk" dose="5" unit="L">INO BOOST NPK <small>5 L</small></button>
                                </td>
                                <td>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GPKAX8YSVM241BTYFW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GPKAX8YSVM241BTYFW" product_slug="ino-boost-npk" dose="5.000001" unit="L">INO BOOST NPK <small>5 L</small></button>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GR8GQS4JR65XM7S2WB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GR8GQS4JR65XM7S2WB" product_slug="ino-flow-ca-560" dose="5" unit="L">INO FLOW CA 560 <small>5 L</small></button>
                                </td>
                                <td>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GTECPPHMNRW4TCZ9HB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GTECPPHMNRW4TCZ9HB" product_slug="ino-boost-npk" dose="5.0000012" unit="L">INO BOOST NPK <small>5 L</small></button>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GWP7FN1WMW4Z4T1DWH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GWP7FN1WMW4Z4T1DWH" product_slug="ino-flow-ca-560" dose="5.000001" unit="L">INO FLOW CA 560 <small>5 L</small></button>
                                </td>
                                <td>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GZAY8DDN2KTRBKEXFK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GZAY8DDN2KTRBKEXFK" product_slug="ino-boost-npk" dose="5.0000013" unit="L">INO BOOST NPK <small>5 L</small></button>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853H2Z86XYMVP6AXSY923' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853H2Z86XYMVP6AXSY923" product_slug="ino-flow-ca-560" dose="5.000002" unit="L">INO FLOW CA 560 <small>5 L</small></button>
                                </td>
                                <td>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853H6CC3ABHJ699WSYTQ8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853H6CC3ABHJ699WSYTQ8" product_slug="ino-boost-npk" dose="5.0000014" unit="L">INO BOOST NPK <small>5 L</small></button>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853H9QT5EKSFYYSXRF3J0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853H9QT5EKSFYYSXRF3J0" product_slug="ino-flow-ca-560" dose="5.000003" unit="L">INO FLOW CA 560 <small>5 L</small></button>
                                </td>
                                <td></td><td></td>
                            </tr>
                            <tr>
                                <td></td><td></td><td></td><td></td><td></td><td></td>
                                <td>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HD4G619BBHJ6297M8H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HD4G619BBHJ6297M8H" product_slug="ino-boost-npk" dose="5" unit="Kg">K-LEAF <small>5 Kg</small></button>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HGAK8PRJ06DM3Z2BZ7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HGAK8PRJ06DM3Z2BZ7" product_slug="ino-flow-ca-560" dose="0.8" unit="L/Ha">LADAE <small>0.8 L/Ha</small></button>
                                </td>
                                <td>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HK3280YM6DSJ4Q6HHM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HK3280YM6DSJ4Q6HHM" product_slug="ino-boost-npk" dose="5.000001" unit="Kg">K-LEAF <small>5 Kg</small></button>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HNJTD5CYCHZPJ275TD' in c_id_array ? 'exist' : 'd-none' }}}" c_id="01FEE853HNJTD5CYCHZPJ275TD" product_slug="ino-flow-ca-560" dose="0.8000001" unit="L/Ha">LADAE <small>0.8 L/Ha</small></button>
                                </td>
                                <td>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HQHKC67QX97W1A4NZP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HQHKC67QX97W1A4NZP" product_slug="ino-boost-npk" dose="5.000002" unit="Kg">K-LEAF <small>5 Kg</small></button>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HSQ352TDAQE2X3089T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HSQ352TDAQE2X3089T" product_slug="ino-flow-ca-560" dose="0.8000002" unit="L/Ha">LADAE <small>0.8 L/Ha</small></button>
                                </td>
                                <td>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HW7N0M946ZQJY66HVP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HW7N0M946ZQJY66HVP" product_slug="ino-boost-npk" dose="5.000003" unit="Kg">K-LEAF <small>5 Kg</small></button>
                                    <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HYK386XTFJDMDRZB7W' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HYK386XTFJDMDRZB7W" product_slug="ino-flow-ca-560" dose="0.8000002" unit="L/Ha">LADAE <small>0.8 L/Ha</small></button>
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
    {% endblock %}
