{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block body %}
    {% if printRequest == false %}
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-12">
            <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                <li class="breadcrumb-item active">{{ culture.name }}</li>
            </ol>
        </div>
        <div class="">
            <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    {% endif  %}
                    <div class="table-responsive">
                      <table class="table table-bordered no-wrap">
                        <thead>
                        <tr>
                          <th></th>
                          <th>
                            Semi Prelevé
                          </th>
                          <th>
                            Crochet
                          </th>
                          <th>
                            Fouet
                          </th>
                          <th>
                            1 Feuille
                          </th>
                          <th>
                            2 Feuilles
                          </th>
                          <th>
                            3 Feuilles
                          </th>
                          <th>
                            4 Feuilles
                          </th>
                          <th>
                            5 Feuilles
                          </th>
                          <th>
                            Bulbes 50
                          </th>
                          <th>
                            Division
                          </th>
                          <th>
                            Récoltre
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>FERTILISATION</td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE8539MM67JWF8GBJY7PKPY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE8539MM67JWF8GBJY7PKPY" product_slug="guanumus" dose="1000" unit="Kg">GUANUMUS EVOLUTION C BIO <small>1000Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE8539P43EYERF0WZ91KKD8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE8539P43EYERF0WZ91KKD8" product_slug="bochevo-c-bio-s" dose="1000" unit="Kg">BOCHEVO BOUCHON C BIO <small>1000Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE8539S79VKV2M16XGX8Q02' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE8539S79VKV2M16XGX8Q02" product_slug="bior" dose="700" unit="Kg">BIOR 70% MO BIO <small>700Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE8539XHT9W44SZT2R0GC74' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE8539XHT9W44SZT2R0GC74" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC UAB 5 4 11 + 2MGO BIO 5 QL <small>500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE8539Z01QYSP9J2HDWMYPX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE8539Z01QYSP9J2HDWMYPX" product_slug="rise-p-vam" dose="200" unit="g">RISE P VAM <small>200g</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853A1ABNGX6NTGXNZSDN2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853A1ABNGX6NTGXNZSDN2" product_slug="ino-loc" dose="20" unit="Kg">INO LOC MICRO PZ 10-40 (11 SO3 2 ZN) 10 KG <small>20Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853A32W21A669HJ94ZHR2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853A32W21A669HJ94ZHR2" product_slug="guanumus" dose="1000" unit="Kg">GUANUMUS EVOLUTION C BIO <small>1000Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853A67W828H5GWH886TDG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853A67W828H5GWH886TDG" product_slug="bochevo-c-bio-s" dose="1000" unit="Kg">BOCHEVO BOUCHON C BIO <small>1000Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853A8SRWMV4CP1MWJT0Y5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853A8SRWMV4CP1MWJT0Y5" product_slug="bior" dose="700" unit="Kg">BIOR 70% MO BIO <small>700Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853ACXSS03MW541J66H7H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853ACXSS03MW541J66H7H" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC UAB 5 4 11 + 2MGO BIO 5 QL <small>500Kg</small></button>
                          </td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853AH0F45DGJ1FFF77P71' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853AH0F45DGJ1FFF77P71" product_slug="17-20-0-28-so3" dose="400" unit="Kg">17 20 0+28 SO3 6 QL (FERTINAGRO) <small>400KG</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853AH0F45DGJ1FFF77P7K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853AH0F45DGJ1FFF77P7K" product_slug="18-46-22" dose="200" unit="Kg">18 46 <small>200Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853AKWE08KDPEDWJ36AQ1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853AKWE08KDPEDWJ36AQ1" product_slug="labinor-6-12-0-bio-s" dose="400" unit="Kg">LABINOR 6  12  0 BIO 5 QL <small>400Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853AH0F45DGJ1FFF77P72' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853AH0F45DGJ1FFF77P72" product_slug="17-20-0-28-so3" dose="400" unit="Kg">17 20 0+28 SO3 6 QL (FERTINAGRO) <small>400KG</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853ASMTFDA7XKYXK19DRA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853ASMTFDA7XKYXK19DRA" product_slug="18-46-22" dose="200" unit="Kg">18 46 <small>200Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853AX4BJQ61BPKTMTHBB1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853AX4BJQ61BPKTMTHBB1" product_slug="labinor-6-12-0-bio-s" dose="400" unit="Kg">LABINOR 6  12  0 BIO 5 QL <small>400Kg</small></button>
                          </td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853B0SMXBYJ49HFAD4G9X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853B0SMXBYJ49HFAD4G9X" product_slug="diamic-k26" dose="300" unit="Kg">DIAMIC K26 UAB BIO <small>300Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853B3F4HTJQE1HTXMB4AT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853B3F4HTJQE1HTXMB4AT" product_slug="sulfate-de-potasse" dose="200" unit="Kg">SULFATE DE POTASSE 6 QL <small>200Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853B7TPXG7QC872SNF4BD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853B7TPXG7QC872SNF4BD" product_slug="patenkali" dose="300" unit="Kg">PATENKALI <small>300Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853B9P9G3WTX6R0ZYY2WR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853B9P9G3WTX6R0ZYY2WR" product_slug="diamic-k26" dose="300" unit="Kg">DIAMIC K26 UAB BIO <small>300Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE853BBPSDWF18MRCQ4J386' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BBPSDWF18MRCQ4J386" product_slug="sulfate-de-potasse" dose="200" unit="Kg">SULFATE DE POTASSE 6 QL <small>200Kg</small></button>
                           </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>HERBICIDES <br>ANTI-DICOTS</td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BFEMD3C6PAS150F17Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BFEMD3C6PAS150F17Q" product_slug="cent-7" dose="2" unit="L">CENT 7 <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BHSS3BP87QCJ2WKA3M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BHSS3BP87QCJ2WKA3M" product_slug="prowl" dose="3" unit="L">PROWL <small>3L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BMBB7DQW4GX4GK8H32' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BMBB7DQW4GX4GK8H32" product_slug="challenge-600" dose="4" unit="L">CHALLENGE 600 <small>4L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GPNZXS6TCB2B7EVFPMEKR0Y3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZXS6TCB2B7EVFPMEKR0Y3" product_slug="basagran-sg " dose="1.1" unit="Kg">BASAGRAN SG <small>1.1Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GPNZXS6Y92FA0EMT3S390FC3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZXS6Y92FA0EMT3S390FC3" product_slug="basagran-sg " dose="1.1" unit="Kg">BASAGRAN SG <small>1.1Kg</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BPDRNW3W289KEE6NCW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BPDRNW3W289KEE6NCW" product_slug="lentagran" dose="2" unit="L">LENTAGRAN <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GPNZXS6ZGYQBSV4NGDZ2KY4X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZXS6ZGYQBSV4NGDZ2KY4X" product_slug="basagran-sg " dose="1.1" unit="Kg">BASAGRAN SG <small>1.1Kg</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BR0YDQNVE457DDVGXV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BR0YDQNVE457DDVGXV" product_slug="lentagran" dose="2" unit="L">LENTAGRAN <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BTMEF6EHG2ZFMHX5MA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BTMEF6EHG2ZFMHX5MA" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BW49AQ2VPV5MKDPDQZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BW49AQ2VPV5MKDPDQZ" product_slug="stratos-ultra" dose="2" unit="L">STRATOS ULTRA <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GPNZXS70CN9912PCZZTMZCMT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZXS70CN9912PCZZTMZCMT" product_slug="basagran-sg " dose="1.1" unit="Kg">BASAGRAN SG <small>1.1Kg</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853BYQMPWSCQHVSDCVXTW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853BYQMPWSCQHVSDCVXTW" product_slug="lentagran" dose="2" unit="L">LENTAGRAN <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853C183VKNPWGMY5Y8RV6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853C183VKNPWGMY5Y8RV6" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853C37TTPFYHNZVBW2CCT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853C37TTPFYHNZVBW2CCT" product_slug="stratos-ultra" dose="2" unit="L">STRATOS ULTRA <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GPNZXS70S02ZC3S1X6NS7XAG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZXS70S02ZC3S1X6NS7XAG" product_slug="basagran-sg " dose="1.1" unit="Kg">BASAGRAN SG <small>1.1Kg</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853C5E6R80T24MZQ3VYBD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853C5E6R80T24MZQ3VYBD" product_slug="lentagran" dose="2" unit="L">LENTAGRAN <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853C8HR8NMV07F61K9A12' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853C8HR8NMV07F61K9A12" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853CB9V5G7WFQBJWTHBR5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CB9V5G7WFQBJWTHBR5" product_slug="stratos-ultra" dose="2" unit="L">STRATOS ULTRA <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853CFBQ6BH0Y1WZVMFZ0T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CFBQ6BH0Y1WZVMFZ0T" product_slug="lentagran" dose="2" unit="L">LENTAGRAN <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853CJPR7V1EESM6TCZ3SJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CJPR7V1EESM6TCZ3SJ" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE853CPEG0K9RV62PWB1FMH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CPEG0K9RV62PWB1FMH" product_slug="stratos-ultra" dose="2" unit="L">STRATOS ULTRA <small>2L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>FONGICIDES <br>ROUILLES <br>MILDIOU</td>
                          <td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853CSE18R192NCKC577ZX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CSE18R192NCKC577ZX" product_slug="cuprocol-duo" dose="2.5" unit="Kg">CUPROCOL DUO  * 10 KG <small>2.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853CVYRA7F36J7XBJHCPQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CVYRA7F36J7XBJHCPQ" product_slug="ortiva-top" dose="1" unit="L">ORTIVA TOP <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853CXDHYQ2AJFXT8ER4SJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CXDHYQ2AJFXT8ER4SJ" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853CZHSXBV26D01B11832' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853CZHSXBV26D01B11832" product_slug="ortiva" dose="1" unit="L">ORTIVA <small>1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853D1DRFZSM2N9MW9EZQF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853D1DRFZSM2N9MW9EZQF" product_slug="macobzin-5-l" dose="3" unit="L">MACOBZIN * 5 L <small>3L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853D3ZK9VE6RB9KKZNB61' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853D3ZK9VE6RB9KKZNB61" product_slug="bouillie-bordelaise-rsr" dose="4" unit="Kg">BOUILLIE BORDELAISE RSR <small>4Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853D5KFHA3CDDZNV80MEC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853D5KFHA3CDDZNV80MEC" product_slug="cuprocol-duo" dose="2.5" unit="Kg">CUPROCOL DUO  * 10 KG <small>2.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853D6DQF897NMWFBDQGKT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853D6DQF897NMWFBDQGKT" product_slug="ortiva-top" dose="1" unit="L">ORTIVA TOP <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853D956ZNGR6Q5FMNT5DV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853D956ZNGR6Q5FMNT5DV" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853DB2CT54NF56318S9AZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DB2CT54NF56318S9AZ" product_slug="ortiva" dose="1" unit="L">ORTIVA <small>1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853DDS9WY26X39N0DR61F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DDS9WY26X39N0DR61F" product_slug="macobzin-5-l" dose="3" unit="L">MACOBZIN * 5 L <small>3L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853DE83CJBBCA562EWD19' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DE83CJBBCA562EWD19" product_slug="bouillie-bordelaise-rsr" dose="4" unit="Kg">BOUILLIE BORDELAISE RSR <small>4Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853DHE54M15VMDT04RWJX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DHE54M15VMDT04RWJX" product_slug="cuprocol-duo" dose="2.5" unit="Kg">CUPROCOL DUO  * 10 KG <small>2.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853DJMJN3P2N563F2ZWV1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DJMJN3P2N563F2ZWV1" product_slug="ortiva-top" dose="1" unit="L">ORTIVA TOP <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853DM8C4H1BV50XZFH631' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DM8C4H1BV50XZFH631" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853DQ69C1QV47EWJ6P243' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DQ69C1QV47EWJ6P243" product_slug="ortiva" dose="1" unit="L">ORTIVA <small>1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853DS83V3SYBZMRH9X4XT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DS83V3SYBZMRH9X4XT" product_slug="macobzin-5-l" dose="3" unit="L">MACOBZIN * 5 L <small>3L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853DX5XPFK79V8K6XP40C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853DX5XPFK79V8K6XP40C" product_slug="bouillie-bordelaise-rsr" dose="4" unit="Kg">BOUILLIE BORDELAISE RSR <small>4Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853E0J3RBPMGHX7T4CSK4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853E0J3RBPMGHX7T4CSK4" product_slug="cuprocol-duo" dose="2.5" unit="Kg">CUPROCOL DUO  * 10 KG <small>2.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853E3VNN2V3NVH64Q48F0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853E3VNN2V3NVH64Q48F0" product_slug="ortiva-top" dose="1" unit="L">ORTIVA TOP <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853E7KW8QAWEGZE016AEZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853E7KW8QAWEGZE016AEZ" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853EB7K0HW65EYJWBXXTA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EB7K0HW65EYJWBXXTA" product_slug="ortiva" dose="1" unit="L">ORTIVA <small>1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853ED855KMTQ8VF48FDBY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853ED855KMTQ8VF48FDBY" product_slug="macobzin-5-l" dose="3" unit="L">MACOBZIN * 5 L <small>3L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853EF6BB43933YTKS7XMS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EF6BB43933YTKS7XMS" product_slug="bouillie-bordelaise-rsr" dose="4" unit="Kg">BOUILLIE BORDELAISE RSR <small>4Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853EJ3GDNC32282J2MK2E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EJ3GDNC32282J2MK2E" product_slug="cuprocol-duo" dose="2.5" unit="Kg">CUPROCOL DUO  * 10 KG <small>2.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853EMWVCZB86VDEJHTJV5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EMWVCZB86VDEJHTJV5" product_slug="ortiva-top" dose="1" unit="L">ORTIVA TOP <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853EPM1SNA4AN898FGTHJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EPM1SNA4AN898FGTHJ" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853ES636ZS077KZN6EWAP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853ES636ZS077KZN6EWAP" product_slug="ortiva" dose="1" unit="L">ORTIVA <small>1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853EVA982R8F5W9X9R9W2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EVA982R8F5W9X9R9W2" product_slug="macobzin-5-l" dose="3" unit="L">MACOBZIN * 5 L <small>3L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853EXWM3HXZNK5HCHQ4JF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853EXWM3HXZNK5HCHQ4JF" product_slug="bouillie-bordelaise-rsr" dose="4" unit="Kg">BOUILLIE BORDELAISE RSR <small>4Kg</small></button>
                          </td>
                          <td></td><td></td>
                        </tr>
                        <tr>
                          <td>POURRITURE</td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853F0YSJ7FT1EF8SCKCV9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853F0YSJ7FT1EF8SCKCV9" product_slug="prestop" dose="3" unit="Kg">PRESTOP <small>3Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853F28Y0W5AW7G657QG92' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853F28Y0W5AW7G657QG92" product_slug="signum" dose="0.3" unit="Kg/QL">SIGNUM <small>0.3Kg/QL</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE853F42Z4KP8RCQWMCM8S6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853F42Z4KP8RCQWMCM8S6" product_slug="prestop" dose="3" unit="Kg">PRESTOP <small>3Kg</small></button>
                          </td>
                          <td></td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853F6G07WJH3BE4BNCH70' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853F6G07WJH3BE4BNCH70" product_slug="serenva" dose="1" unit="Kg">SERENVA <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853F8T7E52NFBHY6Y6T8R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853F8T7E52NFBHY6Y6T8R" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853FA3THWDNK8CX829TFK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FA3THWDNK8CX829TFK" product_slug="serenva" dose="1" unit="Kg">SERENVA <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE853FDNVRBHK4PNAET0WA0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FDNVRBHK4PNAET0WA0" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>INSECTICIDES <br>MOUCHES <br>PUCERONS</td>
                          <td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853FHS8GB314W41YA0MHW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FHS8GB314W41YA0MHW" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853FMCYEDM9KJANQ39PTE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FMCYEDM9KJANQ39PTE" product_slug="karate-xflow" dose="0.250" unit="L">KARATE XFLOW <small>0.250L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853FRHE2AJRAS1YJQ5RES' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FRHE2AJRAS1YJQ5RES" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853FV25B8HDTSEW64RE2J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FV25B8HDTSEW64RE2J" product_slug="karate-xflow" dose="0.250" unit="L">KARATE XFLOW <small>0.250L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853FXBDSBGEXQXAK78GE0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853FXBDSBGEXQXAK78GE0" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853G0ZQMR7ZPC93SYFE1Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853G0ZQMR7ZPC93SYFE1Q" product_slug="karate-xflow" dose="0.250" unit="L">KARATE XFLOW <small>0.250L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853G23EESRT7YQAQKX6YC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853G23EESRT7YQAQKX6YC" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853G4MR0QP0VDW1X9RFM5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853G4MR0QP0VDW1X9RFM5" product_slug="karate-xflow" dose="0.250" unit="L">KARATE XFLOW <small>0.250L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853G68M9FVNKAG6H97740' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853G68M9FVNKAG6H97740" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853G8E8AWWR2KJDM9JR4W' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853G8E8AWWR2KJDM9JR4W" product_slug="karate-xflow" dose="0.250" unit="L">KARATE XFLOW <small>0.250L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853GAX3W4CXCS6R8D8107' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GAX3W4CXCS6R8D8107" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE853GCXMERTDNBHHKJ0SRK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GCXMERTDNBHHKJ0SRK" product_slug="karate-xflow" dose="0.250" unit="L">KARATE XFLOW <small>0.250L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td rowspan="2">NUTRITIONS <br>FOLIAIRES</td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GEYKA9HAY7HWA015ZG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GEYKA9HAY7HWA015ZG" product_slug="ino-activ" dose="5" unit="L">INO-ACTIV ACRECIO 10 L <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GGJP7WVX37SXA36HH6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GGJP7WVX37SXA36HH6" product_slug="ino-activ" dose="5" unit="L">INO-ACTIV ACRECIO 10 L <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GJ8JYD1A0MP2BB54EB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GJ8JYD1A0MP2BB54EB" product_slug="ino-activ" dose="5" unit="L">INO-ACTIV ACRECIO 10 L <small>5L</small></button>
                          </td>
                          <td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GMZ3GYX4ZAPM7QF8FE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GMZ3GYX4ZAPM7QF8FE" product_slug="ino-boost-npk" dose="5" unit="L">INO-BOOST NPK 10L <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GPKAX8YSVM241BTYFW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GPKAX8YSVM241BTYFW" product_slug="ino-boost-npk" dose="5" unit="L">INO-BOOST NPK 10L <small>5L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GR8GQS4JR65XM7S2WB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GR8GQS4JR65XM7S2WB" product_slug="caltrac-560-bio-10-l" dose="5" unit="L">CALTRAC 560 BIO <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GTECPPHMNRW4TCZ9HB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GTECPPHMNRW4TCZ9HB" product_slug="ino-boost-npk" dose="5" unit="L">INO-BOOST NPK 10L <small>5L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GWP7FN1WMW4Z4T1DWH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GWP7FN1WMW4Z4T1DWH" product_slug="caltrac-560-bio-10-l" dose="5" unit="L">CALTRAC 560 BIO <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853GZAY8DDN2KTRBKEXFK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853GZAY8DDN2KTRBKEXFK" product_slug="ino-boost-npk" dose="5" unit="L">INO-BOOST NPK 10L <small>5L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853H2Z86XYMVP6AXSY923' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853H2Z86XYMVP6AXSY923" product_slug="caltrac-560-bio-10-l" dose="5" unit="L">CALTRAC 560 BIO <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853H6CC3ABHJ699WSYTQ8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853H6CC3ABHJ699WSYTQ8" product_slug="ino-boost-npk" dose="5" unit="L">INO-BOOST NPK 10L <small>5L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853H9QT5EKSFYYSXRF3J0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853H9QT5EKSFYYSXRF3J0" product_slug="caltrac-560-bio-10-l" dose="5" unit="L">CALTRAC 560 BIO <small>5L</small></button>
                          </td>
                          <td></td><td></td>
                        </tr>
                        <tr>
                          <td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HD4G619BBHJ6297M8H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HD4G619BBHJ6297M8H" product_slug="k-leaf" dose="5" unit="Kg">K-LEAF (52% Sulf.pot. 46.70%SO3) <small>5Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HGAK8PRJ06DM3Z2BZ7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HGAK8PRJ06DM3Z2BZ7" product_slug="ladae" dose="0.8" unit="L/Ha">LADAE <small>0.8L/Ha</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HK3280YM6DSJ4Q6HHM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HK3280YM6DSJ4Q6HHM" product_slug="k-leaf" dose="5" unit="Kg">K-LEAF (52% Sulf.pot. 46.70%SO3) <small>5Kg</small></button>
                            <button class="btn-M btn btn-block isProduct }{{ printRequest ? '01FEE853HNJTD5CYCHZPJ275TD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HNJTD5CYCHZPJ275TD" product_slug="ladae" dose="0.8" unit="L/Ha">LADAE <small>0.8L/Ha</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HQHKC67QX97W1A4NZP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HQHKC67QX97W1A4NZP" product_slug="k-leaf" dose="5" unit="Kg">K-LEAF (52% Sulf.pot. 46.70%SO3) <small>5Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HSQ352TDAQE2X3089T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HSQ352TDAQE2X3089T" product_slug="ladae" dose="0.8" unit="L/Ha">LADAE <small>0.8L/Ha</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HW7N0M946ZQJY66HVP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HW7N0M946ZQJY66HVP" product_slug="k-leaf" dose="5" unit="Kg">K-LEAF (52% Sulf.pot. 46.70%SO3) <small>5Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE853HYK386XTFJDMDRZB7W' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE853HYK386XTFJDMDRZB7W" product_slug="ladae" dose="0.8" unit="L/Ha">LADAE<small>0.8L/Ha</small></button>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Adjuvant</td>
                          <td></td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FVJ3ZJGS3507TXX6ZSHR9E9H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ3ZJGS3507TXX6ZSHR9E9H" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FVJ3ZJGVME8NB2MQAB52HA89' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ3ZJGVME8NB2MQAB52HA89" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FVJ3ZJGXGCQ914F6F9H9N6GJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ3ZJGXGCQ914F6F9H9N6GJ" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FVJ3ZJGZ38K66T891W7BP66N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ3ZJGZ38K66T891W7BP66N" product_slug="oliofix" dose="1" unit="L">OLIOFIX* 15 L <small>1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPNZX6FWPCEBC3E1VS97DJPZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZX6FWPCEBC3E1VS97DJPZ" product_slug="madialo-5-l" dose="0.15" unit="L">MADIALO * 5 L <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FVJ3ZJH24EF6J3CJSS4ZH8QF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ3ZJH24EF6J3CJSS4ZH8QF" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FVJ3ZJH6YTQH14FYKP1ABXGE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ3ZJH6YTQH14FYKP1ABXGE" product_slug="oliofix" dose="1" unit="L">OLIOFIX* 15 L <small>1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPNZX6G60H70FAMR7B7RMJA8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZX6G60H70FAMR7B7RMJA8" product_slug="madialo-5-l" dose="0.15" unit="L">MADIALO * 5 L <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FVJ3ZJH9ZEA3T68B1F8G75GT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ3ZJH9ZEA3T68B1F8G75GT" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FVJ3ZJHC7ZJR87NGC9ND5QTF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ3ZJHC7ZJR87NGC9ND5QTF" product_slug="oliofix" dose="1" unit="L">OLIOFIX* 15 L <small>1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPNZX6G716K3QCVX0DHBR962' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZX6G716K3QCVX0DHBR962" product_slug="madialo-5-l" dose="0.15" unit="L">MADIALO * 5 L <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FVJ3ZJHFA6S667H8BHP4QQAX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ3ZJHFA6S667H8BHP4QQAX" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FVJ3ZJHH0V39MTFZ60DMGCJA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ3ZJHH0V39MTFZ60DMGCJA" product_slug="oliofix" dose="1" unit="L">OLIOFIX* 15 L <small>1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPNZX6G8B689DBRBXXCT661X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZX6G8B689DBRBXXCT661X" product_slug="madialo-5-l" dose="0.15" unit="L">MADIALO * 5 L <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FVJ3ZJHNPCF57JVRSQ81QQAX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ3ZJHNPCF57JVRSQ81QQAX" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FVJ3ZJHT5V1WCQWZ5XTWQEG3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ3ZJHT5V1WCQWZ5XTWQEG3" product_slug="oliofix" dose="1" unit="L">OLIOFIX* 15 L <small>1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPNZX6G8J20VHMC6J0VRZR72' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZX6G8J20VHMC6J0VRZR72" product_slug="madialo-5-l" dose="0.15" unit="L">MADIALO * 5 L <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPNZX6G975GKQZFY5J4F8ZTK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZX6G975GKQZFY5J4F8ZTK" product_slug="madialo-5-l" dose="0.15" unit="L">MADIALO * 5 L <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPNZX6G9AZ1J24Q1YRAXNG2P' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZX6G9AZ1J24Q1YRAXNG2P" product_slug="madialo-5-l" dose="0.15" unit="L">MADIALO * 5 L <small>0.15L</small></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
    {% endblock %}
