{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-12">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                      <table class="table table-bordered no-wrap">
                        <thead>
                        <tr>
                          <th></th>
                          <th>
                            Bourgeons <br>D'hiver
                          </th>
                          <th>
                            Bourgeons <br>gonflés
                          </th>
                          <th>
                            Bourgeons avec <br>apparition des sépales
                          </th>
                          <th>
                            Bourgeons <br>ouverts des <br>feuilles visibles
                          </th>
                          <th>
                            Fleurs avec sépales <br>ouvertes <br>pétales visibles
                          </th>
                          <th>
                            Elamines <br>visibles
                          </th>
                          <th>
                            Fleurs <br>ouvertes
                          </th>
                          <th>
                            Chute <br>des pétales
                          </th>
                          <th>
                            Développpement des <br>fleurs
                          </th>
                          <th>
                            Allongement des <br>pousses
                          </th>
                          <th>
                            Chute des sépales et <br>fruits apparents
                          </th>
                          <th>
                            Fruits à 50% de leur <br>croissance
                          </th>
                          <th>
                            Fruits à <br>taille <br>definitive
                          </th>
                          <th>
                            Séparation de <br>l'épicarpse
                          </th>
                          <th>
                            Décoiement de <br>l'épicarpe et <br>mesocarpe
                          </th>
                          <th>
                            Post-Récolte
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>BACTERIOSE</td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917JN91XGY5TGQXZ1QJ0X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917JN91XGY5TGQXZ1QJ0X" product_slug="bouillie-bordelaise-rsr" dose="6" unit="Kg">BOUILLIE BORDELAISE RSR <small>6Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917JSVRTTBAFQ1997NAY2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917JSVRTTBAFQ1997NAY2" product_slug="nordox-75-wg" dose="1.67" unit="Kg">NORDOX 75 WG <small>1.67Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917JWAJHS3D5JVPEW1PTA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917JWAJHS3D5JVPEW1PTA" product_slug="rhapsody" dose="2.5" unit="L">RHAPSODY <small>2.5L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917K12RR8R3393KT2CWAW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917K12RR8R3393KT2CWAW" product_slug="bouillie-bordelaise-rsr" dose="6" unit="Kg">BOUILLIE BORDELAISE RSR <small>6Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917K4RBC2SFWGS85R9V2X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917K4RBC2SFWGS85R9V2X" product_slug="nordox-75-wg" dose="1.67" unit="Kg/Ha">NORDOX 75 WG <small>1.67Kg/Ha</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>COCHENILLES <br>ACARIENS</td>
                          <td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917KBB06PB2E0BAHNREXF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917KBB06PB2E0BAHNREXF" product_slug="polithiol" dose="50" unit="L">POLITHIOL BIO <small>50L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917KHSQF5C20ZBN9VDFT3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917KHSQF5C20ZBN9VDFT3" product_slug="polithiol" dose="50" unit="L">POLITHIOL BIO <small>50L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917KQKAYE1KJN31D2C0AX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917KQKAYE1KJN31D2C0AX" product_slug="polithiol" dose="50" unit="L">POLITHIOL BIO <small>50L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>PUCERONS</td>
                          <td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917KVC5Q1BPJTMPVZ3CWY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917KVC5Q1BPJTMPVZ3CWY" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917KY40MW6WZ6PJ5TZVQB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917KY40MW6WZ6PJ5TZVQB" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917M1ERFHB5466D01W7QF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917M1ERFHB5466D01W7QF" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075L</small></button>
                          </td>
                          <td></td><td></td><td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917M4KV0B4XAMNVBTVC6D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917M4KV0B4XAMNVBTVC6D" product_slug="karate-k" dose="1" unit="L">KARATE K <small>1L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917M7ED0EZJZ4PCJ7MM2R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917M7ED0EZJZ4PCJ7MM2R" product_slug="decis-protech" dose="0.083" unit="L">DECIS PROTECH <small>0.083L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917MA853D8DJMM39WWJ38' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MA853D8DJMM39WWJ38" product_slug="karate-k" dose="1" unit="L">KARATE K <small>1L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917MDT7M964FYY12BGRKR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MDT7M964FYY12BGRKR" product_slug="decis-protech" dose="0.083" unit="L">DECIS PROTECH <small>0.083L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917MGZ8WPFN0B2M8VP65J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MGZ8WPFN0B2M8VP65J" product_slug="karate-k" dose="1" unit="L">KARATE K <small>1L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917MKMGRJGH36KN9Q0PDN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MKMGRJGH36KN9Q0PDN" product_slug="decis-protech" dose="0.083" unit="L">DECIS PROTECH <small>0.083L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917MPX9P0ERNVT3KY1V1G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MPX9P0ERNVT3KY1V1G" product_slug="karate-k" dose="1" unit="L">KARATE K <small>1L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917MT92TT0M7B8F6RW4YW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MT92TT0M7B8F6RW4YW" product_slug="decis-protech" dose="0.083" unit="L">DECIS PROTECH <small>0.083L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP014H0ZAQNGC1G4JGXP3DM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP014H0ZAQNGC1G4JGXP3DM" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY<small>8Kg</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>FUSICOCCUM <br>MONILIOSES <br>(RAMEAUX)</td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917MX7SD3X768C85PHW1Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MX7SD3X768C85PHW1Q" product_slug="kryor" dose="0.8" unit="L">KRYOR <small>0.8L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917N0N5BY32JCFQNX9JC2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917N0N5BY32JCFQNX9JC2" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917N355A0933M2VA812HG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917N355A0933M2VA812HG" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750gr</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917N6D95JHE9Q9KHXECB1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917N6D95JHE9Q9KHXECB1" product_slug="kryor" dose="0.8" unit="L">KRYOR <small>0.8L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917N9CZ3H1JCAHBQTZS0H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917N9CZ3H1JCAHBQTZS0H" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NC79P07QFT2RFNF4PJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NC79P07QFT2RFNF4PJ" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750gr</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NGJYANJRY4A4E6H3VB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NGJYANJRY4A4E6H3VB" product_slug="kryor" dose="0.8" unit="L">KRYOR <small>0.8L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NK5BV4GVN9W1V9BCMB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NK5BV4GVN9W1V9BCMB" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NPQJ1J3BZ58NBZ3TV1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NPQJ1J3BZ58NBZ3TV1" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750gr</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NSTRTB1VXYV9C46PD1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NSTRTB1VXYV9C46PD1" product_slug="kryor" dose="0.8" unit="L">KRYOR <small>0.8L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NWVX719MVP2B0QKZQ8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NWVX719MVP2B0QKZQ8" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NZT63SPG14E8KF1347' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NZT63SPG14E8KF1347" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750gr</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>FUSICOCCUM</td>
                          <td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPP00PAWH75PQ8EM3G0FPMAN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP00PAWH75PQ8EM3G0FPMAN" product_slug="ditoflo-700-wg-5-kg" dose="0.5" unit="Kg">DITOFLO 700 WG 5 KG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917P24VYFERYZG3R1CYMB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917P24VYFERYZG3R1CYMB" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917P5GDDXQ2CPH1250BP9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917P5GDDXQ2CPH1250BP9" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750gr</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917P91RC4NSM5RQ03CM1F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917P91RC4NSM5RQ03CM1F" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPP00PAXDZDEK0B9W00DKC7P' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP00PAXDZDEK0B9W00DKC7P" product_slug="ditoflo-700-wg-5-kg" dose="0.5" unit="Kg">DITOFLO 700 WG 5 KG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PC57FW6ARF7D5ZV785' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PC57FW6ARF7D5ZV785" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750gr</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PFTBTMQHDPM7NJPMZG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PFTBTMQHDPM7NJPMZG" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPP00PAYNA2BN4RAZPC1XF1N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP00PAYNA2BN4RAZPC1XF1N" product_slug="ditoflo-700-wg-5-kg" dose="0.5" unit="Kg">DITOFLO 700 WG 5 KG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PJ2YKRW21P9RBBDDQ9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PJ2YKRW21P9RBBDDQ9" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750gr</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PNG7CNPCWWFDMP8393' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PNG7CNPCWWFDMP8393" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPP00PAZSHP6T2SSQJK8ZRGB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP00PAZSHP6T2SSQJK8ZRGB" product_slug="ditoflo-700-wg-5-kg" dose="0.5" unit="Kg">DITOFLO 700 WG 5 KG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PSNTYK5W1SJGTPV1YN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PSNTYK5W1SJGTPV1YN" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750gr</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>TAVELURE <br>CORYNEUM <br>ROUILLE</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PZN3T3PHW1C2P2W142' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PZN3T3PHW1C2P2W142" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPNZZXMTKY6163A3RH276P2K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZZXMTKY6163A3RH276P2K" product_slug="ditoflo-700-wg-5-kg" dose="0.5" unit="Kg">DITOFLO 700 WG 5 KG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917Q2ZPH2SR8PJY1S00C2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Q2ZPH2SR8PJY1S00C2" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917Q5Y9NK9Z1AT44HNJ2G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Q5Y9NK9Z1AT44HNJ2G" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPNZZXMXDPYY49ZPBJFVJ7Y9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZZXMXDPYY49ZPBJFVJ7Y9" product_slug="ditoflo-700-wg-5-kg" dose="0.5" unit="Kg">DITOFLO 700 WG 5 KG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917Q8A5MPJYG7DF38DZW6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Q8A5MPJYG7DF38DZW6" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QCTPFG5BTT4BGZWTJW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QCTPFG5BTT4BGZWTJW" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPNZZXMX0X6K9DVA28GF1MEF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZZXMX0X6K9DVA28GF1MEF" product_slug="ditoflo-700-wg-5-kg" dose="0.5" unit="Kg">DITOFLO 700 WG 5 KG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QFVAP8QX5YET822B3C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QFVAP8QX5YET822B3C" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QJKRYM7VHHN8HK6A52' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QJKRYM7VHHN8HK6A52" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPNZZXMYVHB0X5EPV6ZYK72F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZZXMYVHB0X5EPV6ZYK72F" product_slug="ditoflo-700-wg-5-kg" dose="0.5" unit="Kg">DITOFLO 700 WG 5 KG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QNX1BWQ87MC75QB7C7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QNX1BWQ87MC75QB7C7" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QRMEZC855EEBYPYANC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QRMEZC855EEBYPYANC" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPNZZXMZGE8M5YN08FE6ZF60' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZZXMZGE8M5YN08FE6ZF60" product_slug="ditoflo-700-wg-5-kg" dose="0.5" unit="Kg">DITOFLO 700 WG 5 KG <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QVVWX94HNC0Q2BMNSV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QVVWX94HNC0Q2BMNSV" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5Kg</small></button>
                          </td>
                          <td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917QZ7TDYH4BK7ZDNX286' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QZ7TDYH4BK7ZDNX286" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO <small>25L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917QZ7TDYH4BK7ZDNX232' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QZ7TDYH4BK7ZDNX232" product_slug="alasso-10-l" dose="2" unit="L">ALASSO<small>2L</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>Barrière Physique</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPNZZGF3XSW5TS4NJQMSN10V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZZGF3XSW5TS4NJQMSN10V" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY<small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPNZZGF5C099EGGXP7RQ3Z07' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZZGF5C099EGGXP7RQ3Z07" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY<small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPNZZGF5D8T6XC954MDDMM59' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZZGF5D8T6XC954MDDMM59" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY<small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPNZZGF6V0P9998K0V7J76KV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZZGF6V0P9998K0V7J76KV" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY<small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPNZZGF6Z5KV1WE48R8FJ5F5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZZGF6Z5KV1WE48R8FJ5F5" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY<small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPNZZGF7QMZ3PJ52NGZSDQAR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZZGF7QMZ3PJ52NGZSDQAR" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY<small>8Kg</small></button>
                          </td>
                          <td>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>EURYTOMA</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917R2JJBY9S04VPMBXKF6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917R2JJBY9S04VPMBXKF6" product_slug="karate-xflow" dose="0.11" unit="L">KARATE XFLOW <small>0.11L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917R5EAYTK8Q2HENTASJV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917R5EAYTK8Q2HENTASJV" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917R84917Q95K557JZCV3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917R84917Q95K557JZCV3" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917RBQ4C8T283GCRQD0JF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RBQ4C8T283GCRQD0JF" product_slug="karate-xflow" dose="0.11" unit="L">KARATE XFLOW <small>0.11L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917RERPGZ4VA2JYNZ3TVZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RERPGZ4VA2JYNZ3TVZ" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917RJT0T23YQF1F1K8H3R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RJT0T23YQF1F1K8H3R" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917RNJ9F02JH9MTXMA7T2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RNJ9F02JH9MTXMA7T2" product_slug="karate-xflow" dose="0.11" unit="L">KARATE XFLOW <small>0.11L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917RRPNHEWHZ895RDP1B1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RRPNHEWHZ895RDP1B1" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917RVKZQT1QZYSASEEFMQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RVKZQT1QZYSASEEFMQ" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917RYKPNSVPSC2NK86D4M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RYKPNSVPSC2NK86D4M" product_slug="karate-xflow" dose="0.11" unit="L">KARATE XFLOW <small>0.11L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917S27DJ27BA34NY5Z5GF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917S27DJ27BA34NY5Z5GF" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917S5WP9RR6PEBPSCS97H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917S5WP9RR6PEBPSCS97H" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917S8PJJ9P01CEHGN5D44' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917S8PJJ9P01CEHGN5D44" product_slug="karate-xflow" dose="0.11" unit="L">KARATE XFLOW <small>0.11L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917SC6DZATA4DBX8FN1ED' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917SC6DZATA4DBX8FN1ED" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917SFB46DRWPH6M0NW870' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917SFB46DRWPH6M0NW870" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917SNV50HMBBZSTWVZQSZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917SNV50HMBBZSTWVZQSZ" product_slug="karate-xflow" dose="0.11" unit="L">KARATE XFLOW <small>0.11L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917SR5ARXXFYJRMVV0NEX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917SR5ARXXFYJRMVV0NEX" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917SWD43VDVTBC422BNQZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917SWD43VDVTBC422BNQZ" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                          </td>
                          <td></td><td></td>
                        </tr>
                        <tr>
                          <td>PETITE MINEUSE <br>(ANAR SIA) <br>T.O.P</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917SZCQFN4GZSSXYDB7H0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917SZCQFN4GZSSXYDB7H0" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917T2KBBEG4P37JGTA88N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917T2KBBEG4P37JGTA88N" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917T9RJ25WCWE5TD5KB8X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917T9RJ25WCWE5TD5KB8X" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917TCKV6YED43B9ZMGZ34' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917TCKV6YED43B9ZMGZ34" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917TKMJBEEFXQYX5RTMRB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917TKMJBEEFXQYX5RTMRB" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917TQWJPM1CA8M7W3RH42' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917TQWJPM1CA8M7W3RH42" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917TX360TAJS5H5G2S56E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917TX360TAJS5H5G2S56E" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917V1JNEZ5QD1B2FE6ZX1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917V1JNEZ5QD1B2FE6ZX1" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917V8TSTJ813KWFG8ZXCF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917V8TSTJ813KWFG8ZXCF" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917VB33CBQN57PZ54MMG6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917VB33CBQN57PZ54MMG6" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917VJFDHHV17EYF1HT0M4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917VJFDHHV17EYF1HT0M4" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917VNJR1254AZ7J231RPS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917VNJR1254AZ7J231RPS" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                          </td>
                          <td></td><td></td>
                        </tr>
                        <tr>
                          <td>STIMULATION <br>FOLIAIRE DE LA <br>PHYTOSYNTHESE</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917VV1WAS8VWZ7RVDCDK5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917VV1WAS8VWZ7RVDCDK5" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT<small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GSB4XQFMMANR7TWF3X1M2T3T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB4XQFMMANR7TWF3X1M2T3T" product_slug="n-balancer-bio-5-l" dose="5" unit="L">N-BALANCER BIO 5 L <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917VYSDFE5XCCSKV56D0D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917VYSDFE5XCCSKV56D0D" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT<small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GSB4XQFY10G69VEVCDZZVERH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB4XQFY10G69VEVCDZZVERH" product_slug="n-balancer-bio-5-l" dose="5" unit="L">N-BALANCER BIO 5 L <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917W1J5HZSHNQA87NMW0M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917W1J5HZSHNQA87NMW0M" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT<small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GSB4XQGP1S83P1H50PHYNBR7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB4XQGP1S83P1H50PHYNBR7" product_slug="n-balancer-bio-5-l" dose="5" unit="L">N-BALANCER BIO 5 L <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917W5KN36734NGRXY0XBZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917W5KN36734NGRXY0XBZ" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT<small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GSB4XQGRYBW1EJAVQG8B3P1Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB4XQGRYBW1EJAVQG8B3P1Z" product_slug="n-balancer-bio-5-l" dose="5" unit="L">N-BALANCER BIO 5 L <small>5L</small></button>
                          </td>
                          <td></td><td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917W5KN36734NGRXY0XBD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917W5KN36734NGRXY0XBD" product_slug="n-balancer-bio-5-l" dose="5" unit="L">N-BALANCER BIO 5 L <small>5L</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>NUTRITION <br>FOLIAIRE</td>
                          <td></td><td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917W8GCP2Z1VGHGSQA66S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917W8GCP2Z1VGHGSQA66S" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FV0BYWGMA3DBGCFZEQ0DC5FC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BYWGMA3DBGCFZEQ0DC5FC" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO-FLOW Zn680F Folli BIO 5 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WBKXVVFQDS59RTRQBY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WBKXVVFQDS59RTRQBY" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FV0C0ZJ1G65R8FP3VM4NYA89' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0C0ZJ1G65R8FP3VM4NYA89" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO-FLOW Zn680F Folli BIO 5 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WE4E73PDFQN70K48WE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WE4E73PDFQN70K48WE" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FV0C0ZJ6EY0XRDS8E0RXVYDS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0C0ZJ6EY0XRDS8E0RXVYDS" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO-FLOW Zn680F Folli BIO 5 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WHQ7XBDMCSTJPHZ2PQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WHQ7XBDMCSTJPHZ2PQ" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FV0C0ZJ9KFAG2P0PVNRASW78' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0C0ZJ9KFAG2P0PVNRASW78" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO-FLOW Zn680F Folli BIO 5 L <small>1L</small></button>
                          </td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WMF1HNJ4DVTC4DC4DQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WMF1HNJ4DVTC4DC4DQ" product_slug="ino-green-ultra-10-l" dose="10" unit="L">INO-GREEN ULTRA 10 L <small>10L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WRN5G9EC6FEKFQQ5YC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WRN5G9EC6FEKFQQ5YC" product_slug="ino-mix-fruit" dose="10" unit="L">INO-MIX FRUITS 10L <small>10L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FV0C1XSXEQF8J7GY1JHSYWXG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0C1XSXEQF8J7GY1JHSYWXG" product_slug="ino-chel-fer-ultra-10-l" dose="3" unit="L">INO CHEL FER ULTRA 10L <small>3L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WVX8FCK5QY5E57EKFQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WVX8FCK5QY5E57EKFQ" product_slug="ino-green-ultra-10-l" dose="10" unit="L">INO-GREEN ULTRA 10 L <small>10L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WYFGHCE66VV2BWV1H6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WYFGHCE66VV2BWV1H6" product_slug="ino-mix-fruit" dose="10" unit="L">INO-MIX FRUITS 10L <small>10L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FV0C4DE7P6K6YGDFZQRP7MBJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0C4DE7P6K6YGDFZQRP7MBJ" product_slug="ino-chel-fer-ultra-10-l" dose="3" unit="L">INO CHEL FER ULTRA 10L <small>3L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917X1EGV0JTD2CEPHAQ47' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917X1EGV0JTD2CEPHAQ47" product_slug="ino-green-ultra-10-l" dose="10" unit="L">INO-GREEN ULTRA 10 L <small>10L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917X426Y56M8TFGRYMEN5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917X426Y56M8TFGRYMEN5" product_slug="ino-mix-fruit" dose="10" unit="L">INO-MIX FRUITS 10L <small>10L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FV0C4DEABFQ9WCXWB6162SE1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0C4DEABFQ9WCXWB6162SE1" product_slug="ino-chel-fer-ultra-10-l" dose="3" unit="L">INO CHEL FER ULTRA 10L <small>3L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917X8X1M3RT61WCRF5Z8E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917X8X1M3RT61WCRF5Z8E" product_slug="ino-green-ultra-10-l" dose="10" unit="L">INO-GREEN ULTRA 10 L <small>10L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917XB0WX17DHVD1K64SCQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XB0WX17DHVD1K64SCQ" product_slug="ino-mix-fruit" dose="10" unit="L">INO-MIX FRUITS 10L <small>10L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FV0C4DECQBJEYV4R8J4NC7TF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0C4DECQBJEYV4R8J4NC7TF" product_slug="ino-chel-fer-ultra-10-l" dose="3" unit="L">INO CHEL FER ULTRA 10L <small>3L</small></button>
                          </td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917XE197Y2D91C4E5Q1Y7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XE197Y2D91C4E5Q1Y7" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917XH9QBZQSDFXTCJKJ74' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XH9QBZQSDFXTCJKJ74" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO-FLOW Zn680F Folli BIO 5 L <small>1L</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>Moniliose</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVCQPEB1RA08YVTRNGE10XX6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCQPEB1RA08YVTRNGE10XX6" product_slug="kryor" dose="0.9" unit="L">KRYOR <small>0.9L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVCQT8232DZEFFTE5DWH48D7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCQT8232DZEFFTE5DWH48D7" product_slug="kryor" dose="0.9" unit="L">KRYOR <small>0.9L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVCQT82FW2HRG7Q1JJXJYQVG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCQT82FW2HRG7Q1JJXJYQVG" product_slug="kryor" dose="0.9" unit="L">KRYOR <small>0.9L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVCQT82TW743JF0RH8STT9W1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCQT82TW743JF0RH8STT9W1" product_slug="kryor" dose="0.9" unit="L">KRYOR <small>0.9L</small></button>
                          </td>
                          <td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>ANTICHLOROSE</td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917XMAEB17DNG8EVHR7MB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XMAEB17DNG8EVHR7MB" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL BIO <small>300Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917XQ0Z64K8AR7P0RYHFZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XQ0Z64K8AR7P0RYHFZ" product_slug="ferrilene" dose="100" unit="grs/arbres">FERRILENE <small>100grs/arbres</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917XV0KV9GRE3S6SHTJDA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XV0KV9GRE3S6SHTJDA" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL BIO <small>300Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917XYM9GNN2HQJDG4FTVZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XYM9GNN2HQJDG4FTVZ" product_slug="ferrilene" dose="100" unit="grs/arbres">FERRILENE <small>100grs/arbres</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917Y15NXHP74YCZ9HYM9A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Y15NXHP74YCZ9HYM9A" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL BIO <small>300Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917Y4GXE17JEWGNEN5VV8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Y4GXE17JEWGNEN5VV8" product_slug="ferrilene" dose="100" unit="grs/arbres">FERRILENE <small>100grs/arbres</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917Y8NVTFCPKD2JNDWYH9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Y8NVTFCPKD2JNDWYH9" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL BIO <small>300Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917YBR0K7189ME0F9WKMB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917YBR0K7189ME0F9WKMB" product_slug="ferrilene" dose="100" unit="grs/arbres">FERRILENE <small>100grs/arbres</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td>
                          <td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>DESHERBAGE</td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSQNEPCYBX03XR3R3FT67Y78' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSQNEPCYBX03XR3R3FT67Y78" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSQNEPD27D1E048G4F8EK0GQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSQNEPD27D1E048G4F8EK0GQ" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSQNEPD4EB1J0DRX53EZCH45' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSQNEPD4EB1J0DRX53EZCH45" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSQNEPD4EB1J0DRX53EZCH45' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSQNEPD4EB1J0DRX53EZCH45" product_slug="cent-7" dose="4.8" unit="L">CENT 7 <small>4.8L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE91812SP7K2Z5S1SA07HR5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91812SP7K2Z5S1SA07HR5" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0BA944E38G29XXC8R9CWAF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BA944E38G29XXC8R9CWAF" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0BA949VD1GP1K6WXA25NWV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BA949VD1GP1K6WXA25NWV" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSQNGK1KEXMS6EMVH4P8CAPE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSQNGK1KEXMS6EMVH4P8CAPE" product_slug="cent-7" dose="4.8" unit="L">CENT 7 <small>4.8L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CB3AD08WJY63ZDKX4BMVT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CB3AD08WJY63ZDKX4BMVT" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CB3ANDSZ7DP53ZM7ZJ72F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CB3ANDSZ7DP53ZM7ZJ72F" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CB3ASCKPE1JGVE4DQA2M4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CB3ASCKPE1JGVE4DQA2M4" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSQNGK1QEF85ZR2CNBTSJFH2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSQNGK1QEF85ZR2CNBTSJFH2" product_slug="cent-7" dose="4.8" unit="L">CENT 7 <small>4.8L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CB3AYJ2DTSP6DKX46KCZT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CB3AYJ2DTSP6DKX46KCZT" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CB3B19501WX0TZB5WQKDX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CB3B19501WX0TZB5WQKDX" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CB3B49VPHBKGKZG3X5ZT2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CB3B49VPHBKGKZG3X5ZT2" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSQNGK1RK7E9AEYBTTF8T8YY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSQNGK1RK7E9AEYBTTF8T8YY" product_slug="cent-7" dose="4.8" unit="L">CENT 7 <small>4.8L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CC6P4EZ399D6TK3PTBDWQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CC6P4EZ399D6TK3PTBDWQ" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CC6PE9BC8K3YVSNJ4KDZ9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CC6PE9BC8K3YVSNJ4KDZ9" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CC6PK7FE38TBC8252K11R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CC6PK7FE38TBC8252K11R" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE917Z4F105QBFR0FFE7GP6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Z4F105QBFR0FFE7GP6" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE918021HAQZSVWQRS29KY2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE918021HAQZSVWQRS29KY2" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CDRNTR1D2T1P23ABKAFTW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CDRNTR1D2T1P23ABKAFTW" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CDRP1CQXGAH156D6HT02E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CDRP1CQXGAH156D6HT02E" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CDRP9M5KG2W22EXDG5G76' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CDRP9M5KG2W22EXDG5G76" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE91805Q87W4ZVY0MW50275' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91805Q87W4ZVY0MW50275" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE918085R8HZDW0F49DNA7C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE918085R8HZDW0F49DNA7C" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CDRPDGSYEDNJETZHREHPQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CDRPDGSYEDNJETZHREHPQ" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CDRPH02537TM96S2RRKSH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CDRPH02537TM96S2RRKSH" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CDRPQZH1AVHJCTJTDVX8X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CDRPQZH1AVHJCTJTDVX8X" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180BRCCKEJVGCQ9QWRKA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180BRCCKEJVGCQ9QWRKA" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180D4EZ12BNCVT2CDSC0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180D4EZ12BNCVT2CDSC0" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CDRPVBY3PCV5FWH8E3VRF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CDRPVBY3PCV5FWH8E3VRF" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CDRQ1H63WXESACPGY9DV3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CDRQ1H63WXESACPGY9DV3" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CDRQ6JQXNRD2MF3GZSHBA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CDRQ6JQXNRD2MF3GZSHBA" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180G5RC8Q8KQE0FTG6WX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180G5RC8Q8KQE0FTG6WX" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180KXEN96M5DGC0WDQF0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180KXEN96M5DGC0WDQF0" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CDRQFSX746D9X94HGM5E3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CDRQFSX746D9X94HGM5E3" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CDRQRPF54JAJ8NVY929ZX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CDRQRPF54JAJ8NVY929ZX" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0CDRQZ07TDQ40AZG892873' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CDRQZ07TDQ40AZG892873" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180PZMHZJE836VKAWZ7V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180PZMHZJE836VKAWZ7V" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180SEGZ5KQ8FSAN2GX7V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180SEGZ5KQ8FSAN2GX7V" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180W3495AWBH3GKQDD8G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180W3495AWBH3GKQDD8G" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180Z6P1M0ZHX65NVG15E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180Z6P1M0ZHX65NVG15E" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2L</small></button>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>ADJUVANT</td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91828EHJ1NGJAASVWSKKX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91828EHJ1NGJAASVWSKKX" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182BK0DKM7ZFWPHXQHMR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182BK0DKM7ZFWPHXQHMR" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182DZETS1GWQSF8NZRQV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182DZETS1GWQSF8NZRQV" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182G8V8N8RG5DEX3D51P' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182G8V8N8RG5DEX3D51P" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182KJCTDHBZ3WP50T02V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182KJCTDHBZ3WP50T02V" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182PVHVAEGTSYQP3RW5K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182PVHVAEGTSYQP3RW5K" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182S4GRV1JJV0QVZYRTW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182S4GRV1JJV0QVZYRTW" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182VKG366TGT7WGJZXTH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182VKG366TGT7WGJZXTH" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182YDDZ2N0TWN1Y7CNFW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182YDDZ2N0TWN1Y7CNFW" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91831AGFPH4P6QSS0ZGKD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91831AGFPH4P6QSS0ZGKD" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91834M5ZDBS5PX6526S0H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91834M5ZDBS5PX6526S0H" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91837FMXHZ1R8XMQM907B' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91837FMXHZ1R8XMQM907B" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '091FEE183APSTBYQJZN1XTC8Q2' in c_id_array ? 'exist' : 'd-none' }}" c_id="091FEE183APSTBYQJZN1XTC8Q2" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183DNMMHJ7GKEMHP04VW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183DNMMHJ7GKEMHP04VW" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183G21QCF360ZNSE32Z1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183G21QCF360ZNSE32Z1" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183K8X97HTY93FF7ZNKA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183K8X97HTY93FF7ZNKA" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183NDVCGKBHNCQB316WT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183NDVCGKBHNCQB316WT" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183RQH28JWX6Q3V62CRB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183RQH28JWX6Q3V62CRB" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183V6XW52K5V7NE4P05B' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183V6XW52K5V7NE4P05B" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183YMQR040Y5FGK7J5W6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183YMQR040Y5FGK7J5W6" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91841AQSHF85HZEADFPED' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91841AQSHF85HZEADFPED" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91844ZT5H13EDR7QPPT6M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91844ZT5H13EDR7QPPT6M" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91847N37RPEVGZRAV87RP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91847N37RPEVGZRAV87RP" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91849VQQC2Y856XRC5XV1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91849VQQC2Y856XRC5XV1" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9184C9E65NZ83GD2R740M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9184C9E65NZ83GD2R740M" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Fumure</td>
                          <td colspan="4">
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0CPV4G259X8BRQCNY39YCZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CPV4G259X8BRQCNY39YCZ" product_slug="12-12-17" dose="600" unit="Kg">12 12 17 SK <small>600Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0CPV4PY1DAPK1HDNJA7EDM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CPV4PY1DAPK1HDNJA7EDM" product_slug="equinoxe-10-4-3" dose="800" unit="Kg">EQUINOXE 10-4-3 (2MGO) 5 QL <small>800Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0CPV4T7JE7EADNN0TE76D9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CPV4T7JE7EADNN0TE76D9" product_slug="orchestra-sol-presto-5-ql" dose="500" unit="Kg">ORCHESTRA SOL PRESTO <small>500Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0CPV4ZQGXHTCVE4TQP5CTV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CPV4ZQGXHTCVE4TQP5CTV" product_slug="17-20-0-28-so3" dose="200" unit="Kg">17 20 <small>200Kg</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>Fumure</td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPNZYN622W1Y16M399G4MNNB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZYN622W1Y16M399G4MNNB" product_slug="rise-p-vam-150-grs" dose="150" unit="grs">RISE P VAM<small>150grs</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPNZYN651S79J1HMFK0BGZJT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPNZYN651S79J1HMFK0BGZJT" product_slug="rise-p-vam-150-grs" dose="150" unit="grs">RISE P VAM<small>150grs</small></button>
                          </td>
                          <td>
                          </td>
                          <td>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FV0D1CPHNQQX10D34ST0HXDR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0D1CPHNQQX10D34ST0HXDR" product_slug="sulfonitrate-26" dose="250" unit="Kg">SULFONITRATE 26% +30-35% So3 6 QL <small>250Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FV0D1CPZ4FJW99X8F84CH5QT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0D1CPZ4FJW99X8F84CH5QT" product_slug="sulfonitrate-26" dose="250" unit="Kg">SULFONITRATE 26% +30-35% So3 6 QL <small>250Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FV0D1CQ6YV58YN8ZNV24H2M7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0D1CQ6YV58YN8ZNV24H2M7" product_slug="patenkali" dose="300" unit="Kg">PATENKALI <small>300Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FV0D1CQAVY6CPRYTNE6R5YNQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0D1CQAVY6CPRYTNE6R5YNQ" product_slug="diamic-k26" dose="400" unit="Kg">DIAMIC K26 <small>400Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FV0D1CQGH9QS6314612SDQ5X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0D1CQGH9QS6314612SDQ5X" product_slug="sulfonitrate-26" dose="250" unit="Kg">SULFONITRATE 26% +30-35% So3 6 QL <small>250Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FV0D1CQP79HHJY0XQ624RM2V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0D1CQP79HHJY0XQ624RM2V" product_slug="patenkali" dose="300" unit="Kg">PATENKALI <small>300Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FV0D1CQTTXF2QWNM1VMT255P' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0D1CQTTXF2QWNM1VMT255P" product_slug="diamic-k26" dose="400" unit="Kg">DIAMIC K26 <small>400Kg</small></button>
                          </td>
                          <td></td><td></td><td>
                          </td><td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS0Q5VXZQRQ9NB9ZX8RWFH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS0Q5VXZQRQ9NB9ZX8RWFH" product_slug="rise-p-vam-150-grs" dose="150" unit="grs">RISE P VAM<small> 150 grs</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FV0CYXZ6EJYXTYEVY7DK8JF6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CYXZ6EJYXTYEVY7DK8JF6" product_slug="guanumus" dose="1500" unit="Kg">GUANUMUS EVOLUTION C BIO <small>1500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FV0CYXZD8G87FPVMPGFDQC9E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CYXZD8G87FPVMPGFDQC9E" product_slug="orchestra-sol-presto-5-ql" dose="500" unit="Kg">ORCHESTRA SOL PRESTO <small>500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FV0CYXZMQ6YXHGDP93V2A45W' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0CYXZMQ6YXHGDP93V2A45W" product_slug="17-20-0-28-so3" dose="250" unit="Kg">17 20 <small>250Kg</small></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
