{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                        <table class="table table-bordered no-wrap">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Bourgeon <br>D'hiver
                                </th>
                                <th>
                                    Bourgeons <br>gonflés
                                </th>
                                <th>
                                    Bourgeons avec <br>apparition des sépales
                                </th>
                                <th>
                                    Bourgeons <br>ouverts des <br>feuilles visibles
                                </th>
                                <th>
                                    Fleurs avec sépales <br>ouvertes <br>pétales visibles
                                </th>
                                <th>
                                    Elamines <br>visibles
                                </th>
                                <th>
                                    Fleurs <br>ouvertes
                                </th>
                                <th>
                                    Chute <br>des pétales
                                </th>
                                <th>
                                    Développpement des <br>fleurs
                                </th>
                                <th>
                                    Allongement des <br>pousses
                                </th>
                                <th>
                                    Chute des sépales et <br>fruits apparents
                                </th>
                                <th>
                                    Fruits à 50% de leur <br>croissance
                                </th>
                                <th>
                                    Fruits à <br>taille <br>definitive
                                </th>
                                <th>
                                    Séparation de <br>l'épicarpse
                                </th>
                                <th>
                                    Décoiement de <br>l'épicarpe et <br>mesocarpe
                                </th>
                                <th>
                                    Post-Récolte
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>BACTERIOSE</td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr', '6') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr" dose="6" unit="Kg">BB RSR <small>6 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg', '1.67') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg" dose="1.67" unit="Kg">NORDOX 75 WG <small>1.67 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'serenade-aso') ? 'exist' : 'd-none' }}" product_slug="serenade-aso" dose="2.6" unit="L">RAPSODY <small>2.6 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr', '6.0001') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr" dose="6.0001" unit="Kg">BB RSR <small>6  Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg', '1.67001') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg" dose="1.67001" unit="Kg/Ha">NORDOX 75 WG <small>1.67 Kg</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>COCHENILLES <br>ACARIENS</td>
                                    <td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'acakill', '20') ? 'exist' : 'd-none' }}" product_slug="acakill" dose="20" unit="L">ACAKILL <small>20 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'polithiol', '50') ? 'exist' : 'd-none' }}" product_slug="polithiol" dose="50" unit="L">POLITHIOL <small>50 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'acakill', '20.0001') ? 'exist' : 'd-none' }}" product_slug="acakill" dose="20.0001" unit="L">ACAKILL <small>20 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'polithiol', '50.0001') ? 'exist' : 'd-none' }}" product_slug="polithiol" dose="50.0001" unit="L">POLITHIOL <small>50 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'acakill', '20.0002') ? 'exist' : 'd-none' }}" product_slug="acakill" dose="20.0002" unit="L">ACAKILL <small>20 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'polithiol', '50.0002') ? 'exist' : 'd-none' }}" product_slug="polithiol" dose="50.0002" unit="L">POLITHIOL <small>50 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>PUCERONS</td>
                                    <td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.075') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.075" unit="L">KARATE X-FLOW <small>0.075 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.0751') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.0751" unit="L">KARATE X-FLOW <small>0.075 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.0752') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.0752" unit="L">KARATE X-FLOW <small>0.075 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-k', '1') ? 'exist' : 'd-none' }}" product_slug="karate-k" dose="1" unit="L">KARATE K <small>1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.083') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.083" unit="L">DECIS PROTECH <small>0.083 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-k', '1.0001') ? 'exist' : 'd-none' }}" product_slug="karate-k" dose="1.0001" unit="L">KARATE K <small>1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.0831') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.0831" unit="L">DECIS PROTECH <small>0.083 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-k', '1.0002') ? 'exist' : 'd-none' }}" product_slug="karate-k" dose="1.0002" unit="L">KARATE K <small>1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.0832') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.0832" unit="L">DECIS PROTECH <small>0.083 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-k', '1.0003') ? 'exist' : 'd-none' }}" product_slug="karate-k" dose="1.0003" unit="L">KARATE K <small>1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.0833') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.0833" unit="L">DECIS PROTECH <small>0.083 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>FUSICOCCUM <br>MONILIOSES <br>(RAMEAUX)</td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-500-sc', '1') ? 'exist' : 'd-none' }}" product_slug="topsin-500-sc" dose="1" unit="Kg">TOPSIN <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-500-sc', '1.0001') ? 'exist' : 'd-none' }}" product_slug="topsin-500-sc" dose="1.0001" unit="Kg">TOPSIN <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1.0001') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1.0001" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750.0001') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750.0001" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-500-sc', '1.0002') ? 'exist' : 'd-none' }}" product_slug="topsin-500-sc" dose="1.0002" unit="Kg">TOPSIN <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1.0002') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1.0002" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750.0002') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750.0002" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-500-sc', '1.0003') ? 'exist' : 'd-none' }}" product_slug="topsin-500-sc" dose="1.0003" unit="Kg">TOPSIN <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1.0003') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1.0003" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750.0003') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750.0003" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>FUSICOCCUM</td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.7004') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.7004" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750.0004') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750.0004" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.7005') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.7005" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750.0005') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750.0005" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.7006') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.7006" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750.0006') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750.0006" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.7007') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.7007" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750.0007') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750.0007" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="1">
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.70008') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.70008" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>TAVELURE <br>CORYNEUM <br>ROUILLE</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="1">
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg', '0.5') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5 Kg</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1.0001') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1.0001" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg', '0.5001') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="0.5001" unit="Kg">DELAN WG <small>0.5 Kg</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1.0002') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1.0002" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg', '0.5002') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="0.5002" unit="Kg">DELAN WG <small>0.5 Kg</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1.0003') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1.0003" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg', '0.5003') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="0.5003" unit="Kg">DELAN WG <small>0.5 Kg</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1.0004') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1.0004" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delan-wg', '0.5004') ? 'exist' : 'd-none' }}" product_slug="delan-wg" dose="0.5004" unit="Kg">DELAN WG <small>0.5 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                    <td colspan="1">
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nutrigeo') ? 'exist' : 'd-none' }}" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>EURYTOMA</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="2">
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.11" unit="L">KARATE XFLOW <small>0.11 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.5') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.2') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td colspan="2">
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.11001') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.11001" unit="L">KARATE XFLOW <small>0.11 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.5001') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5001" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.2001') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.2001" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td colspan="2">
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.11002') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.11002" unit="L">KARATE XFLOW <small>0.11 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.5001') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5001" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.2002') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.2002" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>PETITE MINEUSE <br>(ANAR SIA) <br>T.O.P</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="2">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delfin', '1') ? 'exist' : 'd-none' }}" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin', '0.1') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'coragen') ? 'exist' : 'd-none' }}" product_slug="coragen" dose="1.175" unit="L">CORAGEN <small>1.175 L</small></button>
                                    </td>
                                    <td colspan="2">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delfin', '1.0001') ? 'exist' : 'd-none' }}" product_slug="delfin" dose="1.0001" unit="Kg">DELFIN <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin', '0.1002') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.1002" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'coragen', '1.1751') ? 'exist' : 'd-none' }}" product_slug="coragen" dose="1.1751" unit="L">CORAGEN <small>1.175 L</small></button>
                                    </td>
                                    <td colspan="2">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delfin', '1.0002') ? 'exist' : 'd-none' }}" product_slug="delfin" dose="1.0002" unit="Kg">DELFIN <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin', '0.1003') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.1003" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'coragen', '1.1752') ? 'exist' : 'd-none' }}" product_slug="coragen" dose="1.1752" unit="L">CORAGEN <small>1.175 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>STIMULATION <br>FOLIAIRE DE LA <br>PHYTOSYNTHESE</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="1">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'folwin', '2') ? 'exist' : 'd-none' }}" product_slug="folwin" dose="2" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td colspan="2">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'folwin', '2.0001') ? 'exist' : 'd-none' }}" product_slug="folwin" dose="2.0001" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'folwin', '2.0002') ? 'exist' : 'd-none' }}" product_slug="folwin" dose="2.0002" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>NUTRITION <br>FOLIAIRE</td>
                                    <td></td><td></td><td></td>
                                    <td colspan="2">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-bore-ultra', '2') ? 'exist' : 'd-none' }}" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                    </td>
                                    <td colspan="2">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-bore-ultra', '2.0001') ? 'exist' : 'd-none' }}" product_slug="ino-bore-ultra" dose="2.0001" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                    <td colspan="2">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-ultra', '10') ? 'exist' : 'd-none' }}" product_slug="ino-green-ultra" dose="10" unit="L">INO GREEN ULTRA <small>2 x 5 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-mix-fruit', '10') ? 'exist' : 'd-none' }}" product_slug="ino-mix-fruit" dose="10" unit="L">INO MIX FRUIT <small>10 L</small></button>
                                    </td>
                                    <td colspan="2">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-ultra', '10.0001') ? 'exist' : 'd-none' }}" product_slug="ino-green-ultra" dose="10.0001" unit="L">INO GREEN ULTRA <small>2 x 5 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-mix-fruit', '10.0001') ? 'exist' : 'd-none' }}" product_slug="ino-mix-fruit" dose="10.0001" unit="L">INO MIX FRUIT <small>10 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                    <td colspan="1">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-bore-ultra', '2.0003') ? 'exist' : 'd-none' }}" product_slug="ino-bore-ultra" dose="2.0003" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-flow-zn-680f', '1') ? 'exist' : 'd-none' }}" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ANTICHLOROSE</td>
                                    <td colspan="4">
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sferesol') ? 'exist' : 'd-none' }}" product_slug="sferesol" dose="300" unit="Kg">SFERESOL <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-flow-zn-680f', '1.0001') ? 'exist' : 'd-none' }}" product_slug="ino-flow-zn-680f" dose="1.0001" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="4">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-chel-ultra') ? 'exist' : 'd-none' }}" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL ULTRA <small>3 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td rowspan="2">DESHERBAGE</td>
                                    <td colspan="3">
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kerb-flo') ? 'exist' : 'd-none' }}" product_slug="kerb-flo" dose="3.75" unit="L">KERB FLO <small>3.75 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="6">
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'spotlight-plus') ? 'exist' : 'd-none' }}" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT <small>1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fusilade-max') ? 'exist' : 'd-none' }}" product_slug="fusilade-max" dose="2" unit="L">FUSILADE <small>2 L</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'roundup-flash-plus', '2') ? 'exist' : 'd-none' }}" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td colspan="4">
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'roundup-flash-plus', '2.0001') ? 'exist' : 'd-none' }}" product_slug="roundup-flash-plus" dose="2.0001" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td colspan="4">
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'roundup-flash-plus', '2.0002') ? 'exist' : 'd-none' }}" product_slug="roundup-flash-plus" dose="2.0002" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>ADJUVANT</td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.3') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.3" unit="L">CONDOR <small>0.3L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.3001') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.3001" unit="L">CONDOR <small>0.3L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.3002') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.3002" unit="L">CONDOR <small>0.3L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.3003') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.3003" unit="L">CONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.15') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.3004') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.3004" unit="L">CONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.1501') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.1501" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.3005') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.3005" unit="L">CONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.1502') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.1502" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.3006') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.3006" unit="L">CONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.1503') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.1503" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.3007') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.3007" unit="L">CONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.1504') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.1504" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.3008') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.3008" unit="L">CONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.1505') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.1505" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.3009') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.3009" unit="L">CONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.1506') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.1506" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.30101') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.30101" unit="L">CONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.1507') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.1507" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.3011') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.3011" unit="L">CONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.1508') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.1508" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.3012') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.3012" unit="L">CONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.1509') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.1509" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.300025') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.300025" unit="L">CONDOR <small>0.3L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'condor-5g', '0.300026') ? 'exist' : 'd-none' }}" product_slug="condor-5g" dose="0.300026" unit="L">CONDOR <small>0.3L</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
