{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                        <table class="table table-bordered no-wrap">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Bourgeons <br>D'hiver
                                </th>
                                <th>
                                    Bourgeons <br>gonflés
                                </th>
                                <th>
                                    Bourgeons avec <br>apparition des sépales
                                </th>
                                <th>
                                    Bourgeons <br>ouverts des <br>feuilles visibles
                                </th>
                                <th>
                                    Fleurs avec sépales <br>ouvertes <br>pétales visibles
                                </th>
                                <th>
                                    Elamines <br>visibles
                                </th>
                                <th>
                                    Fleurs <br>ouvertes
                                </th>
                                <th>
                                    Chute <br>des pétales
                                </th>
                                <th>
                                    Développpement des <br>fleurs
                                </th>
                                <th>
                                    Allongement des <br>pousses
                                </th>
                                <th>
                                    Chute des sépales et <br>fruits apparents
                                </th>
                                <th>
                                    Fruits à 50% de leur <br>croissance
                                </th>
                                <th>
                                    Fruits à <br>taille <br>definitive
                                </th>
                                <th>
                                    Séparation de <br>l'épicarpse
                                </th>
                                <th>
                                    Décoiement de <br>l'épicarpe et <br>mesocarpe
                                </th>
                                <th>
                                    Post-Récolte
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>BACTERIOSE</td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917JN91XGY5TGQXZ1QJ0X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917JN91XGY5TGQXZ1QJ0X" product_slug="bouillie-bordelaise-rsr" dose="6" unit="Kg">BB RSR <small>6 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917JSVRTTBAFQ1997NAY2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917JSVRTTBAFQ1997NAY2" product_slug="nordox-75-wg" dose="1.67" unit="Kg">NORDOX 75 WG <small>1.67 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917JWAJHS3D5JVPEW1PTA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917JWAJHS3D5JVPEW1PTA" product_slug="rhapsody" dose="2.6" unit="L">RHAPSODY <small>2.6 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917K12RR8R3393KT2CWAW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917K12RR8R3393KT2CWAW" product_slug="bouillie-bordelaise-rsr" dose="6.0001" unit="Kg">BB RSR <small>6  Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917K4RBC2SFWGS85R9V2X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917K4RBC2SFWGS85R9V2X" product_slug="nordox-75-wg" dose="1.67001" unit="Kg/Ha">NORDOX 75 WG <small>1.67 Kg</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>COCHENILLES <br>ACARIENS</td>
                                    <td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917K8BPJVFK1V9YTXPFYX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917K8BPJVFK1V9YTXPFYX" product_slug="acakill" dose="20" unit="L">ACAKILL <small>20 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917KBB06PB2E0BAHNREXF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917KBB06PB2E0BAHNREXF" product_slug="polithiol" dose="50" unit="L">POLITHIOL <small>50 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917KE6K4QEV0Q5GD9VETX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917KE6K4QEV0Q5GD9VETX" product_slug="acakill" dose="20.0001" unit="L">ACAKILL <small>20 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917KHSQF5C20ZBN9VDFT3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917KHSQF5C20ZBN9VDFT3" product_slug="polithiol" dose="50.0001" unit="L">POLITHIOL <small>50 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917KM22ZNPMF5F9SPNB8D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917KM22ZNPMF5F9SPNB8D" product_slug="acakill" dose="20.0002" unit="L">ACAKILL <small>20 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917KQKAYE1KJN31D2C0AX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917KQKAYE1KJN31D2C0AX" product_slug="polithiol" dose="50.0002" unit="L">POLITHIOL <small>50 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>PUCERONS</td>
                                    <td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917KVC5Q1BPJTMPVZ3CWY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917KVC5Q1BPJTMPVZ3CWY" product_slug="karate-xflow" dose="0.075" unit="L">KARATE X-FLOW <small>0.075 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917KY40MW6WZ6PJ5TZVQB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917KY40MW6WZ6PJ5TZVQB" product_slug="karate-xflow" dose="0.0751" unit="L">KARATE X-FLOW <small>0.075 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917M1ERFHB5466D01W7QF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917M1ERFHB5466D01W7QF" product_slug="karate-xflow" dose="0.0752" unit="L">KARATE X-FLOW <small>0.075 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917M4KV0B4XAMNVBTVC6D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917M4KV0B4XAMNVBTVC6D" product_slug="karate-k" dose="1" unit="L">KARATE K <small>1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917M7ED0EZJZ4PCJ7MM2R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917M7ED0EZJZ4PCJ7MM2R" product_slug="decis-protech" dose="0.083" unit="L">DECIS PROTECH <small>0.083 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917MA853D8DJMM39WWJ38' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MA853D8DJMM39WWJ38" product_slug="karate-k" dose="1.00001" unit="L">KARATE K <small>1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917MDT7M964FYY12BGRKR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MDT7M964FYY12BGRKR" product_slug="decis-protech" dose="0.0831" unit="L">DECIS PROTECH <small>0.083 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917MGZ8WPFN0B2M8VP65J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MGZ8WPFN0B2M8VP65J" product_slug="karate-k" dose="1.00002" unit="L">KARATE K <small>1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917MKMGRJGH36KN9Q0PDN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MKMGRJGH36KN9Q0PDN" product_slug="decis-protech" dose="0.0832" unit="L">DECIS PROTECH <small>0.083 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917MPX9P0ERNVT3KY1V1G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MPX9P0ERNVT3KY1V1G" product_slug="karate-k" dose="1.00003" unit="L">KARATE K <small>1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917MT92TT0M7B8F6RW4YW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MT92TT0M7B8F6RW4YW" product_slug="decis-protech" dose="0.0833" unit="L">DECIS PROTECH <small>0.083 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>FUSICOCCUM <br>MONILIOSES <br>(RAMEAUX)</td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917MX7SD3X768C85PHW1Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917MX7SD3X768C85PHW1Q" product_slug="topsin-70-wg" dose="1" unit="Kg">TOPSIN 70 WG <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917N0N5BY32JCFQNX9JC2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917N0N5BY32JCFQNX9JC2" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917N355A0933M2VA812HG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917N355A0933M2VA812HG" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917N6D95JHE9Q9KHXECB1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917N6D95JHE9Q9KHXECB1" product_slug="topsin-70-wg" dose="1.0001" unit="Kg">TOPSIN 70 WG <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917N9CZ3H1JCAHBQTZS0H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917N9CZ3H1JCAHBQTZS0H" product_slug="signum" dose="1.0001" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NC79P07QFT2RFNF4PJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NC79P07QFT2RFNF4PJ" product_slug="horizon-arbo" dose="750.00001" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NGJYANJRY4A4E6H3VB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NGJYANJRY4A4E6H3VB" product_slug="topsin-70-wg" dose="1.0002" unit="Kg">TOPSIN 70 WG <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NK5BV4GVN9W1V9BCMB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NK5BV4GVN9W1V9BCMB" product_slug="signum" dose="1.0002" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NPQJ1J3BZ58NBZ3TV1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NPQJ1J3BZ58NBZ3TV1" product_slug="horizon-arbo" dose="750.00002" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NSTRTB1VXYV9C46PD1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NSTRTB1VXYV9C46PD1" product_slug="topsin-70-wg" dose="1.0003" unit="Kg">TOPSIN 70 WG <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NWVX719MVP2B0QKZQ8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NWVX719MVP2B0QKZQ8" product_slug="signum" dose="1.0003" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917NZT63SPG14E8KF1347' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917NZT63SPG14E8KF1347" product_slug="horizon-arbo" dose="750.00003" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>FUSICOCCUM</td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917P24VYFERYZG3R1CYMB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917P24VYFERYZG3R1CYMB" product_slug="topsin-70-wg" dose="1.7004" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917P5GDDXQ2CPH1250BP9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917P5GDDXQ2CPH1250BP9" product_slug="horizon-arbo" dose="750.00004" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917P91RC4NSM5RQ03CM1F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917P91RC4NSM5RQ03CM1F" product_slug="topsin-70-wg" dose="1.7005" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PC57FW6ARF7D5ZV785' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PC57FW6ARF7D5ZV785" product_slug="horizon-arbo" dose="750.00005" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PFTBTMQHDPM7NJPMZG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PFTBTMQHDPM7NJPMZG" product_slug="topsin-70-wg" dose="1.7006" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PJ2YKRW21P9RBBDDQ9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PJ2YKRW21P9RBBDDQ9" product_slug="horizon-arbo" dose="750.00006" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PNG7CNPCWWFDMP8393' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PNG7CNPCWWFDMP8393" product_slug="topsin-70-wg" dose="1.7007" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PSNTYK5W1SJGTPV1YN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PSNTYK5W1SJGTPV1YN" product_slug="horizon-arbo" dose="750.00007" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PW2QAJDJX19HXD67BZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PW2QAJDJX19HXD67BZ" product_slug="topsin-70-wg" dose="1.70008" unit="Kg">TOPSIN 70 WG <small>1.7 Kg</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>TAVELURE <br>CORYNEUM <br>ROUILLE</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917PZN3T3PHW1C2P2W142' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917PZN3T3PHW1C2P2W142" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917Q2ZPH2SR8PJY1S00C2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Q2ZPH2SR8PJY1S00C2" product_slug="delan-wg" dose="0.5" unit="Kg">DELAN WG <small>0.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917Q5Y9NK9Z1AT44HNJ2G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Q5Y9NK9Z1AT44HNJ2G" product_slug="signum" dose="1.0001" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917Q8A5MPJYG7DF38DZW6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Q8A5MPJYG7DF38DZW6" product_slug="delan-wg" dose="0.5001" unit="Kg">DELAN WG <small>0.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QCTPFG5BTT4BGZWTJW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QCTPFG5BTT4BGZWTJW" product_slug="signum" dose="1.0002" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QFVAP8QX5YET822B3C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QFVAP8QX5YET822B3C" product_slug="delan-wg" dose="0.5002" unit="Kg">DELAN WG <small>0.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QJKRYM7VHHN8HK6A52' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QJKRYM7VHHN8HK6A52" product_slug="signum" dose="1.0003" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QNX1BWQ87MC75QB7C7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QNX1BWQ87MC75QB7C7" product_slug="delan-wg" dose="0.5003" unit="Kg">DELAN WG <small>0.5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QRMEZC855EEBYPYANC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QRMEZC855EEBYPYANC" product_slug="signum" dose="1.0004" unit="Kg">SIGNUM <small>1 Kg</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QVVWX94HNC0Q2BMNSV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QVVWX94HNC0Q2BMNSV" product_slug="delan-wg" dose="0.5004" unit="Kg">DELAN WG <small>0.5 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE917QZ7TDYH4BK7ZDNX286' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917QZ7TDYH4BK7ZDNX286" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>EURYTOMA</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917R2JJBY9S04VPMBXKF6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917R2JJBY9S04VPMBXKF6" product_slug="karate-xflow" dose="0.11" unit="L">KARATE XFLOW <small>0.11 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917R5EAYTK8Q2HENTASJV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917R5EAYTK8Q2HENTASJV" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917R84917Q95K557JZCV3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917R84917Q95K557JZCV3" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917RBQ4C8T283GCRQD0JF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RBQ4C8T283GCRQD0JF" product_slug="karate-xflow" dose="0.11" unit="L">KARATE XFLOW <small>0.11 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917RERPGZ4VA2JYNZ3TVZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RERPGZ4VA2JYNZ3TVZ" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917RJT0T23YQF1F1K8H3R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RJT0T23YQF1F1K8H3R" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917RNJ9F02JH9MTXMA7T2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RNJ9F02JH9MTXMA7T2" product_slug="karate-xflow" dose="0.11001" unit="L">KARATE XFLOW <small>0.11 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917RRPNHEWHZ895RDP1B1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RRPNHEWHZ895RDP1B1" product_slug="decis-protech" dose="0.5001" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917RVKZQT1QZYSASEEFMQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RVKZQT1QZYSASEEFMQ" product_slug="success-4" dose="0.2001" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917RYKPNSVPSC2NK86D4M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917RYKPNSVPSC2NK86D4M" product_slug="karate-xflow" dose="0.11001" unit="L">KARATE XFLOW <small>0.11 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917S27DJ27BA34NY5Z5GF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917S27DJ27BA34NY5Z5GF" product_slug="decis-protech" dose="0.5001" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917S5WP9RR6PEBPSCS97H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917S5WP9RR6PEBPSCS97H" product_slug="success-4" dose="0.2001" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917S8PJJ9P01CEHGN5D44' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917S8PJJ9P01CEHGN5D44" product_slug="karate-xflow" dose="0.11002" unit="L">KARATE XFLOW <small>0.11 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917SC6DZATA4DBX8FN1ED' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917SC6DZATA4DBX8FN1ED" product_slug="decis-protech" dose="0.5001" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917SFB46DRWPH6M0NW870' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917SFB46DRWPH6M0NW870" product_slug="success-4" dose="0.2002" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917SNV50HMBBZSTWVZQSZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917SNV50HMBBZSTWVZQSZ" product_slug="karate-xflow" dose="0.11002" unit="L">KARATE XFLOW <small>0.11 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917SR5ARXXFYJRMVV0NEX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917SR5ARXXFYJRMVV0NEX" product_slug="decis-protech" dose="0.5001" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917SWD43VDVTBC422BNQZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917SWD43VDVTBC422BNQZ" product_slug="success-4" dose="0.2002" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>PETITE MINEUSE <br>(ANAR SIA) <br>T.O.P</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917SZCQFN4GZSSXYDB7H0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917SZCQFN4GZSSXYDB7H0" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917T2KBBEG4P37JGTA88N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917T2KBBEG4P37JGTA88N" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917T5F6502A42XQYJFNTA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917T5F6502A42XQYJFNTA" product_slug="coragen" dose="1.175" unit="L">CORAGEN <small>1.175 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917T9RJ25WCWE5TD5KB8X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917T9RJ25WCWE5TD5KB8X" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917TCKV6YED43B9ZMGZ34' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917TCKV6YED43B9ZMGZ34" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917TG6FNZNJ4321Z1P8CT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917TG6FNZNJ4321Z1P8CT" product_slug="coragen" dose="1.175" unit="L">CORAGEN <small>1.175 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917TKMJBEEFXQYX5RTMRB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917TKMJBEEFXQYX5RTMRB" product_slug="delfin" dose="1.0001" unit="Kg">DELFIN <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917TQWJPM1CA8M7W3RH42' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917TQWJPM1CA8M7W3RH42" product_slug="madex-twin" dose="0.1002" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917TT540BVG3NZTB7EAVC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917TT540BVG3NZTB7EAVC" product_slug="coragen" dose="1.1751" unit="L">CORAGEN <small>1.175 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917TX360TAJS5H5G2S56E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917TX360TAJS5H5G2S56E" product_slug="delfin" dose="1.0001" unit="Kg">DELFIN <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917V1JNEZ5QD1B2FE6ZX1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917V1JNEZ5QD1B2FE6ZX1" product_slug="madex-twin" dose="0.1002" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917V54W97ZV51Y2GQE1BK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917V54W97ZV51Y2GQE1BK" product_slug="coragen" dose="1.1751" unit="L">CORAGEN <small>1.175 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917V8TSTJ813KWFG8ZXCF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917V8TSTJ813KWFG8ZXCF" product_slug="delfin" dose="1.0002" unit="Kg">DELFIN <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917VB33CBQN57PZ54MMG6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917VB33CBQN57PZ54MMG6" product_slug="madex-twin" dose="0.1003" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917VF7PXNJC58Q69H8R7T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917VF7PXNJC58Q69H8R7T" product_slug="coragen" dose="1.1752" unit="L">CORAGEN <small>1.175 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917VJFDHHV17EYF1HT0M4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917VJFDHHV17EYF1HT0M4" product_slug="delfin" dose="1.0002" unit="Kg">DELFIN <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE917VNJR1254AZ7J231RPS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917VNJR1254AZ7J231RPS" product_slug="madex-twin" dose="0.1003" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE917VRK04XN932PF9KMR5X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917VRK04XN932PF9KMR5X" product_slug="coragen" dose="1.1752" unit="L">CORAGEN <small>1.175 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>STIMULATION <br>FOLIAIRE DE LA <br>PHYTOSYNTHESE</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917VV1WAS8VWZ7RVDCDK5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917VV1WAS8VWZ7RVDCDK5" product_slug="folwin" dose="2" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917VYSDFE5XCCSKV56D0D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917VYSDFE5XCCSKV56D0D" product_slug="folwin" dose="2.0001" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917W1J5HZSHNQA87NMW0M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917W1J5HZSHNQA87NMW0M" product_slug="folwin" dose="2.0001" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917W5KN36734NGRXY0XBZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917W5KN36734NGRXY0XBZ" product_slug="folwin" dose="2.0002" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>NUTRITION <br>FOLIAIRE</td>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917W8GCP2Z1VGHGSQA66S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917W8GCP2Z1VGHGSQA66S" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WBKXVVFQDS59RTRQBY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WBKXVVFQDS59RTRQBY" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WE4E73PDFQN70K48WE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WE4E73PDFQN70K48WE" product_slug="ino-bore-ultra" dose="2.0001" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WHQ7XBDMCSTJPHZ2PQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WHQ7XBDMCSTJPHZ2PQ" product_slug="ino-bore-ultra" dose="2.0001" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WMF1HNJ4DVTC4DC4DQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WMF1HNJ4DVTC4DC4DQ" product_slug="ino-green-ultra" dose="10" unit="L">INO GREEN ULTRA <small>2 x 5 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WRN5G9EC6FEKFQQ5YC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WRN5G9EC6FEKFQQ5YC" product_slug="ino-mix-fruit" dose="10" unit="L">INO MIX FRUIT <small>10 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WVX8FCK5QY5E57EKFQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WVX8FCK5QY5E57EKFQ" product_slug="ino-green-ultra" dose="10" unit="L">INO GREEN ULTRA <small>2 x 5 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917WYFGHCE66VV2BWV1H6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917WYFGHCE66VV2BWV1H6" product_slug="ino-mix-fruit" dose="10" unit="L">INO MIX FRUIT <small>10 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917X1EGV0JTD2CEPHAQ47' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917X1EGV0JTD2CEPHAQ47" product_slug="ino-green-ultra" dose="10.0001" unit="L">INO GREEN ULTRA <small>2 x 5 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917X426Y56M8TFGRYMEN5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917X426Y56M8TFGRYMEN5" product_slug="ino-mix-fruit" dose="10.0001" unit="L">INO MIX FRUIT <small>10 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917X8X1M3RT61WCRF5Z8E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917X8X1M3RT61WCRF5Z8E" product_slug="ino-green-ultra" dose="10.0001" unit="L">INO GREEN ULTRA <small>2 x 5 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917XB0WX17DHVD1K64SCQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XB0WX17DHVD1K64SCQ" product_slug="ino-mix-fruit" dose="10.0001" unit="L">INO MIX FRUIT <small>10 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917XE197Y2D91C4E5Q1Y7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XE197Y2D91C4E5Q1Y7" product_slug="ino-bore-ultra" dose="2.0003" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917XH9QBZQSDFXTCJKJ74' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XH9QBZQSDFXTCJKJ74" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ANTICHLOROSE</td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE917XMAEB17DNG8EVHR7MB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XMAEB17DNG8EVHR7MB" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE917XQ0Z64K8AR7P0RYHFZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XQ0Z64K8AR7P0RYHFZ" product_slug="ino-flow-zn-680f" dose="1.0001" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE917XV0KV9GRE3S6SHTJDA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XV0KV9GRE3S6SHTJDA" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE917XYM9GNN2HQJDG4FTVZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917XYM9GNN2HQJDG4FTVZ" product_slug="ino-flow-zn-680f" dose="1.0001" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE917Y15NXHP74YCZ9HYM9A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Y15NXHP74YCZ9HYM9A" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE917Y4GXE17JEWGNEN5VV8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Y4GXE17JEWGNEN5VV8" product_slug="ino-flow-zn-680f" dose="1.0001" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE917Y8NVTFCPKD2JNDWYH9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Y8NVTFCPKD2JNDWYH9" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE917YBR0K7189ME0F9WKMB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917YBR0K7189ME0F9WKMB" product_slug="ino-flow-zn-680f" dose="1.0001" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917YEATXTCXV3XJM29KH9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917YEATXTCXV3XJM29KH9" product_slug="ino-chel-fer-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917YHM5GM8PQJNXA9SMQ3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917YHM5GM8PQJNXA9SMQ3" product_slug="ino-chel-fer-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917YM226CC8AW6194R7P9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917YM226CC8AW6194R7P9" product_slug="ino-chel-fer-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE917YQ1TEB2ZMZVJJ37BX8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917YQ1TEB2ZMZVJJ37BX8" product_slug="ino-chel-fer-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td">DESHERBAGE</td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE917YVADSRB88T7HJHSGAB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917YVADSRB88T7HJHSGAB" product_slug="kerb-flo" dose="3.75" unit="L">KERB FLO <small>3.75 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE917YY8MQEFPJZ8K4TM4SV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917YY8MQEFPJZ8K4TM4SV" product_slug="kerb-flo" dose="3.75" unit="L">KERB FLO <small>3.75 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE917Z14JB2YKRHEPXQTX85' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Z14JB2YKRHEPXQTX85" product_slug="kerb-flo" dose="3.75" unit="L">KERB FLO <small>3.75 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE917Z4F105QBFR0FFE7GP6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE917Z4F105QBFR0FFE7GP6" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE918021HAQZSVWQRS29KY2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE918021HAQZSVWQRS29KY2" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE91805Q87W4ZVY0MW50275' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91805Q87W4ZVY0MW50275" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE918085R8HZDW0F49DNA7C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE918085R8HZDW0F49DNA7C" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180BRCCKEJVGCQ9QWRKA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180BRCCKEJVGCQ9QWRKA" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180D4EZ12BNCVT2CDSC0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180D4EZ12BNCVT2CDSC0" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180G5RC8Q8KQE0FTG6WX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180G5RC8Q8KQE0FTG6WX" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180KXEN96M5DGC0WDQF0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180KXEN96M5DGC0WDQF0" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180PZMHZJE836VKAWZ7V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180PZMHZJE836VKAWZ7V" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180SEGZ5KQ8FSAN2GX7V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180SEGZ5KQ8FSAN2GX7V" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180W3495AWBH3GKQDD8G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180W3495AWBH3GKQDD8G" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9180Z6P1M0ZHX65NVG15E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9180Z6P1M0ZHX65NVG15E" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE91812SP7K2Z5S1SA07HR5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91812SP7K2Z5S1SA07HR5" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE918153XYAMEYECK8CBK26' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE918153XYAMEYECK8CBK26" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE91818RS5GN0GQ3BPQHFQG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91818RS5GN0GQ3BPQHFQG" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9181BAZFKDJNK18K6GVTS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9181BAZFKDJNK18K6GVTS" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9181EV8ZJK5FCAD405FPH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9181EV8ZJK5FCAD405FPH" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9181GZMACGRC4EV5N5FCN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9181GZMACGRC4EV5N5FCN" product_slug="roundup-flash-plus" dose="2.0001" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9181KFZJAJA617FQFWVBB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9181KFZJAJA617FQFWVBB" product_slug="roundup-flash-plus" dose="2.0001" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9181P8MNN4AG7WV7XWHBM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9181P8MNN4AG7WV7XWHBM" product_slug="roundup-flash-plus" dose="2.0001" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9181SG93M93NNZVDGTXMP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9181SG93M93NNZVDGTXMP" product_slug="roundup-flash-plus" dose="2.0001" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9181WY9YQR3QMTBNZMZY9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9181WY9YQR3QMTBNZMZY9" product_slug="roundup-flash-plus" dose="2.0002" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9181ZTYRS5KTHV90N6AD7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9181ZTYRS5KTHV90N6AD7" product_slug="roundup-flash-plus" dose="2.0002" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE91822K2RD9BYHDZF8TRRS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91822K2RD9BYHDZF8TRRS" product_slug="roundup-flash-plus" dose="2.0002" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE91825JQED3DZ2511NHS82' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91825JQED3DZ2511NHS82" product_slug="roundup-flash-plus" dose="2.0002" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>ADJUVANT</td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91828EHJ1NGJAASVWSKKX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91828EHJ1NGJAASVWSKKX" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182BK0DKM7ZFWPHXQHMR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182BK0DKM7ZFWPHXQHMR" product_slug="gondor" dose="0.30001" unit="L">GONDOR <small>0.3L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182DZETS1GWQSF8NZRQV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182DZETS1GWQSF8NZRQV" product_slug="gondor" dose="0.30002" unit="L">GONDOR <small>0.3L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182G8V8N8RG5DEX3D51P' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182G8V8N8RG5DEX3D51P" product_slug="gondor" dose="0.30003" unit="L">GONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182KJCTDHBZ3WP50T02V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182KJCTDHBZ3WP50T02V" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182PVHVAEGTSYQP3RW5K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182PVHVAEGTSYQP3RW5K" product_slug="gondor" dose="0.30004" unit="L">GONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182S4GRV1JJV0QVZYRTW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182S4GRV1JJV0QVZYRTW" product_slug="sticman" dose="0.15001" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182VKG366TGT7WGJZXTH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182VKG366TGT7WGJZXTH" product_slug="gondor" dose="0.30005" unit="L">GONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9182YDDZ2N0TWN1Y7CNFW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9182YDDZ2N0TWN1Y7CNFW" product_slug="sticman" dose="0.15002" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91831AGFPH4P6QSS0ZGKD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91831AGFPH4P6QSS0ZGKD" product_slug="gondor" dose="0.30006" unit="L">GONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91834M5ZDBS5PX6526S0H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91834M5ZDBS5PX6526S0H" product_slug="sticman" dose="0.15003" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91837FMXHZ1R8XMQM907B' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91837FMXHZ1R8XMQM907B" product_slug="gondor" dose="0.30007" unit="L">GONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '091FEE183APSTBYQJZN1XTC8Q2' in c_id_array ? 'exist' : 'd-none' }}" c_id="091FEE183APSTBYQJZN1XTC8Q2" product_slug="sticman" dose="0.15004" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183DNMMHJ7GKEMHP04VW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183DNMMHJ7GKEMHP04VW" product_slug="gondor" dose="0.30008" unit="L">GONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183G21QCF360ZNSE32Z1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183G21QCF360ZNSE32Z1" product_slug="sticman" dose="0.15005" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183K8X97HTY93FF7ZNKA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183K8X97HTY93FF7ZNKA" product_slug="gondor" dose="0.30009" unit="L">GONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183NDVCGKBHNCQB316WT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183NDVCGKBHNCQB316WT" product_slug="sticman" dose="0.15006" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183RQH28JWX6Q3V62CRB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183RQH28JWX6Q3V62CRB" product_slug="gondor" dose="0.3000101" unit="L">GONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183V6XW52K5V7NE4P05B' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183V6XW52K5V7NE4P05B" product_slug="sticman" dose="0.15007" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9183YMQR040Y5FGK7J5W6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9183YMQR040Y5FGK7J5W6" product_slug="gondor" dose="0.300011" unit="L">GONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91841AQSHF85HZEADFPED' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91841AQSHF85HZEADFPED" product_slug="sticman" dose="0.15008" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91844ZT5H13EDR7QPPT6M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91844ZT5H13EDR7QPPT6M" product_slug="gondor" dose="0.300012" unit="L">GONDOR <small>0.3L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91847N37RPEVGZRAV87RP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91847N37RPEVGZRAV87RP" product_slug="sticman" dose="0.15009" unit="L">STICMAN <small>0.15L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE91849VQQC2Y856XRC5XV1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE91849VQQC2Y856XRC5XV1" product_slug="gondor" dose="0.300025" unit="L">GONDOR <small>0.3L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9184C9E65NZ83GD2R740M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9184C9E65NZ83GD2R740M" product_slug="gondor" dose="0.300026" unit="L">GONDOR <small>0.3L</small></button>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
