{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                        <table class="table table-bordered no-wrap">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Bourgeons <br>D'hiver
                                </th>
                                <th>
                                    Bourgeons <br>gonflés
                                </th>
                                <th>
                                    Bourgeons avec <br>apparition des sépales
                                </th>
                                <th>
                                    Bourgeons <br>ouverts des <br>feuilles visibles
                                </th>
                                <th>
                                    Fleurs avec sépales <br>ouvertes <br>pétales visibles
                                </th>
                                <th>
                                    Elamines <br>visibles
                                </th>
                                <th>
                                    Fleurs <br>ouvertes
                                </th>
                                <th>
                                    Chute <br>des pétales
                                </th>
                                <th>
                                    Développpement des <br>fleurs
                                </th>
                                <th>
                                    Allongement des <br>pousses
                                </th>
                                <th>
                                    Chute des sépales et <br>fruits apparents
                                </th>
                                <th>
                                    Fruits à 50% de leur <br>croissance
                                </th>
                                <th>
                                    Fruits à <br>taille <br>definitive
                                </th>
                                <th>
                                    Séparation de <br>l'épicarpse
                                </th>
                                <th>
                                    Décoiement de <br>l'épicarpe et <br>mesocarpe
                                </th>
                                <th>
                                    Post-Récolte
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>BACTERIOSE</td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr', '6') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr" dose="6" unit="Kg">BB RSR <small>6 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg', '1.67') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg" dose="1.67" unit="Kg">NORDOX 75 WG <small>1.67 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rhapsody') ? 'exist' : 'd-none' }}" product_slug="rhapsody" dose="2.6" unit="L">RHAPSODY <small>2.6 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise-rsr', '6.0001') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise-rsr" dose="6.0001" unit="Kg">BB RSR <small>6  Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nordox-75-wg', '1.67001') ? 'exist' : 'd-none' }}" product_slug="nordox-75-wg" dose="1.67001" unit="Kg/Ha">NORDOX 75 WG <small>1.67 Kg</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>COCHENILLES <br>ACARIENS</td>
                                    <td></td>
                                    <td colspan="3">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'acakill') ? 'exist' : 'd-none' }}" product_slug="acakill" dose="20" unit="L">ACAKILL <small>20 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'polithiol') ? 'exist' : 'd-none' }}" product_slug="polithiol" dose="50" unit="L">POLITHIOL <small>50 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>PUCERONS</td>
                                    <td></td>
                                    <td colspan="3">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'baikal-wp', '50') ? 'exist' : 'd-none' }}" product_slug="baikal-wp" dose="50" unit="Kg">BAIKAL <small>50 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ladae', '0.8') ? 'exist' : 'd-none' }}" product_slug="ladae" dose="0.8" unit="L">LADAE <small>0.8 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'baikal-wp', '50.0001') ? 'exist' : 'd-none' }}" product_slug="baikal-wp" dose="50.0001" unit="Kg">BAIKAL <small>50 Kg</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ladae', '0.8001') ? 'exist' : 'd-none' }}" product_slug="ladae" dose="0.8001" unit="L">LADAE <small>0.8 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'baikal-wp', '50.0002') ? 'exist' : 'd-none' }}" product_slug="baikal-wp" dose="50.0002" unit="Kg">BAIKAL <small>50 Kg</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ladae', '0.8002') ? 'exist' : 'd-none' }}" product_slug="ladae" dose="0.8002" unit="L">LADAE <small>0.8 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'baikal-wp', '50.0003') ? 'exist' : 'd-none' }}" product_slug="baikal-wp" dose="50.0003" unit="Kg">BAIKAL <small>50 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'baikal-wp', '50.0004') ? 'exist' : 'd-none' }}" product_slug="baikal-wp" dose="50.0004" unit="Kg">BAIKAL <small>50 Kg</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>FUSICOCCUM <br>MONILOSES <br>TAVELURE <br>CORYNEUM <br>ROUILLE</td>
                                    <td></td>
                                    <td colspan="2">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '2') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="2" unit="L">STIMULUS BIO PROTECH <small>2 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3.00001') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3.00001" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '2.0001') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="2.0001" unit="L">STIMULUS BIO PROTECH <small>2 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3.00002') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3.00002" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '2.0002') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="2.0002" unit="L">STIMULUS BIO PROTECH <small>2 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3.00003') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3.00003" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '2.0003') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="2.0003" unit="L">STIMULUS BIO PROTECH <small>2 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3.00004') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3.00004" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '2.0004') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="2.0004" unit="L">STIMULUS BIO PROTECH <small>2 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3.00005') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3.00005" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '2.0005') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="2.0005" unit="L">STIMULUS BIO PROTECH <small>2 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3.00006') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3.00006" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '1') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="1" unit="L">STIMULUS BIO PROTECH <small>1 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3.00007') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3.00007" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2" unit="L">STICOP <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '1.0001') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="1.0001" unit="L">STIMULUS BIO PROTECH <small>1 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3.00008') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3.00008" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0001') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0001" unit="L">STICOP <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '1.0002') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="1.0002" unit="L">STIMULUS BIO PROTECH <small>1 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3.00009') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3.00009" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0003') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0003" unit="L">STICOP <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '1.0003') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="1.0003" unit="L">STIMULUS BIO PROTECH <small>1 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3.000001') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3.000001" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0004') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0004" unit="L">STICOP <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '1.0004') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="1.0004" unit="L">STIMULUS BIO PROTECH <small>1 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3.000002') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3.000002" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0005') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0005" unit="L">STICOP <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '1.0005') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="1.0005" unit="L">STIMULUS BIO PROTECH <small>1 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'elitho-spe', '3.0000003') ? 'exist' : 'd-none' }}" product_slug="elitho-spe" dose="3.0000003" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0006') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0006" unit="L">STICOP <small>2 L</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stimulus-bioprotech', '1.0006') ? 'exist' : 'd-none' }}" product_slug="stimulus-bioprotech" dose="1.0006" unit="L">STIMULUS BIO PROTECH <small>1 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nutrigeo', '25') ? 'exist' : 'd-none' }}" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>EURYTOMA</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'baikal-wp', '30') ? 'exist' : 'd-none' }}" product_slug="baikal-wp" dose="30" unit="Kg">BAIKAL <small>30 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.2') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'baikal-wp', '30.0001') ? 'exist' : 'd-none' }}" product_slug="baikal-wp" dose="30.0001" unit="Kg">BAIKAL <small>30 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.20001') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.20001" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'baikal-wp', '30.0002') ? 'exist' : 'd-none' }}" product_slug="baikal-wp" dose="30.0002" unit="Kg">BAIKAL <small>30 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.20002') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.20002" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'baikal-wp', '30.0003') ? 'exist' : 'd-none' }}" product_slug="baikal-wp" dose="30.0003" unit="Kg">BAIKAL <small>30 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.20003') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.20003" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'baikal-wp', '3.0004') ? 'exist' : 'd-none' }}" product_slug="baikal-wp" dose="30.0004" unit="Kg">BAIKAL <small>30 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4', '0.20004') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.20004" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'baikal-wp', '30.0005') ? 'exist' : 'd-none' }}" product_slug="baikal-wp" dose="30.0005" unit="Kg">BAIKAL <small>30 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'baikal-wp', '30.0006') ? 'exist' : 'd-none' }}" product_slug="baikal-wp" dose="30.0006" unit="Kg">BAIKAL <small>30 Kg</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>PETITE MINEUSE <br>ANARSIA <br>T.O.P</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="2">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delfin', '1') ? 'exist' : 'd-none' }}" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin', '0.1') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                    </td>
                                    <td colspan="2">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delfin', '1.0001') ? 'exist' : 'd-none' }}" product_slug="delfin" dose="1.0001" unit="Kg">DELFIN <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin', '0.10001') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.10001" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                    </td>
                                    <td colspan="2">
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'delfin', '1.0002') ? 'exist' : 'd-none' }}" product_slug="delfin" dose="1.0002" unit="Kg">DELFIN <small>1 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'madex-twin', '0.10002') ? 'exist' : 'd-none' }}" product_slug="madex-twin" dose="0.10002" unit="L">MADEX TWIN <small>0.1 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>STIMULATION <br>FOLIAIRE DE LA <br>PHYTOSYNTHESE</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td colspan="1">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'folwin', '2') ? 'exist' : 'd-none' }}" product_slug="folwin" dose="2" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'folwin', '2.0001') ? 'exist' : 'd-none' }}" product_slug="folwin" dose="2.0001" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'folwin', '2.0003') ? 'exist' : 'd-none' }}" product_slug="folwin" dose="2.0003" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td colspan="1">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'folwin', '2.0002') ? 'exist' : 'd-none' }}" product_slug="folwin" dose="2.0002" unit="L">FOLWIN <small>2 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>NUTRITION <br>FOLIAIRE</td>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-bore-ultra', '2') ? 'exist' : 'd-none' }}" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-bore-ultra', '2.0001') ? 'exist' : 'd-none' }}" product_slug="ino-bore-ultra" dose="2.0001" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-bore-ultra', '2.0002') ? 'exist' : 'd-none' }}" product_slug="ino-bore-ultra" dose="2.0002" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-bore-ultra', '2.0003') ? 'exist' : 'd-none' }}" product_slug="ino-bore-ultra" dose="2.0003" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-organic', '10') ? 'exist' : 'd-none' }}" product_slug="ino-green-organic" dose="10" unit="L">INO GREEN ORGANIC <small>2 x 5 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-tonic-mcz', '3') ? 'exist' : 'd-none' }}" product_slug="ino-tonic-mzn" dose="3" unit="L">INO TONIC MZN <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-organic', '10.0001') ? 'exist' : 'd-none' }}" product_slug="ino-green-organic" dose="10.0001" unit="L">INO GREEN ORGANIC <small>2 x 5 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-tonic-mzn', '3.0001') ? 'exist' : 'd-none' }}" product_slug="ino-tonic-mzn" dose="3.0001" unit="L">INO TONIC MZN <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-organic', '10.0002') ? 'exist' : 'd-none' }}" product_slug="ino-green-organic" dose="10.0002" unit="L">INO GREEN ORGANIC <small>2 x 5 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-tonic-mzn', '3.0002') ? 'exist' : 'd-none' }}" product_slug="ino-tonic-mzn" dose="3.0002" unit="L">INO TONIC MZN <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-organic', '10.0003') ? 'exist' : 'd-none' }}" product_slug="ino-green-organic" dose="10.0003" unit="L">INO GREEN ORGANIC <small>2 x 5 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-tonic-mzn', '3.0003') ? 'exist' : 'd-none' }}" product_slug="ino-tonic-mzn" dose="3.0003" unit="L">INO TONIC MZN <small>3 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                    <td colspan="1">
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-bore-ultra', '2.0002') ? 'exist' : 'd-none' }}" product_slug="ino-bore-ultra" dose="2.0002" unit="L">INO BORE ULTRA <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-flow-zn-680f', '1') ? 'exist' : 'd-none' }}" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ANTICHLOROSE</td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sferesol', '300') ? 'exist' : 'd-none' }}" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'chelafer', '50') ? 'exist' : 'd-none' }}" product_slug="chelafer" dose="50" unit="g/arbre">CHELA FER 6% <small>50 g/arbre</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sferesol', '300.0001') ? 'exist' : 'd-none' }}" product_slug="sferesol" dose="300.0001" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ferrilene', '4.8') ? 'exist' : 'd-none' }}" product_slug="ferrilene" dose="4.8" unit="%">FERRILENE <small>4.8 %</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sferesol', '300.0002') ? 'exist' : 'd-none' }}" product_slug="sferesol" dose="300.0002" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'chelafer', '50.0002') ? 'exist' : 'd-none' }}" product_slug="chelafer" dose="50.0002" unit="g/arbre">CHELA FER 6% <small>50 g/arbre</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sferesol', '300.0003') ? 'exist' : 'd-none' }}" product_slug="sferesol" dose="300.0003" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ferrilene', '4.8001') ? 'exist' : 'd-none' }}" product_slug="ferrilene" dose="4.8001" unit="%">FERRILENE <small>4.8 %</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-chel-ultra', '3') ? 'exist' : 'd-none' }}" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL ULTRA <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-chel-ultra', '3.0001') ? 'exist' : 'd-none' }}" product_slug="ino-chel-ultra" dose="3.0001" unit="L">INO CHEL ULTRA <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-chel-ultra', '3.0002') ? 'exist' : 'd-none' }}" product_slug="ino-chel-ultra" dose="3.0002" unit="L">INO CHEL ULTRA <small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-chel-ultra', '3.0003') ? 'exist' : 'd-none' }}" product_slug="ino-chel-ultra" dose="3.0003" unit="L">INO CHEL ULTRA <small>3 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
