{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-12">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                      <table class="table table-bordered no-wrap">
                        <thead>
                        <tr>
                          <th></th>
                          <th>
                            Bourgeons <br>D'hiver
                          </th>
                          <th>
                            Bourgeons <br>gonflés
                          </th>
                          <th>
                            Bourgeons avec <br>apparition des sépales
                          </th>
                          <th>
                            Bourgeons <br>ouverts des <br>feuilles visibles
                          </th>
                          <th>
                            Fleurs avec sépales <br>ouvertes <br>pétales visibles
                          </th>
                          <th>
                            Elamines <br>visibles
                          </th>
                          <th>
                            Fleurs <br>ouvertes
                          </th>
                          <th>
                            Chute <br>des pétales
                          </th>
                          <th>
                            Développpement des <br>fleurs
                          </th>
                          <th>
                            Allongement des <br>pousses
                          </th>
                          <th>
                            Chute des sépales et <br>fruits apparents
                          </th>
                          <th>
                            Fruits à 50% de leur <br>croissance
                          </th>
                          <th>
                            Fruits à <br>taille <br>definitive
                          </th>
                          <th>
                            Séparation de <br>l'épicarpse
                          </th>
                          <th>
                            Décoiement de <br>l'épicarpe et <br>mesocarpe
                          </th>
                          <th>
                            Post-Récolte
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>BACTERIOSE</td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHBSGZ944RSFQKEFCYWA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHBSGZ944RSFQKEFCYWA" product_slug="bouillie-bordelaise-rsr" dose="6" unit="Kg">BOUILLIE BORDELAISE RSR <small>6Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHBXE4FZE241FMDF3YFA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHBXE4FZE241FMDF3YFA" product_slug="nordox-75-wg" dose="1.67" unit="Kg">NORDOX 75 WG <small>1.67Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHC1E3FD3MHMNFA2MSH8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHC1E3FD3MHMNFA2MSH8" product_slug="rhapsody" dose="2.6" unit="L">RHAPSODY <small>2.6L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHC4A4QPER91Z0H4QQ78' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHC4A4QPER91Z0H4QQ78" product_slug="bouillie-bordelaise-rsr" dose="6" unit="Kg">BOUILLIE BORDELAISE RSR <small>6Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHC7ZBB08KRF6Y7FKW7D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHC7ZBB08KRF6Y7FKW7D" product_slug="nordox-75-wg" dose="1.67" unit="Kg/Ha">NORDOX 75 WG <small>1.67Kg/Ha</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>COCHENILLES <br>ACARIENS</td>
                          <td></td>
                          <td colspan="3">
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHC978Y5GHGWG4DX52ZY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHC978Y5GHGWG4DX52ZY" product_slug="acakill" dose="20" unit="L">ACAKILL <small>20L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHCBSYCBVBK1B9KCA5YS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHCBSYCBVBK1B9KCA5YS" product_slug="polithiol" dose="50" unit="L">POLITHIOL BIO <small>50L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>PUCERONS</td>
                          <td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP03GE1SSCBDCEGJ1H2KN13' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP03GE1SSCBDCEGJ1H2KN13" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP03GE3B1PVZQ5EYZ0XZN0M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP03GE3B1PVZQ5EYZ0XZN0M" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP03GE4QF20YHF0S2YVE5RV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP03GE4QF20YHF0S2YVE5RV" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td></td><td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHCHMVE2T44S2VBP90SS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHCHMVE2T44S2VBP90SS" product_slug="ladae" dose="0.8" unit="L">LADAE * 5 L <small>0.8L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP03GE5SWWF21YBKASW2Q59' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP03GE5SWWF21YBKASW2Q59" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCSEWQ418W05ZKY6KKN187A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCSEWQ418W05ZKY6KKN187A" product_slug="ladae" dose="0.8" unit="L">LADAE * 5 L <small>0.8L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP03GE5KB65ZSPWYPC3SKC4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP03GE5KB65ZSPWYPC3SKC4" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHCVPZ02BDSVKQPJDAYP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHCVPZ02BDSVKQPJDAYP" product_slug="ladae" dose="0.8" unit="L">LADAE * 5 L <small>0.8L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP03GE60SA8R0QJQEJK1YCG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP03GE60SA8R0QJQEJK1YCG" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP03GE6SZ0YV7SPE1CP3VBT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP03GE6SZ0YV7SPE1CP3VBT" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP03GE7511GCQ41P7G14CMK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP03GE7511GCQ41P7G14CMK" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>FUSICOCCUM <br>MONILOSES <br>TAVELURE <br>CORYNEUM <br>ROUILLE</td>
                          <td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQAXT0Z2HQ927K5KSP0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQAXT0Z2HQ927K5KSP0" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ6R1GG1M4CRYC4R8H5D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ6R1GG1M4CRYC4R8H5D" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ6VT5X3PGAFYVZ4Y7AP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ6VT5X3PGAFYVZ4Y7AP" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ6Y8J1JG5AV6M49EEYP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ6Y8J1JG5AV6M49EEYP" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ72P2HDGRSJNK7T3Q3V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ72P2HDGRSJNK7T3Q3V" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQD45ZQGFPQ7B5TRVAP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQD45ZQGFPQ7B5TRVAP" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ754JHAKH3KEYKCH875' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ754JHAKH3KEYKCH875" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ77JJE44N9K184RA65S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ77JJE44N9K184RA65S" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ78XYYX7HT5Z43P2K2A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ78XYYX7HT5Z43P2K2A" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ7ATW0JZNNZGJHK69M4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ7ATW0JZNNZGJHK69M4" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQFKXMJC2TJGW4CAH86' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQFKXMJC2TJGW4CAH86" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ7CB534YWEWNY40YQNC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ7CB534YWEWNY40YQNC" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ7E9294YZGY6HFA0XTQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ7E9294YZGY6HFA0XTQ" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ7G5GSYMCKJD2F13RDS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ7G5GSYMCKJD2F13RDS" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ7JXFXM31YH4KA890D9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ7JXFXM31YH4KA890D9" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQHH71CV21DFQ1W5VBP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQHH71CV21DFQ1W5VBP" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ7NH6WH809BE15J20Q4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ7NH6WH809BE15J20Q4" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ7Q36H4YK139ZT80ZS2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ7Q36H4YK139ZT80ZS2" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ7S7J0ND1MCBGB4EE86' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ7S7J0ND1MCBGB4EE86" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ7T1S14W5TFR7QXKGZW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ7T1S14W5TFR7QXKGZW" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQJ9GQ7CCQ1QRPD3W6R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQJ9GQ7CCQ1QRPD3W6R" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ7W78D778QRD72RW2QC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ7W78D778QRD72RW2QC" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ7XR4Z6DCDEBW7KADT8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ7XR4Z6DCDEBW7KADT8" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ7Z83P9QF3RKKFRJN39' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ7Z83P9QF3RKKFRJN39" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ82E6HZ82YM3396WQP3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ82E6HZ82YM3396WQP3" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQNR4ADR9DEGFEYG2DN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQNR4ADR9DEGFEYG2DN" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ84WJ8WBHP9N3WCHSTB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ84WJ8WBHP9N3WCHSTB" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ864JGWDBSKQYX65WXT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ864JGWDBSKQYX65WXT" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ87GPP22WPD453PVVFM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ87GPP22WPD453PVVFM" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ89VV5GSAPR0VM597EV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ89VV5GSAPR0VM597EV" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQPYRERJTZ0SFK06GZ3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQPYRERJTZ0SFK06GZ3" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ8BXZ4PV1EP4EX0QTFD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ8BXZ4PV1EP4EX0QTFD" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ8CVH8GVJKNDC4N0CCX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ8CVH8GVJKNDC4N0CCX" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ8EDZW628X6ZV6A6SZZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ8EDZW628X6ZV6A6SZZ" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ8GA976JVZGX0CTPPBG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ8GA976JVZGX0CTPPBG" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQS5Q58PA2RCJJ66B1H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQS5Q58PA2RCJJ66B1H" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ8JXMR1XGTF9N8RMM61' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ8JXMR1XGTF9N8RMM61" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ8MJQ0FBBZT3PHCD56G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ8MJQ0FBBZT3PHCD56G" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ8QJRV505YFN792X4GD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ8QJRV505YFN792X4GD" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ8SSXYSH7JX673KRH00' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ8SSXYSH7JX673KRH00" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQT2AQV0KPMZB2HJATN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQT2AQV0KPMZB2HJATN" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ8TEE84GKSC7JZ3MDSV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ8TEE84GKSC7JZ3MDSV" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ8WEDXD7M670MVKAWRE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ8WEDXD7M670MVKAWRE" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ8X83F900Y7JQ7XHYBV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ8X83F900Y7JQ7XHYBV" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ8ZVY4SMW7YBAYSM2HH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ8ZVY4SMW7YBAYSM2HH" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQVXV1W3011970HTYRA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQVXV1W3011970HTYRA" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9043TB1QF4N446TYW0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9043TB1QF4N446TYW0" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ92HY16X216M25NA7F2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ92HY16X216M25NA7F2" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ959BBKX52FDMPZ9P5F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ959BBKX52FDMPZ9P5F" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ97P59ZX7EWXPRXGFCE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ97P59ZX7EWXPRXGFCE" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQXXMYD9FFXNKVQJ6ZR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQXXMYD9FFXNKVQJ6ZR" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ994SQBSYVZ6BCZFKST' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ994SQBSYVZ6BCZFKST" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9A7SKBNG9ABW2TZWT0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9A7SKBNG9ABW2TZWT0" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9CFNSBZWVE89BDVFKG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9CFNSBZWVE89BDVFKG" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9DGAMMKC7KPTA3G651' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9DGAMMKC7KPTA3G651" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQYQZ9YWR4JDGDRF7WQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQYQZ9YWR4JDGDRF7WQ" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9FCYBPMJZ3J5JT2JD4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9FCYBPMJZ3J5JT2JD4" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9GJ74H22AY11C0KAS9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9GJ74H22AY11C0KAS9" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9JTTXTG7KJDMTRVRYQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9JTTXTG7KJDMTRVRYQ" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9M2AF50AVYBAQYTB9C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9M2AF50AVYBAQYTB9C" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYQZ4FS75C8ZEZG3DPGS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYQZ4FS75C8ZEZG3DPGS" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9Q3P1QTTD17WX7QPBP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9Q3P1QTTD17WX7QPBP" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9S4VP8KDCV4SDGJ7FZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9S4VP8KDCV4SDGJ7FZ" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9V2YJ2HWSC8R7TW1X0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9V2YJ2HWSC8R7TW1X0" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9WF8EXFDFWMGWVTK49' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9WF8EXFDFWMGWVTK49" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHYR0XC7VQHQH9JVYQDTP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHYR0XC7VQHQH9JVYQDTP" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE * <small>3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9YDWSXGP0J7VFFCZ9C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9YDWSXGP0J7VFFCZ9C" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN * 5 L <small>2L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQ9Z3VPJR2TS367GY5ZS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQ9Z3VPJR2TS367GY5ZS" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA * BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQA0QM930W3G40MF0TQ2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQA0QM930W3G40MF0TQ2" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA* BIO 5 L <small>0.5L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRHQA2S8ZB7GVVCQKBHVT8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRHQA2S8ZB7GVVCQKBHVT8" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS BIO 10 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHFCHXAY5CQ0P2MN6GXP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHFCHXAY5CQ0P2MN6GXP" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO * 20 L <small>25L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRJXWHPMFNTVAGVV2FJ0M6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRJXWHPMFNTVAGVV2FJ0M6" product_slug="alasso-10-l" dose="2" unit="L">ALASSO* 10 L <small>2L</small></button>
                          </td>
                        </tr>

                        <tr>
                          <td>EURYTOMA</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP02DQMJ7CHECF1CMGN2G3M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP02DQMJ7CHECF1CMGN2G3M" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHFGN0Z4114HAEF5K6DW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHFGN0Z4114HAEF5K6DW" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP02DQQQ6TDFJTVNHFJDJGV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP02DQQQ6TDFJTVNHFJDJGV" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHFS9GS7F0KEN2ZG2RGN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHFS9GS7F0KEN2ZG2RGN" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP02DQR1W47ZTPT9ESCC6ZG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP02DQR1W47ZTPT9ESCC6ZG" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHFY675VM55GRS55B8M6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHFY675VM55GRS55B8M6" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                          </td>
                          <td><button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP02DQRMYV14CYWG0AHFTEG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP02DQRMYV14CYWG0AHFTEG" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHG5VC15WC7BY3QMC2FV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHG5VC15WC7BY3QMC2FV" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                          </td>
                          <td><button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP02DQSMWW57MWZBEXTNA47' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP02DQSMWW57MWZBEXTNA47" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRBHGCHY512QSVE978PR7Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHGCHY512QSVE978PR7Q" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                          </td>
                          <td><button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP02DQSXVVTDR4AXAWCK030' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP02DQSXVVTDR4AXAWCK030" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td><button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP02DQTN7KAE8QTYSVB5WTF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP02DQTN7KAE8QTYSVB5WTF" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP02DQT3AK0SHYV2WXYJQ5S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP02DQT3AK0SHYV2WXYJQ5S" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '' in c_id_array ? 'exist' : 'd-none' }}" c_id="" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>PETITE MINEUSE <br>ANARSIA <br>T.O.P</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRM9YE5MV598Y55KB5BEBC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRM9YE5MV598Y55KB5BEBC" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRM9YPNWR6D0TKZW0G5F16' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRM9YPNWR6D0TKZW0G5F16" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRM9YR906P9JVV3DND4SGP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRM9YR906P9JVV3DND4SGP" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRM9YTDHSGJ199W5MB60G9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRM9YTDHSGJ199W5MB60G9" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRM9YWR0H57QRKQ6GN9EM0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRM9YWR0H57QRKQ6GN9EM0" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRM9YYH4ZQZSG9KSA26ED3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRM9YYH4ZQZSG9KSA26ED3" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRM9Z0KZPS8J0MYWX1HFXE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRM9Z0KZPS8J0MYWX1HFXE" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRM9Z1JT86BRKWN1BS0N2F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRM9Z1JT86BRKWN1BS0N2F" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRN7P26KF2NAZ4B9WF1SVE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRN7P26KF2NAZ4B9WF1SVE" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRN7P6VPQVNC0V0JFCM8CT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRN7P6VPQVNC0V0JFCM8CT" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRN7P80D86PGHDV4N3J7Q8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRN7P80D86PGHDV4N3J7Q8" product_slug="delfin" dose="1" unit="Kg">DELFIN <small>1Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FVCRN7PARXN750P7AVWPCZ1K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRN7PARXN750P7AVWPCZ1K" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                          </td>
                          <td></td><td></td>
                        </tr>
                        <tr>
                          <td>STIMULATION <br>FOLIAIRE DE LA <br>PHYTOSYNTHESE</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHH6R3KR164YQKXH126K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHH6R3KR164YQKXH126K" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT* 5 L <small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GSB56EQP65M4XTCS1QTVBWJ0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB56EQP65M4XTCS1QTVBWJ0" product_slug="n-balancer-bio-5-l" dose="5" unit="L">N-BALANCER BIO 5 L <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHH99E10F799AVVZ8EDD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHH99E10F799AVVZ8EDD" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT* 5 L <small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GSB56EQVPDGXCHF7CP8PEK98' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB56EQVPDGXCHF7CP8PEK98" product_slug="n-balancer-bio-5-l" dose="5" unit="L">N-BALANCER BIO 5 L <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHHC0N5Q8PHFHY57KPJZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHHC0N5Q8PHFHY57KPJZ" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT* 5 L <small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GSB56EQXWY367CE1P2662T34' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB56EQXWY367CE1P2662T34" product_slug="n-balancer-bio-5-l" dose="5" unit="L">N-BALANCER BIO 5 L <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHHEB90J8MXGNNFAJJER' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHHEB90J8MXGNNFAJJER" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT* 5 L <small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GSB56EQZADHTATBAAQCZ2HG2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB56EQZADHTATBAAQCZ2HG2" product_slug="n-balancer-bio-5-l" dose="5" unit="L">N-BALANCER BIO 5 L <small>5L</small></button>
                          </td>
                          <td></td><td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHHEB90J8MXGNNFAJ113' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHHEB90J8MXGNNFAJ113" product_slug="n-balancer-bio-5-l" dose="5" unit="L">N-BALANCER BIO 5 L <small>5L</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>NUTRITION <br>FOLIAIRE</td>
                          <td></td><td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHHGN0N3YR2NAW9E3BNX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHHGN0N3YR2NAW9E3BNX" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHHK4ECVWM7GGNPKMYWM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHHK4ECVWM7GGNPKMYWM" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHHQ3KJF83MERQK3CA9S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHHQ3KJF83MERQK3CA9S" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHHT8PNQNZG42BDFW1RS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHHT8PNQNZG42BDFW1RS" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                          </td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHHWHPR9EXK0B3JQE56R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHHWHPR9EXK0B3JQE56R" product_slug="ino-green-organic" dose="10" unit="L">INO-GREEN ORGANIC BIO 10 L <small>10L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHHZ4FKBKEHTTDZTV2R5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHHZ4FKBKEHTTDZTV2R5" product_slug="ino-tonic-mzn" dose="3" unit="L">INO-TONIC MZN BIO 10 L <small>3L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHJ2YZ9Y75J5Q46XW4PN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHJ2YZ9Y75J5Q46XW4PN" product_slug="ino-green-organic" dose="10" unit="L">INO-GREEN ORGANIC BIO 10 L <small>10L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHJ4G6D749084EP9J7V0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHJ4G6D749084EP9J7V0" product_slug="ino-tonic-mzn" dose="3" unit="L">INO-TONIC MZN BIO 10 L <small>3L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHJ7ME8HEYZBJ75R65VJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHJ7ME8HEYZBJ75R65VJ" product_slug="ino-green-organic" dose="10" unit="L">INO-GREEN ORGANIC BIO 10 L <small>10L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHJAFGHCM82J38VGBNJW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHJAFGHCM82J38VGBNJW" product_slug="ino-tonic-mzn" dose="3" unit="L">INO-TONIC MZN BIO 10 L <small>3L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHJDEEBFJ3V8GJ53C9WW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHJDEEBFJ3V8GJ53C9WW" product_slug="ino-green-organic" dose="10" unit="L">INO-GREEN ORGANIC BIO 10 L <small>10L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHJFNZFACAVPV6V0SZWE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHJFNZFACAVPV6V0SZWE" product_slug="ino-tonic-mzn" dose="3" unit="L">INO-TONIC MZN BIO 10 L <small>3L</small></button>
                          </td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHJHSPYV7EAQAV1E83QQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHJHSPYV7EAQAV1E83QQ" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHJNE9MBF8Z816GHZH7G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHJNE9MBF8Z816GHZH7G" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO-FLOW Zn680F Folli BIO 5 L <small>1L</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>ANTICHLOROSE</td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCRBHJS1HZY8MJYM5Y5HZ5M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHJS1HZY8MJYM5Y5HZ5M" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL BIO <small>300Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHJW391S60MPQV8JPB66' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHJW391S60MPQV8JPB66" product_slug="ferrilene" dose="100" unit="g/arbre">FERRILENE 4.8 BIO 5 KG <small>100g/arbre</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCRBHJZX8D73QCYKWB8SG95' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHJZX8D73QCYKWB8SG95" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL BIO <small>300Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHK25F39JT3ZSNTE16TQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHK25F39JT3ZSNTE16TQ" product_slug="ferrilene" dose="100" unit="g/arbre">FERRILENE 4.8 BIO 5 KG <small>100g/arbre</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCRBHK4TD1HEQ99N42KK83J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHK4TD1HEQ99N42KK83J" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL BIO <small>300Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHK6762QQV6AVWCQDPCB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHK6762QQV6AVWCQDPCB" product_slug="ferrilene" dose="100" unit="g/arbre">FERRILENE 4.8 BIO 5 KG <small>100g/arbre</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCRBHKATM8HS24MNSKH3MN0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHKATM8HS24MNSKH3MN0" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL BIO <small>300Kg</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHKD1KGTMD05E1F2Y061' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHKD1KGTMD05E1F2Y061" product_slug="ferrilene" dose="100" unit="g/arbre">FERRILENE 4.8 BIO 5 KG <small>100g/arbre</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHKGQ6M0SVQ3SFT3X230' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHKGQ6M0SVQ3SFT3X230" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA 10L <small>3L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHKJ35MFA7YKM5EX90GM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHKJ35MFA7YKM5EX90GM" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA 10L <small>3L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHKM0MG3BJ2EZS80YYZK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHKM0MG3BJ2EZS80YYZK" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA 10L <small>3L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVCRBHKRE5D2NE09G22NB7NP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCRBHKRE5D2NE09G22NB7NP" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA 10L <small>3L</small></button>
                          </td>
                          <td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>FUMURE</td>
                          <td></td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS0Q5PGMNQTHBY7MCPRZWF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS0Q5PGMNQTHBY7MCPRZWF" product_slug="guanumus-evolution-c-bio-5-ql" dose="1000" unit="Kg">GUANUMUS EVOLUTION C BIO  5 QL <small>1000Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS0Q5VXZQRQ9NB9ZX8RWFH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS0Q5VXZQRQ9NB9ZX8RWFH" product_slug="rise-p-vam-150-grs" dose="150" unit="grs">RISE P VAM* 150 grs <small>150grs</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS0Q5XQTKZ2PJJPFX9XW30' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS0Q5XQTKZ2PJJPFX9XW30" product_slug="labinor-n-10-gra-bio-5-ql" dose="500" unit="Kg">LABINOR N 10 GRA BIO <small>500Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS0Q5YJX7GKJ4S5R4M2QYG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS0Q5YJX7GKJ4S5R4M2QYG" product_slug="guanumus-evolution-c-bio-5-ql" dose="1000" unit="Kg">GUANUMUS EVOLUTION C BIO  5 QL <small>1000Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS0Q5ZTN630X01DVH88DGD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS0Q5ZTN630X01DVH88DGD" product_slug="rise-p-vam-150-grs" dose="150" unit="grs">RISE P VAM* 150 grs <small>150grs</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS0Q61B80RHHP82N64N9HS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS0Q61B80RHHP82N64N9HS" product_slug="labinor-n-10-gra-bio-5-ql" dose="500" unit="Kg">LABINOR N 10 GRA BIO <small>500Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS0Q63ZG59A5PY4ETA8W3W' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS0Q63ZG59A5PY4ETA8W3W" product_slug="guanumus-evolution-c-bio-5-ql" dose="1000" unit="Kg">GUANUMUS EVOLUTION C BIO  5 QL <small>1000Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS0Q67XTN3Q46XHC6YSBD8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS0Q67XTN3Q46XHC6YSBD8" product_slug="rise-p-vam-150-grs" dose="150" unit="grs">RISE P VAM* 150 grs <small>150grs</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS0Q6AWEX5J0VF4RYFRDWT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS0Q6AWEX5J0VF4RYFRDWT" product_slug="labinor-n-10-gra-bio-5-ql" dose="500" unit="Kg">LABINOR N 10 GRA BIO <small>500Kg</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS5E9X6EE42G144GHWM0CF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS5E9X6EE42G144GHWM0CF" product_slug="labinor-n-10-gra-bio-5-ql" dose="500" unit="Kg">LABINOR N 10 GRA BIO <small>500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS5EA2NMMJXFZX8R0W9HNY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS5EA2NMMJXFZX8R0W9HNY" product_slug="optiblend" dose="100" unit="Kg">OPTIBLEND WAKE 5% BIO  6 QL <small>100Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS5EA664JP0JGW5XNRHNH9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS5EA664JP0JGW5XNRHNH9" product_slug="labinor-n-10-gra-bio-5-ql" dose="500" unit="Kg">LABINOR N 10 GRA BIO <small>500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS5EA8BT9Y89QGMNS5V06K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS5EA8BT9Y89QGMNS5V06K" product_slug="optiblend" dose="100" unit="Kg">OPTIBLEND WAKE 5% BIO  6 QL <small>100Kg</small></button>
                          </td>
                          <td></td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS5EAA3304GXJ79TH1THPK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS5EAA3304GXJ79TH1THPK" product_slug="diamic-k26" dose="500" unit="Kg">DIAMIC K26 UAB BIO 6 QL <small>500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS5EACGQAGJP3ZKBVBDCNC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS5EACGQAGJP3ZKBVBDCNC" product_slug="patenkali" dose="400" unit="Kg">PATENKALI <small>400Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS5EAFB0BZMZB9M7RP5NEB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS5EAFB0BZMZB9M7RP5NEB" product_slug="sulfate-de-potasse" dose="400" unit="Kg">SULFATE DE POTASSE 6 QL <small>400Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS5EAHXQ588W6VH6QM7Q68' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS5EAHXQ588W6VH6QM7Q68" product_slug="diamic-k26" dose="500" unit="Kg">DIAMIC K26 UAB BIO 6 QL <small>500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS5EAKXPVF100N5VYM7YZV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS5EAKXPVF100N5VYM7YZV" product_slug="patenkali" dose="400" unit="Kg">PATENKALI <small>400Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS5EAM5K07GBPEZ1GCS18K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS5EAM5K07GBPEZ1GCS18K" product_slug="sulfate-de-potasse" dose="400" unit="Kg">SULFATE DE POTASSE 6 QL <small>400Kg</small></button>
                          </td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS5EAM5K07GBPEZ1GCS213' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS5EAM5K07GBPEZ1GCS213" product_slug="rise-p-vam-150-grs" dose="150" unit="grs">RISE P VAM* 150 grs <small>150grs</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS0Q6F0WNYYK77JFHSY1R8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS0Q6F0WNYYK77JFHSY1R8" product_slug="guanumus-evolution-c-bio-5-ql" dose="1500" unit="Kg">GUANUMUS EVOLUTION C BIO  5 QL <small>1500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVCS0Q6GNFQ2FH97NMCYG518' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCS0Q6GNFQ2FH97NMCYG518" product_slug="orchestra" dose="500" unit="Kg">ORCHESTRA SOL UAB BIO 5 QL <small>500Kg</small></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
