{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block body %}
    {% if printRequest == false %}
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-12">
            <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                <li class="breadcrumb-item active">{{ culture.name }}</li>
            </ol>
        </div>
        <div class="">
            <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    {% endif  %}
                    <div class="table-responsive">
                      <table class="table table-bordered no-wrap">
                        <thead>
                        <tr>
                          <th></th>
                          <th>
                            Plantation
                          </th>
                          <th>
                            Reprise
                          </th>
                          <th>
                            Rosette
                          </th>
                          <th>
                            Début floraison
                          </th>
                          <th>
                            Montaison
                          </th>
                          <th>
                            Avant <br>Ecimage
                          </th>
                          <th>
                            Ecimage
                          </th>
                          <th>
                            Début <br>Floraison
                          </th>
                          <th>
                            Floraison
                          </th>
                          <th>
                            Fin <br>Floraison
                          </th>
                          <th>
                            Distortion <br>Mâle
                          </th>
                          <th>
                            Maturité
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>FUMURE</td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE9TYMGAFR3QP5QS6GBQ4YB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYMGAFR3QP5QS6GBQ4YB" product_slug="12-12-17" dose="800" unit="Kg">12 12 17 <small>800Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVJ102TN9PPNJ88V456V0TF7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ102TN9PPNJ88V456V0TF7" product_slug="12-08-18-sk-bulk-6-ql" dose="800" unit="Kg">12 08 18 SK BULK <small>800Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GSQN0ZDFKWPW81PCVVDABK7Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSQN0ZDFKWPW81PCVVDABK7Q" product_slug="equinoxe-9-3-12" dose="800" unit="Kg">EQUINOXE 9 3 12 5 QL <small>800KG</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GSB2F3J15CDTHW6B3M3VCZAV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2F3J15CDTHW6B3M3VCZAV" product_slug="rise-p-vam" dose="200" unit="g">RISE P VAM <small>200g</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GSB2ECJ6HMNVKCQZFA492DV6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2ECJ6HMNVKCQZFA492DV6" product_slug="12-12-17" dose="800" unit="Kg">12 12 17 <small>800Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GSB2ECJ8B3MZCPJFKF3NB306' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2ECJ8B3MZCPJFKF3NB306" product_slug="12-08-18-sk-bulk-6-ql" dose="800" unit="Kg">12 08 18 SK BULK <small>800Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GSQN0ZDNDA34Q16KAH7PFJWD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSQN0ZDNDA34Q16KAH7PFJWD" product_slug="equinoxe-9-3-12" dose="800" unit="Kg">EQUINOXE 9 3 12 5 QL <small>800KG</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GSB2GKRKAH2ZQ76WYEFVYPGD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2GKRKAH2ZQ76WYEFVYPGD" product_slug="sulfonitrate-26" dose="200" unit="Kg">SULFONITRATE 26% +30-35% So3 6 QL <small>200Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GSB2F3J4GZ02QRGFFKCF4K72' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2F3J4GZ02QRGFFKCF4K72" product_slug="rise-p-vam" dose="200" unit="g">RISE P VAM <small>200g</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GSB2GKRQA22V6Z7VRTA8GVR5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2GKRQA22V6Z7VRTA8GVR5" product_slug="sulfonitrate-26" dose="200" unit="Kg">SULFONITRATE 26% +30-35% So3 6 QL <small>200Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GSB2F3J4GZ02QRGFFKCF4K74' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2F3J4GZ02QRGFFKCF4K74" product_slug="rise-p-vam" dose="200" unit="g">RISE P VAM <small>200g</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE9TYMM6F1NGQEYJ015QTAF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYMM6F1NGQEYJ015QTAF" product_slug="17-20-0-28-so3" dose="300" unit="Kg">17 20 <small>300Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVJ102V3KCTZTC0SWF5KCZQQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ102V3KCTZTC0SWF5KCZQQ" product_slug="18-46-22" dose="200" unit="Kg">18 46 <small>200Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEE9TYMM6F1NGQEYJ015QTAF1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYMM6F1NGQEYJ015QTAF1" product_slug="17-20-0-28-so3" dose="300" unit="Kg">17 20 <small>300Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FVJ102V72WFTC8YCTSH0NXYD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ102V72WFTC8YCTSH0NXYD" product_slug="18-46-22" dose="200" unit="Kg">18 46 <small>200Kg</small></button>
                            <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEBR75QFG163J771FJFTVN5N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBR75QFG163J771FJFTVN5N" product_slug="ammonitre-33-5" dose="300" unit="Kg">AMMONITRE 33.5 .. FRANCAISE <small>300Kg</small></button>
                            <button class="btn btn-B btn-block isProduct {{ printRequest ? '01GSB2K93Z0WVVGYRWJJQPQPEJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2K93Z0WVVGYRWJJQPQPEJ" product_slug="uree-46" dose="200" unit="Kg">UREE <small>200Kg</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>HERBICIDES</td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYMYKKGW2BBMK10RZR49' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYMYKKGW2BBMK10RZR49" product_slug="bettapham" dose="1.5" unit="L">BETTAPHAM <small>1.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYN5Q6YGHW3SDYSS6322' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYN5Q6YGHW3SDYSS6322" product_slug="trevi-500-sc" dose="0.5" unit="L">TREVI 500 SC <small>0.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYN5Q6YGHW3SDYSS63YH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYN5Q6YGHW3SDYSS63YH" product_slug="elina" dose="0.3" unit="L">ELINA <small>0.3L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYN8XT59T676BDPBK24K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYN8XT59T676BDPBK24K" product_slug="tornado-sc" dose="1" unit="L">TORNADO SC <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYNAD6GPM8BPCCF5ZH5Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYNAD6GPM8BPCCF5ZH5Z" product_slug="venzar" dose="0.1" unit="Kg">VENZAR <small>0.1Kg</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYNDGKE3RVJ7K79V7BVK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYNDGKE3RVJ7K79V7BVK" product_slug="safari" dose="20" unit="g">SAFARI <small>20g</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYNGFRZRK7VN34FY4QPK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYNGFRZRK7VN34FY4QPK" product_slug="safari-duoactive" dose="210" unit="g">SAFARI DUOACTIVE <small>210g</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYNKVK8QRPY80A8TVEX3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYNKVK8QRPY80A8TVEX3" product_slug="bettapham" dose="1.5" unit="L">BETTAPHAM <small>1.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSB2SPB8NTY0VQYYYAE8SJTN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2SPB8NTY0VQYYYAE8SJTN" product_slug="trevi-500-sc" dose="0.5" unit="L">TREVI 500 SC <small>0.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYNQYE1TDNRYGP0YB3MM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYNQYE1TDNRYGP0YB3MM" product_slug="elina" dose="0.3" unit="L">ELINA <small>0.3L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYNT1781N3PJVKRNMFJX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYNT1781N3PJVKRNMFJX" product_slug="tornado-sc" dose="1" unit="L">TORNADO SC <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYNX1NHB9PQNX01XDGST' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYNX1NHB9PQNX01XDGST" product_slug="venzar" dose="0.1" unit="Kg">VENZAR <small>0.1Kg</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYP0QM1R99WTA58GEXRV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYP0QM1R99WTA58GEXRV" product_slug="safari" dose="20" unit="g">SAFARI <small>20g</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYP28PXB9Z94Y96KPWMD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYP28PXB9Z94Y96KPWMD" product_slug="safari-duoactive" dose="210" unit="g">SAFARI DUOACTIVE <small>210g</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYP5BBHKQD6C083JBRD5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYP5BBHKQD6C083JBRD5" product_slug="bettapham" dose="1.5" unit="L">BETTAPHAM <small>1.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSB2SPBH5RGSKAF4HAVR3BA8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2SPBH5RGSKAF4HAVR3BA8" product_slug="trevi-500-sc" dose="0.5" unit="L">TREVI 500 SC <small>0.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYPCNXFHNV7WZPSVMWG3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYPCNXFHNV7WZPSVMWG3" product_slug="elina" dose="0.3" unit="L">ELINA <small>0.3L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYPGKRHTEQRAWWM8P9PF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYPGKRHTEQRAWWM8P9PF" product_slug="tornado-sc" dose="1" unit="L">TORNADO SC <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYPKRWNYND4BQAVET441' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYPKRWNYND4BQAVET441" product_slug="venzar" dose="0.1" unit="Kg">VENZAR <small>0.1Kg</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYPPDVAW5EMXZ871E05J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYPPDVAW5EMXZ871E05J" product_slug="safari" dose="20" unit="g">SAFARI <small>20g</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYPS1CT89B1A6WRDX5VY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYPS1CT89B1A6WRDX5VY" product_slug="safari-duoactive" dose="210" unit="g">SAFARI DUOACTIVE <small>210g</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYQ0XX237E3GT6GT3KPA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYQ0XX237E3GT6GT3KPA" product_slug="fusilade-max" dose="1.5" unit="L">FUSILADE MAX <small>1.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYQ2ZWE85BW8HPSYF5QG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYQ2ZWE85BW8HPSYF5QG" product_slug="stratos-ultra" dose="2" unit="L">STRATOS ULTRA <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYQ8CAH4Q3DXNDAD0YXB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYQ8CAH4Q3DXNDAD0YXB" product_slug="fusilade-max" dose="1.5" unit="L">FUSILADE MAX <small>1.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYQAC8PX3CBGVW8T3H2K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYQAC8PX3CBGVW8T3H2K" product_slug="stratos-ultra" dose="2" unit="L">STRATOS ULTRA <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEE9TYQD1H50YHCN6JZQDVAB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYQD1H50YHCN6JZQDVAB" product_slug="lontrel-sg" dose="40" unit="g">LONTREL SG <small>40g</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSB2R40J9WWQNM2EJ8SAMAS2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2R40J9WWQNM2EJ8SAMAS2" product_slug="fusilade-max" dose="1.5" unit="L">FUSILADE MAX <small>1.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSB2R40N15ZKFJ1A7GC9DA9S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2R40N15ZKFJ1A7GC9DA9S" product_slug="stratos-ultra" dose="2" unit="L">STRATOS ULTRA <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSB2R40R81VVSHZ92Z8PMAQZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2R40R81VVSHZ92Z8PMAQZ" product_slug="lontrel-sg" dose="40" unit="g">LONTREL SG <small>40g</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>ADJUVANTS</td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYQGR8C93GMF17FF5GNS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYQGR8C93GMF17FF5GNS" product_slug="mix-in" dose="1" unit="L">MIX-IN <small>1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYQKK747ENHVCR1ADQ65' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYQKK747ENHVCR1ADQ65" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GSB2VDACW25YVJ12A2DG8NVJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2VDACW25YVJ12A2DG8NVJ" product_slug="bifast" dose="0.5" unit="L">BIFAST <small>0.0.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYQPXERNGAW6WG4FRPGA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYQPXERNGAW6WG4FRPGA" product_slug="mix-in" dose="1" unit="L">MIX-IN <small>1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYQTBWFQB6F5R8Z950WR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYQTBWFQB6F5R8Z950WR" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GSB2VDAJ1DAH7JKCXWQRA0ZS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2VDAJ1DAH7JKCXWQRA0ZS" product_slug="bifast" dose="0.5" unit="L">BIFAST <small>0.0.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYQY2C1SKMT9QZPQYDXQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYQY2C1SKMT9QZPQYDXQ" product_slug="mix-in" dose="1" unit="L">MIX-IN <small>1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYR2Y9MYVPFEQWBHS7AA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYR2Y9MYVPFEQWBHS7AA" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GSB2VDANXFHD0MXPG7QS8MFV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2VDANXFHD0MXPG7QS8MFV" product_slug="bifast" dose="0.5" unit="L">BIFAST <small>0.0.5L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td></td><td></td><td></td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYR620DN5NWM0GN247PM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYR620DN5NWM0GN247PM" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYR92QZ73ZR6KA9WRKAJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYR92QZ73ZR6KA9WRKAJ" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYRDRX1SBXD4WS634TGJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYRDRX1SBXD4WS634TGJ" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYRFWZ6KD2AT84SX3SM7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYRFWZ6KD2AT84SX3SM7" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYRJXTEM6ED4TERSSC45' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYRJXTEM6ED4TERSSC45" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYRNPA278AEAD419E9VA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYRNPA278AEAD419E9VA" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYRSR3V1B6RQTRWNED4D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYRSR3V1B6RQTRWNED4D" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYRY5YZ5H4343PV8MDXX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYRY5YZ5H4343PV8MDXX" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYS0T8V5E6HSKBGFPTSD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYS0T8V5E6HSKBGFPTSD" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYS3JQ6HSFFBYSY2K807' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYS3JQ6HSFFBYSY2K807" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYS6D4D8FA9QXKXJSHV7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYS6D4D8FA9QXKXJSHV7" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYS9QD8Q3Y02RMKMWVQP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYS9QD8Q3Y02RMKMWVQP" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYSD3CH7ZYG7J2NEY723' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYSD3CH7ZYG7J2NEY723" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYSHQ4BP04XZHJKWYQBX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYSHQ4BP04XZHJKWYQBX" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYSM65K2DMQ30SYHQQXK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYSM65K2DMQ30SYHQQXK" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEE9TYSQ6MMCA5GCM1DX9XDC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYSQ6MMCA5GCM1DX9XDC" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GSB2WBTTVYZFN7G71Q4MX9PT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2WBTTVYZFN7G71Q4MX9PT" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GSB2WBTXHXWWKG6AHA5PXSWZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB2WBTXHXWWKG6AHA5PXSWZ" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>FONGICIDES</td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYTFE7TE4ZEY68XDD0Z2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYTFE7TE4ZEY68XDD0Z2" product_slug="ortiva-top" dose="0.0001">ORTIVA TOP <small>0.0001null</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYTJJHPQMYQDFXE59HEQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYTJJHPQMYQDFXE59HEQ" product_slug="amistar" dose="1" unit="L">AMISTAR <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYTN8YFT13PS9CNHDQ8C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYTN8YFT13PS9CNHDQ8C" product_slug="citrothiol-dg" dose="5" unit="Kg">CITROTHIOL DG <small>5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYTXHWED6TGJ573429Y5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYTXHWED6TGJ573429Y5" product_slug="kocide-2000" dose="3" unit="Kg">KOCIDE 2000  <small>3Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADKQCBG95MTGVXN1EM0F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADKQCBG95MTGVXN1EM0F" product_slug="signum" dose="0.6" unit="Kg">SIGNUM <small>0.6Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADM5WARAAGVBB871FNSN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADM5WARAAGVBB871FNSN" product_slug="amistar-gold" dose="1" unit="L">AMISTAR GOLD <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYV40T63C78PW216AZ3D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYV40T63C78PW216AZ3D" product_slug="ortiva-top" dose="0.0002">ORTIVA TOP <small>0.0002null</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYV77THNTXB9GP7KCGHS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYV77THNTXB9GP7KCGHS" product_slug="amistar" dose="1" unit="L">AMISTAR <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYVAMA1QMAE3SPZYDXK5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYVAMA1QMAE3SPZYDXK5" product_slug="citrothiol-dg" dose="5" unit="Kg">CITROTHIOL DG <small>5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYVF5HJGT6M81J01FVJ1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYVF5HJGT6M81J01FVJ1" product_slug="kocide-2000" dose="3" unit="Kg">KOCIDE 2000  <small>3Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADMNZG488KT6HYT5Z4KS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADMNZG488KT6HYT5Z4KS" product_slug="signum" dose="0.6" unit="Kg">SIGNUM <small>0.6Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADMV8A5XNTENW9H0ZXKS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADMV8A5XNTENW9H0ZXKS" product_slug="amistar-gold" dose="1" unit="L">AMISTAR GOLD <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYVM76ZBNHFCABNQQ5PQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYVM76ZBNHFCABNQQ5PQ" product_slug="ortiva-top" dose="0.0003">ORTIVA TOP <small>0.0003null</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYVQVFM88684D073CW9T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYVQVFM88684D073CW9T" product_slug="amistar" dose="1" unit="L">AMISTAR <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYVSSV2SN9BWP32KMBPQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYVSSV2SN9BWP32KMBPQ" product_slug="citrothiol-dg" dose="5" unit="Kg">CITROTHIOL DG <small>5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADN10D3T05XS15HWG984' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADN10D3T05XS15HWG984" product_slug="kocide-2000" dose="3" unit="Kg">KOCIDE 2000  <small>3Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADN5R074ZXEXXGDG743D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADN5R074ZXEXXGDG743D" product_slug="signum" dose="0.6" unit="Kg">SIGNUM <small>0.6Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADNCRD5NQJ1BQ1ZP6PA7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADNCRD5NQJ1BQ1ZP6PA7" product_slug="amistar-gold" dose="1" unit="L">AMISTAR GOLD <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADNJJWTP6R1TGCH3MYR2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADNJJWTP6R1TGCH3MYR2" product_slug="pictor-pro" dose="0.5" unit="Kg">PICTOR PRO <small>0.5Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYW3FPHCW78X3AM741MM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYW3FPHCW78X3AM741MM" product_slug="ortiva-top" dose="0.0004">ORTIVA TOP <small>0.0004null</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYW69621TH44YPKCE1F6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYW69621TH44YPKCE1F6" product_slug="amistar" dose="1" unit="L">AMISTAR <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYW9HC5VV64VZEVMPQ76' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYW9HC5VV64VZEVMPQ76" product_slug="citrothiol-dg" dose="5" unit="Kg">CITROTHIOL DG <small>5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYWH84F879E2B0RXQFZP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYWH84F879E2B0RXQFZP" product_slug="kocide-2000" dose="3" unit="Kg">KOCIDE 2000  <small>3Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADNQN4FEMKQK1F562HVY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADNQN4FEMKQK1F562HVY" product_slug="signum" dose="0.6" unit="Kg">SIGNUM <small>0.6Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADNYSFGA9TXJ08486Y3T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADNYSFGA9TXJ08486Y3T" product_slug="amistar-gold" dose="1" unit="L">AMISTAR GOLD <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADP3AY78EKVKT45X4M8A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADP3AY78EKVKT45X4M8A" product_slug="pictor-pro" dose="0.5" unit="Kg">PICTOR PRO <small>0.5Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEE9TYWR5FFN82316WC49Y0H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYWR5FFN82316WC49Y0H" product_slug="ortiva-top" dose="0.0005">ORTIVA TOP <small>0.0005null</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADP8PY94FSZTSBT3S2NF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADP8PY94FSZTSBT3S2NF" product_slug="signum" dose="0.6" unit="Kg">SIGNUM <small>0.6Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADPG6G7KD84VD2VBAZ4Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADPG6G7KD84VD2VBAZ4Q" product_slug="amistar-gold" dose="1" unit="L">AMISTAR GOLD <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADPRGK25JR3T95M7D035' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADPRGK25JR3T95M7D035" product_slug="pictor-pro" dose="0.5" unit="Kg">PICTOR PRO <small>0.5Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADPYZ2EV9JDF07S75RS6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADPYZ2EV9JDF07S75RS6" product_slug="pictor-pro" dose="0.5" unit="Kg">PICTOR PRO <small>0.5Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FVJ1ADQ6MYEM2DDK9Y2Y6RF8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1ADQ6MYEM2DDK9Y2Y6RF8" product_slug="pictor-pro" dose="0.5" unit="Kg">PICTOR PRO <small>0.5Kg</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GSB308NQ28NQ0NWSVC9Z3Y83' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB308NQ28NQ0NWSVC9Z3Y83" product_slug="thesorus" dose="1.5" unit="L">THESORUS <small>1.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GSB308P3NFZYTGAMTTT2Y4AY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB308P3NFZYTGAMTTT2Y4AY" product_slug="thesorus" dose="1.5" unit="L">THESORUS <small>1.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GSB308P6QEKCVQY98VVBMAVV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB308P6QEKCVQY98VVBMAVV" product_slug="thesorus" dose="1.5" unit="L">THESORUS <small>1.5L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GSB308P8RYD8QMRDWY3ZEG4M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB308P8RYD8QMRDWY3ZEG4M" product_slug="attento" dose="8" unit="L">ATTENTO <small>8L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GSB308PAF9AGH9TH6PPYMTFT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB308PAF9AGH9TH6PPYMTFT" product_slug="zakeo-xtra" dose="1" unit="L">ZAKEO XTRA <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GSB308PDH7G1R25YCP9NSXW7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB308PDH7G1R25YCP9NSXW7" product_slug="attento" dose="8" unit="L">ATTENTO <small>8L</small></button>
                          </td>
                          <td>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>INSECTICIDES</td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSB31AH2N750C6ED8DX9QFFM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB31AH2N750C6ED8DX9QFFM" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01GSX16FMZ439HDZAZ73FFJ5XD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSX16FMZ439HDZAZ73FFJ5XD" product_slug="benewia" dose="0.75" unit="L">BENEWIA <small>0.75L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE9TYXD0YDXNSTDHQBE9154' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYXD0YDXNSTDHQBE9154" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYXGFX6QVWRNDN5DP5CF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYXGFX6QVWRNDN5DP5CF" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYXKM7PE090NC64DJXXZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYXKM7PE090NC64DJXXZ" product_slug="karate-k" dose="1.5" unit="L">KARATE K <small>1.5L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYXNE70C5MD0TE16VD5J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYXNE70C5MD0TE16VD5J" product_slug="mavrik-smart" dose="0.2" unit="L">MAVRICK SMART <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01GSX16FN8X5MJPSKX0MWRF3S4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSX16FN8X5MJPSKX0MWRF3S4" product_slug="benewia" dose="0.75" unit="L">BENEWIA <small>0.75L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE9TYXQTRGTHCCZBS5ZP3X2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYXQTRGTHCCZBS5ZP3X2" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYXSBCMWKF9R9J5R7502' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYXSBCMWKF9R9J5R7502" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYXWVW9Z3RCY274V2F32' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYXWVW9Z3RCY274V2F32" product_slug="karate-k" dose="1.5" unit="L">KARATE K <small>1.5L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYXZBV3YJGWE39HWY0M9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYXZBV3YJGWE39HWY0M9" product_slug="mavrik-smart" dose="0.2" unit="L">MAVRICK SMART <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01GSX16FNBK5HWE51BXRXEKT0P' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSX16FNBK5HWE51BXRXEKT0P" product_slug="benewia" dose="0.75" unit="L">BENEWIA <small>0.75L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE9TYY1FC361C0WMEME9RX9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYY1FC361C0WMEME9RX9" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYY4ZXGVBP775WCFVB8S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYY4ZXGVBP775WCFVB8S" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYY74XK6XTZ5ANXCJK8H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYY74XK6XTZ5ANXCJK8H" product_slug="karate-k" dose="1.5" unit="L">KARATE K <small>1.5L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYY9YR1GEBD8SDNR8VVR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYY9YR1GEBD8SDNR8VVR" product_slug="mavrik-smart" dose="0.2" unit="L">MAVRICK SMART <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01GSX16FND5H1ZNP41SPFDVSS6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSX16FND5H1ZNP41SPFDVSS6" product_slug="benewia" dose="0.75" unit="L">BENEWIA <small>0.75L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE9TYYCW6D9FA4GE8WJ8RNT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYYCW6D9FA4GE8WJ8RNT" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYYECZ4SCA1NVT3KTGZ7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYYECZ4SCA1NVT3KTGZ7" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYYG7PFMH07R4Q4PBNTN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYYG7PFMH07R4Q4PBNTN" product_slug="karate-k" dose="1.5" unit="L">KARATE K <small>1.5L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYYKAMVJ8WXTZ9SMMGCK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYYKAMVJ8WXTZ9SMMGCK" product_slug="mavrik-smart" dose="0.2" unit="L">MAVRICK SMART <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01GSX16FNFSH55H8MXXM66AZ92' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSX16FNFSH55H8MXXM66AZ92" product_slug="benewia" dose="0.75" unit="L">BENEWIA <small>0.75L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE9TYYP9MSW9SRZ07ZNC83T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYYP9MSW9SRZ07ZNC83T" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYYSJA1GVRCQ8FV2RAR8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYYSJA1GVRCQ8FV2RAR8" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01GSX16FNH3AWJHS174JYQYR56' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSX16FNH3AWJHS174JYQYR56" product_slug="benewia" dose="0.75" unit="L">BENEWIA <small>0.75L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE9TYYVES6Z7AYY25SJ7QTN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYYVES6Z7AYY25SJ7QTN" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYYXZZJ7MJK0BYXA1CNX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYYXZZJ7MJK0BYXA1CNX" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01GSX16FNM23MH148X4Y3CJDPY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSX16FNM23MH148X4Y3CJDPY" product_slug="benewia" dose="0.75" unit="L">BENEWIA <small>0.75L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEE9TYZ01FHPJ9FS07FX5WJ9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYZ01FHPJ9FS07FX5WJ9" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEE9TYZ3Z6MCE0CM7XSHPP5C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYZ3Z6MCE0CM7XSHPP5C" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? 'TOCHANGE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB31AH2N750C6ED8DX9QFFM" product_slug="benewia" dose="0.75" unit="L">BENEWIA <small>0.75L</small></button>
                          </td>
                          <td></td><td></td>
                        </tr>
                        <tr>
                          <td>NUTRITION <br>FOLIAIRE</td>
                          <td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TYZ6ZG9RCZKGN6DQ463F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYZ6ZG9RCZKGN6DQ463F" product_slug="ino-mix-oligo" dose="4" unit="Kg">INO-MIX Oligos PS BIO 10 KG <small>4Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TYZ8W0FVCQQY4BW5C0A3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYZ8W0FVCQQY4BW5C0A3" product_slug="ino-mix-oligo" dose="4" unit="Kg">INO-MIX Oligos PS BIO 10 KG <small>4Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TYZAGXZ0Z5JFG5N3SJST' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYZAGXZ0Z5JFG5N3SJST" product_slug="ino-mix-oligo" dose="4" unit="Kg">INO-MIX Oligos PS BIO 10 KG <small>4Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TYZDFXPFQRZHPBV8G1J8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYZDFXPFQRZHPBV8G1J8" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TYZGNKWWRDQN5G434WM7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYZGNKWWRDQN5G434WM7" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TYZJJ2CGQZ2HTV3E63Q4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYZJJ2CGQZ2HTV3E63Q4" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TYZP631YQRS1GY6CY1NE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYZP631YQRS1GY6CY1NE" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TYZR2F91MCVDGWYQ3V80' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYZR2F91MCVDGWYQ3V80" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TYZTTBKS7ERQKBKNY7W2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYZTTBKS7ERQKBKNY7W2" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                          </td>
                          <td></td><td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td> </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVJ1K56SGZA14PPKQANXFGWB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1K56SGZA14PPKQANXFGWB" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVJ1K56SGZA14PPKQANXFGWB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1K56SGZA14PPKQANXFGWB" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TYZX4J0K4QE7XBE6WGST' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TYZX4J0K4QE7XBE6WGST" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT<small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TZ00F4616X29FQC5SZVM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TZ00F4616X29FQC5SZVM" product_slug="ino-boost" dose="1" unit="L">INO-BOOST <small>1L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVJ1K56VVPQ7FTTQ5BK9W9CG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1K56VVPQ7FTTQ5BK9W9CG" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TZ02VRPT90B9DQ2WJGYB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TZ02VRPT90B9DQ2WJGYB" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT<small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TZ05SS91G0J813H87EPW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TZ05SS91G0J813H87EPW" product_slug="ino-boost" dose="1" unit="L">INO-BOOST <small>1L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVJ1K57037VEK8YHXZFDSQEP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1K57037VEK8YHXZFDSQEP" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TZ073A8Z3DEDHKZW1F8R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TZ073A8Z3DEDHKZW1F8R" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT<small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TZ091WTAWX9WT8MNN69K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TZ091WTAWX9WT8MNN69K" product_slug="ino-boost" dose="1" unit="L">INO-BOOST <small>1L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVJ1K574Y071KFYAAW8XC78T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1K574Y071KFYAAW8XC78T" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TZ0CYJKJCFE71PRXG6QH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TZ0CYJKJCFE71PRXG6QH" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT<small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TZ0FRDRZXWTS6YMCA0F6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TZ0FRDRZXWTS6YMCA0F6" product_slug="ino-boost" dose="1" unit="L">INO-BOOST <small>1L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVJ1K576FTWN7PM5JK7QVXKY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1K576FTWN7PM5JK7QVXKY" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TZ0HZZ9Y9KMTKF8Q6JTD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TZ0HZZ9Y9KMTKF8Q6JTD" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT<small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEE9TZ0KD30283V5MQ0TKN7X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEE9TZ0KD30283V5MQ0TKN7X" product_slug="ino-boost" dose="1" unit="L">INO-BOOST <small>1L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVJ1K579R4K2R49JT5F89JGA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1K579R4K2R49JT5F89JGA" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVJ1K57B58VGC19P1V5KK9S4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1K57B58VGC19P1V5KK9S4" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FVJ1K57HK105NHEZNTSPTR2T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVJ1K57HK105NHEZNTSPTR2T" product_slug="macobzin-5-l" dose="2" unit="L">MACOBZIN <small>2L</small></button>
                          </td>
                          <td></td><td></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
    {% endblock %}
