{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}



{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                        <table class="table table-bordered no-wrap">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Semis
                                </th>
                                <th>
                                    Cotylédons
                                </th>
                                <th>
                                    1 feuille
                                </th>
                                <th>
                                    3 feuilles
                                </th>
                                <th>
                                    4 feuilles
                                </th>
                                <th>
                                    6 feuilles
                                </th>
                                <th>
                                    Rosette
                                </th>
                                <th>
                                    Reprise végétation
                                </th>
                                <th>
                                    Entre noeuds <br>visible
                                </th>
                                <th>
                                    Boutons accolés
                                </th>
                                <th>
                                    Boutons <br>séparés
                                </th>
                                <th>
                                    Début floraison
                                </th>
                                <th>
                                    Fleurs ouvertes
                                </th>
                                <th>
                                    Chute des <br>pétales
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>FUMURE</td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, '0-12-24-sp', '500') ? 'exist' : 'd-none' }}" product_slug="0-12-24-sp" dose="500" unit="Kg">0-12-24 <small>500 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, '8-10-22', '500') ? 'exist' : 'd-none' }}" product_slug="8-10-22" dose="500" unit="Kg">8-10-22 <small>500 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rise-p', '150') ? 'exist' : 'd-none' }}" product_slug="rise-p" dose="150" unit="gr">RISE P<small> 150 gr</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-loc') ? 'exist' : 'd-none' }}" product_slug="ino-loc" dose="20" unit="Kg">INO LOC<small> 20 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, '0-12-24-sp', '500.01') ? 'exist' : 'd-none' }}" product_slug="0-12-24-sp" dose="500.01" unit="Kg">0-12-24 <small>500 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, '8-10-22', '500.01') ? 'exist' : 'd-none' }}" product_slug="8-10-22" dose="500.01" unit="Kg">8-10-22 <small>500 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rise-p') ? 'exist' : 'd-none' }}" product_slug="rise-p" dose="150" unit="Kg">RISE P<small> 150 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, '0-12-24-sp', '500.02') ? 'exist' : 'd-none' }}" product_slug="0-12-24-sp" dose="500.02" unit="Kg">0-12-24 <small>500 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, '8-10-22', '500.02') ? 'exist' : 'd-none' }}" product_slug="8-10-22" dose="500.02" unit="Kg">8-10-22 <small>500 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rise-p', '150.01') ? 'exist' : 'd-none' }}" product_slug="rise-p" dose="150.01" unit="Kg">RISE P<small> 150 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, '0-12-24-sp', '500.03') ? 'exist' : 'd-none' }}" product_slug="0-12-24-sp" dose="500.03" unit="Kg">0-12-24 <small>500 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, '8-10-22', '500.03') ? 'exist' : 'd-none' }}" product_slug="8-10-22" dose="500.03" unit="Kg">8-10-22 <small>500 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sulfonitrate-26', '300') ? 'exist' : 'd-none' }}" product_slug="sulfonitrate-26" dose="300" unit="Kg">SULFONITRATE <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nelix-36-24', '200') ? 'exist' : 'd-none' }}" product_slug="nelix-36-24" dose="200" unit="Kg">NELIX 36 + 24 SO3 <small>200 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'azote-26-13-so3', '300') ? 'exist' : 'd-none' }}" product_slug="azote-26-13-so3" dose="300" unit="Kg">AZOTE 26 + 13 SO3 <small>300 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sulfonitrate-26', '300.001') ? 'exist' : 'd-none' }}" product_slug="sulfonitrate-26" dose="300.001" unit="Kg">SULFONITRATE <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nelix-36-24', '200.001') ? 'exist' : 'd-none' }}" product_slug="nelix-36-24" dose="200.001" unit="Kg">NELIX 36 + 24 SO3 <small>200 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'azote-26-13-so3', '300.001') ? 'exist' : 'd-none' }}" product_slug="azote-26-13-so3" dose="300.001" unit="Kg">AZOTE 26 + 13 SO3 <small>300 Kg</small></button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sulfonitrate-26', '300.002') ? 'exist' : 'd-none' }}" product_slug="sulfonitrate-26" dose="300.002" unit="Kg">SULFONITRATE <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nelix-36-24', '200.002') ? 'exist' : 'd-none' }}" product_slug="nelix-36-24" dose="200.002" unit="Kg">NELIX 36 + 24 SO3 <small>200 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'azote-26-13-so3', '300.002') ? 'exist' : 'd-none' }}" product_slug="azote-26-13-so3" dose="300.002" unit="Kg">AZOTE 26 + 13 SO3 <small>300 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                   <td>INSECICIDES <br>DU SOL</td>
                                   <td>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'trika-expert', '15') ? 'exist' : 'd-none' }}" product_slug="trika-expert" dose="15" unit="Kg">TRIKA EXPERT <small>15 Kg</small></button>
                                   </td>
                                   <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>ANTI LIMACES</td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ironmax-mg') ? 'exist' : 'd-none' }}" product_slug="ironmax-mg" dose="1" unit="Dose/Ha">IRON MAX MG <small>1 Dose/Ha</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'helexiom-duo', '4.5') ? 'exist' : 'd-none' }}" product_slug="helexiom-duo" dose="4.5" unit="Kg">HELEXIOM DUO <small>4.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ironmax-pro', '7') ? 'exist' : 'd-none' }}" product_slug="ironmax-pro" dose="7" unit="Kg">IRON MAX PRO <small>7 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'helexiom-duo', '4.501') ? 'exist' : 'd-none' }}" product_slug="helexiom-duo" dose="4.501" unit="Kg">HELEXIOM DUO <small>4.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ironmax-pro', '7.001') ? 'exist' : 'd-none' }}" product_slug="ironmax-pro" dose="7.001" unit="Kg">IRON MAX PRO <small>7 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'helexiom-duo', '4.502') ? 'exist' : 'd-none' }}" product_slug="helexiom-duo" dose="4.5" unit="Kg">HELEXIOM DUO <small>4.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ironmax-pro', '7.002') ? 'exist' : 'd-none' }}" product_slug="ironmax-pro" dose="7.002" unit="Kg">IRON MAX PRO <small>7 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>HERBICIDE</td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pack-solanis-butisan', '1') ? 'exist' : 'd-none' }}" product_slug="pack-solanis-butisan" dose="1" unit="Pack/5Ha">PACK SOLANIS-BUTISAN <small>1 pack/5 Ha</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'novall', '2.5') ? 'exist' : 'd-none' }}" product_slug="novall" dose="2.5" unit="L">NOVALL <small>2.5 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'naprop-450', '2.8') ? 'exist' : 'd-none' }}" product_slug="naprop-450" dose="2.8" unit="L">NAPRO <small>2.8 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pack-canopy-panthera', '1') ? 'exist' : 'd-none' }}" product_slug="pack-canopy-panthera" dose="1" unit="Pack/5Ha">PACK CANOPY-PANTHERA <small>1 pack/5 Ha</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pack-solanis-butisan', '1.001') ? 'exist' : 'd-none' }}" product_slug="pack-solanis-butisan" dose="1.001" unit="Pack/5Ha">PACK SOLANIS-BUTISAN <small>1 pack/5 Ha</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'novall', '2.501') ? 'exist' : 'd-none' }}" product_slug="novall" dose="2.501" unit="L">NOVALL <small>2.5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pack-solanis-butisan', '1.002') ? 'exist' : 'd-none' }}" product_slug="pack-solanis-butisan" dose="1.002" unit="Pack/5Ha">PACK SOLANIS-BUTISAN <small>1 pack/5 Ha</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'novall', '2.502') ? 'exist' : 'd-none' }}" product_slug="novall" dose="2.502" unit="L">NOVALL <small>2.5 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>HERBICIDE <br>RATTRAPAGE</td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stratos-ultra', '4') ? 'exist' : 'd-none' }}" product_slug="stratos-ultra" dose="4" unit="L">STRATOS ULTRA<small> 4 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stratos-ultra', '4.001') ? 'exist' : 'd-none' }}" product_slug="stratos-ultra" dose="4.001" unit="L">STRATOS ULTRA<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mozzar', '0.25') ? 'exist' : 'd-none' }}" product_slug="mozzar" dose="0.25" unit="L">MOZZAR<small> 0.25 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fox', '1') ? 'exist' : 'd-none' }}" product_slug="fox" dose="1" unit="L">FOX<small> 1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stratos-ultra', '4.002') ? 'exist' : 'd-none' }}" product_slug="stratos-ultra" dose="4.002" unit="L">STRATOS ULTRA<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mozzar', '0.251') ? 'exist' : 'd-none' }}" product_slug="mozzar" dose="0.251" unit="L">MOZZAR<small> 0.25 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fox', '1.001') ? 'exist' : 'd-none' }}" product_slug="fox" dose="1.001" unit="L">FOX<small> 1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kerb-flo', '1.875') ? 'exist' : 'd-none' }}" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO<small> 1.875 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'yago', '1.5') ? 'exist' : 'd-none' }}" product_slug="yago" dose="1.5" unit="L">YAGO<small> 1.5 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'lontrel-100', '174') ? 'exist' : 'd-none' }}" product_slug="lontrel-100" dose="174" unit="g">LONTREL<small> 174 g</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'stratos-ultra', '4.003') ? 'exist' : 'd-none' }}" product_slug="stratos-ultra" dose="4.003" unit="L">STRATOS ULTRA<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mozzar', '0.252') ? 'exist' : 'd-none' }}" product_slug="mozzar" dose="0.252" unit="L">MOZZAR<small> 0.25 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fox', '1.002') ? 'exist' : 'd-none' }}" product_slug="fox" dose="1.002" unit="L">FOX<small> 1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kerb-flo', '1.8751') ? 'exist' : 'd-none' }}" product_slug="kerb-flo" dose="1.8751" unit="L">KERB FLO<small> 1.875 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'yago', '1.501') ? 'exist' : 'd-none' }}" product_slug="yago" dose="1.501" unit="L">YAGO<small> 1.5 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'lontrel-100', '174.01') ? 'exist' : 'd-none' }}" product_slug="lontrel-100" dose="174.01" unit="g">LONTREL<small> 174 g</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kerb-flo', '1.8752') ? 'exist' : 'd-none' }}" product_slug="kerb-flo" dose="1.8752" unit="L">KERB FLO<small> 1.875 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'yago', '1.501') ? 'exist' : 'd-none' }}" product_slug="yago" dose="1.501" unit="L">YAGO<small> 1.5 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'lontrel-100', '174.02') ? 'exist' : 'd-none' }}" product_slug="lontrel-100" dose="174.02" unit="g">LONTREL<small> 174 g</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>INSECTICIDES<br> ALTISES</td>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.05') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'boravi-wg', '1.5') ? 'exist' : 'd-none' }}" product_slug="boravi-wg" dose="1.5" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'country-gold', '0.3') ? 'exist' : 'd-none' }}" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.051') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.051" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'boravi-wg', '1.501') ? 'exist' : 'd-none' }}" product_slug="boravi-wg" dose="1.501" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'country-gold', '0.301') ? 'exist' : 'd-none' }}" product_slug="country-gold" dose="0.301" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.052') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.052" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'boravi-wg', '1.502') ? 'exist' : 'd-none' }}" product_slug="boravi-wg" dose="1.502" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'country-gold', '0.302') ? 'exist' : 'd-none' }}" product_slug="country-gold" dose="0.302" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                               <tr>
                                    <td>INSECTICIDES CHARANCON <br> DU BOURGEON TERMINAL</td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.053') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.053" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'boravi-wg', '1.503') ? 'exist' : 'd-none' }}" product_slug="boravi-wg" dose="1.503" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'country-gold', '0.303') ? 'exist' : 'd-none' }}" product_slug="country-gold" dose="0.303" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.054') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.054" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'boravi-wg', '1.504') ? 'exist' : 'd-none' }}" product_slug="boravi-wg" dose="1.504" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'country-gold', '0.304') ? 'exist' : 'd-none' }}" product_slug="country-gold" dose="0.304" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>INSECTICIDES CHARANCON <br> DE LA TIGE</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.055') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.055" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'boravi-wg', '1.505') ? 'exist' : 'd-none' }}" product_slug="boravi-wg" dose="1.505" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'country-gold', '0.305') ? 'exist' : 'd-none' }}" product_slug="country-gold" dose="0.305" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.056') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.056" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'boravi-wg', '1.506') ? 'exist' : 'd-none' }}" product_slug="boravi-wg" dose="1.506" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'country-gold', '0.306') ? 'exist' : 'd-none' }}" product_slug="country-gold" dose="0.306" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>INSECTICIDES MELIGETHES <br> ET CHARANCON DES SILIQUES</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.057') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.057" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'boravi-wg', '1.507') ? 'exist' : 'd-none' }}" product_slug="boravi-wg" dose="1.507" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'country-gold', '0.307') ? 'exist' : 'd-none' }}" product_slug="country-gold" dose="0.307" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.058') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.058" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'boravi-wg', '1.508') ? 'exist' : 'd-none' }}" product_slug="boravi-wg" dose="1.508" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'country-gold', '0.308') ? 'exist' : 'd-none' }}" product_slug="country-gold" dose="0.308" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>NUTRITION <br>FOLIAIRE</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-bmo', '3') ? 'exist' : 'd-none' }}" product_slug="ino-boost-bmo" dose="3" unit="L">INO BOOST BMO<small> 3 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-soufre', '10') ? 'exist' : 'd-none' }}" product_slug="ino-soufre" dose="10" unit="L">INO SOUFRE N<small> 10 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-bmo', '3.001') ? 'exist' : 'd-none' }}" product_slug="ino-boost-bmo" dose="3.001" unit="L">INO BOOST BMO<small> 3 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-soufre', '10.002') ? 'exist' : 'd-none' }}" product_slug="ino-soufre" dose="10.002" unit="L">INO SOUFRE N<small> 10 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-bmo', '3.003') ? 'exist' : 'd-none' }}" product_slug="ino-boost-bmo" dose="3.003" unit="L">INO BOOST BMO<small> 3 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-soufre', '10.003') ? 'exist' : 'd-none' }}" product_slug="ino-soufre" dose="10.003" unit="L">INO SOUFRE N<small> 10 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>FONGICIDES</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'prosaro', '1') ? 'exist' : 'd-none' }}" product_slug="prosaro" dose="1" unit="L">PROSARO<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'zakeo-xtra', '1') ? 'exist' : 'd-none' }}" product_slug="zakeo-xtra" dose="1" unit="L">ZAKEO XTRA<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'jetset', '0.4') ? 'exist' : 'd-none' }}" product_slug="jetset" dose="0.4" unit="L">JET SET<small> 0.4 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'prosaro', '1.001') ? 'exist' : 'd-none' }}" product_slug="prosaro" dose="1.001" unit="L">PROSARO<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'zakeo-xtra', '1.001') ? 'exist' : 'd-none' }}" product_slug="zakeo-xtra" dose="1.001" unit="L">ZAKEO XTRA<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'jetset', '0.401') ? 'exist' : 'd-none' }}" product_slug="jetset" dose="0.401" unit="L">JET SET<small> 0.4 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'prosaro', '1.002') ? 'exist' : 'd-none' }}" product_slug="prosaro" dose="1.002" unit="L">PROSARO<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'zakeo-xtra', '1.002') ? 'exist' : 'd-none' }}" product_slug="zakeo-xtra" dose="1.002" unit="L">ZAKEO XTRA<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'jetset', '0.402') ? 'exist' : 'd-none' }}" product_slug="jetset" dose="0.402" unit="L">JET SET<small> 0.4 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'prosaro', '1.003') ? 'exist' : 'd-none' }}" product_slug="prosaro" dose="1.003" unit="L">PROSARO<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'zakeo-xtra', '1.003') ? 'exist' : 'd-none' }}" product_slug="zakeo-xtra" dose="1.003" unit="L">ZAKEO XTRA<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'jetset', '0.403') ? 'exist' : 'd-none' }}" product_slug="jetset" dose="0.403" unit="L">JET SET<small> 0.4 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'prosaro', '1.004') ? 'exist' : 'd-none' }}" product_slug="prosaro" dose="1.004" unit="L">PROSARO<small> 1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'prosaro', '1.005') ? 'exist' : 'd-none' }}" product_slug="prosaro" dose="1.005" unit="L">PROSARO<small> 1 L</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ADJUVANT</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'prosaro', '0.1') ? 'exist' : 'd-none' }}" product_slug="prosaro" dose="0.1" unit="L">STICMAN<small> 0.1 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

