{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}



{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-12">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                      <table class="table table-bordered no-wrap">
                        <thead>
                        <tr>
                          <th></th>
                          <th>
                            Semis
                          </th>
                          <th>
                            Cotylédons
                          </th>
                          <th>
                            1 feuille
                          </th>
                          <th>
                            3 feuilles
                          </th>
                          <th>
                            4 feuilles
                          </th>
                          <th>
                            6 feuilles
                          </th>
                          <th>
                            Rosette
                          </th>
                          <th>
                            Reprise végétation
                          </th>
                          <th>
                            Entre noeuds <br>visibles
                          </th>
                          <th>
                            Boutons accolés
                          </th>
                          <th>
                            Boutons <br>séparés
                          </th>
                          <th>
                            Début floraison
                          </th>
                          <th>
                            Fleurs ouvertes
                          </th>
                          <th>
                            Chute des <br>pétales
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>FUMURE</td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GBAR2G7XPQYD6959A4H6FAXB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GBAR2G7XPQYD6959A4H6FAXB" product_slug="0-12-24-sp" dose="500" unit="Kg">0 12 24 SP 6 QL <small>500Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GBAR2G7ZJ1QMS4A80NV2W22X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GBAR2G7ZJ1QMS4A80NV2W22X" product_slug="8-10-22" dose="500" unit="Kg">8 10 22 6 QL <small>500Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEB3PHGB0JY2DC9Z6YCC0H1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PHGB0JY2DC9Z6YCC0H1" product_slug="14-9-18-26-so3-6-ql" dose="400" unit="Kg/Ha">14 9 18 + 26 SO3 6 QL <small>400Kg/Ha</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAW9KCEK9ZYTGHYSPM1VAP8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAW9KCEK9ZYTGHYSPM1VAP8" product_slug="0-12-24-sp" dose="500" unit="Kg">0 12 24 SP 6 QL <small>500Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAW9KCJKZKWQESGZZD6ZZJK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAW9KCJKZKWQESGZZD6ZZJK" product_slug="8-10-22" dose="500" unit="Kg">8 10 22 6 QL <small>500Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAW9KCKKEQFZ5A05P9H3Y32' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAW9KCKKEQFZ5A05P9H3Y32" product_slug="14-9-18-26-so3-6-ql" dose="400" unit="Kg/Ha">14 9 18 + 26 SO3 6 QL <small>400Kg/Ha</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAW9KCPSE6FYXH5Q86YH87J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAW9KCPSE6FYXH5Q86YH87J" product_slug="0-12-24-sp" dose="500" unit="Kg">0 12 24 SP 6 QL <small>500Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAW9KCP3D9445092FD7VVWX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAW9KCP3D9445092FD7VVWX" product_slug="8-10-22" dose="500" unit="Kg">8 10 22 6 QL <small>500Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAW9KCQDT8A2XSKVQJ5T24S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAW9KCQDT8A2XSKVQJ5T24S" product_slug="14-9-18-26-so3-6-ql" dose="400" unit="Kg/Ha">14 9 18 + 26 SO3 6 QL <small>400Kg/Ha</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAW9KCRPK6GE81YN771CD56' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAW9KCRPK6GE81YN771CD56" product_slug="0-12-24-sp" dose="500" unit="Kg">0 12 24 SP 6 QL <small>500Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAW9KCRS04FWNYWVH5A0MEH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAW9KCRS04FWNYWVH5A0MEH" product_slug="8-10-22" dose="500" unit="Kg">8 10 22 6 QL <small>500Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAW9KCS2VQHYQ6424FA6G48' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAW9KCS2VQHYQ6424FA6G48" product_slug="14-9-18-26-so3-6-ql" dose="400" unit="Kg/Ha">14 9 18 + 26 SO3 6 QL <small>400Kg/Ha</small></button>
                          </td>
                          <td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEP8Y1Q1730RNW02YFD5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEP8Y1Q1730RNW02YFD5" product_slug="sulfonitrate-26" dose="300" unit="Kg">SULFONITRATE 26% +30-35% So3 6 QL <small>300Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPDMVJF8WJQ33RG54SY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPDMVJF8WJQ33RG54SY" product_slug="uree-soufree-enrobee" dose="200" unit="Kg">UREE SOUFREE <small>200Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPDG8CR4SQFZVMBRZT8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPDG8CR4SQFZVMBRZT8" product_slug="azote-26-13-so3" dose="300" unit="Kg">AZOTE 26 13 SO3 6 QL <small>300Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPEANBZ62B6T1X5GK6N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPEANBZ62B6T1X5GK6N" product_slug="ammonitre-33-5" dose="200" unit="Kg">AMMONITRE 33.5 .. FRANCAISE <small>200Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPERWR8F8E6QSM3ZN1T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPERWR8F8E6QSM3ZN1T" product_slug="sulfonitrate-26" dose="300" unit="Kg">SULFONITRATE 26% +30-35% So3 6 QL <small>300Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPEYH9AP7WSPWWTT94R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPEYH9AP7WSPWWTT94R" product_slug="uree-soufree-enrobee" dose="200" unit="Kg">UREE SOUFREE <small>200Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPFSY35E67FVQD2SNF9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPFSY35E67FVQD2SNF9" product_slug="azote-26-13-so3" dose="300" unit="Kg">AZOTE 26 13 SO3 6 QL <small>300Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPFNVEKVXNTBEQ9PFJ0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPFNVEKVXNTBEQ9PFJ0" product_slug="ammonitre-33-5" dose="200" unit="Kg">AMMONITRE 33.5 .. FRANCAISE <small>200Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPFV5Y5PM1909V7GG89' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPFV5Y5PM1909V7GG89" product_slug="sulfonitrate-26" dose="300" unit="Kg">SULFONITRATE 26% +30-35% So3 6 QL <small>300Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPGEEDQZVH8RAFWBZ77' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPGEEDQZVH8RAFWBZ77" product_slug="uree-soufree-enrobee" dose="200" unit="Kg">UREE SOUFREE <small>200Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPGFGCK3H0YBP6ZF7A9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPGFGCK3H0YBP6ZF7A9" product_slug="azote-26-13-so3" dose="300" unit="Kg">AZOTE 26 13 SO3 6 QL <small>300Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPG16NJ9RN0RQFSF6HY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPG16NJ9RN0RQFSF6HY" product_slug="ammonitre-33-5" dose="200" unit="Kg">AMMONITRE 33.5 .. FRANCAISE <small>200Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPHZAKEMR2K50JK1PNH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPHZAKEMR2K50JK1PNH" product_slug="sulfonitrate-26" dose="300" unit="Kg">SULFONITRATE 26% +30-35% So3 6 QL <small>300Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPH3BFSX1QTPFW49FQ2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPH3BFSX1QTPFW49FQ2" product_slug="uree-soufree-enrobee" dose="200" unit="Kg">UREE SOUFREE <small>200Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPJ91DM8191S868J3WJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPJ91DM8191S868J3WJ" product_slug="azote-26-13-so3" dose="300" unit="Kg">AZOTE 26 13 SO3 6 QL <small>300Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWEEPJDDZTB2F0EBEEKB6N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWEEPJDDZTB2F0EBEEKB6N" product_slug="ammonitre-33-5" dose="200" unit="Kg">AMMONITRE 33.5 .. FRANCAISE <small>200Kg</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>INSECTICIDES <br>DU SOL</td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PMDYGM403T22Z7T1XR2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMDYGM403T22Z7T1XR2" product_slug="trika-expert" dose="15" unit="Kg">TRIKA EXPERT + <small>15Kg</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>ANTI LIMACES</td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEB3PMGMFTA20H1VD70V8X3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMGMFTA20H1VD70V8X3" product_slug="ironmax-mg" dose="4" unit="Kg/Ha">IRONMAX MG <small>4Kg/Ha</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PMMHECFN82E3PSBM324' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMMHECFN82E3PSBM324" product_slug="allowin-duo-18-kg" dose="4.5" unit="Kg">ALLOWIN DUO <small>4.5Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEB3PMPM10KWT0WEJXTRBZ4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMPM10KWT0WEJXTRBZ4" product_slug="ironmax-pro" dose="7" unit="Kg">IRONMAX PRO <small>7Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01GSAWMPNX4MWGTXRCACXBKZ56' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWMPNX4MWGTXRCACXBKZ56" product_slug="allowin-duo-18-kg" dose="4.5" unit="Kg">ALLOWIN DUO <small>4.5Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWMPP2EX3B8R7YHPQFJ7QS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWMPP2EX3B8R7YHPQFJ7QS" product_slug="ironmax-pro" dose="7" unit="Kg">IRONMAX PRO <small>7Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01GSAWMPP4J1AJMWFMXRKRMCP8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWMPP4J1AJMWFMXRKRMCP8" product_slug="allowin-duo-18-kg" dose="4.5" unit="Kg">ALLOWIN DUO <small>4.5Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWMPP6ESQCT0GAXT5CKFXW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWMPP6ESQCT0GAXT5CKFXW" product_slug="ironmax-pro" dose="7" unit="Kg">IRONMAX PRO <small>7Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01GSAWMPP768KPKF94PBK1YEH6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWMPP768KPKF94PBK1YEH6" product_slug="allowin-duo-18-kg" dose="4.5" unit="Kg">ALLOWIN DUO <small>4.5Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GSAWMPP9R2767CQCKXP3EERG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWMPP9R2767CQCKXP3EERG" product_slug="ironmax-pro" dose="7" unit="Kg">IRONMAX PRO <small>7Kg</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>HERBICIDES</td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSAWP3HP17TCX69BFA86976J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWP3HP17TCX69BFA86976J" product_slug="pack-solanis-butisan" dose="1" unit="Pack/5Ha">PACK SOLANIS BUTISAN (5+5) <small>1Pack/5Ha</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSAWP3HXJE6WDYFRP3N4SCB6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWP3HXJE6WDYFRP3N4SCB6" product_slug="novall" dose="2.5" unit="L">NOVALL <small>2.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSAWP3HZZ213MRV8W7Z2ZVF1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWP3HZZ213MRV8W7Z2ZVF1" product_slug="naprop-450" dose="2.8" unit="L">NAPROP 450 <small>2.8L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSAWP3J1RZPF9M1Z57ZWY824' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWP3J1RZPF9M1Z57ZWY824" product_slug="pack-canopy-panthera" dose="1" unit="Pack/5Ha">PACK CANOPY-PANTHERA <small>1Pack/5Ha</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSAWP3J3PDSA8YK13JT2HTAG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWP3J3PDSA8YK13JT2HTAG" product_slug="pack-solanis-butisan" dose="1" unit="Pack/5Ha">PACK SOLANIS BUTISAN (5+5) <small>1Pack/5Ha</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSAWP3J5QW24HQ2CQ0F1JSMG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWP3J5QW24HQ2CQ0F1JSMG" product_slug="novall" dose="2.5" unit="L">NOVALL <small>2.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSAWP3J7VQ58X22MQYWFFS7R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWP3J7VQ58X22MQYWFFS7R" product_slug="pack-solanis-butisan" dose="1" unit="Pack/5Ha">PACK SOLANIS BUTISAN (5+5) <small>1Pack/5Ha</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSAWP3J8ZWTA3QWWQ15AKS9D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSAWP3J8ZWTA3QWWQ15AKS9D" product_slug="novall" dose="2.5" unit="L">NOVALL <small>2.5L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>HERBICIDES <br>RATTRAPAGES</td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GBARNH10BKGCW3GGRM67HXEX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GBARNH10BKGCW3GGRM67HXEX" product_slug="vesuve-max" dose="0.8" unit="L">VESUVE MAX <small>0.8L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PP0T7A0T1FDMWD3W5W2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PP0T7A0T1FDMWD3W5W2" product_slug="stratos-ultra" dose="4" unit="L">STRATOS ULTRA <small>4L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GBARNH13H3HTB5SFJ02ZETA4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GBARNH13H3HTB5SFJ02ZETA4" product_slug="vesuve-max" dose="0.8" unit="L">VESUVE MAX <small>0.8L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PP3D76X1QFS47QYM905' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PP3D76X1QFS47QYM905" product_slug="stratos-ultra" dose="4" unit="L">STRATOS ULTRA <small>4L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PP6WJFCH12N7REQGX8Y' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PP6WJFCH12N7REQGX8Y" product_slug="mozzar" dose="0.25" unit="L">MOZZAR <small>0.25L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PP9QH4ZRSR1ZN9B6KRH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PP9QH4ZRSR1ZN9B6KRH" product_slug="fox" dose="1" unit="L">FOX <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GBARNH14WMGV4RKJJY6W1M3V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GBARNH14WMGV4RKJJY6W1M3V" product_slug="vesuve-max" dose="0.8" unit="L">VESUVE MAX <small>0.8L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPC7W6FSG49ZRQ09H6G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPC7W6FSG49ZRQ09H6G" product_slug="stratos-ultra" dose="4" unit="L">STRATOS ULTRA <small>4L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPEGPW196A76HY6C642' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPEGPW196A76HY6C642" product_slug="mozzar" dose="0.25" unit="L">MOZZAR <small>0.25L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPHK900XGW9MQF4N75Y' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPHK900XGW9MQF4N75Y" product_slug="fox" dose="1" unit="L">FOX <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPMHQ9XGVQQF47X8V47' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPMHQ9XGVQQF47X8V47" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO <small>1.875L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPQ3FZ3HSZWWM21H0B9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPQ3FZ3HSZWWM21H0B9" product_slug="yago" dose="1.5" unit="L">YAGO <small>1.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPS6YKQ1PRMHVFMPBBK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPS6YKQ1PRMHVFMPBBK" product_slug="lontrel-sg" dose="174" unit="g">LONTREL SG <small>174g</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GBARNH16XB5GVM937WT87T2J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GBARNH16XB5GVM937WT87T2J" product_slug="vesuve-max" dose="0.8" unit="L">VESUVE MAX <small>0.8L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPW4TYME2KVD9ABDF3J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPW4TYME2KVD9ABDF3J" product_slug="stratos-ultra" dose="4" unit="L">STRATOS ULTRA <small>4L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPY3D3XENQMWGZW8TA0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPY3D3XENQMWGZW8TA0" product_slug="mozzar" dose="0.25" unit="L">MOZZAR <small>0.25L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQ1AHMCTZ1VGFBQZDGF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQ1AHMCTZ1VGFBQZDGF" product_slug="fox" dose="1" unit="L">FOX <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQ4CS1H934155MW85C9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQ4CS1H934155MW85C9" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO <small>1.875L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQ62WQ0HB4Q64M1CECD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQ62WQ0HB4Q64M1CECD" product_slug="yago" dose="1.5" unit="L">YAGO <small>1.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQ9J6D64DB3HFC582ST' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQ9J6D64DB3HFC582ST" product_slug="lontrel-sg" dose="174" unit="g">LONTREL SG <small>174g</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GBARNH17E28FQZ2Q4DPWAPDV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GBARNH17E28FQZ2Q4DPWAPDV" product_slug="vesuve-max" dose="0.8" unit="L">VESUVE MAX <small>0.8L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQC8PEXZ0APBY56DN30' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQC8PEXZ0APBY56DN30" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO <small>1.875L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQF7C0H77K7AP25NSGK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQF7C0H77K7AP25NSGK" product_slug="yago" dose="1.5" unit="L">YAGO <small>1.5L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQJ3BVSRBT8EYM2CDY2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQJ3BVSRBT8EYM2CDY2" product_slug="lontrel-100" dose="174" unit="g">LONTREL 100 <small>174g</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>Bio Stimulant</td>
                          <td>
                            <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEBK3HDFHCCH6NHM4576BAT9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBK3HDFHCCH6NHM4576BAT9" product_slug="stimotion-10-l" dose="2" unit="L">STIMOTION<small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEBKC6AG1NAJTT1N4DTQ0F4V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBKC6AG1NAJTT1N4DTQ0F4V" product_slug="stimotion-10-l" dose="2" unit="L">STIMOTION<small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEBKC7QFM8V2FA7YK932K4D9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBKC7QFM8V2FA7YK932K4D9" product_slug="stimotion-10-l" dose="1" unit="L">STIMOTION<small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEBKC8Y35AQKCPJQDTYN40J0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBKC8Y35AQKCPJQDTYN40J0" product_slug="stimotion-10-l" dose="1" unit="L">STIMOTION<small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEBR769F9S4SRMA9TS3ET3XM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBR769F9S4SRMA9TS3ET3XM" product_slug="stimotion-10-l" dose="1" unit="L">STIMOTION<small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEBR769KP6FB82AP8JWMQZP2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBR769KP6FB82AP8JWMQZP2" product_slug="stimotion-10-l" dose="1" unit="L">STIMOTION<small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEBR769KP6FB82AP8JWMQZP2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBR769KP6FB82AP8JWMQZP2" product_slug="stimotion-10-l" dose="1" unit="L">STIMOTION<small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEBR769KP6FB82AP8JWMQZP2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBR769KP6FB82AP8JWMQZP2" product_slug="stimotion-10-l" dose="1" unit="L">STIMOTION<small>1L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>INSECTICIDES<br> ALTISES</td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PQN2DYPPQQND6240P46' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQN2DYPPQQND6240P46" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PQTNAQD6XWHDKFFGQXE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQTNAQD6XWHDKFFGQXE" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PQX7G7ZBNR088NQXA67' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQX7G7ZBNR088NQXA67" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PQZ391GXSG9D68BB77G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQZ391GXSG9D68BB77G" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PR4AA470CVP58WPS55E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PR4AA470CVP58WPS55E" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PR73KYJP4SHTTRTVSCQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PR73KYJP4SHTTRTVSCQ" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRA09NMXTRBP0YFXQ8F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRA09NMXTRBP0YFXQ8F" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRFJBGSZ9AJZF8KBENQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRFJBGSZ9AJZF8KBENQ" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRJ4QQFD1S52PX0Z5AM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRJ4QQFD1S52PX0Z5AM" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRM98S7NXDQZ20EF6ZT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRM98S7NXDQZ20EF6ZT" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRVX2VMS366FWNBX3H0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRVX2VMS366FWNBX3H0" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRXVMFJ2CFVRSA52K3N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRXVMFJ2CFVRSA52K3N" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>INSECTICIDES CHARANCON <br> DU BOURGEON TERMINAL</td>
                          <td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PS0238AHJARDS1QZY5J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PS0238AHJARDS1QZY5J" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PS6WDZN2MY1A002B44G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PS6WDZN2MY1A002B44G" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PS9PQR31WS6PWNXS60B' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PS9PQR31WS6PWNXS60B" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PSF6Q4ARNZGE8FZJGX8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PSF6Q4ARNZGE8FZJGX8" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>INSECTICIDES CHARANCON <br> DE LA TIGE</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PSKAJ47J77D3ZNG0HM9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PSKAJ47J77D3ZNG0HM9" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PSRFNW2FA2NRHT27SXM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PSRFNW2FA2NRHT27SXM" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PSVQT3XY4RYDVHA2A0A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PSVQT3XY4RYDVHA2A0A" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PSYWB0Q3MFV7MMMCGWY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PSYWB0Q3MFV7MMMCGWY" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PT3KD9WP25ZD5ZDBHXZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PT3KD9WP25ZD5ZDBHXZ" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PT6Z9BNH0SX3BWMFGSJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PT6Z9BNH0SX3BWMFGSJ" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>INSECTICIDES MELIGETHES <br> ET CHARANCON DES SILIQUES</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PT8XK50TP04RY3DE4D7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PT8XK50TP04RY3DE4D7" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTE23K885WB841YZVM4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTE23K885WB841YZVM4" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTHYMQ8YDJDCATH6KK9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTHYMQ8YDJDCATH6KK9" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTK8E74HQWQ8W217D0E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTK8E74HQWQ8W217D0E" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTR7VSV8RK5JQXX8M8T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTR7VSV8RK5JQXX8M8T" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTVJKQJQVK73XKW1AXD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTVJKQJQVK73XKW1AXD" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTZBQ20PS117QG50DD0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTZBQ20PS117QG50DD0" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PV4R6YDHCY0K0KS08P8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PV4R6YDHCY0K0KS08P8" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PV8ZSRETN40AVZZQXAX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PV8ZSRETN40AVZZQXAX" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2L</small></button>
                          </td>
                          <td></td><td></td>
                        </tr>
                        <tr>
                          <td>NUTRITION <br>FOLIAIRE</td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GA67EBEVXM8CCMQA2ZYA24TG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GA67EBEVXM8CCMQA2ZYA24TG" product_slug="rise-p" dose="150" unit="grs">RISE P <small>150grs</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GA67EBEYR2XB2HJHN7C85RCB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GA67EBEYR2XB2HJHN7C85RCB" product_slug="rise-p" dose="150" unit="grs">RISE P <small>150grs</small></button>

                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GA67EBEZP2Y9KGWH5BCE29DE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GA67EBEZP2Y9KGWH5BCE29DE" product_slug="rise-p" dose="150" unit="grs">RISE P <small>150grs</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GA67EBF0DJRKGKB03VMR3ZHW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GA67EBF0DJRKGKB03VMR3ZHW" product_slug="rise-p" dose="150" unit="grs">RISE P <small>150grs</small></button>
                          </td>
                          <td>
                          </td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEB3PVBC68QBECN065728Q2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVBC68QBECN065728Q2" product_slug="ino-boost-bmo" dose="3" unit="L">INO-BOOST BMO 10 L <small>3L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEB3PVEBVXH2KYQYV8384YR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVEBVXH2KYQYV8384YR" product_slug="ino-soufre" dose="10" unit="L">INO-SOUFRE N <small>10L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEB3PVG9BYRMGA2N7JGQVE9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVG9BYRMGA2N7JGQVE9" product_slug="ino-boost-bmo" dose="3" unit="L">INO-BOOST BMO 10 L <small>3L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEB3PVMCADE714DYAK824X3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVMCADE714DYAK824X3" product_slug="ino-soufre" dose="10" unit="L">INO-SOUFRE N <small>10L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEB3PVQGMAGZPSJN9MVE8Q1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVQGMAGZPSJN9MVE8Q1" product_slug="ino-boost-bmo" dose="3" unit="L">INO-BOOST BMO 10 L <small>3L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEB3PVSVG7BVQ0JRG9KD3EA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVSVG7BVQ0JRG9KD3EA" product_slug="ino-soufre" dose="10" unit="L">INO-SOUFRE N <small>10L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>FONGICIDES</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PVXYWEXG1JVDR29M539' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVXYWEXG1JVDR29M539" product_slug="prosaro" dose="1" unit="L">PROSARO <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PW0E62W07KFVGC2JCH8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PW0E62W07KFVGC2JCH8" product_slug="amistar-gold" dose="1" unit="L">AMISTAR GOLD <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PW3GQG2RGV2XE36XHQT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PW3GQG2RGV2XE36XHQT" product_slug="jetset" dose="0.4" unit="L">JETSET <small>0.4L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PW6JZJSV63X5KT6ZW94' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PW6JZJSV63X5KT6ZW94" product_slug="prosaro" dose="1" unit="L">PROSARO <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PW9A7MSWNQDN9NZ9D3M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PW9A7MSWNQDN9NZ9D3M" product_slug="amistar-gold" dose="1" unit="L">AMISTAR GOLD <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWCJZ4QE3NXXJTCS69G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWCJZ4QE3NXXJTCS69G" product_slug="jetset" dose="0.4" unit="L">JETSET <small>0.4L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWFV9S0TB52F21Z6XA7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWFV9S0TB52F21Z6XA7" product_slug="prosaro" dose="1" unit="L">PROSARO <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWKFJVQ49AW7TGTDPWB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWKFJVQ49AW7TGTDPWB" product_slug="amistar-gold" dose="1" unit="L">AMISTAR GOLD <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWP4YVDCY6RTJA5QWVZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWP4YVDCY6RTJA5QWVZ" product_slug="jetset" dose="0.4" unit="L">JETSET <small>0.4L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWR5JZ6JC58XM3B2ARH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWR5JZ6JC58XM3B2ARH" product_slug="prosaro" dose="1" unit="L">PROSARO <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWWKQTXEGFCVS3WTNCT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWWKQTXEGFCVS3WTNCT" product_slug="amistar-gold" dose="1" unit="L">AMISTAR GOLD <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWZ4ZBAMCK1FW2PXNGA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWZ4ZBAMCK1FW2PXNGA" product_slug="jetset" dose="0.4" unit="L">JETSET <small>0.4L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PX29A3TJQSPE718404M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PX29A3TJQSPE718404M" product_slug="prosaro" dose="1" unit="L">PROSARO <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PX544HSHDCC7SS3QZ49' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PX544HSHDCC7SS3QZ49" product_slug="amistar-gold" dose="1" unit="L">AMISTAR GOLD <small>1L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PX8QYT6BRYQKXX1J005' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PX8QYT6BRYQKXX1J005" product_slug="jetset" dose="0.4" unit="L">JETSET <small>0.4L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PXC47N7D7NVQK7GT213' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXC47N7D7NVQK7GT213" product_slug="prosaro" dose="1" unit="L">PROSARO <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PXEEJ9VGY6VSC16HZY9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXEEJ9VGY6VSC16HZY9" product_slug="prosaro" dose="1" unit="L">PROSARO <small>1L</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>ADJUVANT</td>
                          <td></td><td></td><td></td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PXJWBKHD95903Q2QS1D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXJWBKHD95903Q2QS1D" product_slug="sticman" dose="0.1" unit="L">STICMAN <small>0.1L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PXM3ZKPCH85532NEY44' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXM3ZKPCH85532NEY44" product_slug="sticman" dose="0.1" unit="L">STICMAN <small>0.1L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PXRWV542TKT7K61FFG4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXRWV542TKT7K61FFG4" product_slug="sticman" dose="0.1" unit="L">STICMAN <small>0.1L</small></button>
                          </td>
                          <td></td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PXWJHTZ52Y1ZX0CZMMR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXWJHTZ52Y1ZX0CZMMR" product_slug="sticman" dose="0.1" unit="L">STICMAN <small>0.1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PXYJQ9JFVQA7VVHKNEF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXYJQ9JFVQA7VVHKNEF" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PY2ZWHT3JRB29DK66BM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PY2ZWHT3JRB29DK66BM" product_slug="sticman" dose="0.1" unit="L">STICMAN <small>0.1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PY5QSGDNX6G0Z9PZ40Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PY5QSGDNX6G0Z9PZ40Q" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYA1K0RE2K07DFDM6NX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYA1K0RE2K07DFDM6NX" product_slug="sticman" dose="0.1" unit="L">STICMAN <small>0.1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYD2CK47CTBD888APHD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYD2CK47CTBD888APHD" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYG63W3BVNCTTVTW7RP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYG63W3BVNCTTVTW7RP" product_slug="sticman" dose="0.1" unit="L">STICMAN <small>0.1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYM47ZEGHSXAMPCESMM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYM47ZEGHSXAMPCESMM" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYS4YNEGWE3J31S74WD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYS4YNEGWE3J31S74WD" product_slug="sticman" dose="0.1" unit="L">STICMAN <small>0.1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYV923GZVD88RZK2DTR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYV923GZVD88RZK2DTR" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYZC6HF9EDPC7AZV2NB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYZC6HF9EDPC7AZV2NB" product_slug="sticman" dose="0.1" unit="L">STICMAN <small>0.1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PZ2N61GHPTVC712B1Q0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PZ2N61GHPTVC712B1Q0" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PZ5C322ASVYWF0VFHRA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PZ5C322ASVYWF0VFHRA" product_slug="sticman" dose="0.1" unit="L">STICMAN <small>0.1L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PZ8KBZQG174KB3XMGV1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PZ8KBZQG174KB3XMGV1" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small>1%</small></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

