{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}



{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                        <table class="table table-bordered no-wrap">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Semis
                                </th>
                                <th>
                                    Cotylédons
                                </th>
                                <th>
                                    1 feuille
                                </th>
                                <th>
                                    3 feuilles
                                </th>
                                <th>
                                    4 feuilles
                                </th>
                                <th>
                                    6 feuilles
                                </th>
                                <th>
                                    Rosette
                                </th>
                                <th>
                                    Reprise végétation
                                </th>
                                <th>
                                    Entre noeuds <br>visibles
                                </th>
                                <th>
                                    Boutons accolés
                                </th>
                                <th>
                                    Boutons <br>séparés
                                </th>
                                <th>
                                    Début floraison
                                </th>
                                <th>
                                    Fleurs ouvertes
                                </th>
                                <th>
                                    Chute des <br>pétales
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>FUMURE</td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PHGB0JY2DC9Z6YCC0H1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PHGB0JY2DC9Z6YCC0H1" product_slug="0-12-24-sp" dose="500" unit="Kg">0-12-24 <small>500 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PHMZXVKKGMRFQHHVWKK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PHMZXVKKGMRFQHHVWKK" product_slug="8-10-22" dose="500" unit="Kg">8-10-22 <small>500 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEB3PHQZMXXTP4Q6M01069J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PHQZMXXTP4Q6M01069J" product_slug="rise-p" dose="150" unit="gr">RISE P<small> 150 gr</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PHT447GTKHTTWXFWKX3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PHT447GTKHTTWXFWKX3" product_slug="ino-loc" dose="20" unit="Kg">INO LOC<small> 20 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PHWREH4HK2WABPMEGXF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PHWREH4HK2WABPMEGXF" product_slug="0-12-24-sp" dose="500" unit="Kg">0-12-24 <small>500 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PHZQT2NDH7VVX8ERKYR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PHZQT2NDH7VVX8ERKYR" product_slug="8-10-22" dose="500" unit="Kg">8-10-22 <small>500 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEB3PJ2PJNYQNZP9EXP9MGS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PJ2PJNYQNZP9EXP9MGS" product_slug="rise-p" dose="150" unit="gr">RISE P<small> 150 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PJ53NQ30GJQ9HVJM3ZJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PJ53NQ30GJQ9HVJM3ZJ" product_slug="0-12-24-sp" dose="500" unit="Kg">0-12-24 <small>500 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PJ8X9TKN5G4M93F3GBZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PJ8X9TKN5G4M93F3GBZ" product_slug="8-10-22" dose="500" unit="Kg">8-10-22 <small>500 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEB3PJAGJ5T8BKKPZKDVV1F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PJAGJ5T8BKKPZKDVV1F" product_slug="rise-p" dose="150" unit="gr">RISE P<small> 150 gr</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PJDVDNCBHJCN6GCD8A9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PJDVDNCBHJCN6GCD8A9" product_slug="0-12-24-sp" dose="500" unit="Kg">0-12-24 <small>500 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PJJB2B0J2N5S6BN70YR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PJJB2B0J2N5S6BN70YR" product_slug="8-10-22" dose="500" unit="Kg">8-10-22 <small>500 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PJNQTX8VGDPRG6AR7D0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PJNQTX8VGDPRG6AR7D0" product_slug="sulfonitrate-26" dose="300" unit="Kg">SULFONITRATE <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PJRXXZJGNEVNERVADZ3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PJRXXZJGNEVNERVADZ3" product_slug="nelix-36-24" dose="200" unit="Kg">NELIX 36 + 24 SO3 <small>200 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PJVRGHX598S13429PRG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PJVRGHX598S13429PRG" product_slug="azote-26-13-so3" dose="300" unit="Kg">AZOTE 26 + 13 SO3 <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PJZDCHWMKQSZEY3SG53' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PJZDCHWMKQSZEY3SG53" product_slug="ammonitre-33-5" dose="200" unit="Kg">AMMONITRE 33.5 <small>200 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PK1X6T89D5QD1YJSJ9Y' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PK1X6T89D5QD1YJSJ9Y" product_slug="sulfonitrate-26" dose="300" unit="Kg">SULFONITRATE <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PK3CAC3WR2R95XC44XJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PK3CAC3WR2R95XC44XJ" product_slug="nelix-36-24" dose="200" unit="Kg">NELIX 36 + 24 SO3 <small>200 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PK6KKGPF0R6DBKKXJMM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PK6KKGPF0R6DBKKXJMM" product_slug="azote-26-13-so3" dose="300" unit="Kg">AZOTE 26 + 13 SO3 <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PK9S9P49AN6QJ2GQDCT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PK9S9P49AN6QJ2GQDCT" product_slug="ammonitre-33-5" dose="200" unit="Kg">AMMONITRE 33.5 <small>200 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PKCP8S7Z5ENXBEC5YEY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PKCP8S7Z5ENXBEC5YEY" product_slug="sulfonitrate-26" dose="300" unit="Kg">SULFONITRATE <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PKFB6398SZ0EW9SRNHP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PKFB6398SZ0EW9SRNHP" product_slug="nelix-36-24" dose="200" unit="Kg">NELIX 36 + 24 SO3 <small>200 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PKHCRGA4EVDEERH0QD0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PKHCRGA4EVDEERH0QD0" product_slug="azote-26-13-so3" dose="300" unit="Kg">AZOTE 26 + 13 SO3 <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PKMZNYBY3KAR92ATJ1Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PKMZNYBY3KAR92ATJ1Z" product_slug="ammonitre-33-5" dose="200" unit="Kg">AMMONITRE 33.5 <small>200 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PKQC7HBR26N1AXK0N7S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PKQC7HBR26N1AXK0N7S" product_slug="sulfonitrate-26" dose="300" unit="Kg">SULFONITRATE <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PKS1XJSQ4A7RB5VVCMK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PKS1XJSQ4A7RB5VVCMK" product_slug="nelix-36-24" dose="200" unit="Kg">NELIX 36 + 24 SO3 <small>200 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PKW51HZFZDVF3E9938F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PKW51HZFZDVF3E9938F" product_slug="azote-26-13-so3" dose="300" unit="Kg">AZOTE 26 + 13 SO3 <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PKZQ11BXSTNAE3GHJJK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PKZQ11BXSTNAE3GHJJK" product_slug="ammonitre-33-5" dose="200" unit="Kg">AMMONITRE 33.5 <small>200 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PM1CA6J5P8EDXB1X2VS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PM1CA6J5P8EDXB1X2VS" product_slug="sulfonitrate-26" dose="300" unit="Kg">SULFONITRATE <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PM51KH74JYR49QEWCG7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PM51KH74JYR49QEWCG7" product_slug="nelix-36-24" dose="200" unit="Kg">NELIX 36 + 24 SO3 <small>200 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PM81DB8E0JGQQFJ4YVB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PM81DB8E0JGQQFJ4YVB" product_slug="azote-26-13-so3" dose="300" unit="Kg">AZOTE 26 + 13 SO3 <small>300 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEB3PMB64C3Q3SDDSHHGJFJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMB64C3Q3SDDSHHGJFJ" product_slug="ammonitre-33-5" dose="200" unit="Kg">AMMONITRE 33.5 <small>200 Kg</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                   <td>INSECTICIDES <br>DU SOL</td>
                                   <td>
                                    <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PMDYGM403T22Z7T1XR2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMDYGM403T22Z7T1XR2" product_slug="trika-expert" dose="15" unit="Kg">TRIKA EXPERT <small>15 Kg</small></button>
                                   </td>
                                   <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>ANTI LIMACES</td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEB3PMGMFTA20H1VD70V8X3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMGMFTA20H1VD70V8X3" product_slug="ironmax-mg" dose="4" unit="Kg/Ha">IRON MAX MG <small>4 Kg/Ha</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PMMHECFN82E3PSBM324' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMMHECFN82E3PSBM324" product_slug="allowin-duo-18-kg" dose="4.5" unit="Kg">ALLOWIN DUO <small>4.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEB3PMPM10KWT0WEJXTRBZ4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMPM10KWT0WEJXTRBZ4" product_slug="ironmax-pro" dose="7" unit="Kg">IRON MAX PRO <small>7 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PMS3VKDYY4BAMPB8JSM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMS3VKDYY4BAMPB8JSM" product_slug="allowin-duo-18-kg" dose="4.5" unit="Kg">ALLOWIN DUO <small>4.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEB3PMWPRF8SB0BSZTV0BKT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMWPRF8SB0BSZTV0BKT" product_slug="ironmax-pro" dose="7" unit="Kg">IRON MAX PRO <small>7 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PMZMZBBVY0YNE5ZGTRQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMZMZBBVY0YNE5ZGTRQ" product_slug="allowin-duo-18-kg" dose="4.5" unit="Kg">ALLOWIN DUO <small>4.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEB3PN2V50H6R9X78KBJP5X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PN2V50H6R9X78KBJP5X" product_slug="ironmax-pro" dose="7" unit="Kg">IRON MAX PRO <small>7 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PMZMZBBVY0YNE5ZGTRZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PMZMZBBVY0YNE5ZGTRZ" product_slug="allowin-duo-18-kg" dose="4.5" unit="Kg">ALLOWIN DUO <small>4.5 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEB3PN2V50H6R9X78KBJP5Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PN2V50H6R9X78KBJP5Z" product_slug="ironmax-pro" dose="7" unit="Kg">IRON MAX PRO <small>7 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>HERBICIDES</td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PN5416BGHYJZ2PCKXAR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PN5416BGHYJZ2PCKXAR" product_slug="pack-solanis-butisan" dose="1" unit="Pack/5Ha">PACK SOLANIS-BUTISAN <small>1 pack/5 Ha</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PN7YCM021ZE7DBBZHJS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PN7YCM021ZE7DBBZHJS" product_slug="novall" dose="2.5" unit="L">NOVALL <small>2.5 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PNAP48TDNXD66GP729N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PNAP48TDNXD66GP729N" product_slug="naprop-450" dose="2.8" unit="L">NAPRO 450 <small>2.8 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PNE0H763DPV4CMY93A0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PNE0H763DPV4CMY93A0" product_slug="pack-canopy-panthera" dose="1" unit="Pack/5Ha">PACK CANOPY-PANTHERA <small>1 pack/5 Ha</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PNHQYDMGBXN2WF7EKVK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PNHQYDMGBXN2WF7EKVK" product_slug="pack-solanis-butisan" dose="1" unit="Pack/5Ha">PACK SOLANIS-BUTISAN <small>1 pack/5 Ha</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PNNEDANGJV6VX09Z9PH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PNNEDANGJV6VX09Z9PH" product_slug="novall" dose="2.5" unit="L">NOVALL <small>2.5 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PNSBE8BNJ07ZRE76G0Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PNSBE8BNJ07ZRE76G0Z" product_slug="pack-solanis-butisan" dose="1" unit="Pack/5Ha">PACK SOLANIS-BUTISAN <small>1 pack/5 Ha</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PNWESZ4H8BHJ7VAGV28' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PNWESZ4H8BHJ7VAGV28" product_slug="novall" dose="2.5" unit="L">NOVALL <small>2.5 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>HERBICIDES <br>RATTRAPAGES</td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PP0T7A0T1FDMWD3W5W2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PP0T7A0T1FDMWD3W5W2" product_slug="stratos-ultra" dose="4" unit="L">STRATOS ULTRA<small> 4 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PP3D76X1QFS47QYM905' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PP3D76X1QFS47QYM905" product_slug="stratos-ultra" dose="4" unit="L">STRATOS ULTRA<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PP6WJFCH12N7REQGX8Y' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PP6WJFCH12N7REQGX8Y" product_slug="mozzar" dose="0.25" unit="L">MOZZAR<small> 0.25 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PP9QH4ZRSR1ZN9B6KRH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PP9QH4ZRSR1ZN9B6KRH" product_slug="fox" dose="1" unit="L">FOX<small> 1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPC7W6FSG49ZRQ09H6G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPC7W6FSG49ZRQ09H6G" product_slug="stratos-ultra" dose="4" unit="L">STRATOS ULTRA<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPEGPW196A76HY6C642' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPEGPW196A76HY6C642" product_slug="mozzar" dose="0.25" unit="L">MOZZAR<small> 0.25 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPHK900XGW9MQF4N75Y' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPHK900XGW9MQF4N75Y" product_slug="fox" dose="1" unit="L">FOX<small> 1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPMHQ9XGVQQF47X8V47' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPMHQ9XGVQQF47X8V47" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO<small> 1.875 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPQ3FZ3HSZWWM21H0B9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPQ3FZ3HSZWWM21H0B9" product_slug="yago" dose="1.5" unit="L">YAGO<small> 1.5 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPS6YKQ1PRMHVFMPBBK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPS6YKQ1PRMHVFMPBBK" product_slug="lontrel-sg" dose="174" unit="g">LONTREL SG<small> 174 g</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPW4TYME2KVD9ABDF3J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPW4TYME2KVD9ABDF3J" product_slug="stratos-ultra" dose="4" unit="L">STRATOS ULTRA<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PPY3D3XENQMWGZW8TA0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PPY3D3XENQMWGZW8TA0" product_slug="mozzar" dose="0.25" unit="L">MOZZAR<small> 0.25 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQ1AHMCTZ1VGFBQZDGF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQ1AHMCTZ1VGFBQZDGF" product_slug="fox" dose="1" unit="L">FOX<small> 1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQ4CS1H934155MW85C9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQ4CS1H934155MW85C9" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO<small> 1.875 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQ62WQ0HB4Q64M1CECD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQ62WQ0HB4Q64M1CECD" product_slug="yago" dose="1.5" unit="L">YAGO<small> 1.5 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQ9J6D64DB3HFC582ST' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQ9J6D64DB3HFC582ST" product_slug="lontrel-sg" dose="174" unit="g">LONTREL SG<small> 174 g</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQC8PEXZ0APBY56DN30' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQC8PEXZ0APBY56DN30" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO<small> 1.875 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQF7C0H77K7AP25NSGK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQF7C0H77K7AP25NSGK" product_slug="yago" dose="1.5" unit="L">YAGO<small> 1.5 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEB3PQJ3BVSRBT8EYM2CDY2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQJ3BVSRBT8EYM2CDY2" product_slug="lontrel-100" dose="174" unit="g">LONTREL<small> 174 g</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Bio Stimulant</td>
                                    <td>
                                        <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEBK3HDFHCCH6NHM4576BAT9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBK3HDFHCCH6NHM4576BAT9" product_slug="stimotion-10-l" dose="2" unit="L">STIMOTION <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEBKC6AG1NAJTT1N4DTQ0F4V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBKC6AG1NAJTT1N4DTQ0F4V" product_slug="stimotion-10-l" dose="2" unit="L">STIMOTION <small>2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEBKC7QFM8V2FA7YK932K4D9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBKC7QFM8V2FA7YK932K4D9" product_slug="stimotion-10-l" dose="1" unit="L">STIMOTION <small>1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEBKC8Y35AQKCPJQDTYN40J0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBKC8Y35AQKCPJQDTYN40J0" product_slug="stimotion-10-l" dose="1" unit="L">STIMOTION <small>1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEBR769F9S4SRMA9TS3ET3XM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBR769F9S4SRMA9TS3ET3XM" product_slug="stimotion-10-l" dose="1" unit="L">STIMOTION <small>1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEBR769KP6FB82AP8JWMQZP2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBR769KP6FB82AP8JWMQZP2" product_slug="stimotion-10-l" dose="1" unit="L">STIMOTION <small>1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEBR769KP6FB82AP8JWMQZP2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBR769KP6FB82AP8JWMQZP2" product_slug="stimotion-10-l" dose="1" unit="L">STIMOTION <small>1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEBR769KP6FB82AP8JWMQZP2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEBR769KP6FB82AP8JWMQZP2" product_slug="stimotion-10-l" dose="1" unit="L">STIMOTION <small>1 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>INSECTICIDES<br> ALTISES</td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PQN2DYPPQQND6240P46' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQN2DYPPQQND6240P46" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PQQEFD34SBY1W842QZJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQQEFD34SBY1W842QZJ" product_slug="boravi-wg" dose="1.5" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PQTNAQD6XWHDKFFGQXE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQTNAQD6XWHDKFFGQXE" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PQX7G7ZBNR088NQXA67' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQX7G7ZBNR088NQXA67" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PQZ391GXSG9D68BB77G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PQZ391GXSG9D68BB77G" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PR2Y6544QKEJ5RDF47A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PR2Y6544QKEJ5RDF47A" product_slug="boravi-wg" dose="1.5" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PR4AA470CVP58WPS55E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PR4AA470CVP58WPS55E" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PR73KYJP4SHTTRTVSCQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PR73KYJP4SHTTRTVSCQ" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRA09NMXTRBP0YFXQ8F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRA09NMXTRBP0YFXQ8F" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRDYXYP8ZDDA8PRHPYD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRDYXYP8ZDDA8PRHPYD" product_slug="boravi-wg" dose="1.5" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRFJBGSZ9AJZF8KBENQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRFJBGSZ9AJZF8KBENQ" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRJ4QQFD1S52PX0Z5AM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRJ4QQFD1S52PX0Z5AM" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRM98S7NXDQZ20EF6ZT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRM98S7NXDQZ20EF6ZT" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRQH8ZSY237JHTF0ETJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRQH8ZSY237JHTF0ETJ" product_slug="boravi-wg" dose="1.5" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRVX2VMS366FWNBX3H0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRVX2VMS366FWNBX3H0" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PRXVMFJ2CFVRSA52K3N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PRXVMFJ2CFVRSA52K3N" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                               <tr>
                                    <td>INSECTICIDES CHARANCON <br> DU BOURGEON TERMINAL</td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PS0238AHJARDS1QZY5J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PS0238AHJARDS1QZY5J" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PS3G8GF5PBZS98NTC6W' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PS3G8GF5PBZS98NTC6W" product_slug="boravi-wg" dose="1.5" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PS6WDZN2MY1A002B44G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PS6WDZN2MY1A002B44G" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PS9PQR31WS6PWNXS60B' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PS9PQR31WS6PWNXS60B" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PSC07S4MJ8MZRDEC0PR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PSC07S4MJ8MZRDEC0PR" product_slug="boravi-wg" dose="1.5" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PSF6Q4ARNZGE8FZJGX8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PSF6Q4ARNZGE8FZJGX8" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>INSECTICIDES CHARANCON <br> DE LA TIGE</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PSKAJ47J77D3ZNG0HM9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PSKAJ47J77D3ZNG0HM9" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PSPXQ6A0XABQZ6B5S2E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PSPXQ6A0XABQZ6B5S2E" product_slug="boravi-wg" dose="1.5" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PSRFNW2FA2NRHT27SXM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PSRFNW2FA2NRHT27SXM" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PSVQT3XY4RYDVHA2A0A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PSVQT3XY4RYDVHA2A0A" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PSYWB0Q3MFV7MMMCGWY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PSYWB0Q3MFV7MMMCGWY" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PT1A0YGBZEEWN6A6M5S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PT1A0YGBZEEWN6A6M5S" product_slug="boravi-wg" dose="1.5" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PT3KD9WP25ZD5ZDBHXZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PT3KD9WP25ZD5ZDBHXZ" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PT6Z9BNH0SX3BWMFGSJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PT6Z9BNH0SX3BWMFGSJ" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>INSECTICIDES MELIGETHES <br> ET CHARANCON DES SILIQUES</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PT8XK50TP04RY3DE4D7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PT8XK50TP04RY3DE4D7" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTB781JEMF40M22WRE2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTB781JEMF40M22WRE2" product_slug="boravi-wg" dose="1.5" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTE23K885WB841YZVM4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTE23K885WB841YZVM4" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTHYMQ8YDJDCATH6KK9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTHYMQ8YDJDCATH6KK9" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTK8E74HQWQ8W217D0E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTK8E74HQWQ8W217D0E" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTPCQ9V6384KBX02WHA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTPCQ9V6384KBX02WHA" product_slug="boravi-wg" dose="1.5" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTR7VSV8RK5JQXX8M8T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTR7VSV8RK5JQXX8M8T" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTVJKQJQVK73XKW1AXD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTVJKQJQVK73XKW1AXD" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PTZBQ20PS117QG50DD0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PTZBQ20PS117QG50DD0" product_slug="karate-xflow" dose="0.05" unit="L">KARATE XFLOW <small>0.05 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PV1K9KY0HY6WRPY5CNT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PV1K9KY0HY6WRPY5CNT" product_slug="boravi-wg" dose="1.5" unit="Kg">BORAVI <small>1.5 Kg</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PV4R6YDHCY0K0KS08P8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PV4R6YDHCY0K0KS08P8" product_slug="country-gold" dose="0.3" unit="L">COUNTRY GOLD <small>0.3 L</small></button>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEB3PV8ZSRETN40AVZZQXAX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PV8ZSRETN40AVZZQXAX" product_slug="uppercut" dose="0.2" unit="L">UPPERCUT <small>0.2 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td>NUTRITION <br>FOLIAIRE</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEB3PVBC68QBECN065728Q2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVBC68QBECN065728Q2" product_slug="ino-boost-bmo" dose="3" unit="L">INO BOOST BMO<small> 3 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEB3PVEBVXH2KYQYV8384YR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVEBVXH2KYQYV8384YR" product_slug="ino-soufre" dose="10" unit="L">INO SOUFRE N<small> 10 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEB3PVG9BYRMGA2N7JGQVE9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVG9BYRMGA2N7JGQVE9" product_slug="ino-boost-bmo" dose="3" unit="L">INO BOOST BMO<small> 3 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEB3PVMCADE714DYAK824X3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVMCADE714DYAK824X3" product_slug="ino-soufre" dose="10" unit="L">INO SOUFRE N<small> 10 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEB3PVQGMAGZPSJN9MVE8Q1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVQGMAGZPSJN9MVE8Q1" product_slug="ino-boost-bmo" dose="3" unit="L">INO BOOST BMO<small> 3 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEB3PVSVG7BVQ0JRG9KD3EA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVSVG7BVQ0JRG9KD3EA" product_slug="ino-soufre" dose="10" unit="L">INO SOUFRE N<small> 10 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>FONGICIDES</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PVXYWEXG1JVDR29M539' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PVXYWEXG1JVDR29M539" product_slug="prosaro" dose="1" unit="L">PROSARO<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PW0E62W07KFVGC2JCH8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PW0E62W07KFVGC2JCH8" product_slug="zakeo-xtra" dose="1" unit="L">ZAKEO XTRA<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PW3GQG2RGV2XE36XHQT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PW3GQG2RGV2XE36XHQT" product_slug="jetset" dose="0.4" unit="L">JET SET<small> 0.4 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PW6JZJSV63X5KT6ZW94' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PW6JZJSV63X5KT6ZW94" product_slug="prosaro" dose="1" unit="L">PROSARO<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PW9A7MSWNQDN9NZ9D3M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PW9A7MSWNQDN9NZ9D3M" product_slug="zakeo-xtra" dose="1" unit="L">ZAKEO XTRA<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWCJZ4QE3NXXJTCS69G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWCJZ4QE3NXXJTCS69G" product_slug="jetset" dose="0.4" unit="L">JET SET<small> 0.4 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWFV9S0TB52F21Z6XA7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWFV9S0TB52F21Z6XA7" product_slug="prosaro" dose="1" unit="L">PROSARO<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWKFJVQ49AW7TGTDPWB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWKFJVQ49AW7TGTDPWB" product_slug="zakeo-xtra" dose="1" unit="L">ZAKEO XTRA<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWP4YVDCY6RTJA5QWVZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWP4YVDCY6RTJA5QWVZ" product_slug="jetset" dose="0.4" unit="L">JET SET<small> 0.4 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWR5JZ6JC58XM3B2ARH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWR5JZ6JC58XM3B2ARH" product_slug="prosaro" dose="1" unit="L">PROSARO<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWWKQTXEGFCVS3WTNCT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWWKQTXEGFCVS3WTNCT" product_slug="zakeo-xtra" dose="1" unit="L">ZAKEO XTRA<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PWZ4ZBAMCK1FW2PXNGA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PWZ4ZBAMCK1FW2PXNGA" product_slug="jetset" dose="0.4" unit="L">JET SET<small> 0.4 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PX29A3TJQSPE718404M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PX29A3TJQSPE718404M" product_slug="prosaro" dose="1" unit="L">PROSARO<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PX544HSHDCC7SS3QZ49' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PX544HSHDCC7SS3QZ49" product_slug="zakeo-xtra" dose="1" unit="L">ZAKEO XTRA<small> 1 L</small></button>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PX8QYT6BRYQKXX1J005' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PX8QYT6BRYQKXX1J005" product_slug="jetset" dose="0.4" unit="L">JET SET<small> 0.4 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PXC47N7D7NVQK7GT213' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXC47N7D7NVQK7GT213" product_slug="prosaro" dose="1" unit="L">PROSARO<small> 1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEEB3PXEEJ9VGY6VSC16HZY9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXEEJ9VGY6VSC16HZY9" product_slug="prosaro" dose="1" unit="L">PROSARO<small> 1 L</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ADJUVANT</td>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PXJWBKHD95903Q2QS1D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXJWBKHD95903Q2QS1D" product_slug="sticman" dose="0.1" unit="L">STICMAN<small> 0.1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PXM3ZKPCH85532NEY44' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXM3ZKPCH85532NEY44" product_slug="sticman" dose="0.1" unit="L">STICMAN<small> 0.1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PXRWV542TKT7K61FFG4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXRWV542TKT7K61FFG4" product_slug="sticman" dose="0.1" unit="L">STICMAN<small> 0.1 L</small></button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PXWJHTZ52Y1ZX0CZMMR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXWJHTZ52Y1ZX0CZMMR" product_slug="sticman" dose="0.1" unit="L">STICMAN<small> 0.1 L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PXYJQ9JFVQA7VVHKNEF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PXYJQ9JFVQA7VVHKNEF" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small> 1%</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PY2ZWHT3JRB29DK66BM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PY2ZWHT3JRB29DK66BM" product_slug="sticman" dose="0.1" unit="L">STICMAN<small> 0.1 L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PY5QSGDNX6G0Z9PZ40Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PY5QSGDNX6G0Z9PZ40Q" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small> 1%</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYA1K0RE2K07DFDM6NX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYA1K0RE2K07DFDM6NX" product_slug="sticman" dose="0.1" unit="L">STICMAN<small> 0.1 L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYD2CK47CTBD888APHD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYD2CK47CTBD888APHD" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small> 1%</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYG63W3BVNCTTVTW7RP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYG63W3BVNCTTVTW7RP" product_slug="sticman" dose="0.1" unit="L">STICMAN<small> 0.1 L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYM47ZEGHSXAMPCESMM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYM47ZEGHSXAMPCESMM" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small> 1%</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYS4YNEGWE3J31S74WD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYS4YNEGWE3J31S74WD" product_slug="sticman" dose="0.1" unit="L">STICMAN<small> 0.1 L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYV923GZVD88RZK2DTR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYV923GZVD88RZK2DTR" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small> 1%</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PYZC6HF9EDPC7AZV2NB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PYZC6HF9EDPC7AZV2NB" product_slug="sticman" dose="0.1" unit="L">STICMAN<small> 0.1 L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PZ2N61GHPTVC712B1Q0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PZ2N61GHPTVC712B1Q0" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small> 1%</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PZ5C322ASVYWF0VFHRA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PZ5C322ASVYWF0VFHRA" product_slug="sticman" dose="0.1" unit="L">STICMAN<small> 0.1 L</small></button>
                                        <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEEB3PZ8KBZQG174KB3XMGV1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEB3PZ8KBZQG174KB3XMGV1" product_slug="oliofix" dose="1" unit="%">OLIOFIX<small> 1%</small></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

