{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}



{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} <span class="badge badge-warning">Taille total {{ totalSize }} ha</span></h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                        <table class="table table-bordered no-wrap">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Semis
                                </th>
                                <th>
                                    Levée
                                </th>
                                <th>
                                    3 Feuilles
                                </th>
                                <th>
                                    Tallages
                                </th>
                                <th>
                                    SORTIE HIVER
                                </th>
                                <th>
                                    FIN TALLAGE
                                </th>
                                <th>
                                    ALLONGEMENT <br>MONTAISON
                                </th>
                                <th>
                                    1ère <br>EXPLOITATION
                                </th>
                                <th>
                                    2ème <br>EXPLOITATION
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Fumure <br>Base Graminée</td>
                                    <td colspan="2">
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-loc-micro-pz-10-40-11-so3-2-zn-10-kg', '25') ? 'exist' : 'd-none' }}" product_slug="s-ino-loc-micro-pz-10-40-11-so3-2-zn-10-kg" dose="25" unit="Kg">INO LOC <small>25 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-15-22-0-20-so3-modulaire', '250') ? 'exist' : 'd-none' }}" product_slug="s-15-22-0-20-so3-modulaire" dose="250" unit="Kg">15-22 <small>250 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-15-22-0-20-so3-modulaire', '250.001') ? 'exist' : 'd-none' }}" product_slug="s-15-22-0-20-so3-modulaire" dose="250.001" unit="Kg">15-22 <small>250 Kg</small></button>
                                    </td>
                                    <td colspan="2">
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-15-22-0-20-so3-modulaire') ? 'exist' : 'd-none' }}" product_slug="s-15-22-0-20-so3-modulaire">SULFONITRATE</button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sulfonitrate-26') ? 'exist' : 'd-none' }}" product_slug="s-sulfonitrate-26" dose="250" unit="Kg">NELIX 37 + SO3</button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-8-10-22', '500') ? 'exist' : 'd-none' }}" product_slug="s-8-10-22" dose="500" unit="Kg">8.10.22 <small>500 Kg</small></button>
                                    </td>
                                    <td></td>
                                    <td colspan="2">
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-sulfonitrate-26') ? 'exist' : 'd-none' }}" product_slug="s-sulfonitrate-26">SULFONITRATE</button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ammonitre-33-5-fran-aise') ? 'exist' : 'd-none' }}" product_slug="s-ammonitre-33-5-fran-aise">AMMONITRE</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Fumure <br>Base Légumineuse</td>
                                    <td colspan="2">
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-loc-micro-pz-10-40-11-so3-2-zn-10-kg', '25.001') ? 'exist' : 'd-none' }}" product_slug="s-ino-loc-micro-pz-10-40-11-so3-2-zn-10-kg" dose="25.001" unit="L">INO LOC <small>25 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-0-12-24-sp', '400') ? 'exist' : 'd-none' }}" product_slug="s-0-12-24-sp" dose="400" unit="Kg">0-12-24 <small>400 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-oxyfertil-0-9-14-40-cao-10-mgo', '600') ? 'exist' : 'd-none' }}" product_slug="s-oxyfertil-0-9-14-40-cao-10-mgo" dose="600" unit="Kg">OXYFERTIL 09-14 <small>600 Kg</small></button>
                                    </td>
                                     <td colspan="3">
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-0-12-24-sp', '400') ? 'exist' : 'd-none' }}" product_slug="s-0-12-24-sp" dose="400" unit="Kg">0-12-24 <small>400 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-oxyfertil-0-9-14-40-cao-10-mgo', '600') ? 'exist' : 'd-none' }}" product_slug="s-oxyfertil-0-9-14-40-cao-10-mgo" dose="600" unit="Kg">OXYFERTIL 09-14 <small>600 Kg</small></button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-diamic-k25-uab-bio', '400') ? 'exist' : 'd-none' }}" product_slug="s-diamic-k25-uab-bio" dose="400" unit="Kg">DIAMIC K25 <small>400 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-diamic-k25-uab-bio', '400.001') ? 'exist' : 'd-none' }}" product_slug="s-diamic-k25-uab-bio" dose="400.001" unit="Kg">DIAMIC K25 <small>400 Kg</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nutritions folliaires <br>et biostimulant <br>Graminées fourrages</td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-mix-mcz-5-l', '2') ? 'exist' : 'd-none' }}" product_slug="s-ino-mix-mcz-5-l" dose="2" unit="L">GRAMINEES: INO MIX MCZ <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-boost-bmo-10-l', '3') ? 'exist' : 'd-none' }}" product_slug="s-ino-boost-bmo-10-l" dose="3" unit="L">LEGUMINEUSES: INO BOOST BMO<small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-mix-mcz-5-l', '2.001') ? 'exist' : 'd-none' }}" product_slug="s-ino-mix-mcz-5-l" dose="2.001" unit="L">GRAMINEES: INO MIX MCZ <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-boost-bmo-10-l', '3.001') ? 'exist' : 'd-none' }}" product_slug="s-ino-boost-bmo-10-l" dose="3.001" unit="L">LEGUMINEUSES: INO BOOST BMO<small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-mix-mcz-5-l', '2.002') ? 'exist' : 'd-none' }}" product_slug="s-ino-mix-mcz-5-l" dose="2.002" unit="L">GRAMINEES: INO MIX MCZ <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-boost-bmo-10-l', '3.002') ? 'exist' : 'd-none' }}" product_slug="s-ino-boost-bmo-10-l" dose="3.002" unit="L">LEGUMINEUSES: INO BOOST BMO<small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-mix-mcz-5-l', '2.003') ? 'exist' : 'd-none' }}" product_slug="s-ino-mix-mcz-5-l" dose="2.003" unit="L">GRAMINEES: INO MIX MCZ <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ino-boost-bmo-10-l', '3.003') ? 'exist' : 'd-none' }}" product_slug="s-ino-boost-bmo-10-l" dose="3.003" unit="L">LEGUMINEUSES: INO BOOST BMO<small>3 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Anti Limaces</td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ironmax-mg-15-kg', '1') ? 'exist' : 'd-none' }}" product_slug="s-ironmax-mg-15-kg" dose="1" unit="Dose/3Ha">IRON MAX MG <small>1 Dose/3Ha</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-helexiom-duo-18-kg', '4') ? 'exist' : 'd-none' }}" product_slug="s-helexiom-duo-18-kg" dose="4" unit="Kg">HELEXIOM DUO<small>4 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ironmax-mg-15-kg', '5') ? 'exist' : 'd-none' }}" product_slug="s-ironmax-mg-15-kg" dose="5" unit="Kg">IRON MAX MG<small>5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-helexiom-duo-18-kg', '4') ? 'exist' : 'd-none' }}" product_slug="s-helexiom-duo-18-kg" dose="4" unit="Kg">HELEXIOM DUO<small>4 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-ironmax-mg-15-kg', '5') ? 'exist' : 'd-none' }}" product_slug="s-ironmax-mg-15-kg" dose="5" unit="Kg">IRON MAX MG<small>5 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Insecticides</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-5-l', '0.075') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-5-l" dose="0.075" unit="L">KARATE XFLOW<small> 0.075 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-5-l', '0.07501') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-5-l" dose="0.07501" unit="L">KARATE XFLOW<small> 0.075 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-karate-xflow-5-l', '0.07502') ? 'exist' : 'd-none' }}" product_slug="s-karate-xflow-5-l" dose="0.07502" unit="L">KARATE XFLOW<small> 0.075 L</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Herbicides pour <br>fourrages graminées</td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'starane-gold', '1.8') ? 'exist' : 'd-none' }}" product_slug="starane-gold" dose="1.8" unit="L">STARANNE GOLD<small> 1.8 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'starane-gold', '1.801') ? 'exist' : 'd-none' }}" product_slug="starane-gold" dose="1.801" unit="L">STARANNE GOLD<small> 1.8 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'starane-gold', '1.802') ? 'exist' : 'd-none' }}" product_slug="starane-gold" dose="1.803" unit="L">STARANNE GOLD<small> 1.8 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'banvel-4-s', '1') ? 'exist' : 'd-none' }}" product_slug="banvel-4-s" dose="1" unit="L">BANVEL<small> 1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'harmony-sx', '30') ? 'exist' : 'd-none' }}" product_slug="harmony-sx" dose="30" unit="g">HARMONY SX<small> 30 g</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'starane-gold', '1.803') ? 'exist' : 'd-none' }}" product_slug="starane-gold" dose="1.803" unit="L">STARANNE GOLD<small> 1.8 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'banvel-4-s', '1.003') ? 'exist' : 'd-none' }}" product_slug="banvel-4-s" dose="1.003" unit="L">BANVEL<small> 1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'harmony-sx', '30.003') ? 'exist' : 'd-none' }}" product_slug="harmony-sx" dose="30.003" unit="g">HARMONY SX<small> 30 g</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'starane-gold', '1.804') ? 'exist' : 'd-none' }}" product_slug="starane-gold" dose="1.804" unit="L">STARANNE GOLD<small> 1.8 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'banvel-4-s', '1.004') ? 'exist' : 'd-none' }}" product_slug="banvel-4-s" dose="1.004" unit="L">BANVEL<small> 1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'harmony-sx', '30.005') ? 'exist' : 'd-none' }}" product_slug="harmony-sx" dose="30.005" unit="g">HARMONY SX<small> 30 g</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'starane-gold', '1.805') ? 'exist' : 'd-none' }}" product_slug="starane-gold" dose="1.805" unit="L">STARANNE GOLD<small> 1.8 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'banvel-4-s', '1.005') ? 'exist' : 'd-none' }}" product_slug="banvel-4-s" dose="1.005" unit="L">BANVEL<small> 1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 's-nicanor-premium-100-grs', '15') ? 'exist' : 'd-none' }}" product_slug="s-nicanor-premium-100-grs" dose="15" unit="g">NICANOR PREMIUM<small> 15 g</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="3">Herbicides pour <br>dégumineuses <br> fourrages</td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bonalan', '6') ? 'exist' : 'd-none' }}" product_slug="bonalan" dose="6" unit="L">BONALAN<small> 6 L</small></button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'corum', '1.25') ? 'exist' : 'd-none' }}" product_slug="corum" dose="1.25" unit="L">CORUM<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'corum', '1.2501') ? 'exist' : 'd-none' }}" product_slug="corum" dose="1.2501" unit="L">CORUM<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'corum', '1.2502') ? 'exist' : 'd-none' }}" product_slug="corum" dose="1.2502" unit="L">CORUM<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'corum', '1.2503') ? 'exist' : 'd-none' }}" product_slug="corum" dose="1.2503" unit="L">CORUM<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'corum', '1.2504') ? 'exist' : 'd-none' }}" product_slug="corum" dose="1.2504" unit="L">CORUM<small> 1.25 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'harmony-sx', '30.006') ? 'exist' : 'd-none' }}" product_slug="harmony-sx" dose="30.006" unit="g">HARMONY SX<small> 30 g</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pilot', '1.25') ? 'exist' : 'd-none' }}" product_slug="pilot" dose="1.25" unit="L">PILOT<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'harmony-sx', '30.00601') ? 'exist' : 'd-none' }}" product_slug="harmony-sx" dose="30.00601" unit="g">HARMONY SX<small> 30 g</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pilot', '1.2501') ? 'exist' : 'd-none' }}" product_slug="pilot" dose="1.2501" unit="L">PILOT<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'harmony-sx', '30.00602') ? 'exist' : 'd-none' }}" product_slug="harmony-sx" dose="30.00602" unit="g">HARMONY SX<small> 30 g</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pilot', '1.2502') ? 'exist' : 'd-none' }}" product_slug="pilot" dose="1.2502" unit="L">PILOT<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'harmony-sx', '30.00603') ? 'exist' : 'd-none' }}" product_slug="harmony-sx" dose="30.00603" unit="g">HARMONY SX<small> 30 g</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'pilot', '1.2503') ? 'exist' : 'd-none' }}" product_slug="pilot" dose="1.2503" unit="L">PILOT<small> 1.25 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nirvana-s', '4') ? 'exist' : 'd-none' }}" product_slug="nirvana-s" dose="4" unit="L">NIRVANA S<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kerb-flo', '1.875') ? 'exist' : 'd-none' }}" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO<small> 1.875 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nirvana-s', '4.001') ? 'exist' : 'd-none' }}" product_slug="nirvana-s" dose="4.001" unit="L">NIRVANA S<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kerb-flo', '1.87501') ? 'exist' : 'd-none' }}" product_slug="kerb-flo" dose="1.87501" unit="L">KERB FLO<small> 1.875 L</small></button>
                                    </td><td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nirvana-s', '4.002') ? 'exist' : 'd-none' }}" product_slug="nirvana-s" dose="4.002" unit="L">NIRVANA S<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kerb-flo', '1.87502') ? 'exist' : 'd-none' }}" product_slug="kerb-flo" dose="1.87502" unit="L">KERB FLO<small> 1.875 L</small></button>
                                    </td><td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nirvana-s', '4.003') ? 'exist' : 'd-none' }}" product_slug="nirvana-s" dose="4.003" unit="L">NIRVANA S<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kerb-flo', '1.875') ? 'exist' : 'd-none' }}" product_slug="kerb-flo" dose="1.87503" unit="L">KERB FLO<small> 1.875 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if printRequest == false %}
               <div class="alert alert-success">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </div>
            {% endif %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

