{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}



{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-8 align-self-center">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                        <table class="table table-bordered no-wrap">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    Semis
                                </th>
                                <th>
                                    Levée
                                </th>
                                <th>
                                    3 Feuilles
                                </th>
                                <th>
                                    Tallage
                                </th>
                                <th>
                                    SORTIE HIVER
                                </th>
                                <th>
                                    FIN TALLAGE
                                </th>
                                <th>
                                    ALLONGEMENT <br>MONTAISON
                                </th>
                                <th>
                                    1ère <br>EXPLOITATION
                                </th>
                                <th>
                                    2ème <br>EXPLOITATION
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Fumure <br>Base Graminée</td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQBKS8PCV9JGZP4G9AGT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQBKS8PCV9JGZP4G9AGT" product_slug="ino-loc" dose="25" unit="Kg">INO LOC <small>25 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQBKS8PCV9JGZP4G9AG2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQBKS8PCV9JGZP4G9AG2" product_slug="ino-loc" dose="25" unit="Kg">INO LOC <small>25 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQBNY7NXRBNRZ42TT0PW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQBNY7NXRBNRZ42TT0PW" product_slug="16-22-0-20-so3-6-ql" dose="250" unit="Kg">16-22 <small>250 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQBQBBBK8HZ2CF2DJ9GK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQBQBBBK8HZ2CF2DJ9GK" product_slug="16-22-0-20-so3-6-ql" dose="250" unit="Kg">16-22 <small>250 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQBS3RY102ZA5D2CJB1G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQBS3RY102ZA5D2CJB1G" product_slug="sulfonitrate-26" dose="250" unit="Kg">SULFONITRATE <small>250 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQBWRVHNBFMTRDZWSS2G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQBWRVHNBFMTRDZWSS2G" product_slug="nelix-36-24" dose="200" unit="Kg">NELIX 36 + 24 SO3 <small>200 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQBYQ1D7CMNKGRD2ZQWC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQBYQ1D7CMNKGRD2ZQWC" product_slug="8-10-22" dose="500" unit="Kg">8.10.22 <small>500 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQBS3RY102ZA5D2CJB12' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQBS3RY102ZA5D2CJB12" product_slug="sulfonitrate-26" dose="250" unit="Kg">SULFONITRATE <small>250 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQBWRVHNBFMTRDZWSS26' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQBWRVHNBFMTRDZWSS26" product_slug="nelix-36-24" dose="200" unit="Kg">NELIX 36 + 24 SO3 <small>200 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQBYQ1D7CMNKGRD2ZQWE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQBYQ1D7CMNKGRD2ZQWE" product_slug="8-10-22" dose="500" unit="Kg">8.10.22 <small>500 Kg</small></button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQC18TWBNBCZ70ZMXH1N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQC18TWBNBCZ70ZMXH1N" product_slug="sulfonitrate-26" dose="250" unit="Kg">SULFONITRATE <small>250 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQC3216AQ06WY7DC6XK9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQC3216AQ06WY7DC6XK9" product_slug="ammonitre-33-5" dose="200" unit="Kg">AMMONITRE <small>200 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQC18TWBNBCZ70ZMXH14' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQC18TWBNBCZ70ZMXH14" product_slug="sulfonitrate-26" dose="250" unit="Kg">SULFONITRATE <small>250 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQC3216AQ06WY7DC6XK8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQC3216AQ06WY7DC6XK8" product_slug="ammonitre-33-5" dose="200" unit="Kg">AMMONITRE <small>200 Kg</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Fumure <br>Base Légumineuse</td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQC6JRHAFQQT2HKMK29X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQC6JRHAFQQT2HKMK29X" product_slug="ino-loc" dose="25" unit="L">INO LOC <small>25 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQC6JRHAFQQT2HKMK29F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQC6JRHAFQQT2HKMK29F" product_slug="ino-loc" dose="25" unit="L">INO LOC <small>25 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQC7RZWMNVQDKBQ299CV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQC7RZWMNVQDKBQ299CV" product_slug="0-12-24-sp" dose="400" unit="Kg">0-12-24 <small>400 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQC95V5E3SC1D2S6BH6F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQC95V5E3SC1D2S6BH6F" product_slug="oxyfertil-09-14" dose="500" unit="Kg">OXYFERTIL 09-14 <small>500 Kg</small></button>
                                    </td>
                                     <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQCATXKT67ZQ7AXTQ60F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCATXKT67ZQ7AXTQ60F" product_slug="0-12-24-sp" dose="400" unit="Kg">0-12-24 <small>400 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQCCYGT7QYKKWNH0818K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCCYGT7QYKKWNH0818K" product_slug="oxyfertil-09-14" dose="500" unit="Kg">OXYFERTIL 09-14 <small>500 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQCATXKT67ZQ7AXTQ63F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCATXKT67ZQ7AXTQ63F" product_slug="0-12-24-sp" dose="400" unit="Kg">0-12-24 <small>400 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQCCYGT7QYKK3NH0818K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCCYGT7QYKK3NH0818K" product_slug="oxyfertil-09-14" dose="500" unit="Kg">OXYFERTIL 09-14 <small>500 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQCATXKT67DSFAXTQ60F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCATXKT67DSFAXTQ60F" product_slug="0-12-24-sp" dose="400" unit="Kg">0-12-24 <small>400 Kg</small></button>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQCCYGT7QYKKWNH0816K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCCYGT7QYKKWNH0816K" product_slug="oxyfertil-09-14" dose="500" unit="Kg">OXYFERTIL 09-14 <small>500 Kg</small></button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQCEKBZW5B7MAHHWKBPA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCEKBZW5B7MAHHWKBPA" product_slug="diamic-k25" dose="400" unit="Kg">DIAMIC K25 <small>400 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEEBPQCF1G1CJP33E096ZCG4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCF1G1CJP33E096ZCG4" product_slug="diamic-k25" dose="400" unit="Kg">DIAMIC K25 <small>400 Kg</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nutritions folliaires <br>et biostimulants <br>Graminées fourrages</td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEBPQCHEFBDFJZY3ZXM8P0Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCHEFBDFJZY3ZXM8P0Z" product_slug="ino-mix-mcz" dose="2" unit="L">GRAMINEES: INO MIX MCZ <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEBPQCKNFG5VRHVCG5DWM00' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCKNFG5VRHVCG5DWM00" product_slug="ino-boost-bmo" dose="3" unit="L">INO BOOST BMO<small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEBPQCMH2AQM2E8CZMJRHJD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCMH2AQM2E8CZMJRHJD" product_slug="ino-mix-mcz" dose="2" unit="L">GRAMINEES: INO MIX MCZ <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEBPQCP2ADHQR2JVYNN5FHH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCP2ADHQR2JVYNN5FHH" product_slug="ino-boost-bmo" dose="3" unit="L">INO BOOST BMO<small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEBPQCQVBNRZ20NVCDMWFC3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCQVBNRZ20NVCDMWFC3" product_slug="ino-mix-mcz" dose="2" unit="L">GRAMINEES: INO MIX MCZ <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEBPQCSRQ3RWAB0WE5ECGA0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCSRQ3RWAB0WE5ECGA0" product_slug="ino-boost-bmo" dose="3" unit="L">INO BOOST BMO<small>3 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEBPQCVH33GAVNDGSHGG4R2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCVH33GAVNDGSHGG4R2" product_slug="ino-mix-mcz" dose="2" unit="L">GRAMINEES: INO MIX MCZ <small>2 L</small></button>
                                        <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEEBPQCW617Z84CXXWAQCRPX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCW617Z84CXXWAQCRPX" product_slug="ino-boost-bmo" dose="3" unit="L">INO BOOST BMO<small>3 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Anti Limaces</td>
                                    <td>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEBPQCYWHAHRPGNYX6N2N86' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQCYWHAHRPGNYX6N2N86" product_slug="ironmax-mg" dose="1" unit="Dose/3Ha">IRON MAX MG <small>1 Dose/3Ha</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEBPQD0CQFM5K233REM2JDP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQD0CQFM5K233REM2JDP" product_slug="allowin-duo-18-kg" dose="4" unit="Kg">ALLOWIN DUO<small>4 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEBPQD1TPTCMDCGBGAE3MAS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQD1TPTCMDCGBGAE3MAS" product_slug="ironmax-mg" dose="5" unit="Kg">IRON MAX MG<small>5 Kg</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEBPQD2CGSP37BJKSV9AMJ5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQD2CGSP37BJKSV9AMJ5" product_slug="allowin-duo-18-kg" dose="4" unit="Kg">ALLOWIN DUO<small>4 Kg</small></button>
                                        <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEEBPQD42G65Z2Z47ZFMSTGC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQD42G65Z2Z47ZFMSTGC" product_slug="ironmax-mg" dose="5" unit="Kg">IRON MAX MG<small>5 Kg</small></button>
                                    </td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                                <tr>
                                    <td>Insecticides</td>
                                    <td></td><td></td><td></td><td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEBPQD5PNHY6V4JAWBA2XSD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQD5PNHY6V4JAWBA2XSD" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW<small> 0.075 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEBPQD7XRA50329PWZ4R57H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQD7XRA50329PWZ4R57H" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW<small> 0.075 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEEBPQD92JNAG0YSM0THJKA1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQD92JNAG0YSM0THJKA1" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW<small> 0.075 L</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Herbicides pour <br>base graminées</td>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDA47YVTD8B1K3C4RVM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDA47YVTD8B1K3C4RVM" product_slug="starane-gold" dose="1.8" unit="L">STARANE GOLD<small> 1.8 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDC28AV5SG51SKZAZ7C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDC28AV5SG51SKZAZ7C" product_slug="starane-gold" dose="1.8" unit="L">STARANE GOLD<small> 1.8 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDDJ12WWDEDR7SKZ9PP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDDJ12WWDEDR7SKZ9PP" product_slug="starane-gold" dose="1.8" unit="L">STARANE GOLD<small> 1.8 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDF12NXT7VS9QEK0R0T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDF12NXT7VS9QEK0R0T" product_slug="banvel-4-s" dose="1" unit="L">BANVEL<small> 1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDGY83D7H4CH8F155XG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDGY83D7H4CH8F155XG" product_slug="harmony-sx" dose="30" unit="g">HARMONY SX<small> 30 g</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDJJ27DGRJPN7JQ0J73' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDJJ27DGRJPN7JQ0J73" product_slug="starane-gold" dose="1.8" unit="L">STARANE GOLD<small> 1.8 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDM82M4EGE4CYP2THTG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDM82M4EGE4CYP2THTG" product_slug="banvel-4-s" dose="1" unit="L">BANVEL<small> 1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDNXW3Y04CZMPSS4AJ7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDNXW3Y04CZMPSS4AJ7" product_slug="harmony-sx" dose="30" unit="g">HARMONY SX<small> 30 g</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDQ4KPJYFS1S78XEAGZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDQ4KPJYFS1S78XEAGZ" product_slug="starane-gold" dose="1.8" unit="L">STARANE GOLD<small> 1.8 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDRAFJP5MG6FA58ETYZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDRAFJP5MG6FA58ETYZ" product_slug="banvel-4-s" dose="1" unit="L">BANVEL<small> 1 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDTGZN51R0ZFAY8YW8X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDTGZN51R0ZFAY8YW8X" product_slug="harmony-sx" dose="30" unit="g">HARMONY SX<small> 30 g</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDVMG4W5ARHPGCC2C5A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDVMG4W5ARHPGCC2C5A" product_slug="starane-gold" dose="1.8" unit="L">STARANE GOLD<small> 1.8 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDXP3E70PCTNYHRCXMJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDXP3E70PCTNYHRCXMJ" product_slug="banvel-4-s" dose="1" unit="L">BANVEL<small> 1 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQDYRB5NQME2NVBQ3J48' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQDYRB5NQME2NVBQ3J48" product_slug="nicanor-premium" dose="15" unit="g">NICANOR PREMIUM<small> 15 g</small></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="3">Herbicides pour <br>légumineuse <br> fourragère</td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQE0K5DW3ADQ95SACH1G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQE0K5DW3ADQ95SACH1G" product_slug="bonalan" dose="6" unit="L">BONALAN<small> 6 L</small></button>
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQE26TGVRFD7HEPRDNB0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQE26TGVRFD7HEPRDNB0" product_slug="corum" dose="1.25" unit="L">CORUM<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQE47WSW595QAK9B0XYG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQE47WSW595QAK9B0XYG" product_slug="corum" dose="1.25" unit="L">CORUM<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQE57934QZ399XS3BWSD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQE57934QZ399XS3BWSD" product_slug="corum" dose="1.25" unit="L">CORUM<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQE7KN1ZF9AHWCYSXCJ7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQE7KN1ZF9AHWCYSXCJ7" product_slug="corum" dose="1.25" unit="L">CORUM<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQE84Y1K1HQ07QNCEJB7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQE84Y1K1HQ07QNCEJB7" product_slug="corum" dose="1.25" unit="L">CORUM<small> 1.25 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td></td><td></td><td></td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQEARGBE6S909MVZ9CVH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQEARGBE6S909MVZ9CVH" product_slug="harmony-sx" dose="30" unit="g">HARMONY SX<small> 30 g</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQEBYFK238RD95EEG99K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQEBYFK238RD95EEG99K" product_slug="pilot" dose="1.25" unit="L">PILOT<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQED12D64RAR7FHSFZ04' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQED12D64RAR7FHSFZ04" product_slug="harmony-sx" dose="30" unit="g">HARMONY SX<small> 30 g</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQEFSKDTW3XV573V5J62' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQEFSKDTW3XV573V5J62" product_slug="pilot" dose="1.25" unit="L">PILOT<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQEG1D8JAATP8RG7GQ8G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQEG1D8JAATP8RG7GQ8G" product_slug="harmony-sx" dose="30" unit="g">HARMONY SX<small> 30 g</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQEHDSVX12SRPFJ9ATFK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQEHDSVX12SRPFJ9ATFK" product_slug="pilot" dose="1.25" unit="L">PILOT<small> 1.25 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQEKQ80TD997FKDPDQ2V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQEKQ80TD997FKDPDQ2V" product_slug="harmony-sx" dose="30" unit="g">HARMONY SX<small> 30 g</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQENRFN3NGWM1YN6F5H4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQENRFN3NGWM1YN6F5H4" product_slug="pilot" dose="1.25" unit="L">PILOT<small> 1.25 L</small></button>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                                <tr>
                                    <td></td><td></td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQEPP1NGBEX6Z623VKAP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQEPP1NGBEX6Z623VKAP" product_slug="nirvana-s" dose="4" unit="L">NIRVANA S<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQERS8MWNSSG8HR3A5KA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQERS8MWNSSG8HR3A5KA" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO<small> 1.875 L</small></button>
                                    </td>
                                    <td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQESDV4ARD6JME5E76W7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQESDV4ARD6JME5E76W7" product_slug="nirvana-s" dose="4" unit="L">NIRVANA S<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQETYZ7E105DQJSKDE7C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQETYZ7E105DQJSKDE7C" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO<small> 1.875 L</small></button>
                                    </td><td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQEXGC40GC6548HBSN9S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQEXGC40GC6548HBSN9S" product_slug="nirvana-s" dose="4" unit="L">NIRVANA S<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQEY52ZH5TWFK79CXYWD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQEY52ZH5TWFK79CXYWD" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO<small> 1.875 L</small></button>
                                    </td><td>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQEZHHCTR0YRMBE7V2FF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQEZHHCTR0YRMBE7V2FF" product_slug="nirvana-s" dose="4" unit="L">NIRVANA S<small> 4 L</small></button>
                                        <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEEBPQF14A71HBW7BXTYCWW3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEBPQF14A71HBW7BXTYCWW3" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO<small> 1.875 L</small></button>
                                    </td>
                                    <td></td><td></td><td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

