{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}



{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active">{{ culture.name }}</li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
    {% endif  %}
    <div class="table-responsive">
        <table class="table table-bordered no-wrap">
            <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">Semis</p>
                </th>
                <th>
                    <p class="text-center">Levées</p>
                </th>
                <th colspan="2">
                    <p class="text-center">Plantation</p>
                </th>
                <th colspan="2">
                    <p class="text-center">5 Feuilles</p>
                </th>
                <th colspan="2">
                    <p class="text-center">19 Feuilles</p>
                </th>
                <th>
                    <p class="text-center">Floraison mâles</p>
                </th>
                <th>
                    <p class="text-center">Floraison femelles</p>
                </th>
                <th colspan="2">
                    <p class="text-center">Nouaison</p>
                </th>
                <th colspan="2">
                    <p class="text-center">Grossissement des fruits</p>
                </th>
                <th>
                    <p class="text-center">Récolte</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Anti-limaces</td>
                <td colspan="3">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'helexiom-duo') ? 'exist' : 'd-none' }}" product_slug="helexiom-duo" dose="4" unit="Kg">HELEXIOM DUO <small>4 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ironmax-pro') ? 'exist' : 'd-none' }}" product_slug="ironmax-pro" dose="7" unit="Kg">IRONMAX PRO <small>7 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Insecte du sol <br>Taupin</td>
                <td colspan="3">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-04-gr') ? 'exist' : 'd-none' }}" product_slug="karate-0-4-gr" dose="15" unit="Kg">KARATE 0.4 Gr <small>15 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Pucerons</td>
                <td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'teppeki', '0.100') ? 'exist' : 'd-none' }}" product_slug="teppeki" dose="0.100" unit="Kg">TEPPEKI <small>0.100Kg</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.5') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'teppeki', '0.1001') ? 'exist' : 'd-none' }}" product_slug="teppeki" dose="0.1001" unit="Kg">TEPPEKI <small>0.100Kg</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.5001') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5001" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'teppeki', '0.1002') ? 'exist' : 'd-none' }}" product_slug="teppeki" dose="0.1002" unit="Kg">TEPPEKI <small>0.100Kg</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.5002') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5002" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'teppeki', '0.1003') ? 'exist' : 'd-none' }}" product_slug="teppeki" dose="0.1003" unit="Kg">TEPPEKI <small>0.100Kg</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.5003') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5003" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'teppeki', '0.1004') ? 'exist' : 'd-none' }}" product_slug="teppeki" dose="0.1004" unit="Kg">TEPPEKI <small>0.100Kg</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.5004') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5004" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'teppeki', '0.1005') ? 'exist' : 'd-none' }}" product_slug="teppeki" dose="0.1005" unit="Kg">TEPPEKI <small>0.100Kg</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.5005') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5005" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Noctuelles <br>Defoliatrices</td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="3">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'success-4') ? 'exist' : 'd-none' }}" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2 L</small></button>
                </td>
                <td colspan="3">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'decis-protech', '0.5006') ? 'exist' : 'd-none' }}" product_slug="decis-protech" dose="0.5006" unit="L">DECIS PROTECH <small>0.5 L</small></button>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'steward') ? 'exist' : 'd-none' }}" product_slug="steward" dose="0.125" unit="L">STEWARD <small>0.125 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'dipel-df') ? 'exist' : 'd-none' }}" product_slug="dipel-df" dose="1" unit="Kg">DIPEL <small>1 Kg</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Phytium <br>Fusariose</td>
                <td colspan="4">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'previcur-energy') ? 'exist' : 'd-none' }}" product_slug="previcur-energy" dose="2.5" unit="L">PREVICUR ENERGY <small>2.5 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'prestop') ? 'exist' : 'd-none' }}" product_slug="prestop" dose="0.5" unit="%">PRESTOP <small>0.5 %</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Cladosporiose</td>
                <td></td><td></td><td></td><td></td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ortiva-top', '2') ? 'exist' : 'd-none' }}" product_slug="ortiva-top" dose="2" unit="L">ORTIVA TOP <small>2 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1" unit="Kg">TOPSIN 70 WG <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'coach-plus', '0.0001') ? 'exist' : 'd-none' }}" product_slug="coach-plus" dose="0.0001">COACH PLUS</button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2" unit="L">STICOP <small>2 à 3 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ortiva-top', '2.0001') ? 'exist' : 'd-none' }}" product_slug="ortiva-top" dose="2.0001" unit="L">ORTIVA TOP <small>2 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.0001') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.0001" unit="Kg">TOPSIN 70 WG <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kocide-2000', '2.0001') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.0001" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'coach-plus', '0.0002') ? 'exist' : 'd-none' }}" product_slug="coach-plus" dose="0.0002">COACH PLUS</button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0001') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0001" unit="L">STICOP <small>2 à 3 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ortiva-top', '2.0002') ? 'exist' : 'd-none' }}" product_slug="ortiva-top" dose="2.0002" unit="L">ORTIVA TOP <small>2 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.0002') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.0002" unit="Kg">TOPSIN 70 WG <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.0002') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.0002" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'coach-plus', '0.0003') ? 'exist' : 'd-none' }}" product_slug="coach-plus" dose="0.0003">COACH PLUS</button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0002') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0002" unit="L">STICOP <small>2 à 3 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ortiva-top', '2.0003') ? 'exist' : 'd-none' }}" product_slug="ortiva-top" dose="2.0003" unit="L">ORTIVA TOP <small>2 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.0003') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.0003" unit="Kg">TOPSIN 70 WG <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.0003') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.0003" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'coach-plus', '0.0004') ? 'exist' : 'd-none' }}" product_slug="coach-plus" dose="0.0004">COACH PLUS</button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0003') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0003" unit="L">STICOP <small>2 à 3 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ortiva-top', '2.0004') ? 'exist' : 'd-none' }}" product_slug="ortiva-top" dose="2.0004" unit="L">ORTIVA TOP <small>2 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg', '1.0004') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="1.0004" unit="Kg">TOPSIN 70 WG <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.0004') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.0004" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'coach-plus', '0.0004') ? 'exist' : 'd-none' }}" product_slug="coach-plus" dose="0.0004">COACH PLUS</button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0004') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0004" unit="L">STICOP <small>2 à 3 L</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Didymella <br>Macrophomina</td>
                <td></td><td></td><td></td><td></td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'serenva', '1') ? 'exist' : 'd-none' }}" product_slug="serenva" dose="1" unit="Kg">SERENVA <small>1 Kg</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'serenva', '1.0001') ? 'exist' : 'd-none' }}" product_slug="serenva" dose="1.0001" unit="Kg">SERENVA <small>1 Kg</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'serenva', '1.0002') ? 'exist' : 'd-none' }}" product_slug="serenva" dose="1.0002" unit="Kg">SERENVA <small>1 Kg</small></button>
                </td>
                <td colspan="4">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'serenva', '1.0003') ? 'exist' : 'd-none' }}" product_slug="serenva" dose="1.0003" unit="Kg">SERENVA <small>1 Kg</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Oldium</td>
                <td></td><td></td><td></td><td></td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'takumi', '0.150') ? 'exist' : 'd-none' }}" product_slug="takumi" dose="0.150" unit="Kg">TAKUMI <small>0.150 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'collis', '0.4') ? 'exist' : 'd-none' }}" product_slug="collis" dose="0.4" unit="L">COLLIS <small>0.4 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'serenva', '1.04') ? 'exist' : 'd-none' }}" product_slug="serenva" dose="1.04" unit="Kg">SERENVA <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'citrothiol-dg', '7.5') ? 'exist' : 'd-none' }}" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'amylo-x-wg', '2.5') ? 'exist' : 'd-none' }}" product_slug="amylo-x-wg" dose="2.5" unit="Kg">AMYLOX WG <small>2.5 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'physalis', '0.3') ? 'exist' : 'd-none' }}" product_slug="physalis" dose="0.3" unit="Kg">PHYSALIS <small>0.3 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'limocide', '0.8') ? 'exist' : 'd-none' }}" product_slug="limocide" dose="0.8" unit="%">LIMOCIDE <small>0.8 %</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ladae', '0.8') ? 'exist' : 'd-none' }}" product_slug="ladae" dose="0.8" unit="%">LADAE <small>0.8 %</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'takumi', '0.1501') ? 'exist' : 'd-none' }}" product_slug="takumi" dose="0.1501" unit="Kg">TAKUMI <small>0.150 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'collis', '0.4001') ? 'exist' : 'd-none' }}" product_slug="collis" dose="0.4001" unit="L">COLLIS <small>0.4 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'serenva', '1.0005') ? 'exist' : 'd-none' }}" product_slug="serenva" dose="1.0005" unit="Kg">SERENVA <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'citrothiol-dg', '7.5001') ? 'exist' : 'd-none' }}" product_slug="citrothiol-dg" dose="7.5001" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'amylo-x-wg', '2.5001') ? 'exist' : 'd-none' }}" product_slug="amylo-x-wg" dose="2.5001" unit="Kg">AMYLOX WG <small>2.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'physalis', '0.3001') ? 'exist' : 'd-none' }}" product_slug="physalis" dose="0.3001" unit="Kg">PHYSALIS <small>0.3 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'limocide', '0.8001') ? 'exist' : 'd-none' }}" product_slug="limocide" dose="0.8001" unit="%">LIMOCIDE <small>0.8 %</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ladae', '0.8001') ? 'exist' : 'd-none' }}" product_slug="ladae" dose="0.8001" unit="%">LADAE <small>0.8 %</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'takumi', '0.1502') ? 'exist' : 'd-none' }}" product_slug="takumi" dose="0.1502" unit="Kg">TAKUMI <small>0.150 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'collis', '0.4002') ? 'exist' : 'd-none' }}" product_slug="collis" dose="0.4002" unit="L">COLLIS <small>0.4 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'serenva', '1.0006') ? 'exist' : 'd-none' }}" product_slug="serenva" dose="1.0006" unit="Kg">SERENVA <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'citrothiol-dg', '7.5002') ? 'exist' : 'd-none' }}" product_slug="citrothiol-dg" dose="7.5002" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'amylo-x-wg', '2.5002') ? 'exist' : 'd-none' }}" product_slug="amylo-x-wg" dose="2.5002" unit="Kg">AMYLOX WG <small>2.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'physalis', '0.3002') ? 'exist' : 'd-none' }}" product_slug="physalis" dose="0.3002" unit="Kg">PHYSALIS <small>0.3 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'limocide', '0.8002') ? 'exist' : 'd-none' }}" product_slug="limocide" dose="0.8002" unit="%">LIMOCIDE <small>0.8 %</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ladae', '0.8002') ? 'exist' : 'd-none' }}" product_slug="ladae" dose="0.8002" unit="%">LADAE <small>0.8 %</small></button>
                </td>
                <td colspan="4">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'takumi', '0.153') ? 'exist' : 'd-none' }}" product_slug="takumi" dose="0.1503" unit="Kg">TAKUMI <small>0.150 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'collis', '0.4003') ? 'exist' : 'd-none' }}" product_slug="collis" dose="0.4003" unit="L">COLLIS <small>0.4 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'serenva', '1.0007') ? 'exist' : 'd-none' }}" product_slug="serenva" dose="1.0007" unit="Kg">SERENVA <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'citrothiol-dg', '7.5003') ? 'exist' : 'd-none' }}" product_slug="citrothiol-dg" dose="7.5003" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'amylo-x-wg', '2.5003') ? 'exist' : 'd-none' }}" product_slug="amylo-x-wg" dose="2.5003" unit="Kg">AMYLOX WG <small>2.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'physalis', '0.3003') ? 'exist' : 'd-none' }}" product_slug="physalis" dose="0.3003" unit="Kg">PHYSALIS <small>0.3 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'limocide', '0.8003') ? 'exist' : 'd-none' }}" product_slug="limocide" dose="0.8003" unit="%">LIMOCIDE <small>0.8 %</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ladae', '0.8003') ? 'exist' : 'd-none' }}" product_slug="ladae" dose="0.8003" unit="%">LADAE <small>0.8 %</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Pourriture grise <br>Clerotiniose</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'serenva', '1.0008') ? 'exist' : 'd-none' }}" product_slug="serenva" dose="1.0008" unit="Kg">SERENVA <small>1 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'prestop', '0.5') ? 'exist' : 'd-none' }}" product_slug="prestop" dose="0.5" unit="%">PRESTOP <small>0.5 %</small></button>
                </td>
                <td colspan="5">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'serenva', '1.0009') ? 'exist' : 'd-none' }}" product_slug="serenva" dose="1.0009" unit="Kg">SERENVA <small>1 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'prestop', '0.5001') ? 'exist' : 'd-none' }}" product_slug="prestop" dose="0.5001" unit="%">PRESTOP <small>0.5 %</small></button>
                </td>
            </tr>
            <tr>
                <td>Mildiou</td>
                <td></td><td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'acrobat-m-dg', '2') ? 'exist' : 'd-none' }}" product_slug="acrobat-m-dg" dose="2" unit="Kg">ACROBAT <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'etonan', '3') ? 'exist' : 'd-none' }}" product_slug="etonan" dose="3" unit="L">ETONAN <small>3 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ranman-top', '0.5') ? 'exist' : 'd-none' }}" product_slug="ranman-top" dose="0.5" unit="L">RANMAN TOP <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'infinito', '1.6') ? 'exist' : 'd-none' }}" product_slug="infinito" dose="1.6" unit="L">INFINITO <small>1.6 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2" unit="L">STICOP <small>2 à 3 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.5') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.5" unit="L">ROMEO <small>0.5 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'acrobat-m-dg', '2.0001') ? 'exist' : 'd-none' }}" product_slug="acrobat-m-dg" dose="2.0001" unit="Kg">ACROBAT <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'etonan', '3.0001') ? 'exist' : 'd-none' }}" product_slug="etonan" dose="3.0001" unit="L">ETONAN <small>3 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.0001') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.0001" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ranman-top', '0.5001') ? 'exist' : 'd-none' }}" product_slug="ranman-top" dose="0.5001" unit="L">RANMAN TOP <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'infinito', '1.6001') ? 'exist' : 'd-none' }}" product_slug="infinito" dose="1.6001" unit="L">INFINITO <small>1.6 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0001') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0001" unit="L">STICOP <small>2 à 3 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.5001') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.5001" unit="L">ROMEO <small>0.5 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'acrobat-m-dg', '2.0002') ? 'exist' : 'd-none' }}" product_slug="acrobat-m-dg" dose="2.0002" unit="Kg">ACROBAT <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'etonan', '3.0002') ? 'exist' : 'd-none' }}" product_slug="etonan" dose="3.0002" unit="L">ETONAN <small>3 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.0002') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.0002" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ranman-top', '0.5002') ? 'exist' : 'd-none' }}" product_slug="ranman-top" dose="0.5002" unit="L">RANMAN TOP <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'infinito', '1.6992') ? 'exist' : 'd-none' }}" product_slug="infinito" dose="1.6002" unit="L">INFINITO <small>1.6 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0002') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0002" unit="L">STICOP <small>2 à 3 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.5002') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.5002" unit="L">ROMEO <small>0.5 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'acrobat-m-dg', '2.0003') ? 'exist' : 'd-none' }}" product_slug="acrobat-m-dg" dose="2.0003" unit="Kg">ACROBAT <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'etonan', '3.0003') ? 'exist' : 'd-none' }}" product_slug="etonan" dose="3.0003" unit="L">ETONAN <small>3 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.0003') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.0003" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ranman-top', '0.5003') ? 'exist' : 'd-none' }}" product_slug="ranman-top" dose="0.5003" unit="L">RANMAN TOP <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'infinito', '1.6003') ? 'exist' : 'd-none' }}" product_slug="infinito" dose="1.6003" unit="L">INFINITO <small>1.6 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0003') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0003" unit="L">STICOP <small>2 à 3 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.5003') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.5003" unit="L">ROMEO <small>0.5 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'acrobat-m-dg', '2.0004') ? 'exist' : 'd-none' }}" product_slug="acrobat-m-dg" dose="2.0004" unit="Kg">ACROBAT <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'etonan', '3.0004') ? 'exist' : 'd-none' }}" product_slug="etonan" dose="3.0004" unit="L">ETONAN <small>3 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.0004') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.0004" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ranman-top', '0.5004') ? 'exist' : 'd-none' }}" product_slug="ranman-top" dose="0.5004" unit="L">RANMAN TOP <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'infinito', '1.6004') ? 'exist' : 'd-none' }}" product_slug="infinito" dose="1.6004" unit="L">INFINITO <small>1.6 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0004') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0004" unit="L">STICOP <small>2 à 3 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.5004') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.5004" unit="L">ROMEO <small>0.5 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'acrobat-m-dg', '2.0005') ? 'exist' : 'd-none' }}" product_slug="acrobat-m-dg" dose="2.0005" unit="Kg">ACROBAT <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'etonan', '3.0005') ? 'exist' : 'd-none' }}" product_slug="etonan" dose="3.0005" unit="L">ETONAN <small>3 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.0005') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.0005" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ranman-top', '0.5005') ? 'exist' : 'd-none' }}" product_slug="ranman-top" dose="0.5005" unit="L">RANMAN TOP <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'infinito', '1.6005') ? 'exist' : 'd-none' }}" product_slug="infinito" dose="1.6005" unit="L">INFINITO <small>1.6 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0005') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0005" unit="L">STICOP <small>2 à 3 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.5005') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.5005" unit="L">ROMEO <small>0.5 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'acrobat-m-dg', '2.0006') ? 'exist' : 'd-none' }}" product_slug="acrobat-m-dg" dose="2.0006" unit="Kg">ACROBAT <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'etonan', '3.0006') ? 'exist' : 'd-none' }}" product_slug="etonan" dose="3.0006" unit="L">ETONAN <small>3 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.0006') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.0006" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ranman-top', '0.5006') ? 'exist' : 'd-none' }}" product_slug="ranman-top" dose="0.5006" unit="L">RANMAN TOP <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'infinito', '1.6006') ? 'exist' : 'd-none' }}" product_slug="infinito" dose="1.6006" unit="L">INFINITO <small>1.6 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0006') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0006" unit="L">STICOP <small>2 à 3 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'romeo', '0.5006') ? 'exist' : 'd-none' }}" product_slug="romeo" dose="0.5006" unit="L">ROMEO <small>0.5 L</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Bacteriose</td>
                <td></td><td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise', '4') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise" dose="4" unit="Kg">BOUILLIE BORDELAISE RSR <small>4 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.0000456') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.0000456" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2" unit="Kg">CUPROCOL <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2" unit="L">STICOP <small>1.5 à 3 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise', '4.0001') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise" dose="4.0001" unit="Kg">BOUILLIE BORDELAISE RSR <small>4 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.00011') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.00011" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.0001') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.0001" unit="Kg">CUPROCOL <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0001') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0001" unit="L">STICOP <small>1.5 à 3 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise', '4.0002') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise" dose="4.0002" unit="Kg">BOUILLIE BORDELAISE RSR <small>4 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.0002') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.0002" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.00012') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.00012" unit="Kg">CUPROCOL <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0002') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0002" unit="L">STICOP <small>1.5 à 3 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise', '4.0003') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise" dose="4.0003" unit="Kg">BOUILLIE BORDELAISE RSR <small>4 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.00013') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.00013" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.0003') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.0003" unit="Kg">CUPROCOL <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0003') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0003" unit="L">STICOP <small>1.5 à 3 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise', '4.0004') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise" dose="4.0004" unit="Kg">BOUILLIE BORDELAISE RSR <small>4 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.00014') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.00014" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.0004') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.0004" unit="Kg">CUPROCOL <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0004') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0004" unit="L">STICOP <small>1.5 à 3 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise', '4.0005') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise" dose="4.0005" unit="Kg">BOUILLIE BORDELAISE RSR <small>4 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.00015') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.00015" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.0005') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.0005" unit="Kg">CUPROCOL <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0005') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0005" unit="L">STICOP <small>1.5 à 3 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'bouillie-bordelaise', '4.0006') ? 'exist' : 'd-none' }}" product_slug="bouillie-bordelaise" dose="4.0006" unit="Kg">BOUILLIE BORDELAISE RSR <small>4 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'mancowan-wg', '2.00016') ? 'exist' : 'd-none' }}" product_slug="mancowan-wg" dose="2.00016" unit="Kg">MANCOWAN <small>2 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cuprocol-duo', '2.0006') ? 'exist' : 'd-none' }}" product_slug="cuprocol-duo" dose="2.0006" unit="Kg">CUPROCOL <small>2 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0006') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0006" unit="L">STICOP <small>1.5 à 3 L</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Verticilliose <br>Traitement sol</td>
                <td colspan="4">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'topsin-70-wg') ? 'exist' : 'd-none' }}" product_slug="topsin-70-wg" dose="0.096" unit="Kg/Hl">TOPSIN 70 WG <small>0.096 Kg/Hl</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Adjuvants</td>
                <td></td><td></td><td></td><td></td>
                <td colspan="6">
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'oliofix') ? 'exist' : 'd-none' }}" product_slug="oliofix" dose="1" unit="%">OLIOFIX <small>1 %</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'gondor') ? 'exist' : 'd-none' }}" product_slug="gondor">GONDOR <small>0.3L</small> </button>
                </td>
            </tr>
            <tr>
                <td>Désherbages</td>
                <td colspan="3">
                    <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'prowl-400') ? 'exist' : 'd-none' }}" product_slug="prowl-400" dose="3.3" unit="Kg">PROWL 400 <small>3.3 Kg</small></button>
                    <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cent-7') ? 'exist' : 'd-none' }}" product_slug="cent-7" dose="2" unit="L">CENT 7 <small>2 L</small></button>
                    <button class="btn btn-J btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'centium-36-cs') ? 'exist' : 'd-none' }}" product_slug="centium-36-cs" dose="0.15" unit="L">CENTIUM 36 CS <small>0.15 L</small></button>
                </td>
                <td></td><td></td>
                <td></td><td></td><td></td><td></td><td></td>
                <td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Oligos et <br>Soutiens <br>Foliaires</td>
                <td colspan="4">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-loc') ? 'exist' : 'd-none' }}" product_slug="ino-loc" dose="20" unit="Kg">INO-LOC PZ <small>20 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rise-p') ? 'exist' : 'd-none' }}" product_slug="rise-p" dose="200" unit="gr">RISE P VAM <small>200 gr</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'folwin', '2') ? 'exist' : 'd-none' }}" product_slug="folwin" dose="2" unit="L">FOLWIN <small>2 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-bmo', '3') ? 'exist' : 'd-none' }}" product_slug="ino-boost-bmo" dose="3" unit="L">INO BOOST BMO <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-pmg', '2') ? 'exist' : 'd-none' }}" product_slug="ino-green-pmg" dose="2" unit="L">INO GREEN PMG <small>2 à 5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-ultra', '5') ? 'exist' : 'd-none' }}" product_slug="ino-green-ultra" dose="5" unit="L">INO GREEN ULTRA 10-3-8 <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-npk-9-5-5', '5') ? 'exist' : 'd-none' }}" product_slug="ino-boost-npk-9-5-5" dose="5" unit="L">INO BOOST NPK 9-5-5 <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-npk', '1') ? 'exist' : 'd-none' }}" product_slug="ino-boost-npk" dose="1" unit="L">INO BOOST NPK <small>1 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'folwin', '2.0001') ? 'exist' : 'd-none' }}" product_slug="folwin" dose="2.0001" unit="L">FOLWIN <small>2 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-bmo', '3.0001') ? 'exist' : 'd-none' }}" product_slug="ino-boost-bmo" dose="3.0001" unit="L">INO BOOST BMO <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-pmg', '2.0001') ? 'exist' : 'd-none' }}" product_slug="ino-green-pmg" dose="2.0001" unit="L">INO GREEN PMG <small>2 à 5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-ultra', '5.0001') ? 'exist' : 'd-none' }}" product_slug="ino-green-ultra" dose="5.0001" unit="L">INO GREEN ULTRA 10-3-8 <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-npk', '5.0001') ? 'exist' : 'd-none' }}" product_slug="ino-boost-npk" dose="5.0001" unit="L">INO BOOST NPK 9-5-5 <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-npk', '1.0001') ? 'exist' : 'd-none' }}" product_slug="ino-boost-npk" dose="1.0001" unit="L">INO BOOST NPK <small>1 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'folwin', '2.0002') ? 'exist' : 'd-none' }}" product_slug="folwin" dose="2.0002" unit="L">FOLWIN <small>2 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-bmo', '3.0002') ? 'exist' : 'd-none' }}" product_slug="ino-boost-bmo" dose="3.0002" unit="L">INO BOOST BMO <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-pmg', '2.0002') ? 'exist' : 'd-none' }}" product_slug="ino-green-pmg" dose="2.0002" unit="L">INO GREEN PMG <small>2 à 5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-ultra', '5.0002') ? 'exist' : 'd-none' }}" product_slug="ino-green-ultra" dose="5.0002" unit="L">INO GREEN ULTRA 10-3-8 <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-npk', '5.0002') ? 'exist' : 'd-none' }}" product_slug="ino-boost-npk" dose="5.0002" unit="L">INO BOOST NPK 9-5-5 <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-npk', '1.0001') ? 'exist' : 'd-none' }}" product_slug="ino-boost-npk" dose="1.0002" unit="L">INO BOOST NPK <small>1 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'folwin', '2.0003') ? 'exist' : 'd-none' }}" product_slug="folwin" dose="2.0003" unit="L">FOLWIN <small>2 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-bmo', '3.0003') ? 'exist' : 'd-none' }}" product_slug="ino-boost-bmo" dose="3.0003" unit="L">INO BOOST BMO <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-pmg', '2.0003') ? 'exist' : 'd-none' }}" product_slug="ino-green-pmg" dose="2.0003" unit="L">INO GREEN PMG <small>2 à 5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-ultra', '5.0003') ? 'exist' : 'd-none' }}" product_slug="ino-green-ultra" dose="5.0003" unit="L">INO GREEN ULTRA 10-3-8 <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-npk', '5.0003') ? 'exist' : 'd-none' }}" product_slug="ino-boost-npk" dose="5.0003" unit="L">INO BOOST NPK 9-5-5 <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-boost-npk', '1.0003') ? 'exist' : 'd-none' }}" product_slug="ino-boost-npk" dose="1.0003" unit="L">INO BOOST NPK <small>1 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0007') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0007" unit="cu/bore/Mnzn">STICOP <small>2 à 3 L cu/bore/Mnzn</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticop', '2.0008') ? 'exist' : 'd-none' }}" product_slug="sticop" dose="2.0008" unit="cu/bore/Mnzn">STICOP <small>2 à 3 L cu/bore/Mnzn</small></button>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% include 'recommendations/canevas/warning.html.twig' %}
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
