{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}



{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active">{{ culture.name }}</li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
    {% endif  %}
    <div class="table-responsive">
        <table class="table table-bordered no-wrap">
            <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">Repos végétatif <br>AF <br>Nov</p>
                </th>
                <th>
                    <p class="text-center">Pointe Rouge <br>EF <br>Déc-Janv</p>
                </th>
                <th>
                    <p class="text-center">Début Floraison <br>F81 <br>Mi Déc-déb Fev</p>
                </th>
                <th>
                    <p class="text-center">Pleine Floraison <br>FF2 <br>Janv-déb Mars</p>
                </th>
                <th>
                    <p class="text-center">Pleine Floraison <br>FF3 <br>Fev-fin Mars</p>
                </th>
                <th>
                    <p class="text-center">Gonflement <br>BF <br>Fin Fev-fin Mars</p>
                </th>
                <th>
                    <p class="text-center">Débourrement <br>BF <br>Mars</p>
                </th>
                <th>
                    <p class="text-center">1ère Feuille <br>C1 <br>Mi Mars-déb Avril</p>
                </th>
                <th>
                    <p class="text-center">3ème feuille <br>C3 <br>Fin Mars-mi Avril</p>
                </th>
                <th>
                    <p class="text-center">Différenciation <br>DF <br>Mai</p>
                </th>
                <th>
                    <p class="text-center">MF-IF <br>Fin mai-mi Juin</p>
                </th>
                <th>
                    <p class="text-center">Lignification <br>de la coque <br>JF <br>Fin Juin-Juillet</p>
                </th>
                <th>
                    <p class="text-center">Grossissement <br>Août-Sept</p>
                </th>
                <th>
                    <p class="text-center">Septembre</p>
                </th>
                <th>
                    <p class="text-center">Post récolte</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Fomitiporia</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="methodes-prophylactiques">METHODES PROPHYLACTIQUES</button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="methodes-prophylactiques">METHODES PROPHYLACTIQUES</button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="methodes-prophylactiques">METHODES PROPHYLACTIQUES</button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="methodes-prophylactiques">METHODES PROPHYLACTIQUES</button>
                </td>
            </tr>
            <tr>
                <td>Anthracnose</td>
                <td>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                </td>
                <td>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="stimulus-bioprotech" dose="2" unit="L">STIMULUS BIPROTECH <small>2 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="sticop" dose="3" unit="L">STICOP <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="stimulus-bioprotech" dose="2" unit="L">STIMULUS BIPROTECH <small>2 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="sticop" dose="3" unit="L">STICOP <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="stimulus-bioprotech" dose="2.0001" unit="L">STIMULUS BIPROTECH <small>2 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="sticop" dose="3.0001" unit="L">STICOP <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="stimulus-bioprotech" dose="2.0002" unit="L">STIMULUS BIPROTECH <small>2 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="sticop" dose="3.0002" unit="L">STICOP <small>3 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="nutrigeo" dose="25.0001" unit="L">NUTRIGEO <small>25 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Phytoptes</td>
                <td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="citrothiol-dg" dose="7.5001" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="citrothiol-dg" dose="7.5002" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Acariens</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="citrothiol-dg" dose="7.5004" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="citrothiol-dg" dose="7.5003" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="citrothiol-dg" dose="7.5005" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Chlorose <br>Ferique <br>Manganique</td>
                <td></td><td></td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="chelafer" dose="50" unit="gr/arbres">CHELAFER <small>50 à 70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="chelafer" dose="50" unit="gr/arbres">CHELAFER <small>50 à 70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="chelafer" dose="50" unit="gr/arbres">CHELAFER <small>50 à 70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="chelafer" dose="50" unit="gr/arbres">CHELAFER <small>50 à 70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="chelafer" dose="50" unit="gr/arbres">CHELAFER <small>50 à 70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-chel-ultra" dose="3.0001" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-chel-ultra" dose="3.0002" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-chel-ultra" dose="3.0003" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Nutrition foliaire</td>
                <td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-bore-ultra" dose="2.0001" unit="L">INO BORE ULTRA <small>2 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-soufre" dose="5" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-soufre" dose="5.0001" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="geogreen-plus" dose="10" unit="L">GEOGREEN PLUS <small>10 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-soufre" dose="5.00012" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="geogreen-plus" dose="10" unit="L">GEOGREEN PLUS <small>10 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-soufre" dose="5.00012" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="geogreen-plus" dose="10" unit="L">GEOGREEN PLUS <small>10 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-soufre" dose="5.00012" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="geogreen-plus" dose="10.0003" unit="L">GEOGREEN PLUS <small>10 L</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Nutrition <br>du sol</td>
                <td></td><td></td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="s-9-12-0">9-12-0</button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC 5-4-11 <small>500 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="orchestra" dose="600" unit="Kg">ORCHESTRA <small>600 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="s-9-12-0">9-12-0</button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC 5-4-11 <small>500 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="orchestra" dose="600" unit="Kg">ORCHESTRA <small>600 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="s-9-12-0">9-12-0</button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC 5-4-11 <small>500 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="orchestra" dose="600" unit="Kg">ORCHESTRA <small>600 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="s-9-12-0">9-12-0</button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC 5-4-11 <small>500 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="orchestra" dose="600" unit="Kg">ORCHESTRA <small>600 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="s-9-12-0">9-12-0</button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC 5-4-11 <small>500 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="orchestra" dose="600" unit="Kg">ORCHESTRA <small>600 Kg</small></button>
                </td>
                <td></td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="optiblend" dose="100" unit="Kg">OPTIBLEND <small>100 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="azopril-n13" dose="500" unit="Kg">AZOPRIL N13 <small>500 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="optiblend" dose="100" unit="Kg">OPTIBLEND <small>100 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="azopril-n13" dose="500" unit="Kg">AZOPRIL N13 <small>500 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="optiblend" dose="100" unit="Kg">OPTIBLEND <small>100 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="azopril-n13" dose="500" unit="Kg">AZOPRIL N13 <small>500 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="diamic-k25" dose="400" unit="Kg">DIAMIC K25 <small>400 Kg</small></button>
                </td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Stimulation <br>Racinaire</td>
                <td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="rise-p-vam" dose="0.2" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="rise-p-vam" dose="0.2" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="rise-p-vam" dose="0.2" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="rise-p-vam" dose="0.2" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="rise-p-vam" dose="0.2" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="TOCHANGE" product_slug="rise-p-vam" dose="0.2" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% include 'recommendations/canevas/warning.html.twig' %}
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
