{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active">{{ culture.name }}</li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
    {% endif  %}
    <div class="table-responsive">
        <table class="table table-bordered no-wrap">
            <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">Repos végétatif <br>AF <br>Nov</p>
                </th>
                <th>
                    <p class="text-center">Pointe Rouge <br>EF <br>Déc-Janv</p>
                </th>
                <th>
                    <p class="text-center">Début Floraison <br>F81 <br>Mi Déc-déb Fev</p>
                </th>
                <th>
                    <p class="text-center">Pleine Floraison <br>FF2 <br>Janv-déb Mars</p>
                </th>
                <th>
                    <p class="text-center">Pleine Floraison <br>FF3 <br>Fev-fin Mars</p>
                </th>
                <th>
                    <p class="text-center">Gonflement <br>BF <br>Fin Fev-fin Mars</p>
                </th>
                <th>
                    <p class="text-center">Débourrement <br>C <br>Mars</p>
                </th>
                <th>
                    <p class="text-center">1ère Feuille <br>C1 <br>Mi Mars-déb Avril</p>
                </th>
                <th>
                    <p class="text-center">3ème feuille <br>C3 <br>Fin Mars-mi Avril</p>
                </th>
                <th>
                    <p class="text-center">Différenciation <br>DF <br>Mai</p>
                </th>
                <th>
                    <p class="text-center">MF-IF <br>Fin mai-mi Juin</p>
                </th>
                <th>
                    <p class="text-center">Lignification <br>de la coque <br>JF <br>Fin Juin-Juillet</p>
                </th>
                <th>
                    <p class="text-center">Grossissement <br>Août-Sept</p>
                </th>
                <th>
                    <p class="text-center">Septembre</p>
                </th>
                <th>
                    <p class="text-center">Post récolte</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Fomitiporia</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="3">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'methodes-prophylactiques', '0.00001') ? 'exist' : 'd-none' }}" product_slug="methodes-prophylactiques" dose="0.00001">METHODES PROPHYLACTIQUES</button>
                </td>
                <td colspan="1">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'methodes-prophylactiques', '0.00002') ? 'exist' : 'd-none' }}" product_slug="methodes-prophylactiques" dose="0.00002">METHODES PROPHYLACTIQUES</button>
                </td>
            </tr>
            <tr>
                <td>Anthracnose</td>
                <td colspan="2">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nutrigeo', '25') ? 'exist' : 'd-none' }}" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                </td>
                <td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1.0003') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1.0003" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750.0003') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750.0003" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'systhane-power', '0.3753') ? 'exist' : 'd-none' }}" product_slug="systhane-power" dose="0.3753" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'systhane-power', '0.375') ? 'exist' : 'd-none' }}" product_slug="systhane-power" dose="0.375" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1.0001') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1.0001" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750.0001') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750.0001" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'systhane-power', '0.3751') ? 'exist' : 'd-none' }}" product_slug="systhane-power" dose="0.3751" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1.0004') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1.0004" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750.0004') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750.0004" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'systhane-power', '0.3754') ? 'exist' : 'd-none' }}" product_slug="systhane-power" dose="0.3754" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'signum', '1.0002') ? 'exist' : 'd-none' }}" product_slug="signum" dose="1.0002" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'horizon-arbo', '750.0002') ? 'exist' : 'd-none' }}" product_slug="horizon-arbo" dose="750.0002" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'systhane-power', '0.3752') ? 'exist' : 'd-none' }}" product_slug="systhane-power" dose="0.3752" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
                <td colspan="1">
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nutrigeo', '25.0001') ? 'exist' : 'd-none' }}" product_slug="nutrigeo" dose="25.0001" unit="L">NUTRIGEO <small>25 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Punaises</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="2">
                    <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.075') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.0751') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.0751" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Phytoptes</td>
                <td></td>
                <td colspan="3">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'polithiol') ? 'exist' : 'd-none' }}" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td></td><td></td>
                <td colspan="2">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'citrothiol-dg', '7.5') ? 'exist' : 'd-none' }}" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'citrothiol-dg', '7.5001') ? 'exist' : 'd-none' }}" product_slug="citrothiol-dg" dose="7.5001" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Acariens</td>
                <td></td><td></td><td></td><td></td><td></td>
                <td></td><td></td><td></td><td></td>
                <td></td>
                <td></td><td></td><td></td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Balanins</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td></td><td></td><td></td>
                <td></td><td></td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Pucerons</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="3">
                    <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.0752') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.0752" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn-R btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow', '0.0753') ? 'exist' : 'd-none' }}" product_slug="karate-xflow" dose="0.0753" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Desherbages</td>
                <td colspan="4">
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kerb-flo', '1.875') ? 'exist' : 'd-none' }}" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO <small>1.875 L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'cent-7', '4.8') ? 'exist' : 'd-none' }}" product_slug="cent-7" dose="4.8" unit="L">CENT 7 <small>4.8 L</small></button>
                </td>
                <td></td>
                <td colspan="9">
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'roundup-flash-plus', '2') ? 'exist' : 'd-none' }}" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'fusilade-max') ? 'exist' : 'd-none' }}" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'kerb-flo', '1.8751') ? 'exist' : 'd-none' }}" product_slug="kerb-flo" dose="1.8751" unit="L">KERB FLO <small>1.875 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Rejets et <br>drageons</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="7">
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'karate-xflow') ? 'exist' : 'd-none' }}" product_slug="spotlight-plus" dose="0.3" unit="%">SPOTLIGHT PLUS <small>0.3 %</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'chardol-600') ? 'exist' : 'd-none' }}" product_slug="chardol-600" dose="0.7" unit="%">CHARDOL <small>0.7 %</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Chlorose <br>Ferique <br>Manganique</td>
                <td></td><td></td>
                <td colspan="5">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sferesol') ? 'exist' : 'd-none' }}" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'chelafer') ? 'exist' : 'd-none' }}" product_slug="chelafer" dose="50" unit="gr/arbres">CHELAFER <small>50 à 70 gr/arbres</small></button>
                </td>
                <td colspan="4">
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-chel-ultra') ? 'exist' : 'd-none' }}" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Nutrition foliaire</td>
                <td></td><td></td><td></td><td></td>
                <td colspan="2">
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-bore-ultra', '2') ? 'exist' : 'd-none' }}" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-bore-ultra', '2.001') ? 'exist' : 'd-none' }}" product_slug="ino-bore-ultra" dose="2.001" unit="L">INO BORE ULTRA <small>2 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-flow-zn-680f', '1') ? 'exist' : 'd-none' }}" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680<small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-flow-mg500', '3') ? 'exist' : 'd-none' }}" product_slug="ino-flow-mg500" dose="3" unit="L">INO FLOW MG 500 <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-soufre', '5') ? 'exist' : 'd-none' }}" product_slug="ino-soufre" dose="5" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-flow-mg500', '3.001') ? 'exist' : 'd-none' }}" product_slug="ino-flow-mg500" dose="3.001" unit="L">INO FLOW MG 500 <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-soufre', '5.001') ? 'exist' : 'd-none' }}" product_slug="ino-soufre" dose="5.001" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-flow-mg500', '3.002') ? 'exist' : 'd-none' }}" product_slug="ino-flow-mg500" dose="3.002" unit="L">INO FLOW MG 500 <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-mix-fruit', '10') ? 'exist' : 'd-none' }}" product_slug="ino-mix-fruit" dose="10" unit="L">INO MIX FRUIT <small>10 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-flow-zn-680f', '1.000001') ? 'exist' : 'd-none' }}" product_slug="ino-flow-zn-680f" dose="1.000001" unit="L">INO FLOW ZN 680<small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-flow-mg500', '3.003') ? 'exist' : 'd-none' }}" product_slug="ino-flow-mg500" dose="3.003" unit="L">INO FLOW MG 500 <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-mix-fruit', '10.001') ? 'exist' : 'd-none' }}" product_slug="ino-mix-fruit" dose="10.001" unit="L">INO MIX FRUIT <small>10 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-flow-zn-680f', '1.0001') ? 'exist' : 'd-none' }}" product_slug="ino-flow-zn-680f" dose="1.0001" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-flow-mg500', '3.004') ? 'exist' : 'd-none' }}" product_slug="ino-flow-mg500" dose="3.004" unit="L">INO FLOW MG 500 <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-mix-fruit', '10.002') ? 'exist' : 'd-none' }}" product_slug="ino-mix-fruit" dose="10.002" unit="L">INO MIX FRUIT <small>10 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-flow-zn-680f', '1.0002') ? 'exist' : 'd-none' }}" product_slug="ino-flow-zn-680f" dose="1.0002" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ino-green-ultra', '3') ? 'exist' : 'd-none' }}" product_slug="ino-green-ultra" dose="3" unit="L">INO GREEN ULTRA <small>3 L</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">Nutrition <br>du sol</td>
                <td></td><td></td>
                <td colspan="4">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'equinoxe-10-4-3') ? 'exist' : 'd-none' }}" product_slug="equinoxe-10-4-3" dose="700" unit="Kg">EQUINOXE 10-4-3 <small>700 à 1200 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'equinoxe-9-3-12') ? 'exist' : 'd-none' }}" product_slug="equinoxe-9-3-12" dose="700" unit="Kg">EQUINOXE 9-3-12 <small>700 à 1200 Kg</small></button>
                </td>
                <td></td><td></td>
                <td colspan="3">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'optiblend') ? 'exist' : 'd-none' }}" product_slug="optiblend" dose="100" unit="Kg">OPTIBLEND <small>100 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'ammonitre-33-5') ? 'exist' : 'd-none' }}" product_slug="ammonitre-33-5" dose="150" unit="Kg">AMMONITRE <small>150 Kg</small></button>
                </td>
                <td colspan="1">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'diamic-k26') ? 'exist' : 'd-none' }}" product_slug="diamic-k26" dose="400" unit="Kg">DIAMIC K 26 <small>400 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'nitrate-k') ? 'exist' : 'd-none' }}" product_slug="nitrate-k" dose="150" unit="Kg">NITRATE K <small>150 Kg</small></button>
                </td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td></td><td></td>
                <td colspan="3">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, '15-22-so3') ? 'exist' : 'd-none' }}" product_slug="15-22-so3" dose="200" unit="Kg">15-22-0 20 SO <small>200 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Stimulation <br>Racinaire</td>
                <td></td><td></td><td></td>
                <td colspan="3">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rise-p-vam', '0.2') ? 'exist' : 'd-none' }}" product_slug="rise-p-vam" dose="0.2" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td colspan="3">
                    <button class="btn btn-primary btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'rise-p-vam', '0.201') ? 'exist' : 'd-none' }}" product_slug="rise-p-vam" dose="0.201" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Adjuvants</td>
                <td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'gondor', '0.3') ? 'exist' : 'd-none' }}" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.3') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.3" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'gondor', '0.301') ? 'exist' : 'd-none' }}" product_slug="gondor" dose="0.301" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.3001') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.3001" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'gondor', '0.302') ? 'exist' : 'd-none' }}" product_slug="gondor" dose="0.302" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.3002') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.3002" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'gondor', '0.303') ? 'exist' : 'd-none' }}" product_slug="gondor" dose="0.303" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.3003') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.3003" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'gondor', '0.304') ? 'exist' : 'd-none' }}" product_slug="gondor" dose="0.304" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.3004') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.3004" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'gondor', '0.305') ? 'exist' : 'd-none' }}" product_slug="gondor" dose="0.305" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.3005') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.3005" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'gondor', '0.306') ? 'exist' : 'd-none' }}" product_slug="gondor" dose="0.306" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.3006') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.3006" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'gondor', '0.307') ? 'exist' : 'd-none' }}" product_slug="gondor" dose="0.307" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.3007') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.3007" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'gondor', '0.308') ? 'exist' : 'd-none' }}" product_slug="gondor" dose="0.308" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? rpr.productExist( recommendations, 'sticman', '0.3008') ? 'exist' : 'd-none' }}" product_slug="sticman" dose="0.3008" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% include 'recommendations/canevas/warning.html.twig' %}
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
