{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}



{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active">{{ culture.name }}</li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
    {% endif  %}
    <div class="table-responsive">
        <table class="table table-bordered no-wrap">
            <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">Repos végétatif <br>AF <br>Nov</p>
                </th>
                <th>
                    <p class="text-center">Pointe Rouge <br>EF <br>Déc-Janv</p>
                </th>
                <th>
                    <p class="text-center">Début Floraison <br>F81 <br>Mi Déc-déb Fev</p>
                </th>
                <th>
                    <p class="text-center">Pleine Floraison <br>FF2 <br>Janv-déb Mars</p>
                </th>
                <th>
                    <p class="text-center">Pleine Floraison <br>FF3 <br>Fev-fin Mars</p>
                </th>
                <th>
                    <p class="text-center">Gonflement <br>BF <br>Fin Fev-fin Mars</p>
                </th>
                <th>
                    <p class="text-center">Débourrement <br>BF <br>Mars</p>
                </th>
                <th>
                    <p class="text-center">1ère Feuille <br>C1 <br>Mi Mars-déb Avril</p>
                </th>
                <th>
                    <p class="text-center">3ème feuille <br>C3 <br>Fin Mars-mi Avril</p>
                </th>
                <th>
                    <p class="text-center">Différenciation <br>DF <br>Mai</p>
                </th>
                <th>
                    <p class="text-center">MF-IF <br>Fin mai-mi Juin</p>
                </th>
                <th>
                    <p class="text-center">Lignification <br>de la coque <br>JF <br>Fin Juin-Juillet</p>
                </th>
                <th>
                    <p class="text-center">Grossissement <br>Août-Sept</p>
                </th>
                <th>
                    <p class="text-center">Septembre</p>
                </th>
                <th>
                    <p class="text-center">Post récolte</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Fomitiporia</td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPBJMJ34E00GJJSVWY0V8A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPBJMJ34E00GJJSVWY0V8A" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPD7Q0NSW7SF1FMEY5KY1M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPD7Q0NSW7SF1FMEY5KY1M" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPD7Q8PFWHQX6FF577NWQM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPD7Q8PFWHQX6FF577NWQM" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>1L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPFJ4WCH3YADC0QA68EBAP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPFJ4WCH3YADC0QA68EBAP" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPFJ543K54RESZQ7JBV549' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPFJ543K54RESZQ7JBV549" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPFJ5784X4MP0DGG7YMM0V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPFJ5784X4MP0DGG7YMM0V" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>1L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPFJ5B0YG9G6PZPHS5DTVF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPFJ5B0YG9G6PZPHS5DTVF" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPFJ5FH8KSY09SS0YKWQR7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPFJ5FH8KSY09SS0YKWQR7" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPFJ5GATDRSM3X534AY65N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPFJ5GATDRSM3X534AY65N" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>1L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPFJ5K06HMV8GCAMW231VR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPFJ5K06HMV8GCAMW231VR" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPFJ5NBXDJ42RJ2GR25VMP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPFJ5NBXDJ42RJ2GR25VMP" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPFJ5Q2PY2FSDDG6A3WCAC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPFJ5Q2PY2FSDDG6A3WCAC" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>1L</small></button>
                </td>
                <td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMY8E1XEMB2SJ1MDEG23' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMY8E1XEMB2SJ1MDEG23" product_slug="methodes-prophylactiques">METHODES PROPHYLACTIQUES</button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMYDDFRWYTCY7WEFB617' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMYDDFRWYTCY7WEFB617" product_slug="methodes-prophylactiques">METHODES PROPHYLACTIQUES</button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMYDDFRWYTCY7WEFB617' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMYEWEF1DCVEB5M1VRBR" product_slug="methodes-prophylactiques">METHODES PROPHYLACTIQUES</button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMYGN9B91QQ97VXVHKJH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMYGN9B91QQ97VXVHKJH" product_slug="methodes-prophylactiques">METHODES PROPHYLACTIQUES</button>
                </td>
            </tr>
            <tr>
                <td>Anthracnose</td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMYJBF7J89FASE6Y7P4T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMYJBF7J89FASE6Y7P4T" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPGQS6SNH3PHF4JXEB34KH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPGQS6SNH3PHF4JXEB34KH" product_slug="alasso-10-l" dose="2" unit="L">ALASSO <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMYN1EMEPBR782R8Y82C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMYN1EMEPBR782R8Y82C" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPHBYYYDEFEJPQCT89EA12' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPHBYYYDEFEJPQCT89EA12" product_slug="alasso-10-l" dose="2" unit="L">ALASSO <small>2 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMYQ1Y186RARM5WNKAE0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMYQ1Y186RARM5WNKAE0" product_slug="macobzin-5-l" dose="3" unit="L">MACOBZIN <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMYVX8XDJFQKW7DSH9H5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMYVX8XDJFQKW7DSH9H5" product_slug="macobzin-5-l" dose="3" unit="L">MACOBZIN <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMYZTBM03QNDTPN24MXS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMYZTBM03QNDTPN24MXS" product_slug="macobzin-5-l" dose="3" unit="L">MACOBZIN <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMZ2CNEK6XB2KPHHKXPQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZ2CNEK6XB2KPHHKXPQ" product_slug="macobzin-5-l" dose="3" unit="L">MACOBZIN <small>3 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMZ5G9VT0539EQY8TA6H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZ5G9VT0539EQY8TA6H" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FVCPM0JAXQ11QPW26XBVTF03' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCPM0JAXQ11QPW26XBVTF03" product_slug="alasso-10-l" dose="2" unit="L">ALASSO <small>2 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Phytoptes</td>
                <td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMZ7DQPSEXVQB0GH7RM0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZ7DQPSEXVQB0GH7RM0" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMZ93YGFPXZ9E0DPV9YW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZ93YGFPXZ9E0DPV9YW" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMZBRDPPQ65HD1PY11NM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZBRDPPQ65HD1PY11NM" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMZDD75368F83SFDFCFM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZDD75368F83SFDFCFM" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMZEQ9ARYZ349J58DSNP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZEQ9ARYZ349J58DSNP" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMZHHPK46WDNEX8BSEP1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZHHPK46WDNEX8BSEP1" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMZKVMDPX980M2B121QA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZKVMDPX980M2B121QA" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Acariens</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMZNP05K7WN067TR6GKJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZNP05K7WN067TR6GKJ" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMZQWF3W8KVWFJM5VBV7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZQWF3W8KVWFJM5VBV7" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNMZS9KSQGTGGSQ32TBMP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZS9KSQGTGGSQ32TBMP" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Chlorose <br>Ferique <br>Manganique</td>
                <td></td><td></td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNMZV5STZB8JA8ZJ1H5NM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZV5STZB8JA8ZJ1H5NM" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNMZZVZC6SQXHSCYHM198' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNMZZVZC6SQXHSCYHM198" product_slug="ferrilene" dose="70" unit="gr/arbres">FERRILENE <small>70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN02W5C8XZF520ZEF80J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN02W5C8XZF520ZEF80J" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN053CK1G167P4WTFHGB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN053CK1G167P4WTFHGB" product_slug="ferrilene" dose="70" unit="gr/arbres">FERRILENE <small>70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN0657H8P3AQN3QM94FZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN0657H8P3AQN3QM94FZ" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN081749MTGK7N6ZR2SM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN081749MTGK7N6ZR2SM" product_slug="ferrilene" dose="70" unit="gr/arbres">FERRILENE <small>70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN0BWB2FAXMZZBS9S5QJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN0BWB2FAXMZZBS9S5QJ" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN0DYVT6D0T5V8DVYRV0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN0DYVT6D0T5V8DVYRV0" product_slug="ferrilene" dose="70" unit="gr/arbres">FERRILENE <small>70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN0FMYY48FTMMYWCYEPF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN0FMYY48FTMMYWCYEPF" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN0HC347KKA67FRRTFC6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN0HC347KKA67FRRTFC6" product_slug="ferrilene" dose="70" unit="gr/arbres">FERRILENE <small>70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN0JK2S484F09QWE7JRG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN0JK2S484F09QWE7JRG" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN0MRKSWWWKBQH6SFQEB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN0MRKSWWWKBQH6SFQEB" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN0MRKSWWWKBQH6SFQEB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN0MRKSWWWKBQH6SFQEB" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN0TXM9VVRFQ95WYJGGK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN0TXM9VVRFQ95WYJGGK" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Nutrition foliaire</td>
                <td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN0WT51VV1HPEMHA57GA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN0WT51VV1HPEMHA57GA" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN0X436NWHRYTDDF821Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN0X436NWHRYTDDF821Q" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN0ZG2TGDVA66J1Z925Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN0ZG2TGDVA66J1Z925Z" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN11T7SWZ7AX56VNV0GD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN11T7SWZ7AX56VNV0GD" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN153B998ST4XBPT2G59' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN153B998ST4XBPT2G59" product_slug="ino-soufre" dose="5" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN175W3ESZ1772FZ3MQ0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN175W3ESZ1772FZ3MQ0" product_slug="ino-soufre" dose="5" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN1AJ74P76C5ECRRV2YR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN1AJ74P76C5ECRRV2YR" product_slug="geogreen-plus" dose="10" unit="L">GEOGREEN PLUS <small>10 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN1EZAJ75JVS517RJPCP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN1EZAJ75JVS517RJPCP" product_slug="ino-soufre" dose="5" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN1G0G3QQYXMF1RZT99S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN1G0G3QQYXMF1RZT99S" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN1KT2DT45HB6EX3FE0G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN1KT2DT45HB6EX3FE0G" product_slug="geogreen-plus" dose="10" unit="L">GEOGREEN PLUS <small>10 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN1PFA93ZXSNDSKC1V5X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN1PFA93ZXSNDSKC1V5X" product_slug="ino-soufre" dose="5" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN1S37J20NDTFEZY87RH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN1S37J20NDTFEZY87RH" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN1VMN1X638SA4Z9HFE1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN1VMN1X638SA4Z9HFE1" product_slug="geogreen-plus" dose="10" unit="L">GEOGREEN PLUS <small>10 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN1XWAMV0C6EWK5XK0CF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN1XWAMV0C6EWK5XK0CF" product_slug="ino-soufre" dose="5" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN20J1E5YK80BWBV2E8Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN20J1E5YK80BWBV2E8Z" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEEWNN23XXF5BJC8FYG8QQ4Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN23XXF5BJC8FYG8QQ4Z" product_slug="geogreen-plus" dose="10" unit="L">GEOGREEN PLUS <small>10 L</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Nutrition <br>du sol</td>
                <td></td><td></td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN25K6ZYTX3MSMHS0CYY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN25K6ZYTX3MSMHS0CYY" product_slug="s-9-12-0">9-12-0</button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN268ST2HKNAS4XPS00V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN268ST2HKNAS4XPS00V" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC 5-4-11 <small>500 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN280VMMWDRHCZ3B9MTT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN280VMMWDRHCZ3B9MTT" product_slug="orchestra" dose="600" unit="Kg">ORCHESTRA UAB <small>600 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN2A2HNZ4X6X7CV86N9Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN2A2HNZ4X6X7CV86N9Q" product_slug="s-9-12-0">9-12-0</button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN2C04DX8QYJRM2C2Z7C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN2C04DX8QYJRM2C2Z7C" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC 5-4-11 <small>500 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN2MFAANN7XSPB8T6299' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN2MFAANN7XSPB8T6299" product_slug="orchestra" dose="600" unit="Kg">ORCHESTRA UAB <small>600 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN2NDBDV1FMPQV4FR7YY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN2NDBDV1FMPQV4FR7YY" product_slug="s-9-12-0">9-12-0</button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN2QSS8QFEYZ9CGKECFK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN2QSS8QFEYZ9CGKECFK" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC 5-4-11 <small>500 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN2VWY9THPZXN3S52SK9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN2VWY9THPZXN3S52SK9" product_slug="orchestra" dose="600" unit="Kg">ORCHESTRA UAB <small>600 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN2XT0DHYCA2H14D0ECT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN2XT0DHYCA2H14D0ECT" product_slug="s-9-12-0">9-12-0</button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN2ZZT2CVMB3JATHNZC9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN2ZZT2CVMB3JATHNZC9" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC 5-4-11 <small>500 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN311NJJXAS1S7KT7Q3N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN311NJJXAS1S7KT7Q3N" product_slug="orchestra" dose="600" unit="Kg">ORCHESTRA <small>600 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN33GB60102VAZZE3D42' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN33GB60102VAZZE3D42" product_slug="s-9-12-0">9-12-0</button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN35YWPETM28XNWGYKVE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN35YWPETM28XNWGYKVE" product_slug="diamic-5-4-11" dose="500" unit="Kg">DIAMIC 5-4-11 <small>500 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN37162BB740JKY31ZRG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN37162BB740JKY31ZRG" product_slug="orchestra" dose="600" unit="Kg">ORCHESTRA UAB <small>600 Kg</small></button>
                </td>
 UAB                <td></td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN399615MZ7KY40JX4J1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN399615MZ7KY40JX4J1" product_slug="optiblend" dose="100" unit="Kg">OPTIBLEND <small>100 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN3A2J627CG26EFMNX84' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN3A2J627CG26EFMNX84" product_slug="labinor-n-10-gra-bio-5-ql" dose="500" unit="Kg">LABINOR N10 <small>500 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN3C1WREMSAQE69B73EE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN3C1WREMSAQE69B73EE" product_slug="optiblend" dose="100" unit="Kg">OPTIBLEND <small>100 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN3D8M48DJHHB50P3XFR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN3D8M48DJHHB50P3XFR" product_slug="labinor-n-10-gra-bio-5-ql" dose="500" unit="Kg">LABINOR N10 <small>500 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN3FHYA0VCS2P8ZDZP67' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN3FHYA0VCS2P8ZDZP67" product_slug="optiblend" dose="100" unit="Kg">OPTIBLEND <small>100 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN3GJEK9JMDX2YVGVW65' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN3GJEK9JMDX2YVGVW65" product_slug="labinor-n-10-gra-bio-5-ql" dose="500" unit="Kg">LABINOR N10 <small>500 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEEWNN3JN3M0XDHG8FFB2X8V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN3JN3M0XDHG8FFB2X8V" product_slug="diamic-k25" dose="400" unit="Kg">DIAMIC K25 <small>400 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FVCQ2SB579V0GW2JMV38EVVZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FVCQ2SB579V0GW2JMV38EVVZ" product_slug="sulfate-de-potasse" dose="400" unit="Kg">SULFATE DE POTASSE <small>400 Kg</small></button>
                </td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Stimulation <br>Racinaire</td>
                <td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNN3MQQZEJ3YMQDGSM4HV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN3MQQZEJ3YMQDGSM4HV" product_slug="rise-p-vam" dose="150" unit="Grs">RISE P VAM <small>150 Grs</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNN3PG57VT6F42KTAA45F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN3PG57VT6F42KTAA45F" product_slug="rise-p-vam" dose="150" unit="Grs">RISE P VAM <small>150 Grs</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNN3Q3DBGR6S58NGK3HDX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN3Q3DBGR6S58NGK3HDX" product_slug="rise-p-vam" dose="150" unit="Grs">RISE P VAM <small>150 Grs</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNN3S0FS0ZBZ3M3VQDV98' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN3S0FS0ZBZ3M3VQDV98" product_slug="rise-p-vam" dose="150" unit="Grs">RISE P VAM <small>150 Grs</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNN3VM52NAKS8YPX913FY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN3VM52NAKS8YPX913FY" product_slug="rise-p-vam" dose="150" unit="Grs">RISE P VAM <small>150 Grs</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEEWNN3WCX195HG69WWA94WP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEWNN3WCX195HG69WWA94WP" product_slug="rise-p-vam" dose="150" unit="Grs">RISE P VAM <small>150 Grs</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% include 'recommendations/canevas/warning.html.twig' %}
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
