{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active">{{ culture.name }}</li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
    {% endif  %}
    <div class="table-responsive">
        <table class="table table-bordered no-wrap">
            <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">Repos végétatif <br>AF <br>Nov</p>
                </th>
                <th>
                    <p class="text-center">Pointe Rouge <br>EF <br>Déc-Janv</p>
                </th>
                <th>
                    <p class="text-center">Début Floraison <br>F81 <br>Mi Déc-déb Fev</p>
                </th>
                <th>
                    <p class="text-center">Pleine Floraison <br>FF2 <br>Janv-déb Mars</p>
                </th>
                <th>
                    <p class="text-center">Pleine Floraison <br>FF3 <br>Fev-fin Mars</p>
                </th>
                <th>
                    <p class="text-center">Gonflement <br>BF <br>Fin Fev-fin Mars</p>
                </th>
                <th>
                    <p class="text-center">Débourrement <br>C <br>Mars</p>
                </th>
                <th>
                    <p class="text-center">1ère Feuille <br>C1 <br>Mi Mars-déb Avril</p>
                </th>
                <th>
                    <p class="text-center">3ème feuille <br>C3 <br>Fin Mars-mi Avril</p>
                </th>
                <th>
                    <p class="text-center">Différenciation <br>DF <br>Mai</p>
                </th>
                <th>
                    <p class="text-center">MF-IF <br>Fin mai-mi Juin</p>
                </th>
                <th>
                    <p class="text-center">Lignification <br>de la coque <br>JF <br>Fin Juin-Juillet</p>
                </th>
                <th>
                    <p class="text-center">Grossissement <br>Août-Sept</p>
                </th>
                <th>
                    <p class="text-center">Septembre</p>
                </th>
                <th>
                    <p class="text-center">Post récolte</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Fomitiporia</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3608QBR7MTD1CHFSNDT" product_slug="methodes-prophylactiques" dose="0.00001">METHODES PROPHYLACTIQUES</button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3630J73D85EAPC9T2VE" product_slug="methodes-prophylactiques" dose="0.00001">METHODES PROPHYLACTIQUES</button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC366ZKTAV0JXN3R9M9HW" product_slug="methodes-prophylactiques" dose="0.00001">METHODES PROPHYLACTIQUES</button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC368B8WXHSE1G1RDM6QT" product_slug="methodes-prophylactiques" dose="0.00002">METHODES PROPHYLACTIQUES</button>
                </td>
            </tr>
            <tr>
                <td>Anthracnose</td>
                <td>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC36BFY6FRCJXN33B3DM5" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                </td>
                <td>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC36DP3YWZJZ3CVRX2ZZA" product_slug="nutrigeo" dose="25" unit="L">NUTRIGEO <small>25 L</small></button>
                </td>
                <td></td><td></td><td></td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC36GHSBCZ9F3BBHM254S" product_slug="signum" dose="1.0003" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC36J2KKPKMK0EXM6XA99" product_slug="horizon-arbo" dose="750.0003" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC36M48907VCJEJHRXFZ6" product_slug="systhane-power" dose="0.3753" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC36QFVV1F40EPDR27PQZ" product_slug="signum" dose="1.0003" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC36SJCG1CJ615XZTEC49" product_slug="horizon-arbo" dose="750.0003" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC36W776XJ2ZWWQEM0S15" product_slug="systhane-power" dose="0.3753" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC36YN15F9HHPAAZR6SXA" product_slug="signum" dose="1.0003" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC370RSH0BSZJM420Z2YR" product_slug="horizon-arbo" dose="750.0003" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC37392X85PVE4KE0ZN24" product_slug="systhane-power" dose="0.3753" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC376WV168GF2193JW1PW" product_slug="signum" dose="1.0003" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC379TEVVXFZQ60GEDA7G" product_slug="horizon-arbo" dose="750.0003" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC37CGE0PAXN2GTF7QPQY" product_slug="systhane-power" dose="0.3753" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC37EJ6MM7Y7GHFJ5NM35" product_slug="signum" dose="1.0003" unit="Kg">SIGNUM <small>1 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC37HTY3MWG937DFV74AG" product_slug="horizon-arbo" dose="750.0003" unit="gr">HORIZON ARBO <small>750 gr</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC37M0DC8VA299E6S756H" product_slug="systhane-power" dose="0.3753" unit="L">SYSTHANE POWER <small>0.375 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-R btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC37QMPTYF5P2SXQQSDD1" product_slug="nutrigeo" dose="25.0001" unit="L">NUTRIGEO <small>25 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Punaises</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn-R btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC37VD2TK3X9598D7HG66" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td>
                    <button class="btn-R btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC37Y4XZ9K073NK5DNGA3" product_slug="karate-xflow" dose="0.075" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td>
                    <button class="btn-R btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC380RN2JZMFG17C41CNN" product_slug="karate-xflow" dose="0.0751" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td>
                    <button class="btn-R btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3824M5XGJ45SBQ9CNPM" product_slug="karate-xflow" dose="0.0751" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Phytoptes</td>
                <td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC385QT2HM5M3G6K3S3JJ" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC387DTH2AQVEY5V413Y8" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC38AYXXF7938JNRZZM1W" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC38E8EZA6DRHXN9DFGB5" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC38GBZPP4DJEQQ6QMF9N" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC38MWD22TFJRAYWAP0DN" product_slug="citrothiol-dg" dose="7.5001" unit="Kg">CITROTHIOL DG <small>7.5 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Acariens</td>
                <td></td><td></td><td></td><td></td><td></td>
                <td></td><td></td><td></td><td></td>
                <td></td>
                <td></td><td></td><td></td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Balanins</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td></td><td></td><td></td>
                <td></td><td></td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Pucerons</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn-R btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC38QAR0YRHZF89WS2ZWY" product_slug="karate-xflow" dose="0.0752" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td>
                    <button class="btn-R btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC38TAP6N8NZ1AMY3FZZX" product_slug="karate-xflow" dose="0.0752" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td>
                    <button class="btn-R btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC38XEAXE2YMEDRD45X4A" product_slug="karate-xflow" dose="0.0752" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td>
                    <button class="btn-R btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC390PXG49Z4R2ZA1XZ0H" product_slug="karate-xflow" dose="0.0753" unit="L">KARATE XFLOW <small>0.075 L</small></button>
                </td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Desherbages</td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC392A41MD8W69DY57QHS" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO <small>1.875 L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC39439Y0G7JZAWRSNE0K" product_slug="cent-7" dose="4.8" unit="L">CENT 7 <small>4.8 L</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC397N0HYZNJFRYTZ7MDA" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO <small>1.875 L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3998PD1NC7J6KD1T59F" product_slug="cent-7" dose="4.8" unit="L">CENT 7 <small>4.8 L</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC39BM12HVG6Z7P7W3HA6" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO <small>1.875 L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC39F5PT9A2T3BJ3N3947" product_slug="cent-7" dose="4.8" unit="L">CENT 7 <small>4.8 L</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC39JP28W8R33JAF3YNBM" product_slug="kerb-flo" dose="1.875" unit="L">KERB FLO <small>1.875 L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC39N59RFKT71BCQTRMEB" product_slug="cent-7" dose="4.8" unit="L">CENT 7 <small>4.8 L</small></button>
                </td>
                <td></td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC39R5ZH6QP38QHTJ14N3" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC39YEXEFBNBGNQC4AQCE" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3A25MSBP622X9ZPB026" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3A51AN0DD9CW9573Z1D" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3A9RB1D830E75HNQYD3" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3ADS3E33D82CRRP8D33" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3AFDWR42NEW567NKN2Y" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3AH7JA6V4GKZKRGSHZ5" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3AKFEW3C81QAKHNXPH3" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3AP4V37QPAG6D1XQZJ3" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3AR6EH7W42SWXQG60CS" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3ATDR6N365RPVXETPW8" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3AW4AZK1S2ZMMDF19QZ" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3AZHS665CY727X04KMY" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3B10VY2QWJNGT906479" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3B3BDQXSG8NH3XRHDT2" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3B5YVCGG25T71KXM8TN" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3B73H58KPAJ59JXF7DG" product_slug="fusilade-max" dose="2" unit="L">FUSILADE MAX <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3BA6MCAJYWB4CF1M4MD" product_slug="kerb-flo" dose="1.8751" unit="L">KERB FLO <small>1.875 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Rejets et <br>drageons</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3BC74PT8MRZFFCJQHTF" product_slug="spotlight-plus" dose="0.3" unit="%">SPOTLIGHT PLUS <small>0.3 %</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3BFCA2MBFM6T2NJBA4T" product_slug="chardol-600" dose="0.7" unit="%">CHARDOL <small>0.7 %</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3BKTHEVEBQR0BCZ2WB2" product_slug="spotlight-plus" dose="0.3" unit="%">SPOTLIGHT PLUS <small>0.3 %</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3BPW4EVK6PAQWPYQGSZ" product_slug="chardol-600" dose="0.7" unit="%">CHARDOL <small>0.7 %</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3BTYD3X4HQHJ4AZZ417" product_slug="spotlight-plus" dose="0.3" unit="%">SPOTLIGHT PLUS <small>0.3 %</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3BX12CEWNQTJXN0S3KZ" product_slug="chardol-600" dose="0.7" unit="%">CHARDOL <small>0.7 %</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3C0WX44NTQ11P5GS55B" product_slug="spotlight-plus" dose="0.3" unit="%">SPOTLIGHT PLUS <small>0.3 %</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3C3Q183WHM383PS9GP9" product_slug="chardol-600" dose="0.7" unit="%">CHARDOL <small>0.7 %</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3C61E4S3N1WZ1HGSK3J" product_slug="spotlight-plus" dose="0.3" unit="%">SPOTLIGHT PLUS <small>0.3 %</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3C9CP9RWKWX3JHGY5R6" product_slug="chardol-600" dose="0.7" unit="%">CHARDOL <small>0.7 %</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3CBBPR4TTR6RPEHP8GG" product_slug="spotlight-plus" dose="0.3" unit="%">SPOTLIGHT PLUS <small>0.3 %</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3CE83GKEM1BQG153YJ2" product_slug="chardol-600" dose="0.7" unit="%">CHARDOL <small>0.7 %</small></button>
                </td>
                <td>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3CGAQZ3BP9KSXV00KY2" product_slug="spotlight-plus" dose="0.3" unit="%">SPOTLIGHT PLUS <small>0.3 %</small></button>
                    <button class="btn-J btn btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3CJAFENE6A2Y8WXQ3BM" product_slug="chardol-600" dose="0.7" unit="%">CHARDOL <small>0.7 %</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Chlorose <br>Ferique <br>Manganique</td>
                <td></td><td></td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3CNBGV1QNVNPG0HG6XZ" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3CQ42FTMAQ1HZWYGBPA" product_slug="chelafer" dose="50" unit="gr/arbres">CHELAFER <small>50 à 70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3CTYDN7ECC75S136RND" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3CWKV9MWFS14FZZ7R58" product_slug="chelafer" dose="50" unit="gr/arbres">CHELAFER <small>50 à 70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3CYN19M4YY4VTZ2YY5C" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3D13TFSBB4YQ2JKQC45" product_slug="chelafer" dose="50" unit="gr/arbres">CHELAFER <small>50 à 70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3D5BHVWV285NRVD6K3S" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3D9FXPTEGGX3GMTR8V9" product_slug="chelafer" dose="50" unit="gr/arbres">CHELAFER <small>50 à 70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3DCF5RFQ068CDGBPJCP" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3DH4QA9RDMXF5ENWPEC" product_slug="chelafer" dose="50" unit="gr/arbres">CHELAFER <small>50 à 70 gr/arbres</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3DK2FMGBZZGYKDHKEJ2" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3DP6JQAT0G940GMG0T0" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3DR4GKQ6VZJ9WN4ZWBB" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3DV6ESDKZS3XFCB04TC" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA <small>3 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Nutrition foliaire</td>
                <td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3DYFDX3DVSNR5QXSXCX" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3E0MQC0C0Y4FBXG578A" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3E2WWKEWZHA8KSKFN82" product_slug="ino-bore-ultra" dose="2.0001" unit="L">INO BORE ULTRA <small>2 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3E4B1CDJZP2JYTJZ6Y3" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLOW ZN 680<small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3E8QVT7KNNPF101HKM9" product_slug="ino-flow-mg500" dose="3" unit="L">INO FLOW MG 500 <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3EC3PGJRVK2KEPNZ7TJ" product_slug="ino-soufre" dose="5" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3EGVWZ4AD3ZA58PZXMP" product_slug="ino-flow-mg500" dose="3.00001" unit="L">INO FLOW MG 500 <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3EMV9F2PS4HNVT8NZZR" product_slug="ino-soufre" dose="5.0001" unit="L">INO SOUFRE Mgo <small>5 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3ERYZ0VETRS49CG37SJ" product_slug="ino-flow-mg500" dose="3.00002" unit="L">INO FLOW MG 500 <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3EWG5EYQGZE0XRH6PG0" product_slug="ino-mix-fruit" dose="10" unit="L">INO MIX FRUIT <small>10 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3EZ6J7SM121Y2V88ENJ" product_slug="ino-flow-zn-680f" dose="1.000001" unit="L">INO FLOW ZN 680<small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3F3HX7E4QFB58N92W4A" product_slug="ino-flow-mg500" dose="3.00003" unit="L">INO FLOW MG 500 <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3F6567KPWH46G0470ZG" product_slug="ino-mix-fruit" dose="10.00001" unit="L">INO MIX FRUIT <small>10 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3F82SZ8G9DEACR4P3R8" product_slug="ino-flow-zn-680f" dose="1.0001" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3FB20F88EJY0EAAW39X" product_slug="ino-flow-mg500" dose="3.00004" unit="L">INO FLOW MG 500 <small>3 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3FE4VCV3206BCRAHX68" product_slug="ino-mix-fruit" dose="10.00002" unit="L">INO MIX FRUIT <small>10 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3FKPAJG87RX7N0DS2NF" product_slug="ino-flow-zn-680f" dose="1.0002" unit="L">INO FLOW ZN 680 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3FQ5SWC1W76YEF23N67" product_slug="ino-green-ultra" dose="3" unit="L">INO GREEN ULTRA <small>3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3FTH9FQNZT668D746T4" product_slug="ino-green-ultra" dose="3" unit="L">INO GREEN ULTRA <small>3 L</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">Nutrition <br>du sol</td>
                <td></td><td></td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3FX9AAJGRT4WCJT8PP9" product_slug="equinoxe-10-4-3" dose="700" unit="Kg">EQUINOXE 10-4-3 <small>700 à 1200 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3G32N43WC782QNCECWR" product_slug="equinoxe-9-3-12" dose="700" unit="Kg">EQUINOXE 9-3-12 <small>700 à 1200 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3G84006EHQY4NE5SFAS" product_slug="equinoxe-10-4-3" dose="700" unit="Kg">EQUINOXE 10-4-3 <small>700 à 1200 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3GD021E6JFX55GBA5H6" product_slug="equinoxe-9-3-12" dose="700" unit="Kg">EQUINOXE 9-3-12 <small>700 à 1200 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3GHXKZPXJMKYF3FE765" product_slug="equinoxe-10-4-3" dose="700" unit="Kg">EQUINOXE 10-4-3 <small>700 à 1200 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3GNJ60NKWHC1MGCT1D5" product_slug="equinoxe-9-3-12" dose="700" unit="Kg">EQUINOXE 9-3-12 <small>700 à 1200 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3GRX6TGGA551Y813Q7C" product_slug="equinoxe-10-4-3" dose="700" unit="Kg">EQUINOXE 10-4-3 <small>700 à 1200 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3GWMBNSPXX6CAC28NSE" product_slug="equinoxe-9-3-12" dose="700" unit="Kg">EQUINOXE 9-3-12 <small>700 à 1200 Kg</small></button>
                </td>
                <td></td><td></td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3GZJH46NVGZ52Z4TPQ7" product_slug="optiblend" dose="100" unit="Kg">OPTIBLEND <small>100 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3H3HNZ7SN75SFYAH0FA" product_slug="ammonitre-33-5" dose="150" unit="Kg">AMMONITRE <small>150 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3H6Q36B50QZAHS8KFTW" product_slug="optiblend" dose="100" unit="Kg">OPTIBLEND <small>100 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3H85ZC0698VQBBCGVCE" product_slug="ammonitre-33-5" dose="150" unit="Kg">AMMONITRE <small>150 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3HBBP3M38W40XK8WCWV" product_slug="optiblend" dose="100" unit="Kg">OPTIBLEND <small>100 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3HEAJ7S562JR1B4S54F" product_slug="ammonitre-33-5" dose="150" unit="Kg">AMMONITRE <small>150 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3HGHCT1E0XF5B5PYJJE" product_slug="diamic-k26" dose="400" unit="Kg">DIAMIC K 26 <small>400 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3HKH6ZC91BZQ92JZX7F" product_slug="nitrate-k" dose="150" unit="Kg">NITRATE K <small>150 Kg</small></button>
                </td>
                <td></td><td></td><td></td>
            </tr>
            <tr>
                <td></td><td></td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3HNMD4Y4FJB016HBHXF" product_slug="15-22-so3" dose="200" unit="Kg">15-22-0 20 SO <small>200 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3HSCN3HX3KMVT9A5EQ1" product_slug="15-22-so3" dose="200" unit="Kg">15-22-0 20 SO <small>200 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3HYGW6V0DEBQ06PF8PX" product_slug="15-22-so3" dose="200" unit="Kg">15-22-0 20 SO <small>200 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Stimulation <br>Racinaire</td>
                <td></td><td></td><td></td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3J2K945N7N9HXXBW9YJ" product_slug="rise-p-vam" dose="0.2" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3J6T3G98R799K7Z6D5G" product_slug="rise-p-vam" dose="0.2" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3J8Q2P1M1G5H7V44X7Z" product_slug="rise-p-vam" dose="0.2" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3JBDCBX86PSP8C2RAB9" product_slug="rise-p-vam" dose="0.201" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3JD0BX335SE4PY71YX5" product_slug="rise-p-vam" dose="0.201" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3JFYET75NSMM97J3R8B" product_slug="rise-p-vam" dose="0.201" unit="Kg/Ha">RISE P VAM <small>0.2 Kg/Ha</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Adjuvants</td>
                <td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3JJ3FFBPZBQH0KSJXN6" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3JNTHGP19R08AZ34HRM" product_slug="sticman" dose="0.3" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3JQBVEKE95JX4BXP64J" product_slug="gondor" dose="0.30001" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3JS03AZHCSSYC6REAGV" product_slug="sticman" dose="0.3001" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3JW6YBKXE5TR5SW8XM5" product_slug="gondor" dose="0.30002" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3JY6R872V43MV999FRR" product_slug="sticman" dose="0.3002" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3K1T2S18EMACQ79SEMB" product_slug="gondor" dose="0.30003" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3K310T2JRCB1P6C6W0B" product_slug="sticman" dose="0.3003" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3K64CFNP3ZTDM9Z810G" product_slug="gondor" dose="0.30004" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3K9SGD8AA1EZ87MDP82" product_slug="sticman" dose="0.3004" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3KCFW43QV97ZSV18BNF" product_slug="gondor" dose="0.30005" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3KH4YJGNH9TXKTP5NB1" product_slug="sticman" dose="0.30005" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3KMJ6FT3F3VVFDVMMRT" product_slug="gondor" dose="0.30006" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3KPAJHN901PHYYW0WP6" product_slug="sticman" dose="0.30006" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3KTE0CTB1CZ6V8GAEMA" product_slug="gondor" dose="0.30007" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3KWJ98TTY46FF1877JA" product_slug="sticman" dose="0.30007" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3M0W5ZRHM93Y0BHH6RC" product_slug="gondor" dose="0.30008" unit="L">GONDOR <small>0.3 L</small></button>
                    <button class="btn btn-A btn-block isProduct {{ printRequest ? 'NEWID' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEEEC3M3YZJRYMHYS0P7KN0E" product_slug="sticman" dose="0.30008" unit="L">STICMAN <small>0.3 L</small></button>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% include 'recommendations/canevas/warning.html.twig' %}
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}
