{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block body %}
    {% if printRequest == false %}
            <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-12">
                    <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                        <li class="breadcrumb-item active">{{ culture.name }}</li>
                    </ol>
                </div>
                <div class="">
                    <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-12">
            <div class="card">
            <div class="card-body">
       {% endif  %}
                    <div class="table-responsive">
                      <table class="table table-bordered no-wrap">
                        <thead>
                        <tr>
                          <th></th>
                          <th>
                            Bourgeon <br>D'hiver
                          </th>
                          <th>
                            Bourgeons <br>gonflés
                          </th>
                          <th>
                            Sortie <br>calice
                          </th>
                          <th>
                            Sortie <br>corolle
                          </th>
                          <th>
                            Sortie <br>etamines
                          </th>
                          <th>
                            Fleur <br>ouverte
                          </th>
                          <th>
                            Chute <br>des pétales
                          </th>
                          <th>
                            Jeune <br>fruit
                          </th>
                          <th>
                            Mi-Avril <br>début Mai
                          </th>
                          <th>
                            Mi-Mai
                          </th>
                          <th>
                            Fin Mai - <br>Début juin
                          </th>
                          <th>
                            Fin Juin <br>début Juillet
                          </th>
                          <th>
                            Post-Récolte
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>BACTERIOSE</td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0BS39EP3KJCYG83G6SK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0BS39EP3KJCYG83G6SK" product_slug="bouillie-bordelaise-rsr" dose="12" unit="Kg">BOUILLIE BORDELAISE RSR <small>12Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0BXQA11JJFE9JDCSW55' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0BXQA11JJFE9JDCSW55" product_slug="nordox-75-wg" dose="3.3" unit="Kg">NORDOX 75 WG <small>3.3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0C1MY393R21X8HEV3EE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0C1MY393R21X8HEV3EE" product_slug="kocide-2000" dose="3.5" unit="Kg">KOCIDE 2000  <small>3.5Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV09V9QY8QBR1CKS459E0AQE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV09V9QY8QBR1CKS459E0AQE" product_slug="cuprocol-duo" dose="4" unit="Kg">CUPROCOL DUO  * 10 KG <small>4Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0C4BBD6X234MT7ZDQJV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0C4BBD6X234MT7ZDQJV" product_slug="bouillie-bordelaise-rsr" dose="12" unit="Kg">BOUILLIE BORDELAISE RSR <small>12Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0C7Y5WKTAQGBE9EEZP7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0C7Y5WKTAQGBE9EEZP7" product_slug="nordox-75-wg" dose="3.3001" unit="Kg">NORDOX 75 WG <small>3.3001Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0CA4RREZFEQT8RN6358' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0CA4RREZFEQT8RN6358" product_slug="kocide-2000" dose="3.5001" unit="Kg">KOCIDE 2000  <small>3.5001Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV09V9QY8QBR1CKS459E0AQE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV09V9QY8QBR1CKS459E0AQE" product_slug="cuprocol-duo" dose="4" unit="Kg">CUPROCOL DUO  * 10 KG <small>4Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0CDVSEEDD960WAGPNB5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0CDVSEEDD960WAGPNB5" product_slug="bouillie-bordelaise-rsr" dose="12.0" unit="Kg">BOUILLIE BORDELAISE RSR <small>12.0Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0CH4GEJQ1Y41D6WHGAA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0CH4GEJQ1Y41D6WHGAA" product_slug="nordox-75-wg" dose="3.3" unit="Kg">NORDOX 75 WG <small>3.3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0CKSQGTHK8VWBJDQ0RQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0CKSQGTHK8VWBJDQ0RQ" product_slug="kocide-2000" dose="3.5" unit="Kg">KOCIDE 2000  <small>3.5Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV09V9QY8QBR1CKS459E0AQE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV09V9QY8QBR1CKS459E0AQE" product_slug="cuprocol-duo" dose="4" unit="Kg">CUPROCOL DUO  * 10 KG <small>4Kg</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0CPME17DG8VHW2Q3ZVA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0CPME17DG8VHW2Q3ZVA" product_slug="bouillie-bordelaise-rsr" dose="12.0" unit="Kg">BOUILLIE BORDELAISE RSR <small>12.0Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0CTQWF9N0AXZTCEXHMT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0CTQWF9N0AXZTCEXHMT" product_slug="nordox-75-wg" dose="3.3" unit="Kg">NORDOX 75 WG <small>3.3Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0CYFFHZB8GZHQ8N6100' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0CYFFHZB8GZHQ8N6100" product_slug="kocide-2000" dose="5" unit="Kg">KOCIDE 2000  <small>5Kg</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>COCHENILLES <br>ACARIENS</td>
                          <td colspan="2">
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0D1W639CQWCVYR0694V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0D1W639CQWCVYR0694V" product_slug="acakill" dose="20" unit="L">ACAKILL <small>20L</small></button>
                          </td>
                          <td></td>
                          <td colspan="2">
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0D7PPK5M5DERSMFSFDK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0D7PPK5M5DERSMFSFDK" product_slug="admiral-pro" dose="0.3" unit="L">ADMIRAL PRO <small>0.3L</small></button>
                          </td>
                          <td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0DC5N8FXBPG8ZMD6HH0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0DC5N8FXBPG8ZMD6HH0" product_slug="admiral-pro" dose="0.3" unit="L">ADMIRAL PRO <small>0.3L</small></button>
                          </td>
                          <td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0DGSDQWTQ34C0Y8A65F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0DGSDQWTQ34C0Y8A65F" product_slug="admiral-pro" dose="0.3004" unit="L">ADMIRAL PRO <small>0.3004L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0DKBW35J8GGPCFSQJ6K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0DKBW35J8GGPCFSQJ6K" product_slug="movento" dose="1.9" unit="L">MOVENTO <small>1.9L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0DPN7JE5Q8D8HZ05HMP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0DPN7JE5Q8D8HZ05HMP" product_slug="admiral-pro" dose="0.3005" unit="L">ADMIRAL PRO <small>0.3005L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0DTTYQAGNJG0RED7B0R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0DTTYQAGNJG0RED7B0R" product_slug="movento" dose="1.9001" unit="L">MOVENTO <small>1.9001L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0DZDQJ2DN536QE5HGXX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0DZDQJ2DN536QE5HGXX" product_slug="admiral-pro" dose="0.3006" unit="L">ADMIRAL PRO <small>0.3006L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0E3C0CAD9VPYST2BV65' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0E3C0CAD9VPYST2BV65" product_slug="movento" dose="1.9" unit="L">MOVENTO <small>1.9L</small></button>
                          </td>
                          <td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0E75QP1EETBXMA7E352' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0E75QP1EETBXMA7E352" product_slug="admiral-pro" dose="0.3007" unit="L">ADMIRAL PRO <small>0.3007L</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>Cloque</td>
                          <td></td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FV0ABCCVGZTWAG6D3H67BYFE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0ABCCVGZTWAG6D3H67BYFE" product_slug="sigma-dg" dose="3" unit="Kg">SIGMA DG <small>3Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0EAPASP2D19ERTH4PSR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0EAPASP2D19ERTH4PSR" product_slug="carbazinc-flash" dose="2.5" unit="Kg">CARBAZINC FLASH <small>2.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0EF5MMKCD93HRBYKQJV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0EF5MMKCD93HRBYKQJV" product_slug="syllit-max" dose="1.65" unit="L">SYLLIT MAX <small>1.65L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0EKJ32T2JYRXRKGS7AT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0EKJ32T2JYRXRKGS7AT" product_slug="merpan-sc" dose="5" unit="L">MERPAN SC (Captane) <small>5L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FV0ABCDB5AEBE8P0ERVWC9ST' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0ABCDB5AEBE8P0ERVWC9ST" product_slug="sigma-dg" dose="3" unit="Kg">SIGMA DG <small>3Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0EQG9V62BH32ZYES22Y' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0EQG9V62BH32ZYES22Y" product_slug="carbazinc-flash" dose="2.5001" unit="Kg">CARBAZINC FLASH <small>2.5001Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0EVB5KJQ9Q2CF7WPBWH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0EVB5KJQ9Q2CF7WPBWH" product_slug="syllit-max" dose="1.6501" unit="L">SYLLIT MAX <small>1.6501L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0F0JX4MYGSCN5GE8YN9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0F0JX4MYGSCN5GE8YN9" product_slug="merpan-sc" dose="5.0001" unit="L">MERPAN SC (Captane) <small>5.0001L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FV0ABCDFXRA0P8DFCKBYNC79' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0ABCDFXRA0P8DFCKBYNC79" product_slug="sigma-dg" dose="3" unit="Kg">SIGMA DG <small>3Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0F3KJFZTC0D5TFA9H6S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0F3KJFZTC0D5TFA9H6S" product_slug="carbazinc-flash" dose="2.5" unit="Kg">CARBAZINC FLASH <small>2.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0F6MF1Z9XZ5JED2N329' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0F6MF1Z9XZ5JED2N329" product_slug="syllit-max" dose="1.6502" unit="L">SYLLIT MAX <small>1.6502L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0F9J1HR333J00G5H77F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0F9J1HR333J00G5H77F" product_slug="merpan-sc" dose="5.0" unit="L">MERPAN SC (Captane) <small>5.0L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FV0ABCDM8A7SFBVHZA3NASE2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0ABCDM8A7SFBVHZA3NASE2" product_slug="sigma-dg" dose="3" unit="Kg">SIGMA DG <small>3Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0FEZPD50C92HC422RDV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0FEZPD50C92HC422RDV" product_slug="carbazinc-flash" dose="2.5" unit="Kg">CARBAZINC FLASH <small>2.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0FJPY01TY2KETRVD9Q4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0FJPY01TY2KETRVD9Q4" product_slug="syllit-max" dose="1.6503" unit="L">SYLLIT MAX <small>1.6503L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0FNMJZXNK6NJKEN4SGP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0FNMJZXNK6NJKEN4SGP" product_slug="merpan-sc" dose="5.0" unit="L">MERPAN SC (Captane) <small>5.0L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FV0ABCDWMHMWJGJF9Q4NBV5C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0ABCDWMHMWJGJF9Q4NBV5C" product_slug="sigma-dg" dose="3" unit="Kg">SIGMA DG <small>3Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0FR7QQXXZ89GD4Q5AMG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0FR7QQXXZ89GD4Q5AMG" product_slug="carbazinc-flash" dose="2.5004" unit="Kg">CARBAZINC FLASH <small>2.5004Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0FVNSDCYRM1Q7JVY6DC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0FVNSDCYRM1Q7JVY6DC" product_slug="syllit-max" dose="1.6504" unit="L">SYLLIT MAX <small>1.6504L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0FYJC9RM7KT42FAJ5S8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0FYJC9RM7KT42FAJ5S8" product_slug="merpan-sc" dose="5.0004" unit="L">MERPAN SC (Captane) <small>5.0004L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FV0ABCE02V0Z3V0GG1CXCK6D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0ABCE02V0Z3V0GG1CXCK6D" product_slug="sigma-dg" dose="3" unit="Kg">SIGMA DG <small>3Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0G1EM84JYWV08MP57VX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0G1EM84JYWV08MP57VX" product_slug="carbazinc-flash" dose="2.5005" unit="Kg">CARBAZINC FLASH <small>2.5005Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0G4GSHT827ZEJM3E9MD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0G4GSHT827ZEJM3E9MD" product_slug="syllit-max" dose="1.6505" unit="L">SYLLIT MAX <small>1.6505L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0G8QKKZ7KS562V03NFA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0G8QKKZ7KS562V03NFA" product_slug="merpan-sc" dose="5.0005" unit="L">MERPAN SC (Captane) <small>5.0005L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>PUCERONS</td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0GB4KGER665P4WJENWV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0GB4KGER665P4WJENWV" product_slug="teppeki" dose="140" unit="g">TEPPEKI <small>140g</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0GEZ1ZM36DFGKSZCK40' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0GEZ1ZM36DFGKSZCK40" product_slug="teppeki" dose="140.0001" unit="g">TEPPEKI <small>140.0001g</small></button>
                          </td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0GK6CAK4XVJTMDVNBQP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0GK6CAK4XVJTMDVNBQP" product_slug="teppeki" dose="140.0" unit="g">TEPPEKI <small>140.0g</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0GQBAP1YG4KW71K8VCG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0GQBAP1YG4KW71K8VCG" product_slug="movento" dose="1.5" unit="L">MOVENTO <small>1.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0GTBJCCQN37RZK750AB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0GTBJCCQN37RZK750AB" product_slug="teppeki" dose="140.0" unit="g">TEPPEKI <small>140.0g</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0GX5KJS11PD9TSCN3YX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0GX5KJS11PD9TSCN3YX" product_slug="movento" dose="1.5009" unit="L">MOVENTO <small>1.5009L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0H2AA6Y0E2GH1AD8MHX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0H2AA6Y0E2GH1AD8MHX" product_slug="teppeki" dose="140.0004" unit="g">TEPPEKI <small>140.0004g</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0H6K46TGT7DJPSMTSR1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0H6K46TGT7DJPSMTSR1" product_slug="movento" dose="1.9" unit="L">MOVENTO <small>1.9L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0H997A7MR6CF9PFD1F3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0H997A7MR6CF9PFD1F3" product_slug="teppeki" dose="140.0005" unit="g">TEPPEKI <small>140.0005g</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0HC19M5RH8XWYYFQ57K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0HC19M5RH8XWYYFQ57K" product_slug="movento" dose="1.9" unit="L">MOVENTO <small>1.9L</small></button>
                          </td>
                          <td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>FUSICOCCUM</td>
                          <td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0HMVYFRQYSH587Q94XR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0HMVYFRQYSH587Q94XR" product_slug="delan-wg" dose="0.7" unit="Kg">DELAN WG <small>0.7Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0HVV3Z09GYEZSENEDGS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0HVV3Z09GYEZSENEDGS" product_slug="delan-wg" dose="0.7001" unit="Kg">DELAN WG <small>0.7001Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0J31VCJ0A27CE9A3TH5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0J31VCJ0A27CE9A3TH5" product_slug="delan-wg" dose="0.7" unit="Kg">DELAN WG <small>0.7Kg</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0JAQJSCGMD1FF7TG4PV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0JAQJSCGMD1FF7TG4PV" product_slug="delan-wg" dose="0.7" unit="Kg">DELAN WG <small>0.7Kg</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>MONILIA ET OIDIUM</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0JD985A9NPNEJ8W2J1P' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0JD985A9NPNEJ8W2J1P" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG *  BIO 20 KG <small>7.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0JR41725WQX5HZ4YAT18' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0JR41725WQX5HZ4YAT18" product_slug="score" dose="0.3" unit="L">SCORE <small>0.3L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FV0AHK13BZVWJDJ9ENC0P1KG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0AHK13BZVWJDJ9ENC0P1KG" product_slug="kryor" dose="0.8" unit="L">KRYOR <small>0.8L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FV0AHK1C0FNVQRVN09QZHS9B' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0AHK1C0FNVQRVN09QZHS9B" product_slug="serenva" dose="0.24" unit="Kg">SERENVA <small>0.24Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPP0G8TVKBTWXYHNK4TCM3GE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0G8TVKBTWXYHNK4TCM3GE" product_slug="revysion-5-l" dose="1.8" unit="L">REVYSION 10 L <small>1.8L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0JNZX66F5KW413K7F1S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0JNZX66F5KW413K7F1S" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG *  BIO 20 KG <small>7.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0JR41725WQX5HZ4YAT8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0JR41725WQX5HZ4YAT8" product_slug="score" dose="0.3" unit="L">SCORE <small>0.3L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FV0AHK1HAKN5QK9A8AXV5BCQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0AHK1HAKN5QK9A8AXV5BCQ" product_slug="kryor" dose="0.8" unit="L">KRYOR <small>0.8L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FV0AHK1Q14ZPENNFKXA5HQGH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0AHK1Q14ZPENNFKXA5HQGH" product_slug="serenva" dose="0.24" unit="Kg">SERENVA <small>0.24Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FV0AHK1C0FNVQRVN09QZHS9B' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0AHK1C0FNVQRVN09QZHS9B" product_slug="revysion-5-l" dose="1.8" unit="L">REVYSION 10 L <small>1.8L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0F8QAJBWSCET0PFVAFX24' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QAJBWSCET0PFVAFX24" product_slug="citrothiol-dg" dose="7.5" unit="Kg">CITROTHIOL DG *  BIO 20 KG <small>7.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPP0F8QDRD00HN107XEFAVKJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QDRD00HN107XEFAVKJ" product_slug="score" dose="0.3" unit="L">SCORE <small>0.3L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPP0F8QD3KM052EA41SSTN7D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QD3KM052EA41SSTN7D" product_slug="kryor" dose="0.8" unit="L">KRYOR <small>0.8L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPP0F8QE98394KX2CFD0ZXRP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QE98394KX2CFD0ZXRP" product_slug="serenva" dose="0.24" unit="Kg">SERENVA <small>0.24Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01GPP0F8QFSW6D21C06332V7RN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QFSW6D21C06332V7RN" product_slug="revysion-5-l" dose="1.8" unit="L">REVYSION 10 L <small>1.8L</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td>
                        </tr>
                        <tr>
                          <td>Barrière Physique</td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0F8QFAR1FDEKV9CAXFGVB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QFAR1FDEKV9CAXFGVB" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0F8QGZQ3KNKP0EC40X254' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QGZQ3KNKP0EC40X254" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0F8QGC31ZZ3FDMVZCW4YZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QGC31ZZ3FDMVZCW4YZ" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0F8QHHTW8T3WP9PC82QAG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QHHTW8T3WP9PC82QAG" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0F8QH2DV07XWN19H2CESX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QH2DV07XWN19H2CESX" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0F8QJA1S3TYNP4K6XZ06D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QJA1S3TYNP4K6XZ06D" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0F8QJ56S6W1TW822GBF2G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QJ56S6W1TW822GBF2G" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0F8QKB52ZW67WQ0WRXDS5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QKB52ZW67WQ0WRXDS5" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0F8QMCRKFJCY5D9ZZNXZG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0F8QMCRKFJCY5D9ZZNXZG" product_slug="roc-micro-spray-20-kg" dose="8" unit="Kg">AURA-SPRAY* 20 KG <small>8Kg</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>TRIPS</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0JVBTGKKQDQR0MVHR2S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0JVBTGKKQDQR0MVHR2S" product_slug="klartan" dose="0.6" unit="L">KLARTAN <small>0.6L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FV0AM02WJ7T3F2VEANF0HXX6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0AM02WJ7T3F2VEANF0HXX6" product_slug="karate-xflow" dose="0.11" unit="L">KARATE XFLOW <small>0.11L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0JYB9VTJWJN8D7QA8F0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0JYB9VTJWJN8D7QA8F0" product_slug="klartan" dose="0.6001" unit="L">KLARTAN <small>0.6001L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FV0AM03A4TTR11M3SCYNAAKH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0AM03A4TTR11M3SCYNAAKH" product_slug="karate-xflow" dose="0.11" unit="L">KARATE XFLOW <small>0.11L</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0K1GY9THAS6KBGK1A1T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0K1GY9THAS6KBGK1A1T" product_slug="klartan" dose="0.6" unit="L">KLARTAN <small>0.6L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FV0AM03K4KWVQQVMFGAQZEG5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0AM03K4KWVQQVMFGAQZEG5" product_slug="karate-xflow" dose="0.11" unit="L">KARATE XFLOW <small>0.11L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0K50VMY7XNN72Q1WDTE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0K50VMY7XNN72Q1WDTE" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0K890SRDP2NM2JWWMAK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0K890SRDP2NM2JWWMAK" product_slug="delegate" dose="0.3" unit="Kg">DELEGATE <small>0.3Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0KC8QXPT1QCDBA2F2P1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0KC8QXPT1QCDBA2F2P1" product_slug="success-4" dose="0.2001" unit="L">SUCCESS 4 <small>0.2001L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0KFYSZCFHF75S9NSEHK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0KFYSZCFHF75S9NSEHK" product_slug="delegate" dose="0.3001" unit="Kg">DELEGATE <small>0.3001Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0KM87KZ3TR0SZ2S6Y50' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0KM87KZ3TR0SZ2S6Y50" product_slug="success-4" dose="0.2" unit="L">SUCCESS 4 <small>0.2L</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0KQFDZASGDSXWN0XJTV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0KQFDZASGDSXWN0XJTV" product_slug="delegate" dose="0.3" unit="Kg">DELEGATE <small>0.3Kg</small></button>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>TOP <br>CONFUSIONS <br>SEXUELLES</td>
                          <td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0KTH67NHKTQRNYAWXFW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0KTH67NHKTQRNYAWXFW" product_slug="rak-5" dose="500" unit="diffuseurs">RAK 5 <small>500diffuseurs</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0KXJCB9BN17KP3GJTHN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0KXJCB9BN17KP3GJTHN" product_slug="isomate-ofm-tt" dose="200" unit="diffuseurs">ISOMATE-OFM TT 200 DIFFUSEURS 200 UNITES * <small>200diffuseurs</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0APY0JWWHACY365E2T6J01' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0APY0JWWHACY365E2T6J01" product_slug="rak-5" dose="500" unit="diffuseurs">RAK 5 <small>500diffuseurs</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0APY0YMD0BC1G50MN8WA5R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0APY0YMD0BC1G50MN8WA5R" product_slug="isomate-ofm-tt" dose="200" unit="diffuseurs">ISOMATE-OFM TT 200 DIFFUSEURS 200 UNITES * <small>200diffuseurs</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0APY172NKFPSC0DQ89MJ90' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0APY172NKFPSC0DQ89MJ90" product_slug="rak-5" dose="500" unit="diffuseurs">RAK 5 <small>500diffuseurs</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0APY1FC3PQG8YXF63Q7VT1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0APY1FC3PQG8YXF63Q7VT1" product_slug="isomate-ofm-tt" dose="200" unit="diffuseurs">ISOMATE-OFM TT 200 DIFFUSEURS 200 UNITES * <small>200diffuseurs</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0APY1V7E5601MZJZ8N3T4C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0APY1V7E5601MZJZ8N3T4C" product_slug="rak-5" dose="500" unit="diffuseurs">RAK 5 <small>500diffuseurs</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0APY272RAY837415R21081' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0APY272RAY837415R21081" product_slug="isomate-ofm-tt" dose="200" unit="diffuseurs">ISOMATE-OFM TT 200 DIFFUSEURS 200 UNITES * <small>200diffuseurs</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0APY2CGJGF2KQHV3BPYRH3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0APY2CGJGF2KQHV3BPYRH3" product_slug="rak-5" dose="500" unit="diffuseurs">RAK 5 <small>500diffuseurs</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0APY2NCWRAGT6K627EMQKB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0APY2NCWRAGT6K627EMQKB" product_slug="isomate-ofm-tt" dose="200" unit="diffuseurs">ISOMATE-OFM TT 200 DIFFUSEURS 200 UNITES * <small>200diffuseurs</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0APY2VR5A93T9WG8Q5N8K1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0APY2VR5A93T9WG8Q5N8K1" product_slug="rak-5" dose="500" unit="diffuseurs">RAK 5 <small>500diffuseurs</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0APY2ZMD0N2BK6FPD8XHA9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0APY2ZMD0N2BK6FPD8XHA9" product_slug="isomate-ofm-tt" dose="200" unit="diffuseurs">ISOMATE-OFM TT 200 DIFFUSEURS 200 UNITES * <small>200diffuseurs</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0APY3628SHN5B6Q5T69Y83' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0APY3628SHN5B6Q5T69Y83" product_slug="rak-5" dose="500" unit="diffuseurs">RAK 5 <small>500diffuseurs</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FV0APY3DB3K5W2P4DZTHPFAJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0APY3DB3K5W2P4DZTHPFAJ" product_slug="isomate-ofm-tt" dose="200" unit="diffuseurs">ISOMATE-OFM TT 200 DIFFUSEURS 200 UNITES * <small>200diffuseurs</small></button>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>TOP</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0M1DFGTD7Y1239DW6GE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0M1DFGTD7Y1239DW6GE" product_slug="proclaim" dose="2" unit="Kg">PROCLAIM <small>2Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0M4A90HP3BST7JQTZ1B' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0M4A90HP3BST7JQTZ1B" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0M8661FNMY7E02N81NA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0M8661FNMY7E02N81NA" product_slug="carpovirusine-2000" dose="1" unit="L">CARPOVIRUSINE 2000 <small>1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0MBZ7SM2J3MXF6FR2WM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0MBZ7SM2J3MXF6FR2WM" product_slug="carpovirusine-evo-2" dose="1" unit="L">CARPOVIRUSINE EVO 2 <small>1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0ME5NZQCXE3CGYHM6XX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0ME5NZQCXE3CGYHM6XX" product_slug="dipel-df" dose="1" unit="Kg">DIPEL DF <small>1Kg</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0MHGSEVPGJDCTWBEPWF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0MHGSEVPGJDCTWBEPWF" product_slug="delegate" dose="0.3" unit="Kg">DELEGATE <small>0.3Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0MMM71C8Q8C9A7JS01V' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0MMM71C8Q8C9A7JS01V" product_slug="proclaim" dose="2.0001" unit="Kg">PROCLAIM <small>2.0001Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0MR1ANJ2QQZ9RSSR0ET' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0MR1ANJ2QQZ9RSSR0ET" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0MW1ASRBCK6RY1B1MR6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0MW1ASRBCK6RY1B1MR6" product_slug="carpovirusine-2000" dose="1" unit="L">CARPOVIRUSINE 2000 <small>1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0MZZTF46Y388JY8H67P' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0MZZTF46Y388JY8H67P" product_slug="carpovirusine-evo-2" dose="1" unit="L">CARPOVIRUSINE EVO 2 <small>1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0N2KG4HJBWEDTGX5SX1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0N2KG4HJBWEDTGX5SX1" product_slug="dipel-df" dose="1" unit="Kg">DIPEL DF <small>1Kg</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0N7824T949XH5S3GXJQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0N7824T949XH5S3GXJQ" product_slug="delegate" dose="0.3" unit="Kg">DELEGATE <small>0.3Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0NBAC607D5QW6AA3GHW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0NBAC607D5QW6AA3GHW" product_slug="proclaim" dose="2.0" unit="Kg">PROCLAIM <small>2.0Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0NDFP2W92HCWNQ3WWWV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0NDFP2W92HCWNQ3WWWV" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0NG77TAP1SYGCRZHA8M' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0NG77TAP1SYGCRZHA8M" product_slug="carpovirusine-2000" dose="1.0" unit="L">CARPOVIRUSINE 2000 <small>1.0L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0NM30TNXA5ZQ9DR5DXF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0NM30TNXA5ZQ9DR5DXF" product_slug="carpovirusine-evo-2" dose="1.0" unit="L">CARPOVIRUSINE EVO 2 <small>1.0L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0NS8W40X8MQMW3FBEAM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0NS8W40X8MQMW3FBEAM" product_slug="dipel-df" dose="1.0" unit="Kg">DIPEL DF <small>1.0Kg</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0NWGK5869H01V52KC6G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0NWGK5869H01V52KC6G" product_slug="delegate" dose="0.3" unit="Kg">DELEGATE <small>0.3Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0P0J3JVK079B9AV9AH4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0P0J3JVK079B9AV9AH4" product_slug="proclaim" dose="2.0" unit="Kg">PROCLAIM <small>2.0Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0P3X52FT05ER3B0H58A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0P3X52FT05ER3B0H58A" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0P7JVPJ87BJVCC6RF0F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0P7JVPJ87BJVCC6RF0F" product_slug="carpovirusine-2000" dose="1.0" unit="L">CARPOVIRUSINE 2000 <small>1.0L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0PAVR2C62D75M2TSM7J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0PAVR2C62D75M2TSM7J" product_slug="carpovirusine-evo-2" dose="1.0" unit="L">CARPOVIRUSINE EVO 2 <small>1.0L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0PDNC78850D1GG3EQ6H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0PDNC78850D1GG3EQ6H" product_slug="dipel-df" dose="1.0" unit="Kg">DIPEL DF <small>1.0Kg</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0PH6CQPCJWKPYZ6ZKNW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0PH6CQPCJWKPYZ6ZKNW" product_slug="delegate" dose="0.3" unit="Kg">DELEGATE <small>0.3Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0PN31KXP5GMQB9ETQJR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0PN31KXP5GMQB9ETQJR" product_slug="proclaim" dose="2" unit="Kg">PROCLAIM <small>2Kg</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0PVZMTG68VPGJZ81TAQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0PVZMTG68VPGJZ81TAQ" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0PY1BAAQNANZ22A9S8S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0PY1BAAQNANZ22A9S8S" product_slug="carpovirusine-2000" dose="1" unit="L">CARPOVIRUSINE 2000 <small>1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0Q1SPYQYSTAGJ3X64SQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0Q1SPYQYSTAGJ3X64SQ" product_slug="carpovirusine-evo-2" dose="1" unit="L">CARPOVIRUSINE EVO 2 <small>1L</small></button>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0Q44ACES6KCGGB3GQ0Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0Q44ACES6KCGGB3GQ0Z" product_slug="dipel-df" dose="1" unit="Kg">DIPEL DF <small>1Kg</small></button>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0Q7V2TNRJYXRQDM34FD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0Q7V2TNRJYXRQDM34FD" product_slug="delegate" dose="0.3" unit="Kg">DELEGATE <small>0.3Kg</small></button>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>NUTRITION <br>FOLIAIRE</td>
                          <td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0QBSG9WPT3ZNP5JMP5K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0QBSG9WPT3ZNP5JMP5K" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0QEGAZQVJFBE2452HTN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0QEGAZQVJFBE2452HTN" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO-FLOW Zn680F Folli BIO 5 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0QH65QDM2TQ3J371YTK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0QH65QDM2TQ3J371YTK" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0QMGQA6NN759Q5HHGR1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0QMGQA6NN759Q5HHGR1" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO-FLOW Zn680F Folli BIO 5 L <small>1L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0QQQSV3254FYQHHND43' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0QQQSV3254FYQHHND43" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT* 5 L <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0QVAK9TFJWYJ743FAN6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0QVAK9TFJWYJ743FAN6" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM FIT* 5 L <small>2L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0QYY962A2JRX0GG319F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0QYY962A2JRX0GG319F" product_slug="ino-mix-fruit" dose="10" unit="L">INO-MIX FRUITS 10L <small>10L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0R2P4THCXECZW78JNK1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0R2P4THCXECZW78JNK1" product_slug="ino-mix-fruit" dose="10" unit="L">INO-MIX FRUITS 10L <small>10L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0R67EJ9NJ41FYG9GN4P' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0R67EJ9NJ41FYG9GN4P" product_slug="ino-mix-fruit" dose="10" unit="L">INO-MIX FRUITS 10L <small>10L</small></button>
                          </td>
                          <td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GPP0EHVN3CTBWZS9JQAGKMN6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0EHVN3CTBWZS9JQAGKMN6" product_slug="n-balancer-bio-5-l" dose="5" unit="L">N-BALANCER BIO 5 L <small>5L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GPP0EHVQK8A48S4DK6H260B2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0EHVQK8A48S4DK6H260B2" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO-FLOW Zn680F Folli BIO 5 L <small>1L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01GPP0EHVRVP1H6HS1KTMN2XRV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0EHVRVP1H6HS1KTMN2XRV" product_slug="ino-bore-ultra" dose="2" unit="L">INO-BORE ULTRA BIO 10 L <small>2L</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>MALADIES DE <br>CONSERVATION</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0RAK4JTCEYAJKBBPSFM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0RAK4JTCEYAJKBBPSFM" product_slug="serenva" dose="0.5" unit="Kg">SERENVA <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0REP6EBC1J5RA17VT67' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0REP6EBC1J5RA17VT67" product_slug="horizon-arbo" dose="0.5" unit="Kg">HORIZON ARBO <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0RJYYFA66TGCH9XMDJ7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0RJYYFA66TGCH9XMDJ7" product_slug="signum" dose="0.75" unit="Kg">SIGNUM <small>0.75Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0RPJV1PQDNY719K34EB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0RPJV1PQDNY719K34EB" product_slug="luna-experience" dose="0.5" unit="L">LUNA EXPERIENCE <small>0.5L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0RSR5BKFMD8J0Y9W5QP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0RSR5BKFMD8J0Y9W5QP" product_slug="kryor" dose="0.9" unit="L">KRYOR <small>0.9L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0RWGDN3G5S71CXPR097' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0RWGDN3G5S71CXPR097" product_slug="serenva" dose="0.5" unit="Kg">SERENVA <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0S0FBYR1KZ56KPJ0TCM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0S0FBYR1KZ56KPJ0TCM" product_slug="horizon-arbo" dose="0.5" unit="Kg">HORIZON ARBO <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0S5WTHTBD20XAD4VHDJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0S5WTHTBD20XAD4VHDJ" product_slug="signum" dose="0.75" unit="Kg">SIGNUM <small>0.75Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0SD61MMWD2D6KGXWHH9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0SD61MMWD2D6KGXWHH9" product_slug="luna-experience" dose="0.5001" unit="L">LUNA EXPERIENCE <small>0.5001L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0SKMZHBZZESEM93CMEK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0SKMZHBZZESEM93CMEK" product_slug="kryor" dose="0.9" unit="L">KRYOR <small>0.9L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0SRBR24ZETFF5YNQBGX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0SRBR24ZETFF5YNQBGX" product_slug="serenva" dose="0.5" unit="Kg">SERENVA <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0SXR5DA7SKS8ZRHCWF6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0SXR5DA7SKS8ZRHCWF6" product_slug="horizon-arbo" dose="0.5" unit="Kg">HORIZON ARBO <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0T1JRT82ZCNVRXPB7PE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0T1JRT82ZCNVRXPB7PE" product_slug="signum" dose="0.75" unit="Kg">SIGNUM <small>0.75Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0T5XY96KYQE7Y5BE3DZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0T5XY96KYQE7Y5BE3DZ" product_slug="luna-experience" dose="0.5" unit="L">LUNA EXPERIENCE <small>0.5L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0T82H8D2S7MVMVN8PQQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0T82H8D2S7MVMVN8PQQ" product_slug="kryor" dose="0.9" unit="L">KRYOR <small>0.9L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0TCX08K1745QSKD8F2H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0TCX08K1745QSKD8F2H" product_slug="serenva" dose="0.5" unit="Kg">SERENVA <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0TGW023ZG9JTC8RMEXY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0TGW023ZG9JTC8RMEXY" product_slug="horizon-arbo" dose="0.5" unit="Kg">HORIZON ARBO <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0TMXEJ0NV4C7TYPVXAN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0TMXEJ0NV4C7TYPVXAN" product_slug="signum" dose="0.75" unit="Kg">SIGNUM <small>0.75Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0TRGQDVCRBVK57BJF8K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0TRGQDVCRBVK57BJF8K" product_slug="luna-experience" dose="0.5" unit="L">LUNA EXPERIENCE <small>0.5L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0TV9K3T44GNP35W2F0E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0TV9K3T44GNP35W2F0E" product_slug="kryor" dose="0.9" unit="L">KRYOR <small>0.9L</small></button>
                          </td>
                          <td>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0V0AYGCCGGRJTQWYZ29' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0V0AYGCCGGRJTQWYZ29" product_slug="serenva" dose="0.5" unit="Kg">SERENVA <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0V3C4EVSEB8CNSGTTK0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0V3C4EVSEB8CNSGTTK0" product_slug="horizon-arbo" dose="0.5" unit="Kg">HORIZON ARBO <small>0.5Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0V7M60PHJPW2DPP9M4W' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0V7M60PHJPW2DPP9M4W" product_slug="signum" dose="0.75" unit="Kg">SIGNUM <small>0.75Kg</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0VB50B18462NNFJNCDY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0VB50B18462NNFJNCDY" product_slug="luna-experience" dose="0.5" unit="L">LUNA EXPERIENCE <small>0.5L</small></button>
                            <button class="btn-V btn btn-block isProduct {{ printRequest ? '01FEF7N0VGZ4M7KNT29Y1S1ZJK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0VGZ4M7KNT29Y1S1ZJK" product_slug="kryor" dose="0.9" unit="L">KRYOR <small>0.9L</small></button>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>FERMETE <br>QUALITE</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0VKDKVJWHMVDBSECCMT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0VKDKVJWHMVDBSECCMT" product_slug="intracell" dose="4" unit="Kg">INTRACELL <small>4Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01FEF7N0VQQN9RTC6556QV2QJR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0VQQN9RTC6556QV2QJR" product_slug="intracell" dose="4.0001" unit="Kg">INTRACELL <small>4.0001Kg</small></button>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>ACARIENS</td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0VVA4FZWKB23CS1KGE8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0VVA4FZWKB23CS1KGE8" product_slug="masai" dose="0.5" unit="Kg">MASAI <small>0.5Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0W26RKM7AF79AMWZH8H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0W26RKM7AF79AMWZH8H" product_slug="masai" dose="0.5" unit="Kg">MASAI <small>0.5Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-R btn btn-block isProduct {{ printRequest ? '01FEF7N0W6012KJ5AZRWHV85W2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0W6012KJ5AZRWHV85W2" product_slug="masai" dose="0.5" unit="Kg">MASAI <small>0.5Kg</small></button>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>ANTI CHLROSE</td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEF7N0WAR9V7AEB7SFGMFMB9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0WAR9V7AEB7SFGMFMB9" product_slug="sferesol" dose="300" unit="Kg/Ha">SFEROSOL BIO <small>300Kg/Ha</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0WGEXKXZNMTJDQ2YRR2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0WGEXKXZNMTJDQ2YRR2" product_slug="ferrilene" dose="120" unit="g/Pied">FERRILENE 4.8 BIO 5 KG <small>120g/Pied</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01FEF7N0WNV85NWY79QE16WC82' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0WNV85NWY79QE16WC82" product_slug="sferesol" dose="300" unit="Kg/Ha">SFEROSOL BIO <small>300Kg/Ha</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0WSNZ5HR84SRMHYZE0K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0WSNZ5HR84SRMHYZE0K" product_slug="ferrilene" dose="120" unit="g/Pied">FERRILENE 4.8 BIO 5 KG <small>120g/Pied</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0WY74GNBP73D9GSV4BY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0WY74GNBP73D9GSV4BY" product_slug="ino-chel-fer-93" dose="1" unit="L">INO CHEL FER 93 <small>1L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0X3PVBN0K63XQE9M69X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0X3PVBN0K63XQE9M69X" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA 10L <small>3L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0X60WHNYYSZPBY1G7BC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0X60WHNYYSZPBY1G7BC" product_slug="ino-chel-fer-93" dose="1" unit="L">INO CHEL FER 93 <small>1L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0XA07G0ZJBX1R0V6PC6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0XA07G0ZJBX1R0V6PC6" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA 10L <small>3L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0XDAFB0FZHCSHV4531X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0XDAFB0FZHCSHV4531X" product_slug="ino-chel-fer-93" dose="1.0" unit="L">INO CHEL FER 93 <small>1.0L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0XJVNTMS4TSVB9A53WR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0XJVNTMS4TSVB9A53WR" product_slug="ino-chel-ultra" dose="3.0" unit="L">INO CHEL FER ULTRA 10L <small>3.0L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0XPSBDEDT4R04GDBTQK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0XPSBDEDT4R04GDBTQK" product_slug="ino-chel-fer-93" dose="1.0" unit="L">INO CHEL FER 93 <small>1.0L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0XS6FA61XVB9YMJ5X1Y' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0XS6FA61XVB9YMJ5X1Y" product_slug="ino-chel-ultra" dose="3.0" unit="L">INO CHEL FER ULTRA 10L <small>3.0L</small></button>
                          </td>
                          <td>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0XX2SD8TREBEB0BT8RQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0XX2SD8TREBEB0BT8RQ" product_slug="ino-chel-fer-93" dose="1" unit="L">INO CHEL FER 93 <small>1L</small></button>
                            <button class="btn-M btn btn-block isProduct {{ printRequest ? '01FEF7N0Y19V1GT36JA4D4MCDG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0Y19V1GT36JA4D4MCDG" product_slug="ino-chel-ultra" dose="3" unit="L">INO CHEL FER ULTRA 10L <small>3L</small></button>
                          </td>
                          <td></td><td></td>
                        </tr>
                        <tr>
                          <td>DECALAGE <br>FLORAISON</td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0E6HC8GC0YQEVQ7120B61' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0E6HC8GC0YQEVQ7120B61" product_slug="rise-p-vam-150-grs" dose="150" unit="grs">RISE P VAM* 150 grs <small>150grs</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0E6HEQ88K4663YDEWFJ4C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0E6HEQ88K4663YDEWFJ4C" product_slug="rise-p-vam-150-grs" dose="150" unit="grs">RISE P VAM* 150 grs <small>150grs</small></button>
                          </td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0E6HFQ8D5T799NJWJK1ZZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0E6HFQ8D5T799NJWJK1ZZ" product_slug="rise-p-vam-150-grs" dose="150" unit="grs">RISE P VAM* 150 grs <small>150grs</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn-C btn btn-block isProduct {{ printRequest ? '01GPP0E6HGP7K49WTAJKTEJG24' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0E6HGP7K49WTAJKTEJG24" product_slug="rise-p-vam-150-grs" dose="150" unit="grs">RISE P VAM* 150 grs <small>150grs</small></button>
                          </td>
                        </tr>
                        <tr>
                          <td>DESHERBAGES</td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0Y9STP1TKT76TFF2MSR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0Y9STP1TKT76TFF2MSR" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSB6D5THX4RZZGCARJXCNV3S' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB6D5THX4RZZGCARJXCNV3S" product_slug="cent-7" dose="4.8" unit="L">CENT 7 <small>4.8L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0B8MVBDKDA2P0J09WHTMX5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0B8MVBDKDA2P0J09WHTMX5" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0B8MVP044KF3KE7DF3TWHX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0B8MVP044KF3KE7DF3TWHX" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0Y9STP1TKT76TFF2MSR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0Y9STP1TKT76TFF2MSR" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSB6D5TRSFKXMBJ5SKQ43ZAD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB6D5TRSFKXMBJ5SKQ43ZAD" product_slug="cent-7" dose="4.8" unit="L">CENT 7 <small>4.8L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0B8MVZA2S489QT3EMZFTEV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0B8MVZA2S489QT3EMZFTEV" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0B8MW67KHC47C73FYA7QVG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0B8MW67KHC47C73FYA7QVG" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0B67BT3CKZEG5S66C7A4Q7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0B67BT3CKZEG5S66C7A4Q7" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01GSB6D5TTX8KME2GYN3SZHH44' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GSB6D5TTX8KME2GYN3SZHH44" product_slug="cent-7" dose="4.8" unit="L">CENT 7 <small>4.8L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0B8MWH5QWBY5P9RPR5T9SR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0B8MWH5QWBY5P9RPR5T9SR" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0B8MWV4VHX9JQYVH92EAAS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0B8MWV4VHX9JQYVH92EAAS" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0B67C58NAK0TNZF511APH0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0B67C58NAK0TNZF511APH0" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0B8MX338YDAT48TSYVAGSB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0B8MX338YDAT48TSYVAGSB" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0B8MXA87CFYQ83N9FE4B05' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0B8MXA87CFYQ83N9FE4B05" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                          </td>
                          <td></td><td></td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0YCA91PWAD847FKHRJ5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0YCA91PWAD847FKHRJ5" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0YGNTC5Z10E2B1F0VZB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0YGNTC5Z10E2B1F0VZB" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0BA93469VGSNS48JJP8TS4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BA93469VGSNS48JJP8TS4" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0BA93CZT75BR335W4DD54Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BA93CZT75BR335W4DD54Z" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0YK0A2HTFV5QAEDXMAR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0YK0A2HTFV5QAEDXMAR" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0YQ4GYZN6NX9DJ4CV09' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0YQ4GYZN6NX9DJ4CV09" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0BA93HPACDXK31CSEP2786' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BA93HPACDXK31CSEP2786" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0BA93QE65FNYJCYNRMDPPR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BA93QE65FNYJCYNRMDPPR" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0YVQ6HV72NEASACF52F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0YVQ6HV72NEASACF52F" product_slug="spotlight-plus" dose="1.0" unit="L">SPOTLIGHT PLUS <small>1.0L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0YZDMD7TW0FJD5R04WQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0YZDMD7TW0FJD5R04WQ" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0BA93VRYAF8NAT6WRBYP62' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BA93VRYAF8NAT6WRBYP62" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0BA93YRT384HETA3ZGTG71' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BA93YRT384HETA3ZGTG71" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0Z2XJJQ8XZZCPERD5A3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0Z2XJJQ8XZZCPERD5A3" product_slug="spotlight-plus" dose="1.0" unit="L">SPOTLIGHT PLUS <small>1.0L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0Z6B18RHJSMQEQQKNZE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0Z6B18RHJSMQEQQKNZE" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0BA944E38G29XXC8R9CWAF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BA944E38G29XXC8R9CWAF" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0BA949VD1GP1K6WXA25NWV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BA949VD1GP1K6WXA25NWV" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0ZA6X4Q19P4EF3HBXVK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0ZA6X4Q19P4EF3HBXVK" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0ZEGEWPZWAWBF39EDEN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0ZEGEWPZWAWBF39EDEN" product_slug="roundup-flash-plus" dose="2" unit="L">ROUNDUP FLASH PLUS <small>2L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0BA94CNKN387C6RMQY6RDV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BA94CNKN387C6RMQY6RDV" product_slug="krypt-540-pjt-15-l-glypho" dose="1.7" unit="L">KRYPT 540 PJT 15 L (Glypho) <small>1.7L</small></button>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FV0BA94KWJ6NPRS80TR5QHTG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FV0BA94KWJ6NPRS80TR5QHTG" product_slug="glister-ultra-360" dose="2.5" unit="L">GLISTER ULTRA 360 <small>2.5L</small></button>
                          </td>
                          <td>
                            <button class="btn-J btn btn-block isProduct {{ printRequest ? '01FEF7N0ZHVK4RK3T09G8C5X9C' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0ZHVK4RK3T09G8C5X9C" product_slug="spotlight-plus" dose="1" unit="L">SPOTLIGHT PLUS <small>1L</small></button>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>ADJUVANTS</td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N0ZPE0YANVEFWP0GD89E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0ZPE0YANVEFWP0GD89E" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPP0DV716Y7XT12HXVJ5B8FX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0DV716Y7XT12HXVJ5B8FX" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N0ZSHDWE59AV89QWW1RK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0ZSHDWE59AV89QWW1RK" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPP0DV72HC6YQYMWKMYQ2WQE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0DV72HC6YQYMWKMYQ2WQE" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N0ZY4QTVJAV5GKP0AH01' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N0ZY4QTVJAV5GKP0AH01" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPP0DV73JWM3F84BYHWP2GYN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0DV73JWM3F84BYHWP2GYN" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N101Q8X795YZNVSSC1X7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N101Q8X795YZNVSSC1X7" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPP0DV74KFW9SBRCHWZ4XAC6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0DV74KFW9SBRCHWZ4XAC6" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N106YGSMSXBG7ZBAWSWW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N106YGSMSXBG7ZBAWSWW" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N109QA9FYNSEKNA3JG6D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N109QA9FYNSEKNA3JG6D" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N10DJFW09QEQQE1AAPZZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N10DJFW09QEQQE1AAPZZ" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPP0DCKBCGAVMX5SHCFJHMDA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0DCKBCGAVMX5SHCFJHMDA" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N10GH1B6X0S2CXSSH3R9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N10GH1B6X0S2CXSSH3R9" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N10NGQF502XJQ02GB1W0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N10NGQF502XJQ02GB1W0" product_slug="oliofix" dose="1" unit="%">OLIOFIX* 15 L <small>1%</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPP0DCKDVTXNGJM6FF3RYHY3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0DCKDVTXNGJM6FF3RYHY3" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N10SWXANF12V78EAP3NS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N10SWXANF12V78EAP3NS" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N10WDVYXCHH45K9T7BC0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N10WDVYXCHH45K9T7BC0" product_slug="oliofix" dose="1" unit="%">OLIOFIX* 15 L <small>1%</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPP0DCKEY3P8PSV382RGZM9T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0DCKEY3P8PSV382RGZM9T" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N110B63F0ZJEJ50GM175' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N110B63F0ZJEJ50GM175" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N114KJ2X8BRV75YQ04BY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N114KJ2X8BRV75YQ04BY" product_slug="oliofix" dose="1.0" unit="%">OLIOFIX* 15 L <small>1.0%</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPP0DCKEZSYMX33FTWQFEJ4W' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0DCKEZSYMX33FTWQFEJ4W" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N118MG9NPEN56AAW5DKH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N118MG9NPEN56AAW5DKH" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N11C8JYH44EAJQ2R75D5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N11C8JYH44EAJQ2R75D5" product_slug="oliofix" dose="1.0" unit="%">OLIOFIX* 15 L <small>1.0%</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPP0DCKFPW4Q8717TNYJPYHP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0DCKFPW4Q8717TNYJPYHP" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N11FVEVN0PJ897C8778A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N11FVEVN0PJ897C8778A" product_slug="sticman" dose="0.15" unit="L">STICMAN <small>0.15L</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01FEF7N11JNGD5DX6C4ZE7R2DG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEF7N11JNGD5DX6C4ZE7R2DG" product_slug="oliofix" dose="1" unit="%">OLIOFIX* 15 L <small>1%</small></button>
                            <button class="btn-A btn btn-block isProduct {{ printRequest ? '01GPP0DCKF4KFGZ3ERKX5ZPP36' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0DCKF4KFGZ3ERKX5ZPP36" product_slug="gondor" dose="0.3" unit="L">GONDOR <small>0.3L</small></button>
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Fumure</td>
                          <td></td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNM837SAWDHHYJBBPB96' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNM837SAWDHHYJBBPB96" product_slug="guanumus" dose="1500" unit="Kg">GUANUMUS EVOLUTION C BIO <small>1500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMBRZCWAH8MAGQH9RDG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMBRZCWAH8MAGQH9RDG" product_slug="orchestra" dose="500" unit="Kg">ORCHESTRA SOL UAB BIO 5 QL <small>500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMC8MTM4DEX1CK6AEZ9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMC8MTM4DEX1CK6AEZ9" product_slug="17-20-0-28-so3" dose="250" unit="Kg">17 20 0+28 SO3 6 QL (FERTINAGRO) <small>250Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMDVB0YHZRZEMVXS53N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMDVB0YHZRZEMVXS53N" product_slug="12-12-17" dose="500" unit="Kg">12 12 17 SK 6 QL <small>500Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMDHWPCE024WWHYFDS2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMDHWPCE024WWHYFDS2" product_slug="guanumus" dose="1500" unit="Kg">GUANUMUS EVOLUTION C BIO <small>1500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNME37RQ99PVJ96K09C9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNME37RQ99PVJ96K09C9" product_slug="orchestra" dose="500" unit="Kg">ORCHESTRA SOL UAB BIO 5 QL <small>500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMEDRPWJA0A5X2KCXG3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMEDRPWJA0A5X2KCXG3" product_slug="17-20-0-28-so3" dose="250" unit="Kg">17 20 0+28 SO3 6 QL (FERTINAGRO) <small>250Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMERCD2KTV744C1A14B' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMERCD2KTV744C1A14B" product_slug="12-12-17" dose="500" unit="Kg">12 12 17 SK 6 QL <small>500Kg</small></button>
                          </td>
                          <td>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMEZDZZF1PB97NB52G8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMEZDZZF1PB97NB52G8" product_slug="guanumus" dose="1500" unit="Kg">GUANUMUS EVOLUTION C BIO <small>1500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMFVYTK6FEZRA2BXDBB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMFVYTK6FEZRA2BXDBB" product_slug="orchestra" dose="500" unit="Kg">ORCHESTRA SOL UAB BIO 5 QL <small>500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMF8BQZVZ70C9YQX11Y' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMF8BQZVZ70C9YQX11Y" product_slug="17-20-0-28-so3" dose="250" unit="Kg">17 20 0+28 SO3 6 QL (FERTINAGRO) <small>250Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMGN312CMD01YWDKJ1W' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMGN312CMD01YWDKJ1W" product_slug="12-12-17" dose="500" unit="Kg">12 12 17 SK 6 QL <small>500Kg</small></button>
                          </td>
                          <td></td><td></td><td></td><td></td><td></td>
                          <td>
                            <button class="btn btn-B btn-block isProduct {{ printRequest ? '01GPP0CNMGYCVJVBEM3ZHXTB2P' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMGYCVJVBEM3ZHXTB2P" product_slug="sulfate-de-potasse" dose="250" unit="Kg">SULFATE DE POTASSE 6 QL <small>250Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMHT9CEEQDY2N2XVNQ7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMHT9CEEQDY2N2XVNQ7" product_slug="diamic-k26" dose="500" unit="Kg">DIAMIC K26 UAB BIO 6 QL <small>500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMJ0N5JTR107XDASE84' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMJ0N5JTR107XDASE84" product_slug="nitrate-de-potasse-6-ql" dose="300" unit="Kg">NITRATE DE POTASSE CRISTA SOLUBLE 25 KG <small>300Kg</small></button>
                          </td>
                          <td>
                            <button class="btn btn-B btn-block isProduct {{ printRequest ? '01GPP0CNMKRSF65J2FV9YE4798' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMKRSF65J2FV9YE4798" product_slug="sulfate-de-potasse" dose="250" unit="Kg">SULFATE DE POTASSE 6 QL <small>250Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMKM78EG3ZPYPAPPW4D' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMKM78EG3ZPYPAPPW4D" product_slug="diamic-k26" dose="500" unit="Kg">DIAMIC K26 UAB BIO 6 QL <small>500Kg</small></button>
                            <button class="btn-B btn btn-block isProduct {{ printRequest ? '01GPP0CNMMWXDGAZTKJYN1844G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GPP0CNMMWXDGAZTKJYN1844G" product_slug="nitrate-de-potasse-6-ql" dose="300" unit="Kg">NITRATE DE POTASSE CRISTA SOLUBLE 25 KG <small>300Kg</small></button>
                          </td>
                          <td></td>
                          <td>
                            <button class="btn btn-B btn-block isProduct {{ printRequest ? '01GQ7AT7VEAXW7M2QJP8PT8BMY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GQ7AT7VEAXW7M2QJP8PT8BMY" product_slug="guanumus-evolution-c-bio-25-kg" dose="1500" unit="Kg">GUANUMUS EVOLUTION C BIO 25 KG <small>1500Kg</small></button>
                            <button class="btn btn-B btn-block isProduct {{ printRequest ? '01GQ7AT7VNHSY5FJJHS06WMDHY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GQ7AT7VNHSY5FJJHS06WMDHY" product_slug="orchestra-sol-presto-5-ql" dose="500" unit="Kg">ORCHESTRA SOL PRESTO  5 QL <small>500Kg</small></button>
                            <button class="btn btn-B btn-block isProduct {{ printRequest ? '01GQ7AT7VR02R55RB2E60F3GAW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01GQ7AT7VR02R55RB2E60F3GAW" product_slug="bior" dose="1000" unit="Kg">BIOR 70% MO BIO <small>1000Kg</small></button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            {% include 'recommendations/canevas/warning.html.twig' %}
        </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

