{% extends printRequest == false
    ? 'recommendations/canevas/base.html.twig'
    : 'recommendations/canevas/print.html.twig' %}

{% block title %}Canevas{% endblock %}

{% block body %}
    {% if printRequest == false %}
        <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Canevas {{ culture.name }} </h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendation_new') }}">Catalogue</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Canevas</a></li>
                    <li class="breadcrumb-item active">{{ culture.name }}</li>
                </ol>
            </div>
            <div class="">
                <button id="open-right-sidebar" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right ml-2"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body">
    {% endif  %}
    <div class="table-responsive">
        <table class="table table-bordered no-wrap">
            <thead>
            <tr>
                <th></th>
                <th>
                    <p class="text-center">Bourgeon <br>d'hiver</p>
                </th>
                <th>
                    <p class="text-center">Bourgeon <br>gonflé</p>
                </th>
                <th>
                    <p class="text-center">Boutons <br>visibles</p>
                </th>
                <th>
                    <p class="text-center">Boutons <br>verts <br>séparés</p>
                </th>
                <th>
                    <p class="text-center">20% <br>Boutons <br>Blancs</p>
                </th>
                <th>
                    <p class="text-center">Etamines <br>visibles</p>
                </th>
                <th>
                    <p class="text-center">20% fleurs <br>ouvertes</p>
                </th>
                <th>
                    <p class="text-center">Début chute <br>des pétales</p>
                </th>
                <th>
                    <p class="text-center">Nouaison</p>
                </th>
                <th>
                    <p class="text-center">Chute des <br>collerettes</p>
                </th>
                <th>
                    <p class="text-center">Jeunes <br>fruits</p>
                </th>
                <th>
                    <p class="text-center">15/20 mai</p>
                </th>
                <th>
                    <p class="text-center">10/15 Juin</p>
                </th>
                <th>
                    <p class="text-center">Début <br>Juillet</p>
                </th>
                <th>
                    <p class="text-center">15-Juil</p>
                </th>
                <th>
                    <p class="text-center">Fin Juillet</p>
                </th>
                <th>
                    <p class="text-center">Post Récolte Sept/Oct</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Bactéries</td>
                <td colspan="2">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASGY7F2ZD6VPBRD3NCKRR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGY7F2ZD6VPBRD3NCKRR" product_slug="kocide-2000" dose="3.5" unit="Kg">KOCIDE 2000 <small>3.5 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASGY7F2ZD6VPBRD3NCKRA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGY7F2ZD6VPBRD3NCKRA" product_slug="cuprocol-duo" dose="4" unit="Kg">CUPROCOL DUO <small>4 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASGYAY801KHTCAH3Z4MC7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYAY801KHTCAH3Z4MC7" product_slug="bouillie-bordelaise-rsr" dose="12" unit="Kg">BB RSR <small>12 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASGYCTJKFZ6PP8NJNG5SS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYCTJKFZ6PP8NJNG5SS" product_slug="kocide-2000" dose="3.5" unit="Kg">KOCIDE 2000 <small>3.5 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td>Pucerons</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASGYEBJX5NW12ZER0XARW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYEBJX5NW12ZER0XARW" product_slug="surround-wp-crop-protectant" dose="50" unit="Kg">SURROUND <small>50 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASGYG7AWZR6AFS88ANS5G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYG7AWZR6AFS88ANS5G" product_slug="surround-wp-crop-protectant" dose="30" unit="Kg">SURROUND <small>30 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASGYJEJY4JGZZTPRVE0T2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYJEJY4JGZZTPRVE0T2" product_slug="surround-wp-crop-protectant" dose="30" unit="Kg">SURROUND <small>30 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASGYJEJY4JGZZTPRVE0T21' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYJEJY4JGZZTPRVE0T21" product_slug="surround-wp-crop-protectant" dose="50" unit="Kg">SURROUND <small>50 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td>Acariens <br>Cochenilles <br>cornouiller</td>
                <td></td>
                <td colspan="3">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASGYPZPM26A58GWY15Z2R' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYPZPM26A58GWY15Z2R" product_slug="acakill" dose="20" unit="L">ACAKILL <small>20 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASGYRS01SQMGTVB3K9VAR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYRS01SQMGTVB3K9VAR" product_slug="polithiol" dose="25" unit="L">POLITHIOL <small>25 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Hopplocampe </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASGYPZPM26A58GWY15Z2R1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYPZPM26A58GWY15Z2R1" product_slug="quassol-1-kg" dose="0.3" unit="Kg">QUASSOL <small>0,3 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASGYRS01SQMGTVB3K9VAR1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYRS01SQMGTVB3K9VAR1" product_slug="quassol-1-kg" dose="0.3" unit="Kg">QUASSOL <small>0,3 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Solutions <br>alternatives <br>préventives <br>sur <br>maladies <br>des fleurs</td>
                <td></td><td></td><td></td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGYTMY1B31G19SPM9XX9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYTMY1B31G19SPM9XX9" product_slug="amylo-x-wg" dose="2.5" unit="Kg">AMYLO - X WG <small>2.5 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGYWQWVSSQ2Z8EFMZJBB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYWQWVSSQ2Z8EFMZJBB" product_slug="stimulus-bioprotech" dose="2" unit="L">STIMULUS BIOPROTECH <small>2 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGYYMY6D3BSE610H5CGE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGYYMY6D3BSE610H5CGE" product_slug="curatio" dose="16" unit="L">CURATIO <small>16 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVQZ98KCM61M5H2TZ5RFZXN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVQZ98KCM61M5H2TZ5RFZXN" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVQZ98P8P7TSTKDM0C0WC3B' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVQZ98P8P7TSTKDM0C0WC3B" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVQZ98R17ZQBQCE7YAR854F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVQZ98R17ZQBQCE7YAR854F" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGZ57AR367EJPDDXNKYJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGZ57AR367EJPDDXNKYJ" product_slug="amylo-x-wg" dose="2" unit="Kg">AMYLO - X WG <small>2.5 Kg</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGZ79579S6GR2ZSB3PR1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGZ79579S6GR2ZSB3PR1" product_slug="stimulus-bioprotech" dose="2" unit="L">STIMULUS BIOPROTECH <small>2 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGZ9M6ZX0QY20H14998F' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGZ9M6ZX0QY20H14998F" product_slug="curatio" dose="16" unit="L">CURATIO <small>16 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVQZ98T8N312VTPA03W3KEZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVQZ98T8N312VTPA03W3KEZ" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVQZ98W19PZ7FVY0CSVPXAN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVQZ98W19PZ7FVY0CSVPXAN" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVQZ98Z3BFQF42JA6NX3XKQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVQZ98Z3BFQF42JA6NX3XKQ" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1 L</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td rowspan="5">Solutions <br>alternatives <br>préventives <br>sur <br>maladies <br>des feuilles et des fruits</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-V btn-block isProduct{{ printRequest ? '01FEFASGZF2SD21ZE6H7EA61AZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGZF2SD21ZE6H7EA61AZ" product_slug="nordox-75-wg" dose="1.7" unit="Kg">NORDOX 25 Wg <small>1.7 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGZJAP977AFPTREQAWFA' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGZJAP977AFPTREQAWFA" product_slug="nordox-75-wg" dose="1.7" unit="Kg">NORDOX 25 Wg <small>1.7 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGZMA38V5XP1YT3YM3JD' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGZMA38V5XP1YT3YM3JD" product_slug="nordox-75-wg" dose="1.7" unit="Kg">NORDOX 25 Wg <small>1.7 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGZQWQKVPYCMMZ0AMEVB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGZQWQKVPYCMMZ0AMEVB" product_slug="ino-cuivre-120" dose="2" unit="L">INO CUIVRE 120 <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGZS2NMRXFGC06Z3QJC2' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGZS2NMRXFGC06Z3QJC2" product_slug="ino-cuivre-120" dose="2" unit="L">INO CUIVRE 120 <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGZVXAAW5FYB9BTS58YE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGZVXAAW5FYB9BTS58YE" product_slug="ino-cuivre-120" dose="2" unit="L">INO CUIVRE 120 <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGZXYDJ939P0WNVMC38Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGZXYDJ939P0WNVMC38Z" product_slug="ino-cuivre-120" dose="2" unit="L">INO CUIVRE 120 <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASGZZC1ERSDNQC7T4YER7' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASGZZC1ERSDNQC7T4YER7" product_slug="ino-cuivre-120" dose="2" unit="L">INO CUIVRE 120 <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH01J48E4V811HE810E6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH01J48E4V811HE810E6" product_slug="ino-cuivre-120" dose="2" unit="L">INO CUIVRE 120 <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH039RQW3ZYQRP8BFEAJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH039RQW3ZYQRP8BFEAJ" product_slug="ino-cuivre-120" dose="2" unit="L">INO CUIVRE 120 <small>2 L</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH05JM6XR92TCE7S0XT7' in c_id_array ? 'exist' : 'd-none' }}"  c_id="01FEFASH05JM6XR92TCE7S0XT7" product_slug="citrothiol-dg" dose="8 unit="Kg">CITROTHIOL DG <small>48g</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH07FAK1TTJ0T2FAGQM4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH07FAK1TTJ0T2FAGQM4" product_slug="citrothiol-dg" dose="8 unit="Kg">CITROTHIOL DG <small>48g</small></button>
                </td>
                <td></td><td></td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH0AGRH99296SVVKADFT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH0AGRH99296SVVKADFT" product_slug="citrothiol-dg" dose="8 unit="Kg">CITROTHIOL DG <small>48g</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH0CVWC39J8FXKX141FW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH0CVWC39J8FXKX141FW" product_slug="citrothiol-dg" dose="8 unit="Kg">CITROTHIOL DG <small>48g</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH0E7YPVQTFE7SA7ZBMS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH0E7YPVQTFE7SA7ZBMS" product_slug="citrothiol-dg" dose="8 unit="Kg">CITROTHIOL DG <small>48g</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH0GKV21TRWM77PEX0G0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH0GKV21TRWM77PEX0G0" product_slug="citrothiol-dg" dose="8 unit="Kg">CITROTHIOL DG <small>48g</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH0J17YSB8P7CZR0B11J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH0J17YSB8P7CZR0B11J" product_slug="citrothiol-dg" dose="8 unit="Kg">CITROTHIOL DG <small>48g</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH0K8TJZDZSNZQ0X7X0T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH0K8TJZDZSNZQ0X7X0T" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH0NNG05821XZCZKHPRH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH0NNG05821XZCZKHPRH" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH0SKNTA2AH8J3E5XRG1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH0SKNTA2AH8J3E5XRG1" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH0V4583PBKXF4V5MDDN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH0V4583PBKXF4V5MDDN" product_slug="solispe" dose="33" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH0WH2ZMWGYK3Z4YAE7T' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH0WH2ZMWGYK3Z4YAE7T" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH0YKV9EQH77XPN66F2K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH0YKV9EQH77XPN66F2K" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH102HB5QMJV9AE9HYMJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH102HB5QMJV9AE9HYMJ" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH120JK0EJ41YJDKRXSP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH120JK0EJ41YJDKRXSP" product_slug="solispe" dose="3" unit="Kg">ELITHO SPE <small>3 Kg</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH15AS5DE2XZ7XNY2YPZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH15AS5DE2XZ7XNY2YPZ" product_slug="stimulus-bioprotech" dose="1" unit="L">STIMULUS BIOPROTECH <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RG8JF2KYDGCTR8Y553A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RG8JF2KYDGCTR8Y553A" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RGM9D79B4AQ1FKNCSNK' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RGM9D79B4AQ1FKNCSNK" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RGVTJ6SQ12SYMH6T9MW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RGVTJ6SQ12SYMH6T9MW" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH17XRRG0F28THEEGNYQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH17XRRG0F28THEEGNYQ" product_slug="stimulus-bioprotech" dose="1" unit="L">STIMULUS BIOPROTECH <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RH2QFY1HDTSDYBE5JZY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RH2QFY1HDTSDYBE5JZY" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RH79KS6BJBKNVHFHMA4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RH79KS6BJBKNVHFHMA4" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RHETDHMKVA29GBN9J95' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RHETDHMKVA29GBN9J95" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH19DD92SMQMMQJG5QMS' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH19DD92SMQMMQJG5QMS" product_slug="stimulus-bioprotech" dose="1" unit="L">STIMULUS BIOPROTECH <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RHHSA9W63G3V3NRY3FC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RHHSA9W63G3V3NRY3FC" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RHMPAVPFS2175QP1ZY1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RHMPAVPFS2175QP1ZY1" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RHTVN81EFNH8J6DWRGX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RHTVN81EFNH8J6DWRGX" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH1B527T0C93ETARKY58' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH1B527T0C93ETARKY58" product_slug="curatio" dose="16" unit="L">CURATIO <small>16 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH1DTQEA0Y8E1HMAJD8A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH1DTQEA0Y8E1HMAJD8A" product_slug="stimulus-bioprotech" dose="1" unit="L">STIMULUS BIOPROTECH <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RHZNBADF96RSAKZYY9N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RHZNBADF96RSAKZYY9N" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RJ38ZPYQKNYETGREPET' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RJ38ZPYQKNYETGREPET" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RJ38ZPYQKNYETGREPET' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RJ38ZPYQKNYETGREPET" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH1F0HBTYY2ZK8MCNSBW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH1F0HBTYY2ZK8MCNSBW" product_slug="curatio" dose="16" unit="L">CURATIO <small>16 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH1H7PF1SPWNJSGPRNJR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH1H7PF1SPWNJSGPRNJR" product_slug="stimulus-bioprotech" dose="1" unit="L">STIMULUS BIOPROTECH <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RJEXS6PAXQJ477HFEX0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RJEXS6PAXQJ477HFEX0" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RJHR7MJT6V7AZ843C6X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RJHR7MJT6V7AZ843C6X" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RJMTQ24T9A4H9EKMDMN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RJMTQ24T9A4H9EKMDMN" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH1K29M1V8E5AKMBH3M4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH1K29M1V8E5AKMBH3M4" product_slug="curatio" dose="16" unit="L">CURATIO <small>16 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH1N6QJW9JHMFV6MQC4X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH1N6QJW9JHMFV6MQC4X" product_slug="stimulus-bioprotech" dose="1" unit="L">STIMULUS BIOPROTECH <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RJSYVX1NYN9BAQ1W622' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RJSYVX1NYN9BAQ1W622" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RJZY3425B94J1P3SNWH' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RJZY3425B94J1P3SNWH" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RK2YZ60JH1GAZZSCVQJ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RK2YZ60JH1GAZZSCVQJ" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH1QSY676QGZJSP8T95X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH1QSY676QGZJSP8T95X" product_slug="curatio" dose="16" unit="L">CURATIO <small>16 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH1S79BWJ206F5B1ESYR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH1S79BWJ206F5B1ESYR" product_slug="stimulus-bioprotech" dose="1" unit="L">STIMULUS BIOPROTECH <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RK62RN3A4D84X6HEA7X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RK62RN3A4D84X6HEA7X" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RKD511B93PBQXX2QP0Z' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RKD511B93PBQXX2QP0Z" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RKGEXA9Y7XS3P45HSBF' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RKGEXA9Y7XS3P45HSBF" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH1VSCF31J3VKT51Y1QB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH1VSCF31J3VKT51Y1QB" product_slug="curatio" dose="16" unit="L">CURATIO <small>16 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH1XDAJR9M65Q8GED45P' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH1XDAJR9M65Q8GED45P" product_slug="stimulus-bioprotech" dose="1" unit="L">STIMULUS BIOPROTECH <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RKKCFCFG7BNYRRQBSGX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RKKCFCFG7BNYRRQBSGX" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RKQAEKV23YZ7X1NBN4Y' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RKQAEKV23YZ7X1NBN4Y" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RKXYGVCS7ZSKKZ1FGWV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RKXYGVCS7ZSKKZ1FGWV" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH20XXRDZC6NNBFZWZMQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH20XXRDZC6NNBFZWZMQ" product_slug="curatio" dose="16" unit="L">CURATIO <small>16 L</small></button>
                </td>
                <td>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH22M7TTQ13T8V8DM79Q' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH22M7TTQ13T8V8DM79Q" product_slug="stimulus-bioprotech" dose="1" unit="L">STIMULUS BIOPROTECH <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RM38Z5RCF8K6894D074' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RM38Z5RCF8K6894D074" product_slug="altela-5-l" dose="0.5" unit="L">ALTELA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RM8C7F019PBKHQV2P51' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RM8C7F019PBKHQV2P51" product_slug="memcomba-bio-5-l" dose="0.5" unit="L">MEMCOMBA <small>0.5 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FSVR8RMF629VDYB3NSGWZ54N' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVR8RMF629VDYB3NSGWZ54N" product_slug="stimulus-bio-10-l" dose="1" unit="L">STIMULUS <small>1 L</small></button>
                    <button class="btn btn-V btn-block isProduct {{ printRequest ? '01FEFASH24ZNKC45VDW6QMSYVM' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH24ZNKC45VDW6QMSYVM" product_slug="curatio" dose="16" unit="L">CURATIO <small>16 L</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Confusion <br>Sexuelle</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="10">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH25H9PQ7KGT6BS2JPJZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH25H9PQ7KGT6BS2JPJZ" product_slug="isomate-ofm-tt" dose="300" unit="Diffuseurs">ISOMATE OFM TT <small>300 DIFFUSEURS</small></button>
                </td>
            </tr>
            <tr>
                <td>Phytoptes</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td colspan="3">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH271VWCH3TW4GH4PG6J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH271VWCH3TW4GH4PG6J" product_slug="citrothiol-dg" dose="8" unit="Kg">CITROTHIOL DG <small>8 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td>Carpocapses <br>Tordeuses</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FSVREDNPXA7WT3FY85W6GV4A' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVREDNPXA7WT3FY85W6GV4A" product_slug="dipel-df" dose="1" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FSVREDNYQTV6WAX7H28KAVPQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVREDNYQTV6WAX7H28KAVPQ" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH2EW3WP85GKF9VWRW5K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH2EW3WP85GKF9VWRW5K" product_slug="dipel-df" dose="1" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FSVREDP7XG5QTV1V0QEBYWGE' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVREDP7XG5QTV1V0QEBYWGE" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH2GT7Y4E8VB520521NC' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH2GT7Y4E8VB520521NC" product_slug="dipel-df" dose="1" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FSVREDPD3C5YE887MA33NTKB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVREDPD3C5YE887MA33NTKB" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH2JS8HD21WCCBN9SMQ4' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH2JS8HD21WCCBN9SMQ4" product_slug="carpovirusine-evo-2" dose="1" unit="L">CARPOVISURINE EVO 2 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH2NEB16X5Y9MCPW43A8' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH2NEB16X5Y9MCPW43A8" product_slug="dipel-df" dose="1" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FSVREDPJPWV6K8D781Q78T5X' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVREDPJPWV6K8D781Q78T5X" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH2QSJ53JYXW2YVSZ4X1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH2QSJ53JYXW2YVSZ4X1" product_slug="carpovirusine-evo-2" dose="1" unit="L">CARPOVISURINE EVO 2 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH2TXZBNMT52NB4K5RHF' in c_id_array ? 'exist' : 'd-none' }} " c_id="01FEFASH2TXZBNMT52NB4K5RHF" product_slug="dipel-df" dose="1" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FSVREDPQSBNSAT8DXWT82VCP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVREDPQSBNSAT8DXWT82VCP" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH2WZZ32H7APAZJZYZKG' in c_id_array ? 'exist' : 'd-none' }} " c_id="01FEFASH2WZZ32H7APAZJZYZKG" product_slug="carpovirusine-evo-2" dose="1" unit="L">CARPOVISURINE EVO 2 <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH2YKPVA5S2D7GMHKSPF' in c_id_array ? 'exist' : 'd-none' }} " c_id="01FEFASH2YKPVA5S2D7GMHKSPF" product_slug="dipel-df" dose="1" unit="Kg">DIPEL DF <small>1 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FSVREDPT9NPK1KNFMAGY7V9W' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVREDPT9NPK1KNFMAGY7V9W" product_slug="madex-twin" dose="0.1" unit="L">MADEX TWIN <small>0.1 L</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH31Q0PHGZFW92T124TJ' in c_id_array ? 'exist' : 'd-none' }} " c_id="01FEFASH31Q0PHGZFW92T124TJ" product_slug="carpovirusine-evo-2" dose="1" unit="L">CARPOVISURINE EVO 2 <small>1 L</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Nutrition <br>Foliaire</td>
                <td></td><td></td><td></td><td></td><td></td>
                <td colspan="2">
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH33PSRJSJ9RE7NBN3QZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH33PSRJSJ9RE7NBN3QZ" product_slug="ladae" dose="3" unit="L">LADAÉ <small>3 L</small></button>
                </td>
                <td></td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH35BT5QY7SC1ER21MAQ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH35BT5QY7SC1ER21MAQ" product_slug="megagreen" dose="2" unit="Kg">MEGAGREEN <small>2 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH38SXECA4N4P5DH3EBW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH38SXECA4N4P5DH3EBW" product_slug="geogreen-plus" dose="5" unit="L">GEOGREEN PLUS <small>5 à 10 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH3AY76CZDX1HNFDHX62' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH3AY76CZDX1HNFDHX62" product_slug="megagreen" dose="2" unit="Kg">MEGAGREEN <small>2 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH3C1DFBV2R9VCXG17FN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH3C1DFBV2R9VCXG17FN" product_slug="geogreen-plus" dose="5" unit="L">GEOGREEN PLUS <small>5 à 10 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH3E7VEBGA4XXK8448QB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH3E7VEBGA4XXK8448QB" product_slug="megagreen" dose="2" unit="Kg">MEGAGREEN <small>2 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH3G46NV73N515H2B8PG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH3G46NV73N515H2B8PG" product_slug="geogreen-plus" dose="5" unit="L">GEOGREEN PLUS <small>5 à 10 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH3JDCH9E9TMA6FGZR9G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH3JDCH9E9TMA6FGZR9G" product_slug="megagreen" dose="2" unit="Kg">MEGAGREEN <small>2 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH3MTN3PFDTHV7JQEK3P' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH3MTN3PFDTHV7JQEK3P" product_slug="geogreen-plus" dose="5" unit="L">GEOGREEN PLUS <small>5 à 10 L</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH3PCA4M55626J863KYV' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH3PCA4M55626J863KYV" product_slug="megagreen" dose="2" unit="Kg">MEGAGREEN <small>2 Kg</small></button>
                </td>
                <td colspan="2">
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH3RVXDMQHJNTR48DMBN' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH3RVXDMQHJNTR48DMBN" product_slug="megagreen" dose="2" unit="Kg">MEGAGREEN <small>2 Kg</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH3TR77XSSNDR16P2SN9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH3TR77XSSNDR16P2SN9" product_slug="ino-flow-zn-680f" dose="1" unit="L">INO FLO ZN 680 F <small>1 L</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH3XP61965EG3QSGK3C3' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH3XP61965EG3QSGK3C3" product_slug="ino-bore-ultra" dose="2" unit="L">INO BORE ULTRA <small>2 L</small></button>
                </td>
            </tr>
            <tr>
                <td>Stimulation <br>Foliaire de la <br>Photosynthèse</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FSVRHAF12G3T3E2WDSCV448G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVRHAF12G3T3E2WDSCV448G" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FSVRHAF8NBP867PMJWF15NK6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVRHAF8NBP867PMJWF15NK6" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FSVRHAFCY2HQ31TWKVYKWFPR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVRHAFCY2HQ31TWKVYKWFPR" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FSVRHAFHNQWE2F2YFBNNCC7G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVRHAFHNQWE2F2YFBNNCC7G" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM <small>2 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FSVRHAFMB2CNFAFPHDZX8BW1' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVRHAFMB2CNFAFPHDZX8BW1" product_slug="lalstim-fit-5-l" dose="2" unit="L">LALSTIM <small>2 L</small></button>
                </td>
                <td></td><td></td>
                <td colspan="2">
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH408WXNP6JY5DN6SRAW' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH408WXNP6JY5DN6SRAW" product_slug="intracell" dose="4" unit="Kg">INTRACELL <small>4 Kg</small></button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Anti-chlorose</td>
                <td></td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEFASH434WRZQNE0D4PWV187' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH434WRZQNE0D4PWV187" product_slug="sferesol" dose="300" unit="Kg">SFEROSOL <small>300 Kg</small></button>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH45YRQY4NMM00BMZEWY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH45YRQY4NMM00BMZEWY" product_slug="ferrilene" dose="60" unit="gr/arbres">FERRILENE <small>120 gr/arbre</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH47BT1N7XCMQ77W9N2G' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH47BT1N7XCMQ77W9N2G" product_slug="ino-chel-fe-93-edta" dose="1" unit="L">INO CHEL FE 93 EDTA <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FSVRM21KK9MQPCGDHG2AD7JB' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVRM21KK9MQPCGDHG2AD7JB" product_slug="ino-chel-fe-93-edta" dose="1" unit="L">INO CHEL FE 93 EDTA <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FSVRM21W7JBH8R6E9MFDJD9E' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVRM21W7JBH8R6E9MFDJD9E" product_slug="ino-chel-fe-93-edta" dose="1" unit="L">INO CHEL FE 93 EDTA <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FSVRM222AG1PGTFNSPFCCZ9K' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVRM222AG1PGTFNSPFCCZ9K" product_slug="ino-chel-fe-93-edta" dose="1" unit="L">INO CHEL FE 93 EDTA <small>1 L</small></button>
                </td>
                <td>
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FSVRM2298ARR75CB4GTFT60J' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FSVRM2298ARR75CB4GTFT60J" product_slug="ino-chel-fe-93-edta" dose="1" unit="L">INO CHEL FE 93 EDTA <small>1 L</small></button>
                </td>
                <td></td><td></td>
            </tr>
            <tr>
                <td>Bactéries</td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                <td>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH49B0N4S28CX3V25WBP' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH49B0N4S28CX3V25WBP" product_slug="bouillie-bordelaise-rsr" dose="12.5" unit="Kg">BB RSR <small>12.5 Kg</small></button>
                    <button class="btn btn-C btn-block isProduct {{ printRequest ? '01FEFASH4B1R8NSJ1D1C6BN1G6' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH4B1R8NSJ1D1C6BN1G6" product_slug="kocide-2000" dose="3.5" unit="Kg">KOCIDE 2000 <small>3.5 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td>Stimulation <br>Racinaire</td>
                <td colspan="6">
                    <button class="btn btn-M btn-block isProduct {{ printRequest ? '01FEFASH4D5RCXJZ5BWX3VP9WG' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH4D5RCXJZ5BWX3VP9WG" product_slug="rise-p-vam" dose="150" unit="g">RISE P VAM <small>150 gr</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            <tr>
                <td rowspan="2">Engrais</td>
                <td colspan="6">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEFASH4HEAF6NXFBMSPADS9H' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH4HEAF6NXFBMSPADS9H" product_slug="orchestra" dose="700" unit="Kg">ORCHESTRA LARGO UAB <small>700 Kg</small></button>
                </td>
                <td></td><td></td>
                <td colspan="2">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEFASH4JB1WA4N64PRZ92KDY' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH4JB1WA4N64PRZ92KDY" product_slug="labinor-n-10-gra-bio-5-ql" dose="500" unit="Kg">LABINOR N10 <small>500 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEFASH4MEWNRR3JST24G7QYZ' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH4MEWNRR3JST24G7QYZ" product_slug="optiblend" dose="1000" unit="Kg">OPTIBLEND <small>1000 Kg</small></button>
                </td>
                <td></td>
                <td colspan="4">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEFASH4PX14926KEGE075TX5' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH4PX14926KEGE075TX5" product_slug="diamic-k26" dose="500" unit="Kg">DIAMIC K26 <small>500 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEFASH4RCA4HH8776EVK09FT' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH4RCA4HH8776EVK09FT" product_slug="patenkali" dose="400" unit="Kg">PATENKALI <small>400 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEFASH4TYVPYVQ8W8BC9Y0K0' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH4TYVPYVQ8W8BC9Y0K0" product_slug="sulfate-de-potasse" dose="300" unit="Kg">SULFATE DE POTASSE <small>300 Kg</small></button>
                </td>
                <td></td>
                <td>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEFASH4XGTADJDNWKQ61STBR' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH4XGTADJDNWKQ61STBR" product_slug="guanumus" dose="1000" unit="Kg">GUANUMUS  <small>1000 Kg</small></button>
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEFASH4ZEJ2Z54HCMDTKKWHX' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH4ZEJ2Z54HCMDTKKWHX" product_slug="orchestra" dose="500" unit="Kg">ORCHESTRA LARGO UAB <small>500 Kg</small></button>
                </td>
            </tr>
            <tr>
                <td></td><td></td>
                <td colspan="4">
                    <button class="btn btn-B btn-block isProduct {{ printRequest ? '01FEFASH51X4J9GSPK34BXGRW9' in c_id_array ? 'exist' : 'd-none' }}" c_id="01FEFASH51X4J9GSPK34BXGRW9" product_slug="labinor-n-10-gra-bio-5-ql" dose="500" unit="Kg">LABINOR N10 <small>500 Kg</small></button>
                </td>
                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    {% include 'recommendations/canevas/warning.html.twig' %}
    </div>
    </div>
    </div>
    {% if printRequest == false %}
        <div id="right-sidebar" class="right-sidebar">
            <div class="slimscrollright">
                <div class="rpanel-title"> LISTE PRODUITS CHOISIS <span><i id="close-right-sidebar" class="ti-close right-side-toggle"></i></span>
                </div>
                <div class="r-panel-body">
                    <a href="{{ path('recommendation_product_list', {id: recommendations.id}) }}" class="btn btn-success btn-block mt-3">Valider les produits</a>
                    <ul class="mt-2" id="products_list">
                    </ul>
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}

