{{ form_start(form) }}
<div class="row">
    <div class="col-6">
        {{ form_row(form.text) }}
    </div>
</div>
<div class="row">
    <div class="col-2">
        {{ form_row(form.first_file) }}
    </div>
    <div class="col-2">
        {{ form_row(form.second_file) }}
    </div>
    <div class="col-2">
        {{ form_row(form.third_file) }}
    </div>
</div>
<button class="btn btn-primary">Sauvegarder</button>
{{ form_end(form) }}
