{% extends 'base.html.twig' %}

{% block title %}Envoyer un Flash{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/file.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/dropify/dist/css/dropify.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-12">
                <h3 class="text-themecolor">Ajouter un Flash</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('admin_flash_index') }}">Flashs</a></li>
                    <li class="breadcrumb-item active">Création</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {{ include('flash/admin/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('plugins/dropify/dist/js/dropify.js') }}"></script>
    <script>
        $(document).ready(function() {
            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: '<p style="font-size: 1rem;">Glissez-déposez un fichier ici ou cliquez</p>',
                    replace: '<p style="font-size: 1rem;">Glissez-déposez un fichier ou cliquez pour remplacer</p>',
                    remove: '<p style="font-size: 1rem;">Supprimer</p>',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });
        });
    </script>
{% endblock %}
