{% extends 'base.html.twig' %}

{% block title %}Nouveau PPF{% endblock %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link href="http://fk.github.io/select2-bootstrap-css/css/select2-bootstrap.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-12 align-self-center">
                <h3 class="text-themecolor">Création d'un PPF</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendation_index') }}">PPF</a></li>
                    <li class="breadcrumb-item active">Etape 3 - Besoin totale de la parcelle</li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <input type="hidden" id="objective" value="{{ intervention ? intervention.objective : 0 }}" />
                        <input type="hidden" id="nitrogen" value="{{ ppf.culture.ilot.type.nitrogen }}" />
                        {{ form_start(form) }}
                            <h3>A - Maïs grain, maïs fourrage, maïs doux, sorgho grain, sorgho fourrage</h3>
                            {{ form_row(form.need_plant) }}
                            <img src="{{ asset('images/ppf/2-table_1.jpeg') }}"></img> <br>
                            <h3 class="mt-3 text-center">Besoin total d’azote de la parcelle: <span id="total" class="text-success"></span> <small>U/ha</small></h3> <br>

                            <h3>B - Maïs semence <span class="text-danger">Remplir uniquement si cas de figure B</span></h3>
                            {{ form_row(form.nitrogen_requirement) }}
                            <img src="{{ asset('images/ppf/2-table_2.jpeg') }}"></img> <br>

                            <button class="btn btn-primary">Continuer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/fr.min.js"></script>
    <script src="{{ asset('js/select2entity.js') }}"></script>
    <script>
        $(document).on('change', '#ppf2_step3_need_plant', function () {
            let objective = $('#objective').val()
            let needPlant = $('#ppf2_step3_need_plant').val()
            let nitrogen = $('#nitrogen').val()

            // Calc
            let total = (parseFloat(objective) * parseFloat(needPlant)) + parseFloat( nitrogen )

            $('#total').text( Math.round(total) );
        })
    </script>
{% endblock %}
