{% extends 'base.html.twig' %}

{% block title %}Nouveau PPF{% endblock %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link href="http://fk.github.io/select2-bootstrap-css/css/select2-bootstrap.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Création d'un PPF</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendation_index') }}">PPF</a></li>
                    <li class="breadcrumb-item active">Etape 4 - Effluents</li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_row(form.effluent) }}
                            {{ form_row(form.azote) }}
                            {{ form_row(form.qty_ependu) }}
                            {{ form_row(form.date_spreading) }}
                            {{ form_row(form.coefficient_equivalence) }}
                            <img src="{{ asset('images/ppf/table_9.png') }}"></img> <br>
                            <h3 class="mt-3 text-center">Azote équivalent engrais minéral: <span id="total" class="text-success"></span> <small>Unités / Hectare</small></h3> <br>
                            {{ form_row(form.qty_azote_add) }}
                            <img src="{{ asset('images/ppf/table_1.png') }}"></img> <br>
                            <h3 class="mt-3 text-center">Dose d'azote minéral a apporter: <span id="totalAzote" class="text-warning"></span> <small>Unités / Hectare</small></h3> <br>
                            <button class="btn btn-primary">Continuer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/fr.min.js"></script>
    <script src="{{ asset('js/select2entity.js') }}"></script>
    <script>
        $(document).on('change', '#ppf1_step4_effluent', function () {
            let $field = $(this);
            let $form = $field.closest('form');
            let data = {};
            data[$field.attr('name')] = $field.val();
            $.post($form.attr('action'), data).then(function (data) {
                let $azote = $(data).find('#ppf1_step4_azote');
                $('#ppf1_step4_azote').replaceWith($azote);
            })
        })
        $(document).on('change',  '#ppf1_step4_effluent, #ppf1_step4_qty_ependu, #ppf1_step4_coefficient_equivalence, #ppf1_step4_azote', function () {
            let teneurAzote = $('#ppf1_step4_azote').val()
            let qtyEpendu = $('#ppf1_step4_qty_ependu').val()
            let coef = $('#ppf1_step4_coefficient_equivalence').val()

            // Calc
            let total = teneurAzote * qtyEpendu * coef

            $('#total').text( total );
        })
        $(document).on('change', '#ppf1_step4_qty_azote_add, #ppf1_step4_qty_ependu, #ppf1_step4_coefficient_equivalence, #ppf1_step4_effluents', function () {
            let total = $('#total').text()
            let azote = $(this).val()

            // Calc
            let totalAzote = azote - total

            $('#totalAzote').text( totalAzote );
        })
    </script>
{% endblock %}
