{% extends 'base.html.twig' %}

{% block title %}Listes des BSV{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Accueil</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Sodepac</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Panoramas</a></li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Listes des Panoramas en attente de confirmation</h4>
                            <div class="ml-auto">
                                <a href="#" class="btn btn-info">Historique des BSV</a>
                            </div>
                        </div>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <thead>
                                <tr>
                                    <th>Date de création</th>
                                    <th>Texte</th>
                                    <th>Technicien</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for panorama in panoramas %}
                                    <tr>
                                        <td>{{ panorama.creationDate|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</td>
                                        <td>{{ panorama.text }}</td>
                                        <td>{{ panorama.technician.lastname }} {{ panorama.technician.firstname }}</td>
                                        <td>
                                            <form method="POST" action="{{ path('admin.panoramas.delete', {id: panorama.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer le panorama ?')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panorama.id) }}">
                                                <button class="btn btn-danger">Supprimer</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form method="POST" action="{{ path('admin.panoramas.valid', {id: panorama.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir valider le panorama ?')">
                                                <input type="hidden" name="_method" value="VALID">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panorama.id) }}">
                                                <button class="btn btn-success">Valider</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}