{% extends 'base.html.twig' %}

{% block title %}Cours de vente{% endblock %}

{% block stylesheets %}
    <style>
        .yellow {
            background-color: #f1c40f;
        }
        .green {
            background-color: #8be5b1;
        }
        .blue {
            background-color: #01ACC1;
        }
        .positive {
            background-color: #2ecc71;
        }
        .negative {
            background-color: #e74c3c;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-12">
                <h3 class="text-themecolor">Cours de vente</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Cours de vente</li>
                </ol>
            </div>
        </div>
        <div class="col-12">
            <!--begin::Alert-->
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% if sales_information  %}
                    <div class="card">
                        <div class="card-body">
                            <p class="text-center">{{ sales_information.topMessage|default(' ') }}</p>
                        </div>
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        {% for sale in sales %}
                            <h2>{{ sale.culture }}</h2>
                            <table class="table text-center table-responsive">
                                <thead>
                                <tr>
                                    <th>{{ sale.title }}</th>
                                    <th>{{ sale.column1Txt }}</th>
                                    <th>{{ sale.column2Txt }}</th>
                                    <th>Variation</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="blue text-white">{{ sale.l1Title }}</td>
                                    <td class="blue text-white">{{ sale.l1c1Value }}</td>
                                    <td class="blue text-white">{{ sale.l1c2Value }}</td>
                                    {% if sale.l1Variation %}
                                        {% if sale.l1Variation > 0 %}
                                            <td class="positive text-white font-bold">{{ sale.l1Variation }}</td>
                                        {% else %}
                                            <td class="negative text-white font-bold">{{ sale.l1Variation }}</td>
                                        {% endif %}
                                    {% else %}
                                        <td class=""></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="blue text-white">{{ sale.l2Title }}</td>
                                    <td class="blue text-white">{{ sale.l2c1Value }}</td>
                                    <td class="blue text-white">{{ sale.l2c2Value }}</td>
                                    {% if sale.l2Variation %}
                                        {% if sale.l2Variation > 0 %}
                                            <td class="positive text-white font-bold">{{ sale.l2Variation }}</td>
                                        {% else %}
                                            <td class="negative text-white font-bold">{{ sale.l2Variation }}</td>
                                        {% endif %}
                                    {% else %}
                                        <td class=""></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="blue text-white">{{ sale.l3Title }}</td>
                                    <td class="blue text-white">{{ sale.l3c1Value }}</td>
                                    <td class="blue text-white">{{ sale.l3c2Value }}</td>
                                    {% if sale.l3Variation %}
                                        {% if sale.l3Variation > 0 %}
                                            <td class="positive text-white font-bold">{{ sale.l3Variation }}</td>
                                        {% else %}
                                            <td class="negative text-white font-bold">{{ sale.l3Variation }}</td>
                                        {% endif %}
                                    {% else %}
                                        <td class=""></td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="blue text-white">{{ sale.l4Title }}</td>
                                    <td class="blue text-white">{{ sale.l4c1Value }}</td>
                                    <td class="blue text-white">{{ sale.l4c2Value }}</td>
                                    {% if sale.l4Variation %}
                                        {% if sale.l4Variation > 0 %}
                                            <td class="positive text-white font-bold">{{ sale.l4Variation }}</td>
                                        {% else %}
                                            <td class="negative text-white font-bold">{{ sale.l4Variation }}</td>
                                        {% endif %}
                                    {% else %}
                                        <td class=""></td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
                {% if sales_information %}
                    <div class="card">
                        <div class="card-body">
                            <p class="text-center">{{ sales_information.footerMessage|default(' ') }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
