{% extends 'base.html.twig' %}

{% block title %}Recommandation{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Recommandations</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Recommandation</li>
                </ol>
            </div>
        </div>
        <div class="col-12">
            <!--begin::Alert-->
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="row">
            <!-- Column -->
            <div class="col-lg-3 col-md-3">
                <div class="card card-inverse card-primary">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="m-r-20 align-self-center">
                                <h1 class="text-white"><i class="ti-share"></i></h1>
                            </div>
                            <div>
                                <h3 class="card-title">{{ totalCreate }}</h3>
                                <h6 class="card-subtitle">Recommendations créees</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-3 col-md-3">
                <div class="card card-inverse card-success">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="m-r-20 align-self-center">
                                <h1 class="text-white"><i class="ti-cloud-down"></i></h1>
                            </div>
                            <div>
                                <h3 class="card-title">{{ totalGenerated }}</h3>
                                <h6 class="card-subtitle">Recommendations générées</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-3 col-md-3">
                <div class="card card-inverse card-info">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="m-r-20 align-self-center">
                                <h1 class="text-white"><i class="ti-cloud-up"></i></h1>
                            </div>
                            <div>
                                <h3 class="card-title">{{ totalSended }}</h3>
                                <h6 class="card-subtitle">Recommendations envoyées</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <a href="{{ path('recommendation_new') }}" class="btn btn-success pull-right ml-4">Nouvelle recommandation</a>
                <a href="{{ path('recommendation_synthese') }}" class="btn btn-warning pull-right">Synthèse</a>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dernière recommendations</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Exploitation</th>
                                    <th>Culture</th>
                                    <th>Status</th>
                                    {% if app.user.status == 'ROLE_ADMIN' %}
                                        <th>Technicien</th>
                                    {% endif %}
                                    <th>Crée le</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for recommendation in lastRecommendations %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('recommendation_summary', {id: recommendation.id}) }}">{{ recommendation.id }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('management_user_show', {id: recommendation.exploitation.users.id}) }}">
                                                <h6>{{ recommendation.exploitation.users.identity }}</h6><small class="text-muted">{{ recommendation.exploitation.users.email }}</small>
                                            </a>
                                        </td>
                                        <td>{{ recommendation.culture.name }}</td>
                                        <td>
                                            {% if( recommendation.status == 1 ) %}
                                                <span class="badge badge-warning">Créee</span>
                                            {% elseif( recommendation.status == 2 ) %}
                                                <span class="badge badge-info">Générée</span>
                                            {% elseif( recommendation.status == 3 ) %}
                                                <span class="badge badge-success">Envoyée</span>
                                            {% endif %}
                                        </td>
                                        {% if app.user.status == 'ROLE_ADMIN' %}
                                            <td>{{ recommendation.exploitation.users.technician.identity ? recommendation.exploitation.users.technician.identity : 'Aucun' }}</td>
                                        {% endif %}
                                        <td>
                                            {{ recommendation.createAt | date('d M Y H:i') }}
                                        </td>
                                        <td>
                                            <div style="display: flex">
                                                <a class="btn btn-success" href="{{ path('recommendation_summary', {id: recommendation.id}) }}"><i class="fa fa-eye text-white"></i></a>
                                                {% if( recommendation.status > 1 ) %}
                                                    {{ include('recommendations/staff/_send.html.twig') }}
                                                {% endif %}
                                                {{ include('recommendations/staff/_download.html.twig') }}
                                                {{ include('recommendations/staff/_delete.html.twig') }}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('recommendation_synthese') }}" class="link font-medium"><h6>Voir plus</h6></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
