{% extends 'base.html.twig' %}

{% block title %}Voir flash{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Découvrir le flash</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('user_flash_index') }}">Flashs</a></li>
                </ol>
            </div>
        </div>
        <div class="col-12">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                {% if bsv.firstFile != null %}
                    <div class="card">
                        <div class="card-header">
                            <h5>Fichiers 1:</h5>
                        </div>
                        <div class="card-body">
                            {% if bsv.firstFile|split('.')|last != 'pdf' %}
                                <img class="d-block w-100" src="{{ asset('uploads/flash/' ~ bsv.firstFile ) }}" alt="Image">
                            {% else %}
                                <iframe
                                        src="https://drive.google.com/viewerng/viewer?embedded=true&url={{ absolute_url(asset('uploads/flash/' ~ bsv.firstFile )) }}#toolbar=0&scrollbar=0"
                                        frameBorder="0"
                                        scrolling="auto"
                                        height="500px"
                                        width="100%"
                                ></iframe>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if bsv.secondFile != null %}
                    <div class="card">
                        <div class="card-header">
                            <h5>Fichiers 2:</h5>
                        </div>
                        <div class="card-body">
                            {% if bsv.secondFile|split('.')|last != 'pdf' %}
                                <img class="d-block w-100" src="{{ asset('uploads/flash/' ~ bsv.secondFile ) }}" alt="Image">
                            {% else %}
                                <iframe
                                        src="https://drive.google.com/viewerng/viewer?embedded=true&url={{ absolute_url(asset('uploads/flash/' ~ bsv.secondFile )) }}#toolbar=0&scrollbar=0"
                                        frameBorder="0"
                                        scrolling="auto"
                                        height="500px"
                                        width="100%"
                                ></iframe>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if bsv.thirdFile != null %}
                    <div class="card">
                        <div class="card-header">
                            <h5>Fichiers 3:</h5>
                        </div>
                        <div class="card-body">
                            {% if bsv.thirdFile|split('.')|last != 'pdf' %}
                                <img class="d-block w-100" src="{{ asset('uploads/flash/' ~ bsv.thirdFile ) }}" alt="Image">
                            {% else %}
                                <iframe
                                        src="https://drive.google.com/viewerng/viewer?embedded=true&url={{ absolute_url(asset('uploads/flash/' ~ bsv.thirdFile )) }}#toolbar=0&scrollbar=0"
                                        frameBorder="0"
                                        scrolling="auto"
                                        height="500px"
                                        width="100%"
                                ></iframe>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
