{% extends 'base.html.twig' %}

{% block title %}Listes des BSV{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Accueil</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Sodepac</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">BSV</a></li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Listes des BSV en attente d'envoi</h4>
                            <div class="ml-auto">
                                <a href="{{ path('admin.bsv.new') }}" class="btn btn-success">Créer un BSV</a>
                                <a href="{{ path('admin.bsv.history.index') }}" class="btn btn-info">Historique des BSV</a>
                            </div>
                        </div>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <thead>
                                <tr>
                                    <th>Date de création</th>
                                    <th>Date d'envoi</th>
                                    <th>Texte</th>
                                    <th>Destinataires</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key in bsv %}
                                    <tr>
                                        <td>{{ key.creationDate|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</td>
                                        <td>{{ key.sendDate|localizeddate('none', 'none', null, null, 'd MMMM Y à HH:mm') }}</td>
                                        <td>{{ key.text }}</td>
                                        <td>
                                            {% for customer in key.customers %}
                                                {{ customer.firstname }} {{ customer.lastname }},
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}