{% extends 'base.html.twig' %}

{% block title %} Technicien {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Accueil Technicien</h3>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-body little-profile">
                        <h4 class="m-b-0">Bonjour, {{ app.user.identity}}</h4>
                        <div class="row text-center m-t-20">
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h3 class="m-b-0 font-light">{{ customersCount }}</h3><small>Clients</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Flashs envoyés à vos clients</h4>
                        </div>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <thead>
                                <tr>
                                    <th>Informations</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for flash in flashs %}
                                    <tr>
                                        <td>
                                            <h6>{{ flash.bsv.text }} </h6>
                                            <small class="text-muted">{{ flash.displayAt|date("d/m/Y") }}
                                                - {{ flash.customers.identity }}
                                            </small>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('technician_flash_index') }}" class="link font-medium"><h6>Voir plus</h6></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Vos tickets</h4>
                        </div>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <thead>
                                <tr>
                                    <th>Informations</th>
                                    <th>Statut</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ticket in tickets %}
                                    <tr>
                                        <td>
                                            <h5 class="my-1">#{{ ticket.id }} | {{ ticket.user.identity }} - {{ ticket.title|slice(0, 35) }}..</h5>
                                        </td>
                                        <td>
                                            {% if ticket.status == 0 %}
                                                <span class="badge badge-danger">Fermé</span>
                                            {% else %}
                                                <span class="badge badge-success">Ouvert</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <td>
                                        Vous n'avez pas de ticket
                                    </td>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('tickets_index') }}" class="link font-medium"><h6>Voir plus</h6></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Catalogues</h4>
                        </div>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <thead>
                                <tr>
                                    <th>Informations</th>
                                    <th>Date</th>
                                    <th>Statut</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for recommendation in recommendations %}
                                    <tr>
                                        <td>
                                            <h6>{{ recommendation.exploitation.users.identity }}</h6><small class="text-muted">{{ recommendation.exploitation.users.email }}</small>
                                        </td>
                                        <td>
                                            {{ recommendation.createAt | localizeddate('none', 'none', app.request.locale, "Europe/Paris", "d MMM Y H:m") }}
                                        </td>
                                        <td>
                                            {% if( recommendation.status == 1 ) %}
                                                <span class="badge badge-warning">Créee</span>
                                            {% elseif( recommendation.status == 2 ) %}
                                                <span class="badge badge-info">Générée</span>
                                            {% elseif( recommendation.status == 3 ) %}
                                                <span class="badge badge-success">Envoyée</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('recommendation_index') }}" class="link font-medium"><h6>Voir plus</h6></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Commandes</h4>
                        </div>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <thead>
                                <tr>
                                    <th>Informations</th>
                                    <th>Date</th>
                                    <th>Statut</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('management_user_show', {id: order.customer.id}) }}">
                                                <h6>{{ order.customer.identity }}</h6><small class="text-muted">{{ order.customer.email }}</small>
                                            </a>
                                        </td>
                                        <td>{{ order.createDate | localizeddate('none', 'none', app.request.locale, "Europe/Paris", "d MMM Y H:m") }}</td>
                                        <td>
                                            {% if( order.status == 0 ) %}
                                                <span class="badge badge-danger">⚠️ Temporaire ⚠️</span>
                                            {% elseif( order.status == 1 ) %}
                                                <span class="badge badge-info">Enregistrée</span>
                                            {% elseif( order.status == 2 ) %}
                                                <span class="badge badge-success">Commandée</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <td>Vous n'avez pas de commande</td>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('order_index') }}" class="link font-medium"><h6>Voir plus</h6></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Contrat d'achat</h4>
                        </div>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <thead>
                                <tr>
                                    <th>Informations</th>
                                    <th>Date</th>
                                    <th>Statut</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for contract in contracts %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('management_user_show', {id: contract.customer.id}) }}">
                                                <h6>{{ contract.customer.identity }}</h6><small class="text-muted">{{ contract.customer.email }}</small>
                                            </a>
                                        </td>
                                        </td>
                                        <td>{{ contract.addedDate | localizeddate('none', 'none', app.request.locale, "Europe/Paris", "d MMM Y H:m") }}</td>
                                        <td>
                                            {% if( contract.status == 0 ) %}
                                                <span class="badge badge-warning">En cours️</span>
                                            {% elseif( contract.status == 1 ) %}
                                                <span class="badge badge-info">Envoyé</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <td>Vous n'avez pas de contrat d'achat</td>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('management_purchase_contract_index') }}" class="link font-medium"><h6>Voir plus</h6></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
