<div class="card">
    <div class="card-body pb-0">
        <h4 class="card-title">Intervention sur {{ culture.name.name }}</h4>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs customtab" role="tablist">
        {% if interventions.findByTypeAndCulture('Recolte', culture) is not empty %}
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#recolte" role="tab">
                    <span class="hidden-xs-down">Récolte</span>
                </a>
            </li>
        {% endif %}
        {% if interventions.findByTypeAndCulture('Binage', culture) is not empty %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#binage" role="tab">
                    <span class="hidden-xs-down">Binage</span>
                </a>
            </li>
        {% endif %}
        {% if interventions.findByTypeAndCulture('Labour', culture) is not empty %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#labour" role="tab">
                    <span class="hidden-xs-down">Labour</span>
                </a>
            </li>
        {% endif %}
        {% if interventions.findByTypeAndCulture('Epandage', culture) is not empty %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#epandage" role="tab">
                    <span class="hidden-xs-down">Epandage</span>
                </a>
            </li>
        {% endif %}
        {% if interventions.findByTypeAndCulture('Désherbant', culture) is not empty %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#desherbant" role="tab">
                    <span class="hidden-xs-down">Désherbant</span>
                </a>
            </li>
        {% endif %}
        {% if interventions.findByTypeAndCulture('Fongicide', culture) is not empty %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#fongicide" role="tab">
                    <span class="hidden-xs-down">Fongicide</span>
                </a>
            </li>
        {% endif %}
        {% if interventions.findByTypeAndCulture('Insecticide', culture) is not empty %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#insecticide" role="tab">
                    <span class="hidden-xs-down">Insecticide</span>
                </a>
            </li>
        {% endif %}
        {% if interventions.findByTypeAndCulture('Nutrition', culture) is not empty %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#nutrition" role="tab">
                    <span class="hidden-xs-down">Nutrition</span>
                </a>
            </li>
        {% endif %}
        {% if interventions.findByTypeAndCulture('Fertilisant', culture) is not empty %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#fertilisant" role="tab">
                    <span class="hidden-xs-down">Fertilisant</span>
                </a>
            </li>
        {% endif %}
        {% if interventions.findByTypeAndCulture('Semis', culture) is not empty %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#semis" role="tab">
                    <span class="hidden-xs-down">Semis</span>
                </a>
            </li>
        {% endif %}
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane" id="recolte" role="tabpanel">
            <div class="p-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Commentaire</th>
                            <th>Rendement</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for intervention in interventions.findByTypeAndCulture('Recolte', culture) %}
                                <tr>
                                    <td>{{ intervention.comment }}</td>
                                    <td>{{ intervention.rendement }}</td>
                                    <td><span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i:s') }}</span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="binage" role="tabpanel">
            <div class="p-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Commentaire</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for intervention in interventions.findByTypeAndCulture('Binage', culture) %}
                                <tr>
                                    <td>{{ intervention.comment }}</td>
                                    <td><span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i:s') }}</span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="labour" role="tabpanel">
            <div class="p-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Commentaire</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for intervention in interventions.findByTypeAndCulture('Labour', culture) %}
                                <tr>
                                    <td>{{ intervention.comment }}</td>
                                    <td><span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i:s') }}</span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="epandage" role="tabpanel">
            <div class="p-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Effluent</th>
                            <th>Quantité</th>
                            <th>Commentaire</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for intervention in interventions.findByTypeAndCulture('Epandage', culture) %}
                                <tr>
                                    <td>{{ intervention.effluent.name }}</td>
                                    <td>{{ intervention.quantity }} <small>tonne/ha</small></td>
                                    <td>{{ intervention.comment }}</td>
                                    <td><span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i:s') }}</span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="fertilisant" role="tabpanel">
            <div class="p-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Dose préconisée</th>
                            <th>Dosage /ha</th>
                            <th>IFT</th>
                            <th>Produits</th>
                            <th>Reliquat d'azote</th>
                            <th>Commentaire</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for intervention in interventions.findByTypeAndCulture('Fertilisant', culture) %}
                                <tr>
                                    <td>{{ intervention.product.name }}</td>
                                    <td>{{ intervention.quantity }}</td>
                                    <td>{{ intervention.dose }}</td>
                                    <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                    <td>{{ intervention.getIft|round(2, 'floor') }}</td>
                                    <td>
                                        {% if intervention.getInterventionsProducts is not empty %}
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#products_{{ intervention.id }}">
                                                Produits supplémentaires
                                            </button>
                                            <div class="modal fade" id="products_{{ intervention.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Produits supplémentaires</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table class="table">
                                                                <thead>
                                                                <tr>
                                                                    <th scope="col">Nom</th>
                                                                    <th scope="col">Dose</th>
                                                                    <th scope="col">Quantité</th>
                                                                    <th scope="col">IFT</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for interventionProduct in intervention.getInterventionsProducts.values %}
                                                                    {% set totalIft = totalIft + interventionProduct.getIft %}
                                                                    <tr>
                                                                        <td>{{ interventionProduct.product.name }}</td>
                                                                        <td>{{ interventionProduct.dose }}</td>
                                                                        <td>{{ interventionProduct.quantity }}</td>
                                                                        <td>{{ interventionProduct.getIFT|round(2, 'floor') }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            Aucun produit supplémentaire
                                        {% endif %}
                                    </td>
                                    <td>{{ intervention.reliquat }} <small>Unités</small></td>
                                    <td>{{ intervention.comment }}</td>
                                    <td><span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i:s') }}</span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- PHYTO -->
        <div class="tab-pane" id="desherbant" role="tabpanel">
            <div class="p-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Dose préconisée</th>
                            <th>Dosage /ha</th>
                            <th>IFT</th>
                            <th>Produits</th>
                            <th>Commentaire</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for intervention in interventions.findByTypeAndCulture('desherbant', culture) %}
                            <tr>
                                <td>{{ intervention.product.name }}</td>
                                <td>{{ intervention.quantity }}</td>
                                <td>{{ intervention.dose }}</td>
                                <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                <td>{{ intervention.getIft|round(2, 'floor') }}</td>
                                <td>
                                    {% if intervention.getInterventionsProducts is not empty %}
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#products_{{ intervention.id }}">
                                            Produits supplémentaires
                                        </button>
                                        <div class="modal fade" id="products_{{ intervention.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Produits supplémentaires</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">Nom</th>
                                                                <th scope="col">Dose</th>
                                                                <th scope="col">Quantité</th>
                                                                <th scope="col">IFT</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for interventionProduct in intervention.getInterventionsProducts.values %}
                                                                {% set totalIft = totalIft + interventionProduct.getIft %}
                                                                <tr>
                                                                    <td>{{ interventionProduct.product.name }}</td>
                                                                    <td>{{ interventionProduct.dose }}</td>
                                                                    <td>{{ interventionProduct.quantity }}</td>
                                                                    <td>{{ interventionProduct.getIFT|round(2, 'floor') }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        Aucun produit supplémentaire
                                    {% endif %}
                                </td>
                                <!-- TODO: Add adjuvants  -->
                                <td>{{ intervention.comment }}</td>
                                <td><span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i:s') }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="fongicide" role="tabpanel">
            <div class="p-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Dose préconisée</th>
                            <th>Dosage /ha</th>
                            <th>IFT</th>
                            <th>Produits</th>
                            <th>Commentaire</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for intervention in interventions.findByTypeAndCulture('Fongicide', culture) %}
                            <tr>
                                <td>{{ intervention.product.name }}</td>
                                <td>{{ intervention.quantity }}</td>
                                <td>{{ intervention.dose }}</td>
                                <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                <td>{{ intervention.getIft|round(2, 'floor') }}</td>
                                <td>
                                    {% if intervention.getInterventionsProducts is not empty %}
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#products_{{ intervention.id }}">
                                            Produits supplémentaires
                                        </button>
                                        <div class="modal fade" id="products_{{ intervention.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Produits supplémentaires</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">Nom</th>
                                                                <th scope="col">Dose</th>
                                                                <th scope="col">Quantité</th>
                                                                <th scope="col">IFT</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for interventionProduct in intervention.getInterventionsProducts.values %}
                                                                {% set totalIft = totalIft + interventionProduct.getIft %}
                                                                <tr>
                                                                    <td>{{ interventionProduct.product.name }}</td>
                                                                    <td>{{ interventionProduct.dose }}</td>
                                                                    <td>{{ interventionProduct.quantity }}</td>
                                                                    <td>{{ interventionProduct.getIFT|round(2, 'floor') }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        Aucun produit supplémentaire
                                    {% endif %}
                                </td>
                                <!-- TODO: Add adjuvants  -->
                                <td>{{ intervention.comment }}</td>
                                <td><span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i:s') }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="insecticide" role="tabpanel">
            <div class="p-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Dose préconisée</th>
                            <th>Dosage /ha</th>
                            <th>IFT</th>
                            <th>Produits</th>
                            <th>Commentaire</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for intervention in interventions.findByTypeAndCulture('Insecticide', culture) %}
                            <tr>
                                <td>{{ intervention.product.name }}</td>
                                <td>{{ intervention.quantity }}</td>
                                <td>{{ intervention.dose }}</td>
                                <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                <td>{{ intervention.getIft|round(2, 'floor') }}</td>
                                <td>
                                    {% if intervention.getInterventionsProducts is not empty %}
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#products_{{ intervention.id }}">
                                            Produits supplémentaires
                                        </button>
                                        <div class="modal fade" id="products_{{ intervention.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Produits supplémentaires</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th scope="col">Nom</th>
                                                                <th scope="col">Dose</th>
                                                                <th scope="col">Quantité</th>
                                                                <th scope="col">IFT</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for interventionProduct in intervention.getInterventionsProducts.values %}
                                                                {% set totalIft = totalIft + interventionProduct.getIft %}
                                                                <tr>
                                                                    <td>{{ interventionProduct.product.name }}</td>
                                                                    <td>{{ interventionProduct.dose }}</td>
                                                                    <td>{{ interventionProduct.quantity }}</td>
                                                                    <td>{{ interventionProduct.getIFT|round(2, 'floor') }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        Aucun produit supplémentaire
                                    {% endif %}
                                </td>
                                <!-- TODO: Add adjuvants  -->
                                <td>{{ intervention.comment }}</td>
                                <td><span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i:s') }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="nutrition" role="tabpanel">
            <div class="p-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                            <th>Dose préconisée</th>
                            <th>Dosage /ha</th>
                            <th>Commentaire</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for intervention in interventions.findByTypeAndCulture('Nutrition', culture) %}
                            <tr>
                                <td>{{ intervention.product.name }}</td>
                                <td>{{ intervention.quantity }}</td>
                                <td>{{ intervention.dose }}</td>
                                <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                <!-- TODO: Add adjuvants  -->
                                <td>{{ intervention.comment }}</td>
                                <td><span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i:s') }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="semis" role="tabpanel">
            <div class="p-3">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Variété</th>
                            <th>Quantité</th>
                            <th>Objectif</th>
                            <th>Commentaire</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for intervention in interventions.findByTypeAndCulture('Semis', culture) %}
                            <tr>
                                <td>{{ intervention.name }}</td>
                                <td>{{ intervention.quantity }} <small>{{ intervention.unit }}</small></td>
                                <td>{{ intervention.objective }} <small>Quintaux</small</td>
                                <td>{{ intervention.comment }}</td>
                                <td><span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i:s') }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>