{% extends 'base.html.twig' %}

{% block title %}Listes des clients{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/css-chart/css-chart.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Cultures dans l'ilot</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Ilot ({{ ilot.name }}) de {{ customer.identity }}</li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-3">
                <a class="btn btn-light-success mb-3" onclick="window.history.go(-1)">Retour</a>
                <div class="card">
                    <div class="card-body">
                        <div class="month-table">
                            <div class="table-responsive mt-3">
                                <table class="table stylish-table mb-0">
                                    <tbody>
                                        {% for culture in cultures %}
                                            <tr>
                                                <td>
                                                    <a class="culture" href="{{ path('management_user_culture_show', {id: culture.id}) }} ">
                                                        <h6>{{ culture.name.name }} </h6><small class="text-muted">{{ culture.size }} ha</small>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9" id="insert_culture"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
     <script>
        $(document).on('click', 'a.culture', function (event) {
            event.preventDefault();
            let $field = $(this)
            let url = $field.attr('href')
            $.post(url).then(function (data) {
                let content = $('#insert_culture')
                content.empty()
                content.append( data )
            })
        })
    </script>
{% endblock %}