{% extends 'base.html.twig' %}

{% block title %}Liste des produits - Recommendation{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Accueil</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendations.index') }}">Recommendation</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendations.select') }}">{{ recommendations.exploitation.users.identity }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendations.select') }}">{{ recommendations.culture.name }}</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Liste des produits sélectionnés</a></li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-12">
                <h4 class="card-title">Liste des produits</h4>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped no-wrap" id="edit-table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom du produit</th>
                                    <th>Dosage Max</th>
                                    <th>Edition</th>
                                    <th>Unité</th>
                                    <th class="text-nowrap">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>{{ product.id }}</td>
                                            <td>{{ product.product.name }}</td>
                                            <td class="text-danger">{{ product.dose }} <small>{{ product.unit }}</small></td>
                                            <td>{{ product.dose }}</td>
                                            <td>{{ product.unit }}</td>
                                            <td class="text-nowrap">
                                                <form method="POST" action="{{ path('recommendations.delete.product', {'id': product.id}) }}">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                                    <button class="btn btn-danger">Supprimer</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a href="{{ path('recommendations.add.other.product', {id: recommendations.id}) }}" class="btn btn-primary">Ajouter un produit</a>
                <a href="{{ path('recommendations.synthese', {id: recommendations.id}) }}" class="btn btn-success float-right">Valider liste des produits choisi</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('plugins/jquery-tabledit/jquery.tabledit.min.js') }}"></script>
    <script>
        $('#edit-table').Tabledit({
            url: '/recommendations/edit-dose',
            editButton: false,
            hideIdentifier: true,
            columns: {
                identifier: [0, 'id'],
                editable: [[3, 'dose']]
            }
        });
    </script>
{% endblock %}