<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Skyreka">
    <title>{% block title %}Page{% endblock %} - LMS Sodepac</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .footer {
            position: fixed;
            height: 50px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
    <div class="row">
        <h1 class="text-center h2 float-right d-block">LMS Sodepac</h1>
        <small>{{ "now"|date("m/d/Y") }}</small>
    </div>
    <br /><br><br><br><br><br><br>
    <h4 class="card-title text-center">Recommendation pour {{ customer.identity }} </h4>
    <div class="card-body little-profile center text-center">
        <p>{{ recommendations.culture.name }}</p>
        <p>{{ customer.certificationPhyto }}</p>
    </div>
    <h4 class="card-title text-center">Synthese des produits choisis</h4>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped no-wrap" id="edit-table">
                    <thead>
                    <tr>
                        <th>Nom du produit</th>
                        <th>Dosage</th>
                        <th>Surface</th>
                        <th>Quantité Totale</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.product.name }}</td>
                            <td>{{ product.dose }} <small>{{ product.unit }}</small></td>
                            <td>{{ cultureTotal }} <small>ha</small></td>
                            <td>{{ product.quantity }} <small>ha</small></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <small class="footer">Mentions obligatoires : {{ recommendations.mentionTxt }}</small>
    <small class="footer">SODEPAC est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 <br> Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </small>
</body>