{% extends 'base.html.twig' %}

{% block title %}Créer une commande{% endblock %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <link href="https://fk.github.io/select2-bootstrap-css/css/select2-bootstrap.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-12">
                <h3 class="text-themecolor">Création d'une commande</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login_success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('recommendation_index') }}">Commande</a></li>
                    <li class="breadcrumb-item active">Création</li>
                </ol>
            </div>
        </div>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        {% if app.session.get('currentOrder') %}
            <div class="alert alert-warning">Vous avez déjà un panier en cours. <a href="{{ path('management_order_show', {id_number: app.session.get('currentOrder').idNumber}) }}">#{{ app.session.get('currentOrder').idNumber }}</a> Cette action annulera celui-ci</div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_rest(form) }}
                            <button class="btn btn-info">Créer la commande</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/fr.min.js"></script>
    <script src="{{ asset('js/select2entity.js') }}"></script>
{% endblock %}
