{% extends print == false
    ? 'base.html.twig'
    : 'management/order/print.html.twig' %}

{% block title %}Votre commande {{ order.idNumber }}{% endblock %}

{% block stylesheets %}
    <style>
        .left-sidebar {
            display: none !important;
        }
        .page-wrapper {
            margin-left: 0 !important;
        }
        @media print {
            .pagebreak { page-break-before: always; } /* page-break-after works, as well */
            #return-btn { display: none !important; } /* page-break-after works, as well */
        }
    </style>
    {% if print == true %}
        <style>
            @page {
                max-width: 100% !important;
                size: landscape;
            }
            .disable-screen {
                position: absolute;
                left: 0;
                top: 0;
                background: white;
                width: 100%;
                height: 100%;
                z-index: 10000;
            }
            .pagebreak {
                clear: both;
                page-break-after: always;
            }
            @media print {
                .pagebreak { page-break-before: always; } /* page-break-after works, as well */
                #return-btn { display: none !important; } /* page-break-after works, as well */
            }
        </style>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="disable-screen"></div>
    <div class="container-fluid">
        <a class="btn btn-dark mt-2" id="return-btn" href="{{ path('user_order_index') }}"><i class="fa fa-arrow-left"></i> Retour</a>
        <div class="row pt-2">
            <div class="col-12 printableArea">
                <div class="card card-body">
                    <h3><b>BON DE COMMANDE</b> <span>#{{ order.IdNumber }}</span></h3>
                    {% if order.status != 3 %}
                        <h3 class="text-danger"><b>En attente de la signature du client (DEVIS)</b></h3>
                    {% endif %}
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <address>
                                    <h3> &nbsp;<b class="text-danger">{{ APP_NAME }}</b></h3>
                                    <p class="text-muted ml-1">{{ APP_ADDRESS }}</p>
                                </address>
                            </div>
                            <div class="pull-right text-right">
                                <address>
                                    <h4 class="font-bold">{{ order.customer.identity }}</h4>
                                    <h4 class="font-bold">{{ order.customer.company }}</h4>
                                    <p class="text-muted ml-4">{{ order.customer.email }}
                                        <br/> {{ order.customer.phone }}
                                    </p>
                                    <p class="mt-4"><b>Date :</b> <i class="fa fa-calendar"></i> {{ order.createDate | localizeddate('none', 'none', app.request.locale, "Europe/Paris", "d MMM Y") }}</p>
                                    <p class="text-muted ml-1">{{ order.customer.warehouse.name }}</p>
                                </address>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-bordered table mt-5" style="clear: both;">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Produit</th>
                                        <th>Condi.</th>
                                        <th>Quantité</th>
                                        <th>Prix HT</th>
                                        <th>Remise %</th>
                                        <th style="text-align:center">Total HT</th>
                                        <th>RPD</th>
                                        <th style="text-align:center;">HT/rpd</th>
                                        <th style="text-align:center"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set subTotal = 0 %}
                                    {% set taxeTotal = 0 %}
                                    {% set total = 0 %}
                                        {% for article in products %}
                                            <tr>
                                                <td width="550">
                                                    <h5 class="font-500">{{ article.product ? article.product.name : article.productName }}</h5>
                                                </td>
                                                <td>{{ article.conditioning }}</td>
                                                <td class="quantity">{{ article.totalQuantity }}</td>
                                                <td class="price" width="100">
                                                    {{ article.unitPrice|localizedcurrency('EUR') }}
                                                </td>
                                                <td class="discount" width="150">{{ article.discount ? article.discount ~ '%' : '' }}</td>
                                                {% set totalHT = (article.unitPrice *  article.totalQuantity) - ((article.unitPrice *  article.totalQuantity) * (article.discount / 100)) %}
                                                <td width="150" align="center">{{ totalHT|localizedcurrency('EUR') }}</td>
                                                {% set rpd = article.product.parentProduct ? article.product.parentProduct.rpd : article.product.rpd %}
                                                <td width="100" align="center">{{ rpd }}</td>
                                                {% set taxes = totalHT * article.taxe / 100 %}
                                                {% if article.product %}
                                                    {% set totalTTC = ((article.unitPrice + rpd) * article.totalQuantity ) %}
                                                    {% set totalTTC = totalTTC - totalTTC * (article.discount / 100)   %}
                                                     <td width="150" align="center" class="font-500">{{ totalTTC|round(2, 'ceil')|localizedcurrency('EUR') }}</td>
                                                {% else %}
                                                    {% set totalTTC = (article.unitPrice * article.totalQuantity ) %}
                                                    {% set totalTTC = totalTTC - totalTTC * (article.discount / 100)   %}
                                                    <td width="150" align="center" class="font-500">{{ totalTTC|round(2, 'ceil')|localizedcurrency('EUR') }}</td>
                                                {% endif %}
                                            </tr>
                                        {% set subTotal = subTotal + totalHT%}
                                        {% set taxeTotal = taxeTotal + taxes %}
                                        {% set total = total + totalTTC%}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="pull-right mt-4 text-right">
                                <p>Total HT (hors RPD): {{ subTotal|localizedcurrency('EUR') }}</p>
                                <p style="display: none !important;">Total TVA : {{ taxeTotal|localizedcurrency('EUR') }} </p>
                                <hr style="display: none !important;">
                                <h3><b>Total HT <small>(avec RPD)</small>:</b> {{ total|localizedcurrency('EUR') }}</h3>
                            </div>
                            <div class="clearfix mt-5">
                                {% if order.conditions  %}
                                    <p class="m-t-5"><b style="color: #27ae60;">Conditions :</b> {{ order.conditions }}</p>
                                {% endif %}
                                <p class="m-t-5"><b style="color: #27ae60;">Délai et livraison :</b> {{ order.delivery }}</p>
                                {% if order.status == 3 %}
                                    <p class="m-t-5"><small>Je soussigné, {{ order.customer.identity }}, valide et accepte ce bon de commande</small></p>
                                    <p class="m-t-5"><small>En signant ce document, {{ order.customer.identity }} atteste avoir reçu, lors de la vente, l’ensemble des informations appropriées sur l’emploi des produits.</small></p>
                                    <p class="m-t-5"><small>{{ order.customer.identity }} certifie être détenteur du certiphyto utilisateur professionnel en cours de validité et atteste être pleinement responsable du choix des spécialités présentées dans ce catalogue.</small></p>
                                    <p class="m-t-5"><small>{{ order.customer.identity }} reconnait avoir pris connaissance des CGV</small></p>
                                {% endif %}
                                <p>
                                   <small>{{ APP_NAME }} est certifiée CSA-GTP (Sécurité Sanitaire) N°GT090087 et 2BSsv (Durabilité Agro Carburants) N°2BS030038 Distribution de produits Phytopharmaceutiques à des utilisateurs professionnels et non professionnels. N°Agrément: 4700008 </small>
                                </p>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p style="color: #27ae60;"><b>Mentions règlementaires:</b></p>
                            <div class="table-bordered" style="clear: both;">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Produit</th>
                                        <th>Matieres actives.</th>
                                        <th>DAR</th>
                                        <th>ZNT</th>
                                        <th>DRE</th>
                                        <th>MENTIONS DANGER</th>
                                        <th>MENTIONS AVERTISSEMENT</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for article in products %}
                                        <tr>
                                            <td>
                                                <h5 class="font-500">{{ article.product ? article.product.name : article.productName }}</h5>
                                            </td>
                                            <td>
                                                <h5 class="font-500">{{ article.product ? article.product.substance : '' }}</h5>
                                            </td>
                                            <td>{{ article.product.parentProduct ? article.product.parentProduct.dar : article.product.dar }}</td>
                                            <td>{{ article.product.parentProduct ? article.product.parentProduct.znt : article.product.znt }}</td>
                                            <td>{{ article.product.parentProduct ? article.product.parentProduct.dre : article.product.dre }}</td>
                                            <td>{{ article.product.parentProduct ? article.product.parentProduct.dangerMention : article.product.dangerMention }}</td>
                                            <td>{{ article.product.parentProduct ? article.product.parentProduct.warningMention : article.product.warningMention }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% if order.signature and order.signature.signAt %}
                                <div class="col-xs-12 float-right text-right mt-5 mb-5">
                                    <p>
                                        Signé électroniquement par{{ order.customer.identity }}
                                        <br/>
                                        avec l'application {{ APP_NAME }}
                                        <br/>
                                        ({{ order.customer.email }})
                                        <br/>
                                        Date: {{ order.signature.signAt | date('d/m/Y H:i:s') }}
                                        <br/>
                                        Signé avec le code à usage unique:
                                        <br />
                                        {{ order.signature.codeOtp.code }}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 50rem;">
                        <img src="{{ asset('help/cgv/cgv_sodepac.jpg') }}" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PrintArea/2.4.1/jquery.PrintArea.min.js"></script>
    <script>
        {% if print %}
            var mode = 'iframe'; //popup
            var close = mode == "popup";
            var options = {
                mode: mode,
                popClose: close,
                extraHead : '<meta charset="utf-8"/>,<meta http-equiv="X-UA-Compatible" content="IE=edge"/>,<style rel="stylesheet" type="text/css" media="print">@page { size: landscape; }</style>'
            };
            $(".printableArea").printArea(options);
        {% endif %}
    </script>
{% endblock %}


