{% extends 'base.html.twig' %}

{% block title %}Panier en cours{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row pt-5">
            <!-- Column -->
            <div class="col-12">
                <!--begin::Alert-->
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">{{ message }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-md-9 col-lg-9">
                <div class="card">
                    <div class="card-header bg-info">
                        <h5 class="mb-0 text-white">Votre panier <span class="badge-warning">{{ order.idNumber }}</span></h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table product-overview" id="edit-table">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Produit</th>
                                    <th>Condi.</th>
                                    <th>Quantité</th>
                                    <th>Prix HT</th>
                                    <th>Remise %</th>
                                    <th style="text-align:center">Total HT</th>
                                    <th>Tva %</th>
                                    <th style="text-align:center">Total TTC</th>
                                    <th style="text-align:center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for article in products %}
                                    <tr>
                                        <td>{{ article.id }}</td>
                                        <td width="550">
                                            <h5 class="font-500">{{ article.product.name }}</h5>
                                        </td>
                                        <td>{{ article.conditioning }}</td>
                                        <td class="quantity">{{ article.totalQuantity }}</td>
                                        <td class="price" width="100">
                                            {{ article.unitPrice }}
                                        </td>
                                        <td class="discount" width="150">{{ article.discount }}</td>
                                        <td width="150" align="center" class="total_ht"></td>
                                        <td width="100" align="center" class="taxe">{{ article.taxe }}</td>
                                        <td width="150" align="center" class="font-500 total_ttc"></td>
                                        <td align="center">
                                            {% include 'management/order/_delete.html.twig' %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr>
                            <div class="d-flex no-block align-items-center">
                                <a href="javascript:history.go(-1)" class="btn btn-dark btn-outline"><i class="fas fa-arrow-left"></i> Revenir</a>
                                {% if order.status != 2 %}
                                    <a href="{{ path('management_products') }}" class="btn btn-dark btn-outline-info ml-2"><i class="fas fa-plus"></i> Ajouter produit</a>
                                {% endif %}
                                <div class="ml-auto">
                                    {% if order.status == 0 %}
                                        <a href="{{ path('order_save', {id: order.id}) }}" class="btn btn-info"><i class="fa fa fa-save"></i> Enregistrer</a>
                                    {% endif %}

                                    {% if order.status == 1 %}
                                        <button data-toggle="modal" data-target="#validModal" class="btn btn-success btn-valid"><i class="fa fa fa-shopping-cart"></i> Commander</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if order.status == 0 %}
                    <div class="alert alert-info" role="alert">
                        <strong>Information - </strong> Votre panier est actuellement temporaire sans enregistrement il sera détruit.
                    </div>
                {% endif %}
                {% if order.status == 1 %}
                    <div class="alert alert-success" role="alert">
                        <strong>Information - </strong> Cette commande est enregistré, vous pouvez le consulter à tout moment
                    </div>
                {% endif %}
                {% if order.status == 2 %}
                    <div class="alert alert-success" role="alert">
                        <strong>Information - </strong> Cette commande est validé et en cours de traitement dans dépot.
                    </div>
                {% endif %}
            </div>
            <!-- Column -->
            <div class="col-md-3 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">RÉSUMÉ DU PANIER</h5>
                        <hr>
                        <small>Prix HT (hors RPD)</small>
                        <h4 id="totalHT"></h4>
                        <small>Prix TTC (hors RPD)</small>
                        <h2 id="totalTTC"></h2>
                        <hr>
                        {% if order.status == 0 %}
                            <button class="btn btn-info">Enregistrer</button>
                            <button class="btn btn-secondary btn-outline">Annuler</button>
                        {% endif %}
                        {% if order.status == 1 %}
                            <button class="btn btn-success btn-valid" data-toggle="modal" data-target="#validModal">Commander</button>
                            <button class="btn btn-secondary btn-outline">Annuler</button>
                        {% endif %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Client : {{ order.customer.identity }}</h5>
                        <hr>
                        <p><i class="ti-email"></i> {{ order.customer.email ? order.customer.email : '' }}</p>
                        <p><i class="ti-mobile"></i> {{ order.customer.phone ? order.customer.phone : '' }}</p>
                        <p><i class="ti-pin"></i>
                            {% if order.customer.warehouse %}
                                <span id="warehouse-define">{{ order.customer.warehouse.name }}</span>
                            {% else %}
                                Dépot: <a id="warehouse-not-define" href="{{ path('management_user_show', {id: order.customer.id}) }}">A DÉFINIR</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="validModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Vérification avant envoi au dépot</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <table class="table stylish-table mt-4 no-wrap v-middle">
                        <tbody>
                        <tr>
                            <td>
                                <span id="depot-status" class="round text-white d-inline-block text-center rounded-circle"><i class="ti-close"></i></span></td>
                            <td>
                                <h6 class="mb-0 font-weight-medium"><a href="javascript:void(0)" class="link">Dépot défini</a></h6>
                                <small class="text-muted">Le client à un dépot déclaré </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span id="total-status" class=" round text-white d-inline-block text-center rounded-circle"><i class="ti-close"></i></span></td>
                            <td>
                                <h6 class="mb-0 font-weight-medium"><a href="javascript:void(0)" class="link">Commande Valide</a></h6>
                                <small class="text-muted">Tous les produits ont les bonne valeurs</small>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline waves-effect" data-dismiss="modal">Fermer</button>
                    <form method="POST" action="{{ path('order_valid', {id: order.id}) }}">
                        <button id="btn-valid" class="btn btn-success waves-effect ml-3" disabled>Valider</button>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('plugins/jquery-tabledit/jquery.tabledit.min.js') }}"></script>$
    <script>
        $('#edit-table').Tabledit({
            url: '{{ path('order_product_edit') }}',
            editButton: false,
            hideIdentifier: true,
            onSuccess: function(response, textStatus) {
                refresh();
            },
            columns: {
                identifier: [0, 'id'],
                editable: [
                    [2, 'conditioning'],
                    [3, 'totalQuantity'],
                    [4, 'unitPrice'],
                    [5, 'discount'],
                    [7, 'taxe']
                ]
            }
        });

        refresh();

        function refresh() {
            // Refresh total of column
            let currency = new Intl.NumberFormat('fr-FR',  {
                style: 'currency',
                currency: 'EUR',
            });
            let totalSumTTC = 0
            let totalSumHT = 0
            $('.total_ttc').each( function (e) {
                let price = $(this).closest('tr').children('.price').text()
                let quantity = $(this).closest('tr').children('.quantity').text()
                let priceQuantity = parseFloat(price) * parseFloat(quantity);

                // Discount
                let discount = ( $(this).closest('tr').children('.discount').text() / 100)
                let priceQuantityDiscount = parseFloat(price) * parseFloat(quantity) * discount;
                let sumWithDiscount = priceQuantity - priceQuantityDiscount;

                // Taxe
                let taxe = ( $(this).closest('tr').children('.taxe').text() / 100 ) // 7.5
                let priceQuantityDiscountAndTaxe = sumWithDiscount * taxe; //
                let totalTTC = sumWithDiscount + priceQuantityDiscountAndTaxe;

                // Total HT
                let totalHTText = $(this).closest('tr').children('.total_ht')
                $(totalHTText).text( currency.format(sumWithDiscount) )

                // Total TTC
                $(this).text( currency.format(totalTTC) )

                totalSumTTC += totalTTC;
                totalSumHT += sumWithDiscount;
            })

            $('#totalHT').text( currency.format(totalSumHT) + ' TTC' )
            $('#totalTTC').text( currency.format(totalSumTTC) + ' TTC' )

            // Check Total
            if ( totalSumTTC >= 0 ) {
                $('#total-status').addClass('bg-success')
                $( '#total-status').removeClass( 'bg-danger' );
            } else {
                $( '#total-status').addClass( 'bg-danger' );
                $( '#total-status').removeClass( 'bg-success' );
            }
            // Check Dépot
            let depotNotDefine = $('#warehouse-not-define')
            if ( depotNotDefine.length ) {
                $('#depot-status').addClass('bg-danger')
            }

            let depotDefine = $('#warehouse-define')
            if ( depotDefine.length ) {
                $( '#depot-status').addClass( 'bg-success' );
            }

            // Enable button
            if ( depotDefine.length && totalSumTTC >= 0 ) {
                $('#btn-valid').removeAttr("disabled")
            }
        }

    </script>
{% endblock %}
