{% extends 'base.html.twig' %}

{% block title %}Panier en cours{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row pt-5">
            <!-- Column -->
            <div class="col-12">
                <!--begin::Alert-->
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">{{ message }}</div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-md-9 col-lg-9">
                <div class="card">
                    <div class="card-header bg-info">
                        <h5 class="mb-0 text-white">Votre panier <span class="badge-warning">{{ order.idNumber }}</span></h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table product-overview" id="edit-table">
                                <thead>
                                <tr class="text-center">
                                    <th>id</th>
                                    <th>Produit</th>
                                    <th>Condi.</th>
                                    <th>Qté Totale</th>
                                    <th style="max-width: 100px">Qté Validée</th>
                                    <th style="min-width: 100px">Prix HT</th>
                                    <th>Rem %</th>
                                    <th style="text-align:center">Total HT</th>
                                    <th>RPD</th>
                                    <th style="text-align:center;">HT/rpd</th>
                                    <th style="text-align:center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for article in products %}
                                    <tr>
                                        <td>{{ article.id }}</td>
                                        <td width="550">
                                            <h5 class="font-500">{{ article.product ? article.product.name : article.productName }} <i class="fas fa-info" data-toggle="modal" data-target="#view_mention_product_{{ article.id }}"></i></h5>
                                            <div class="modal fade" id="view_mention_product_{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">{{ article.product ? article.product.name : article.productName }}</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {% if article.product %}
                                                            <h5><span>Matières actives:</span> {{ article.product.substance }}</h5>
                                                            <h5><span>DAR:</span> {{ article.product.dar }}</h5>
                                                            <h5><span>ZNT:</span> {{ article.product.znt }}</h5>
                                                            <h5><span>DRE:</span> {{ article.product.dre }}</h5>
                                                            <h5><span>Mentions Danger:</span> {{ article.product.dangerMention }}</h5>
                                                            <h5><span>Mentions Avertissement:</span> {{ article.product.warningMention }}</h5>
                                                            {% endif %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ article.conditioning }}</td>
                                        <td>{{ article.quantity | round( 2, 'floor') }}</td>
                                        <td class="quantity">{{ article.totalQuantity }}</td>
                                        <td class="price" width="100">
                                            {{ article.unitPrice }}
                                        </td>
                                        <td class="discount" width="150">{{ article.discount }}</td>
                                        <td width="150" align="center" class="total_ht"></td>
                                        <td width="100" align="center" class="taxe">{{ article.product ? article.product.Rpd }}</td>
                                        <td width="150" align="center" class="font-500 total_ttc"></td>
                                        <td align="center">
                                            {% if order.status != 2 %}
                                                {% include 'management/order/_delete.html.twig' %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr>
                            <div class="d-flex no-block align-items-center">
                                <a href="javascript:history.go(-1)" class="btn btn-dark btn-outline"><i class="fas fa-arrow-left"></i> Revenir</a>
                                {% if (order.status == 0) or (order.status == 1) %}
                                    <a href="{{ path('order_product_other_add') }}" class="btn btn-dark btn-outline-info ml-2"><i class="fas fa-plus"></i> Produit</a>
                                    <a href="{{ path('order_product_other_field_add') }}" class="btn btn-dark btn-outline-info ml-2"><i class="fas fa-plus"></i>  Divers</a>
                                    <!--<a href="{{ path('order_product_other_various_add') }}" class="btn btn-dark btn-outline-info ml-2"><i class="fas fa-plus"></i> Pro.Sodepac</a>-->
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        {{ form_start( form ) }}
                            <div class="form-group">
                                {{ form_row( form.delivery ) }}
                            </div>
                            <div class="form-group">
                                {{ form_row( form.conditions ) }}
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-light"> Enregistrer la livraison et le paiement</button>
                            </div>
                        {{ form_end( form ) }}
                    </div>
                </div>
                {% if order.status == 0 %}
                    <div class="alert alert-info" role="alert">
                        <strong>Information - </strong> Votre panier est actuellement temporaire sans enregistrement il sera détruit.
                    </div>
                {% endif %}
                {% if order.status == 1 %}
                    <div class="alert alert-success" role="alert">
                        <strong>Information - </strong> Cette commande est enregistrée, vous pouvez la consulter à tout moment
                    </div>
                {% endif %}
                {% if order.status == 2 %}
                    <div class="alert alert-success" role="alert">
                        <strong>Information - </strong> Cette commande est validée et en cours de traitement dans dépot.
                    </div>
                {% endif %}
            </div>
            <!-- Column -->
            <div class="col-md-3 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">RÉSUMÉ DU PANIER</h5>
                        <hr>
                        <small>Prix HT (hors RPD)</small>
                        <h4 id="totalHT"></h4>
                        <small>Prix HT (avec RPD)</small>
                        <h2 id="totalTTC"></h2>
                        <hr>
                        {% if order.status == 0 %}
                            <a href="{{ path('order_save', {id: order.id}) }}" class="btn btn-info"><i class="fa fa fa-save"></i> Enregistrer en devis</a>
                            <form class="d-inline" method="POST" action="{{ path('order_delete_recorded', {'id': order.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer votre panier ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
                                <button class="btn btn-danger ml-3"><i class="fa fa-trash"></i> {{ button_label|default('') }}</button>
                            </form>
                        {% endif %}
                        {% if order.status == 1 %}
                            <button class="btn btn-success btn-valid" data-toggle="modal" data-target="#validModal">Commander</button>
                        {% endif %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Client : {{ order.customer.identity }}</h5>
                        <hr>
                        <p><i class="ti-email"></i> {{ order.customer.email ? order.customer.email : '' }}</p>
                        <p><i class="ti-mobile"></i> {{ order.customer.phone ? order.customer.phone : '' }}</p>
                        <p><i class="ti-pin"></i>
                            {% if order.customer.warehouse %}
                                <span id="warehouse-define">{{ order.customer.warehouse.name }}</span> <br>
                                <span id="warehouse-define">{{ order.customer.warehouse.email }}</span> <br>
                                <span id="warehouse-define">{{ order.customer.warehouse.address }}</span>
                            {% else %}
                                Dépot: <a id="warehouse-not-define" href="{{ path('management_user_show', {id: order.customer.id}) }}">A DÉFINIR</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="validModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Vérification avant validation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <table class="table stylish-table mt-4 no-wrap v-middle">
                        <tbody>
                        <tr>
                            <td>
                                <span id="depot-status" class="round text-white d-inline-block text-center rounded-circle"><i class="ti-close"></i></span></td>
                            <td>
                                <h6 class="mb-0 font-weight-medium"><a href="javascript:void(0)" class="link">Dépot défini</a></h6>
                                <small class="text-muted">Le client à un dépot déclaré </small>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span id="total-status" class=" round text-white d-inline-block text-center rounded-circle"><i class="ti-close"></i></span></td>
                            <td>
                                <h6 class="mb-0 font-weight-medium"><a href="javascript:void(0)" class="link">Commande Valide</a></h6>
                                <small class="text-muted">Tous les produits ont les bonne valeurs</small>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline waves-effect" data-dismiss="modal">Fermer</button>
                    <button id="btn-valid" class="btn btn-success waves-effect ml-3" data-toggle="modal" data-target="#signModal" disabled>Valider</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div id="signModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Validation de la commande</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form method="POST" action="{{ path('order_valid', {id: order.id}) }}">
                    <div class="modal-body">
                        <div class="col-12 mb-4">
                            <h4 class="card-title">Date de la commande</h4>
                            <div class="mt-4">
                                <div class="form-group">
                                    <input type="date" name="date-order" class="form-control" value="{{ 'now'|date('Y-m-d') }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline waves-effect" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success waves-effect ml-3">J'accepte</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('plugins/jquery-tabledit/jquery.tabledit.min.js') }}"></script>$
    <script>
        {% if order.status != 2 %}
            $('#edit-table').Tabledit({
                url: '{{ path('order_product_edit') }}',
                editButton: false,
                hideIdentifier: true,
                onSuccess: function(response, textStatus) {
                    refresh();
                },
                columns: {
                    identifier: [0, 'id'],
                    editable: [
                        [2, 'conditioning'],
                        [3, 'quantity'],
                        [4, 'totalQuantity'],
                        [5, 'unitPrice'],
                        [6, 'discount']
                    ]
                }
            });

            refresh();

            function refresh() {
                // Refresh total of column
                let currency = new Intl.NumberFormat('fr-FR',  {
                    style: 'currency',
                    currency: 'EUR',
                });
                let totalSumTTC = 0
                let totalSumHT = 0
                $('.total_ttc').each( function (e) {
                    let price = $(this).closest('tr').children('.price').text()
                    let quantity = $(this).closest('tr').children('.quantity').text()
                    let priceQuantity = parseFloat(price) * parseFloat(quantity);

                    // Discount
                    let discount = ( $(this).closest('tr').children('.discount').text() / 100)
                    let priceQuantityDiscount = parseFloat(price) * parseFloat(quantity) * discount;
                    let sumWithDiscount = priceQuantity - priceQuantityDiscount;

                    // Taxe
                    let taxe = ( $(this).closest('tr').children('.taxe').text())
                    if (taxe == "") {
                        taxe = 0;
                    }
                    let totalTTCWithoutDiscount = ( parseFloat(price ) + parseFloat(taxe) ) * parseFloat(quantity);
                    let totalTTCDiscount = totalTTCWithoutDiscount * discount;
                    let totalTTC = totalTTCWithoutDiscount - totalTTCDiscount;

                    // Total HT
                    let totalHTText = $(this).closest('tr').children('.total_ht')
                    $(totalHTText).text( currency.format(sumWithDiscount) )

                    // Total TTC
                    $(this).text( currency.format(totalTTC) )

                    totalSumTTC += totalTTC;
                    totalSumHT += sumWithDiscount;
                })

                $('#totalHT').text( currency.format(totalSumHT) + ' HT' )
                $('#totalTTC').text( currency.format(totalSumTTC) + ' HT' )

                // Check Total
                if ( totalSumTTC >= 0 ) {
                    $('#total-status').addClass('bg-success')
                    $( '#total-status').removeClass( 'bg-danger' );
                } else {
                    $( '#total-status').addClass( 'bg-danger' );
                    $( '#total-status').removeClass( 'bg-success' );
                }
                // Check Dépot
                let depotNotDefine = $('#warehouse-not-define')
                if ( depotNotDefine.length ) {
                    $('#depot-status').addClass('bg-danger')
                }

                let depotDefine = $('#warehouse-define')
                if ( depotDefine.length ) {
                    $( '#depot-status').addClass( 'bg-success' );
                }

                // Enable button
                if ( depotDefine.length && totalSumTTC >= 0 ) {
                    $('#btn-valid').removeAttr("disabled")
                }
            }
        {% endif %}

    </script>
{% endblock %}
