{% for panorama in panoramas %}
    <tr>
        <td>{{ panorama.displayAt|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</td>
        <td>{{ panorama.panorama.text }}</td>
        <td>
            {% if panorama.panorama.firstFile %}
                <a href="{{ asset('uploads/panorama/' ~ panorama.panorama.firstFile) }}" class="btn btn-success" target="_blank">PDF</a>
            {% endif %}
            {% if panorama.panorama.secondFile %}
                <a href="{{ asset('uploads/panorama/' ~ panorama.panorama.secondFile) }}" class="btn btn-success" target="_blank">Image 1</a>
            {% endif %}
            {% if panorama.panorama.thirdFile %}
                <a href="{{ asset('uploads/panorama/' ~ panorama.panorama.thirdFile) }}" class="btn btn-success" target="_blank">Image 2</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}