<div class="card-body">
    <div class="d-flex no-block">
        <h4 class="card-title">Liste des Panoramas reçu en {{ year }}</h4>
    </div>
    <div class="table-responsive m-t-20">
        <table class="table stylish-table">
            <thead>
            <tr>
                <th>Date de création</th>
                <th>Texte</th>
                <th>Fichiers</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for panorama in panoramas %}
                <tr>
                    <td>{{ panorama.displayAt|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</td>
                    <td>{{ panorama.panorama.text }}</td>
                    <td>
                        {% if panorama.panorama.firstFile %}
                            <a title="PDF" href="{{ asset('uploads/panorama/' ~ panorama.panorama.firstFile) }}" class="btn btn-success" download=""><i class="fa fa-file-pdf-o"></i></a>
                        {% endif %}
                        {% if panorama.panorama.secondFile %}
                            <a title="Image" href="{{ asset('uploads/panorama/' ~ panorama.panorama.secondFile) }}" class="btn btn-success" download=""><i class="fa fa-file-image-o"></i></a>
                        {% endif %}
                        {% if panorama.panorama.thirdFile %}
                            <a title="Image" href="{{ asset('uploads/panorama/' ~ panorama.panorama.thirdFile) }}" class="btn btn-success" download=""><i class="fa fa-picture-o"></i></a>
                        {% endif %}
                    </td>
                    <td>
                        {% if panorama.checked == 0 %}
                            {{ include('panoramas/history/user/_check.html.twig') }}
                        {% else %}
                            <i class="ti-eye"></i> Lu
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>