{% for panorama in panoramas %}
    <tr>
        <td>{{ panorama.displayAt|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</td>
        <td>{{ panorama.panorama.text }}</td>
        <td>
            {% if panorama.panorama.firstFile %}
                <a href="{{ asset('uploads/panorama/' ~ panorama.panorama.firstFile) }}" class="btn btn-success" target="_blank">PDF</a>
            {% endif %}
            {% if panorama.panorama.secondFile %}
                <a href="{{ asset('uploads/panorama/' ~ panorama.panorama.secondFile) }}" class="btn btn-success" target="_blank">Image 1</a>
            {% endif %}
            {% if panorama.panorama.thirdFile %}
                <a href="{{ asset('uploads/panorama/' ~ panorama.panorama.thirdFile) }}" class="btn btn-success" target="_blank">Image 2</a>
            {% endif %}
        </td>
        <td>
            {% if panorama.checked == 0 %}
                <form method="POST" action="{{ path('panorama_user_check', {id: panorama.id}) }}" style="display: inline-block">
                    <input type="hidden" name="_method" value="CHECK">
                    <input type="hidden" name="_token" value="{{ csrf_token('check' ~ panorama.id) }}">
                    <button class="btn btn-success btn-xs"><i class="ti-check"></i> Lire</button>
                </form>
            {% endif %}
        </td>
    </tr>
{% endfor %}