<aside class="left-sidebar">
    <div class="scroll-sidebar" style="max-height: 100%; overflow-y: auto;">
        <nav class="sidebar-nav">
            {% if is_granted('ROLE_ADMIN') %}
                <ul id="sidebarnav">
                    <li><a class="waves-effect waves-dark" href="{{ path('admin_users_index') }}"><i class="fas fa-users"></i><span class="hide-menu"> Utilisateurs</span></a></li>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                        <li><a class="waves-effect waves-dark" href="{{ path('indexs_index') }}"><i class="fas fa-folder"></i><span class="hide-menu"> Indexs</span></a></li>
                    {% endif %}
                    <li><a class="waves-effect waves-dark" href="{{ path('admin_flash_index') }}"><i class="fas fa-bolt"></i><span class="hide-menu"> Flashs</span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('ppf_index') }}"><i class="fas fa-asterisk"></i><span class="hide-menu"> PPF</span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('panorama_index') }}"><i class="fas fa-newspaper"></i><span class="hide-menu"> Panoramas</span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('order_index') }}"><i class="fa fa-truck"></i><span class="hide-menu">Commandes </span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('recommendation_index') }}"><i class="fas fa-book"></i><span class="hide-menu"> Catalogues</span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('management_products') }}"><i class="fa fa-flask"></i><span class="hide-menu"> Produits</span></a></li>
                    <li><a class="waves-effect waves-dark" href="https://www.melanges.arvalisinstitutduvegetal.fr/" target="_blank"><i class="fas fa-vials"></i><span class="hide-menu">Mélanges </span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('sales_index') }}"><i class="fas fa-chart-line"></i><span class="hide-menu">Cours de vente </span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('management_purchase_contract_index') }}"><i class="fas fa-file-alt"></i><span class="hide-menu">Contrats d'achats </span></a></li>
                </ul>
            {% endif %}
            {% if app.user.status == 'ROLE_TECHNICIAN' %}
                <ul id="sidebarnav">
                    <li><a class="waves-effect waves-dark" href="{{ path('login_success') }}"><i class="fa fa-home"></i><span class="hide-menu"> Accueil </span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('technician_customers_index') }}"><i class="fa fa-users"></i><span class="hide-menu">Clients </span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('panorama_index') }}"><i class="fas fa-newspaper"></i></i><span class="hide-menu">Panoramas </span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('technician_flash_index') }}"><i class="fas fa-bolt"></i><span class="hide-menu"> Flashs</span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('recommendation_index') }}"><i class="fas fa-book"></i><span class="hide-menu"> Catalogues</span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('order_index') }}"><i class="fas fa-truck"></i><span class="hide-menu"> Commandes</span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('tickets_index') }}"><i class="fa fa-comments-o"></i><span class="hide-menu"> Tickets</span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('management_products') }}"><i class="fa fa-flask"></i><span class="hide-menu"> Produits</span></a></li>
                    <li><a class="waves-effect waves-dark" href="https://www.melanges.arvalisinstitutduvegetal.fr/" target="_blank"><i class="fas fa-vials"></i><span class="hide-menu">Mélanges </span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('management_purchase_contract_index') }}"><i class="fas fa-file-alt"></i><span class="hide-menu">Contrats d'achats </span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('sales_index') }}"><i class="fas fa-chart-line"></i><span class="hide-menu">Cours de vente </span></a></li>
                </ul>
            {% endif %}
            {% if app.user.status == 'ROLE_USER' %}
                <ul id="sidebarnav">
                    {% if app.user.exploitation is not empty %}
                        {% if app.user.pack != 'PACK_LIGHT' %}
                            <li class="nav-small-cap" style="color: #00ACC1;">Mon Exploitation</li>
                            <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-info"></i><span
                                            class="hide-menu">Interventions</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="{{ path('ilots_index') }}"><i class="fa fa-list"></i> Ilots</a></li>
                                    <li><a href="{{ path('intervention_multiple_index') }}"><i class="mdi mdi-flower"></i> Cultures</a></li>
                                </ul>
                            </li>
                            <li><a class="waves-effect waves-dark" href="{{ path('exploitation_stock_index') }}"><i class="fas fa-box"></i><span class="hide-menu">Gestion des stocks </span></a></li>
                            <li><a class="waves-effect waves-dark" href="https://www.melanges.arvalisinstitutduvegetal.fr/" target="_blank"><i class="fas fa-vials"></i><span class="hide-menu">Mélanges </span></a></li>
                            <li class="nav-devider"></li>
                        {% endif %}
                        <li class="nav-small-cap" style="color: #00ACC1;">Communication Sodepac</li>
                        <li><a class="waves-effect waves-dark" href="{{ path('user_flash_index') }}"><i class="fas fa-bolt"></i></i><span class="hide-menu"> Flashs </span></a></li>
                        <li><a class="waves-effect waves-dark" href="{{ path('panorama_user_history_index') }}"><i class="fas fa-newspaper"></i><span class="hide-menu"> Panoramas </span></a></li>
                        <li><a class="waves-effect waves-dark" href="{{ path('exploitation_recommendation_index') }}"><i class="fas fa-book"></i><span class="hide-menu"> Catalogues</span></a></li>
                        <li><a class="waves-effect waves-dark" href="{{ path('tickets_index') }}"><i class="fa fa-comments-o"></i><span class="hide-menu"> Tickets</span></a></li>
                        <li><a class="waves-effect waves-dark" href="{{ path('user_order_index') }}"><i class="fa fa-truck"></i><span class="hide-menu">Commandes </span></a></li>
                        <li><a class="waves-effect waves-dark" href="{{ path('sales_index') }}"><i class="fas fa-chart-line"></i><span class="hide-menu">Cours de vente </span></a></li>
                    {% endif %}
                </ul>
            {% endif %}
            {% if app.user.status == 'ROLE_SALES' %}
                <ul id="sidebarnav">
                    <li><a class="waves-effect waves-dark" href="{{ path('sales_index') }}"><i class="fas fa-chart-line"></i><span class="hide-menu">Cours de vente </span></a></li>
                    <li><a class="waves-effect waves-dark" href="{{ path('management_purchase_contract_index') }}"><i class="fas fa-file-alt"></i><span class="hide-menu">Contrats d'achats </span></a></li>
                </ul>
            {% endif %}
            {% if app.user.status == 'ROLE_PRICING' %}
                <ul id="sidebarnav">
                    <li><a class="waves-effect waves-dark" href="{{ path('pricing_index') }}"><i class="fas fa-chart-line"></i><span class="hide-menu">Cours des produits </span></a></li>
                </ul>
            {% endif %}
        </nav>
    </div>
    <div class="sidebar-footer">
        <!-- item--><a href="{{ path('login_success') }}" class="link" data-toggle="tooltip" title="Accueil"><i class="fa fa-home"></i></a>
        <!-- item--><a href="{{ path('account_index') }}" class="link" data-toggle="tooltip" title="Paramètre"><i class="ti-settings"></i></a>
        <!-- item--><a href="{{ path('logout') }}" class="link" data-toggle="tooltip" title="Déconnexion"><i class="mdi mdi-power"></i></a>
    </div>
</aside>
