{% extends 'base.html.twig' %}

{% block title %}Créer une intervention{% endblock %}

{% block stylesheets %}
    <link href="plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">{{ intervention }}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('ilots_show', {id: culture.ilot.id})}}">{{ culture.ilot.name }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('cultures_show', {id: culture.id})}}">{{ culture.name.name }}</a></li>
                    <li class="breadcrumb-item active">{{ intervention }}</li>
                </ol>
            </div>
        </div>
        {% if warningMessage %}
            <div class="alert alert-warning">Attention! Vous allez appliquer un produit moins de 48H après une autre application de produit sur cette culture, assurez vous que cette intervention est autorisé en consultant le site officiel <a href="https://ephy.anses.fr/" target="_blank">ephy.anses.fr</a></div>
        {% endif %}
        {% if app.session.get('listCulture') %}
            <div class="alert alert-danger">Vous êtes actuellement en mode intervention multiple, votre intervention sera effectuée sur toutes les cultures des ilots sélectionnées <br> <a class="text-white" href="{{ path('login.success') }}">Cliquez-ici pour annuler le mode intervention multiple</a></div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {% include 'interventions/_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).on('change', '#fertilisant_intervention_productInStock', function () {
            let $field = $(this)
            let $form = $field.closest('form')
            let data = {}
            data[$field.attr('name')] = $field.val()
            $.post($form.attr('action'), data).then(function (data) {
                let $input = $(data).find('#fertilisant_intervention_doses')
                $('#fertilisant_intervention_doses').replaceWith($input)
            })
        })
        $(document).on('change', '#fertilisant_intervention_doses', function () {
            let $field = $(this)
            let $product = $('#fertilisant_intervention_productInStock')
            let form = $field.closest('form')
            let data = {}
            data[$product.attr('name')] =  $product.val()
            data[$field.attr('name')] =  $field.val()
            $.post(form.attr('action'), data).then(function (data) {
                let input = $(data).find('form')
                $(form).replaceWith( input )
                $('.js-datepicker').datepicker({
                    weekStart:0,
                    time: 1,
                    format:"yyyy-mm-dd",
                    lang:"fr"
                });
            })
        })
    </script>
    <script src="{{ asset('plugins/moment/moment.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('plugins/bootstrap-datepicker/bootstrap-datepicker.fr.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                weekStart:0,
                time: 1,
                language:"fr"
            });
        });
    </script>
{% endblock %}
