{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <style>
        .custom-file-input ~ .custom-file-label:lang(fr)::after {
            content: "Photo";
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Ticket : {{ ticket.title }}</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('tickets.home') }}">Ticket</a></li>
                    <li class="breadcrumb-item active">Conversation</li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-md-4">
                {% if app.user.status != 'ROLE_TECHNICIAN' %}
                    <a href="{{ path('tickets.new') }}" class="btn btn-success mb-2">Ouvrir un ticket</a>
                {% endif %}
                <div class="card">
                    <div class="card-body bg-info">
                        <h4 class="text-white card-title">Mes Tickets</h4>
                    </div>
                    <div class="card-body">
                        {% for ticket in ticketsList %}
                            <div class="message-box contact-box position-relative">
                                <div class="message-widget contact-widget position-relative">
                                    <a href="{{ path('tickets.conversation.show', {id: ticket.id}) }}" class="py-3 px-2 border-bottom d-block text-decoration-none view-ticket" id_ticket="{{ ticket.id }}">
                                        <div class="mail-content d-inline-block align-middle">
                                            {% if app.user.status == 'ROLE_TECHNICIAN' %}
                                                <h5 class="my-1">#{{ ticket.id }} | {{ ticket.user.identity }} - {{ ticket.title|slice(0, 35) }}..</h5>
                                                {% if ticket.status == 0 %}
                                                    <span class="badge badge-danger">Fermé</span>
                                                {% else %}
                                                    <span class="badge badge-success">Ouvert</span>
                                                {% endif %}
                                            {% else %}
                                                <h5 class="my-1">#{{ ticket.id }} - {{ ticket.title|slice(0, 35) }}..
                                                    {% if ticket.status == 0 %}
                                                        <span class="badge badge-danger">Fermé</span>
                                                    {% else %}
                                                        <span class="badge badge-success">Ouvert</span>
                                                    {% endif %}
                                            {% endif %}

                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form method="POST" action="{{ path('tickets.close', {id: ticket.id}) }}" style="display: inline-block">
                    <input type="hidden" name="_method" value="CLOSE">
                    <input type="hidden" name="_token" value="{{ csrf_token('close' ~ ticket.id) }}">
                    <button class="btn btn-danger mb-2">Archiver le ticket</button>
                </form>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">#{{ ticket.id }} - {{ ticket.title }}</h4>
                        <div class="chat-box">
                            <ul class="chat-list m-0 p-0">
                                {% for message in messages %}
                                    {% if message.fromId == app.user %}
                                        <li class="odd mt-4" style="list-style: none;">
                                            <div class="chat-content pl-3 d-inline-block text-right">
                                                <h5 class="text-muted">{{ message.fromId.identity }}</h5>
                                                <div class="p-2 rounded bg-light-inverse d-inline-block mb-2 text-dark">
                                                    {{ message.content }}
                                                </div>
                                                <br />
                                                {% if message.file is not null %}
                                                    <img class="img-fluid float-right" style="width: 20%;" src="{{ asset('uploads/messages/' ~ message.file ) }}" data-toggle="modal"  data-target="#openImg-{{ message.id }}"  alt="user" />
                                                    <div id="openImg-{{ message.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img class="img-fluid" src="{{ asset('uploads/messages/' ~ message.file ) }}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div
                                                {% endif %}
                                            </div>
                                            <div class="chat-time d-inline-block text-right">{{ message.sendAt | date('d/m h:i') }}</div>
                                        </li>
                                    {% else %}
                                        <li class="mt-4" style="list-style: none;">
                                            <div class="chat-content pl-3 d-inline-block ">
                                                <h5 class="text-muted">{{ message.fromId.identity }}</h5>
                                                <div class="p-2 rounded bg-light-success d-inline-block mb-2 text-dark">
                                                    {{ message.content }}
                                                </div>
                                                <br />
                                                {% if message.file is not null %}
                                                    <img class="img-fluid float-left" style="width: 20%;" src="{{ asset('uploads/messages/' ~ message.file ) }}" data-toggle="modal"  data-target="#openImg-{{ message.id }}"  alt="user" />
                                                    <div id="openImg-{{ message.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <img class="img-fluid" src="{{ asset('uploads/messages/' ~ message.file ) }}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div
                                                {% endif %}
                                            </div>
                                            <div class="chat-time d-inline-block text-right float-right pr-2 pt-4">{{ message.sendAt | date('d/m h:i') }}</div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% if ticket.status != 0 %}
                        <div class="card-body border-top">
                            {{ form_start( form ) }}
                            {{ form_rest( form ) }}
                            {{ form_end( form ) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
