{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Ticket</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item active">Tickets</li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('tickets.new') }}" class="btn btn-success mb-2">Ouvrir un ticket</a>
                <div class="card">
                    <div class="card-body bg-info">
                        <h4 class="text-white card-title">Mes Tickets</h4>
                    </div>
                    <div class="card-body">
                        {% for ticket in tickets %}
                            <div class="message-box contact-box position-relative">
                                <div class="message-widget contact-widget position-relative">
                                    <a href="{{ path('tickets.conversation.show', {id: ticket.id}) }}" class="py-3 px-2 border-bottom d-block text-decoration-none view-ticket" id_ticket="{{ ticket.id }}">
                                        <div class="mail-contnet d-inline-block align-middle">
                                            <h5 class="my-1">#{{ ticket.id }} - {{ ticket.title|slice(0, 35) }}..</h5>
                                            {% if ticket.status == 0 %}
                                                <span class="badge badge-danger">Fermé</span>
                                            {% else %}
                                                <span class="badge badge-success">Ouvert</span>
                                            {% endif %}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="insert-data" class="col-md-8"></div>
        </div>
    </div>
{% endblock %}
