{% extends 'base.html.twig' %}

{% block title %}Créer une cultures{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Ajouter une culture</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('cultures.index') }}">Cultures</a></li>
                    <li class="breadcrumb-item active">Création</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    {{ form_row(form.name) }}
                                </div>
                                <div class="col-12 col-md-3">
                                    {{ form_row(form.comments) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form_row(form.precedent) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form_row(form.size) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form_row(form.znt) }}
                                </div>
                                <div class="col-12 col-md-6">
                                    {{ form_row(form.effluent) }}
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Options</label>
                                        <div class="mb-2">
                                            {{ form_row(form.production) }}
                                            {{ form_row(form.bio) }}
                                            {{ form_row(form.residue) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                            <button class="btn btn-primary">Ajouter</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
        $('.select2').select2();
    </script>
{% endblock %}