{% extends 'base.html.twig' %}

{% block title %} Vos Cultures {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Accueil</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Sodepac</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Cultures</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">{{ indexCulture.name }}</a></li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body little-profile text-center">
                        <h3 class="m-b-0">{{ app.user.firstname }} {{ app.user.lastname }}</h3>
                        <div class="row text-center m-t-20">
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h3 class="m-b-0 font-light">1099</h3><small>Ilots</small>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h3 class="m-b-0 font-light">23,469</h3><small>Cultures</small>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h3 class="m-b-0 font-light">{{ app.user.exploitation.size }} ha</h3><small>Exploitation</small>
                            </div>
                            <div class="col-md-12 m-b-10"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Ilots possédants du {{ indexCulture.name }}</h4>
                        </div>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <tbody>
                                {% for ilot in ilots %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('ilots.show', {id: ilot.id}) }}">
                                                <h6>{{ ilot.name }}</h6>
                                            </a>
                                        </td>
                                        </a>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}