{% extends 'base.html.twig' %}

{% block title %} {{ culture.name.name }} {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Accueil</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('cultures.index') }}">Ilots</a></li>
                    <li class="breadcrumb-item active"><a href="{{ path('ilots.show', {id: culture.ilot.id})}}">{{ culture.ilot.name }}</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">{{ culture.name.name }}</a></li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
        {% if app.session.get('listCulture') %}
            <div class="alert alert-warning">Vous êtes actuellement en mode intervention multiple, votre intervention sera effectuée sur toutes les cultures des ilots sélectionnées</div>
        {% endif %}
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <h4 class="card-title">Interventions</h4>
                        </div>
                        <div class="table-responsive m-t-20">
                            <table class="table stylish-table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="{{ path('interventions.semis.new', {id: culture.id}) }}" class="btn waves-effect btn-block waves-light btn btn-success">
                                                Semis <br>
                                                <small class="text-muted">
                                                    {% if ir.findIfInterventionExist('Semis', culture) %}
                                                        <span class="badge badge-primary">Effectué</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Non effectué</span>
                                                    {% endif %}
                                                </small>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ path('interventions.phyto.new', {id: culture.id, name: 'Désherbant'}) }}" class="btn waves-effect btn-block waves-light btn btn-success">
                                                Désherbage <br>
                                                <small class="text-muted">
                                                    {% if ir.findIfInterventionExist('Désherbant', culture) %}
                                                        <span class="badge badge-primary">Effectué</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Non effectué</span>
                                                    {% endif %}
                                                </small>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ path('interventions.phyto.new', {id: culture.id, name: 'Fongicide'}) }}" class="btn waves-effect btn-block waves-light btn btn-success">
                                                Fongicide <br>
                                                <small class="text-muted">
                                                    {% if ir.findIfInterventionExist('Fongicide', culture) %}
                                                        <span class="badge badge-primary">Effectué</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Non effectué</span>
                                                    {% endif %}
                                                </small>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ path('interventions.phyto.new', {id: culture.id, name: 'Insecticide'}) }}" class="btn waves-effect btn-block waves-light btn btn-success">
                                                Insecticide <br>
                                                <small class="text-muted">
                                                    {% if ir.findIfInterventionExist('Insecticide', culture) %}
                                                        <span class="badge badge-primary">Effectué</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Non effectué</span>
                                                    {% endif %}
                                                </small>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ path('interventions.phyto.new', {id: culture.id, name: 'Fertilisant'}) }}" class="btn waves-effect btn-block waves-light btn btn-success">
                                                Fertilisant <br>
                                                <small class="text-muted">
                                                    {% if ir.findIfInterventionExist('Fertilisant', culture) %}
                                                        <span class="badge badge-primary">Effectué</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Non effectué</span>
                                                    {% endif %}
                                                </small>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ path('interventions.phyto.new', {id: culture.id, name: 'Nutrition'}) }}" class="btn waves-effect btn-block waves-light btn btn-success">
                                                Nutrition <br>
                                                <small class="text-muted">
                                                    {% if ir.findIfInterventionExist('Nutrition', culture) %}
                                                        <span class="badge badge-primary">Effectué</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Non effectué</span>
                                                    {% endif %}
                                                </small>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ path('interventions.phyto.new', {id: culture.id, name: 'Traitement-Divers'}) }}" class="btn waves-effect btn-block waves-light btn btn-success">
                                                Traitement Divers <br>
                                                <small class="text-muted">
                                                    {% if ir.findIfInterventionExist('Traitement-Divers', culture) %}
                                                        <span class="badge badge-primary">Effectué</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Non effectué</span>
                                                    {% endif %}
                                                </small>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ path('interventions.labour.new', {id: culture.id, name: 'Labour'}) }}" class="btn waves-effect btn-block waves-light btn btn-success">
                                                Labour <br>
                                                <small class="text-muted">
                                                    {% if ir.findIfInterventionExist('Labour', culture) %}
                                                        <span class="badge badge-primary">Effectué</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Non effectué</span>
                                                    {% endif %}
                                                </small>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ path('interventions.binage.new', {id: culture.id, name: 'Binage'}) }}" class="btn waves-effect btn-block waves-light btn btn-success">
                                                Binage <br>
                                                <small class="text-muted">
                                                    {% if ir.findIfInterventionExist('Labour', culture) %}
                                                        <span class="badge badge-primary">Effectué</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Non effectué</span>
                                                    {% endif %}
                                                </small>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ path('interventions.epandage.new', {id: culture.id, name: 'Epandage'}) }}" class="btn waves-effect btn-block waves-light btn btn-success">
                                                Epandage <br>
                                                <small class="text-muted">
                                                    {% if ir.findIfInterventionExist('Epandage', culture) %}
                                                        <span class="badge badge-primary">Effectué</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Non effectué</span>
                                                    {% endif %}
                                                </small>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="{{ path('interventions.recolte.new', {id: culture.id}) }}" class="btn waves-effect btn-block waves-light btn btn-success">
                                                Récolte <br>
                                                <small class="text-muted">
                                                    {% if ir.findIfInterventionExist('Récolte', culture) %}
                                                        <span class="badge badge-primary">Effectué</span>
                                                    {% else %}
                                                        <span class="badge badge-warning">Non effectué</span>
                                                    {% endif %}
                                                </small>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center mt-3">
                            <h4 class="card-title mt-2">{{ culture.name.name }} {{ culture.comments }}</h4>
                            <h6 class="card-subtitle">Ilot : {{ culture.ilot.name }} <small>{{ culture.ilot.size }} ha</small></h6>
                        </div>
                    </div>
                    <div>
                        <hr>
                    </div>
                    <div class="card-body">
                        <small class="text-muted">Taille:</small>
                        <h6>{{ culture.size }} ha</h6>
                        <small class="text-muted">Taille avec ZNT:</small>
                        <h6>{{ culture.size * culture.znt }} ha</h6>
                        <small class="text-muted">ZNT:</small>
                        <h6>{{ culture.znt  ? culture.znt : 'Non' }}</h6>
                        <small class="text-muted">Production:</small>
                        <h6>{{ culture.production  ? 'Oui' : 'Non' }}</h6>
                        <small class="text-muted">Bio:</small>
                        <h6>{{ culture.bio ? 'Oui' : 'Non' }}</h6>
                        <small class="text-muted">Résidu:</small>
                        <h6>{{ culture.residue  ? 'Oui': 'Non' }}</h6>
                        <small class="text-muted">Culture précédent:</small>
                        <h6>{{ culture.precedent.name }}</h6>
                        <small class="text-muted pt-4 d-block">Effluent:</small>
                        <h6>{{ culture.effluent.name|default("Non") }}</h6>
                    </div>
                </div>
                <a href="{{ path('cultures.synthese', {id: culture.id}) }}" class="btn btn-block btn-primary mb-2">Synthèse</a>
            </div>
        </div>
    </div>
{% endblock %}