{% extends 'base.html.twig' %}

{% block title %}Synthese de culture{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('plugins/css-chart/css-chart.css') }}" rel="stylesheet">
{% endblock %}

{% set totalIft = 0 %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Synthese culture</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('login.success') }}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('cultures.index') }}">Cultures</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('ilots.show', {id: culture.ilot.id})}}">{{ culture.ilot.name }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('cultures.show', {id: culture.id})}}">{{ culture.name.name }}</a></li>
                    <li class="breadcrumb-item active">Synthese</li>
                </ol>
            </div>
        </div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body pb-0">
                        <h4 class="card-title">Intervention sur {{ culture.name.name }} de {{ culture.size }} <small>ha</small></h4>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs customtab" role="tablist">
                        {% if interventions.findByTypeAndCulture('Recolte', culture) is not empty %}
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#recolte" role="tab">
                                    <span class="hidden-xs-down">Récolte</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if interventions.findByTypeAndCulture('Binage', culture) is not empty %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#binage" role="tab">
                                    <span class="hidden-xs-down">Binage</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if interventions.findByTypeAndCulture('Labour', culture) is not empty %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#labour" role="tab">
                                    <span class="hidden-xs-down">Labour</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if interventions.findByTypeAndCulture('Epandage', culture) is not empty %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#epandage" role="tab">
                                    <span class="hidden-xs-down">Epandage</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if interventions.findByTypeAndCulture('Désherbant', culture) is not empty %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#desherbant" role="tab">
                                    <span class="hidden-xs-down">Désherbant</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if interventions.findByTypeAndCulture('Traitement-Divers', culture) is not empty %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#traitement" role="tab">
                                    <span class="hidden-xs-down">Traitement-Divers</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if interventions.findByTypeAndCulture('Fongicide', culture) is not empty %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#fongicide" role="tab">
                                    <span class="hidden-xs-down">Fongicide</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if interventions.findByTypeAndCulture('Insecticide', culture) is not empty %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#insecticide" role="tab">
                                    <span class="hidden-xs-down">Insecticide</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if interventions.findByTypeAndCulture('Nutrition', culture) is not empty %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#nutrition" role="tab">
                                    <span class="hidden-xs-down">Nutrition</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if interventions.findByTypeAndCulture('Fertilisant', culture) is not empty %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#fertilisant" role="tab">
                                    <span class="hidden-xs-down">Fertilisant</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if interventions.findByTypeAndCulture('Semis', culture) is not empty %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#semis" role="tab">
                                    <span class="hidden-xs-down">Semis</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="recolte" role="tabpanel">
                            <div class="p-3">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Commentaire</th>
                                            <th>Rendement</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for intervention in interventions.findByTypeAndCulture('Recolte', culture) %}
                                            <tr>
                                                <td>{{ intervention.comment }}</td>
                                                <td>{{ intervention.rendement }}</td>
                                                <td>
                                                    <span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i:s') }}</span>
                                                </td>
                                                <td>
                                                    <a href="{{ path('interventions.edit', {id: intervention.id}) }}" class="btn btn-info">Editer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="binage" role="tabpanel">
                            <div class="p-3">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Commentaire</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for intervention in interventions.findByTypeAndCulture('Binage', culture) %}
                                            <tr>
                                                <td>{{ intervention.comment }}</td>
                                                <td>
                                                    <span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i') }}</span>
                                                </td>
                                                <td>
                                                    <a href="{{ path('interventions.edit', {id: intervention.id}) }}" class="btn btn-info">Editer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="labour" role="tabpanel">
                            <div class="p-3">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Commentaire</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for intervention in interventions.findByTypeAndCulture('Labour', culture) %}
                                            <tr>
                                                <td>{{ intervention.comment }}</td>
                                                <td>
                                                    <span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i') }}</span>
                                                </td>
                                                <td>
                                                    <a href="{{ path('interventions.edit', {id: intervention.id}) }}" class="btn btn-info">Editer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="epandage" role="tabpanel">
                            <div class="p-3">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Effluent</th>
                                            <th>Quantité</th>
                                            <th>Dosage /ha</th>
                                            <th>Commentaire</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for intervention in interventions.findByTypeAndCulture('Epandage', culture) %}
                                            <tr>
                                                <td>{{ intervention.effluent.name }}</td>
                                                <td>{{ intervention.quantity }} <small>tonne/ha</small></td>
                                                <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                                <td>{{ intervention.comment }}</td>
                                                <td>
                                                    <span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i') }}</span>
                                                </td>
                                                <td>
                                                    <a href="{{ path('interventions.edit', {id: intervention.id}) }}" class="btn btn-info">Editer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="fertilisant" role="tabpanel">
                            <div class="p-3">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Produit</th>
                                            <th>Quantité</th>
                                            <th>Dosage /ha</th>
                                            <th>Reliquat d'azote</th>
                                            <th>Commentaire</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for intervention in interventions.findByTypeAndCulture('Fertilisant', culture) %}
                                            <tr>
                                                <td>{{ intervention.product.name }}</td>
                                                <td>{{ intervention.quantity }}</td>
                                                <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                                <td>{{ intervention.reliquat }} <small>Unités</small></td>
                                                <td>{{ intervention.comment }}</td>
                                                <td>
                                                    <span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i') }}</span>
                                                </td>
                                                <td>
                                                    <a href="{{ path('interventions.edit', {id: intervention.id}) }}" class="btn btn-info">Editer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- PHYTO -->
                        <div class="tab-pane" id="desherbant" role="tabpanel">
                            <div class="p-3">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Produit</th>
                                            <th>Quantité</th>
                                            <th>Dosage /ha</th>
                                            <th>IFT</th>
                                            <th>Adjuvant</th>
                                            <th>Commentaire</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for intervention in interventions.findByTypeAndCulture('desherbant', culture) %}
                                            {% set totalIft = totalIft + intervention.getIft %}
                                            <tr>
                                                <td>{{ intervention.product.name }}</td>
                                                <td>{{ intervention.quantity }}</td>
                                                <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                                <td>{{ intervention.getIft }}</td>
                                                {% if intervention.adjuvant is not null %}
                                                    <td>{{ intervention.adjuvant.name }} <small>{{ intervention.adjuvantQuantity }}</small></td>
                                                {% else %}
                                                    <td>Pas d'adjuvant</td>
                                                {% endif %}
                                                <td>{{ intervention.comment }}</td>
                                                <td>
                                                    <span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i') }}</span>
                                                </td>
                                                <td>
                                                    <a href="{{ path('interventions.edit', {id: intervention.id}) }}" class="btn btn-info">Editer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="traitement" role="tabpanel">
                            <div class="p-3">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Produit</th>
                                            <th>Quantité</th>
                                            <th>Dosage /ha</th>
                                            <th>IFT</th>
                                            <th>Adjuvant</th>
                                            <th>Commentaire</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for intervention in interventions.findByTypeAndCulture('Traitement-Divers', culture) %}
                                            {% set totalIft = totalIft + intervention.getIft %}
                                            <tr>
                                                <td>{{ intervention.product.name }}</td>
                                                <td>{{ intervention.quantity }}</td>
                                                <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                                <td>{{ intervention.getIft }}</td>
                                                {% if intervention.adjuvant is not null %}
                                                    <td>{{ intervention.adjuvant.name }} <small>{{ intervention.adjuvantQuantity }}</small></td>
                                                {% else %}
                                                    <td>Pas d'adjuvant</td>
                                                {% endif %}
                                                <td>{{ intervention.comment }}</td>
                                                <td>
                                                    <span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i') }}</span>
                                                </td>
                                                <td>
                                                    <a href="{{ path('interventions.edit', {id: intervention.id}) }}" class="btn btn-info">Editer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="fongicide" role="tabpanel">
                            <div class="p-3">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Produit</th>
                                            <th>Quantité</th>
                                            <th>Dosage /ha</th>
                                            <th>IFT</th>
                                            <th>Adjuvant</th>
                                            <th>Commentaire</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for intervention in interventions.findByTypeAndCulture('Fongicide', culture) %}
                                            {% set totalIft = totalIft + intervention.getIft %}
                                            <tr>
                                                <td>{{ intervention.product.name }}</td>
                                                <td>{{ intervention.quantity }}</td>
                                                <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                                <td>{{ intervention.getIft }}</td>
                                                {% if intervention.adjuvant is not null %}
                                                    <td>{{ intervention.adjuvant.name }} <small>{{ intervention.adjuvantQuantity }}</small></td>
                                                {% else %}
                                                    <td>Pas d'adjuvant</td>
                                                {% endif %}
                                                <td>{{ intervention.comment }}</td>
                                                <td>
                                                    <span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i') }}</span>
                                                </td>
                                                <td>
                                                    <a href="{{ path('interventions.edit', {id: intervention.id}) }}" class="btn btn-info">Editer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="insecticide" role="tabpanel">
                            <div class="p-3">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Produit</th>
                                            <th>Quantité</th>
                                            <th>Dosage /ha</th>
                                            <th>IFT</th>
                                            <th>Adjuvant</th>
                                            <th>Commentaire</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for intervention in interventions.findByTypeAndCulture('Insecticide', culture) %}
                                            {% set totalIft = totalIft + intervention.getIft %}
                                            <tr>
                                                <td>{{ intervention.product.name }}</td>
                                                <td>{{ intervention.quantity }}</td>
                                                <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                                <td>{{ intervention.getIft }}</td>
                                                {% if intervention.adjuvant is not null %}
                                                    <td>{{ intervention.adjuvant.name }} <small>{{ intervention.adjuvantQuantity }}</small></td>
                                                {% else %}
                                                    <td>Pas d'adjuvant</td>
                                                {% endif %}
                                                <td>{{ intervention.comment }}</td>
                                                <td>
                                                    <span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i') }}</span>
                                                </td>
                                                <td>
                                                    <a href="{{ path('interventions.edit', {id: intervention.id}) }}" class="btn btn-info">Editer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="nutrition" role="tabpanel">
                            <div class="p-3">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Produit</th>
                                            <th>Quantité</th>
                                            <th>Dosage /ha</th>
                                            <th>Adjuvant</th>
                                            <th>Commentaire</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for intervention in interventions.findByTypeAndCulture('Nutrition', culture) %}
                                            <tr>
                                                <td>{{ intervention.product.name }}</td>
                                                <td>{{ intervention.quantity }}</td>
                                                <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                                {% if intervention.adjuvant is not null %}
                                                    <td>{{ intervention.adjuvant.name }} <small>{{ intervention.adjuvantQuantity }}</small></td>
                                                {% else %}
                                                    <td>Pas d'adjuvant</td>
                                                {% endif %}
                                                <td>{{ intervention.comment }}</td>
                                                <td>
                                                    <span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i') }}</span>
                                                </td>
                                                <td>
                                                    <a href="{{ path('interventions.edit', {id: intervention.id}) }}" class="btn btn-info">Editer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="semis" role="tabpanel">
                            <div class="p-3">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Variété</th>
                                            <th>Quantité</th>
                                            <th>Dosage /ha</th>
                                            <th>Objectif</th>
                                            <th>Commentaire</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for intervention in interventions.findByTypeAndCulture('Semis', culture) %}
                                            <tr>
                                                <td>{{ intervention.name }}</td>
                                                <td>{{ intervention.quantity }} <small>{{ intervention.unit }}</small></td>
                                                <td>{{ ( intervention.quantity / intervention.culture.size )|round(2, 'floor') }}</td>
                                                <td>{{ intervention.objective }} <small>Quitaux</small></td>
                                                <td>{{ intervention.comment }}</td>
                                                <td>
                                                    <span class="badge badge-success">{{ intervention.interventionAt | date('d-m-Y H:i') }}</span>
                                                </td>
                                                <td>
                                                    <a href="{{ path('interventions.edit', {id: intervention.id}) }}" class="btn btn-info">Editer</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-success">IFT de la culture {{ totalIft|round(3, 'floor')}}</div>
    </div>
{% endblock %}